
{extend name="public/common"}

{block name="style"}
<title>{$news->title}</title>
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>
{/block}

{block name="body"}
<div id="comment">
    <div class="header">
        <h2>{$news->title}</h2>
        <p>
            <span>{$news->create_time}</span>
            <span>{$news->source}</span>
            <span>{$news->views}</span>
        </p>
    </div>
    <section>
        {$news->content}
    </section>
    <div class="comment-box">
        <p>共 {{count}} 条评论</p>
        <div class="comment">
            <ul
                v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-distance="6">
                <li v-for="list in documents">
                    <div class="img-box">
                        <img :src="list.header==''?'/index/images/personal/personalinfo.png':list.header">
                    </div>
                    <div class="content-box">
                        <div class="top">
                            <span>{{list.user_name}}</span>
                        </div>
                        <div>{{list.content}}</div>
                        <div>{{list.create_time}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="load-more" v-if="documents.length === 0">暂时啥都没有，快去评论吧！</div>
        <div class="load-more" v-else >
            <div v-if="loadOver">
                没有更多了
            </div>
            <div v-show="loading" v-else>
                <mt-spinner :type="3" color="#999" ></mt-spinner>加载中...
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="collect-box">
            <img class="outcollect" v-if="!collection" @click="collect($event,{$news->id},{$news->type})" src="/index/images/detail/outcollect.png">
            <img class="collect" v-else @click="collect($event,{$news->id},{$news->type})" src="/index/images/detail/collect.png">
        </div>
        <div class="input-box">
            <input type="text" placeholder="说说你的感想！" v-model="commentValue">
        </div>
        <div class="send" @click="send({$news->id},{$news->type})">发送</div>
    </div>
</div>
<div>

</div>
{/block}

{block name="script"}
<script>
    var vm = new Vue({
        el:'#comment',
        data:{
            count:{$count},
            documents:{$comments},
            collection:{$collect},
            value:'',
            commentValue:'',
            isCheck:true,
            loadOver:false,
            loading:false
        },
        methods:{
            send:function (id,type) {
                var _this  =this;
                if(_this.commentValue == '' || !_this.commentValue){
                    alert('评论不能为空！')
                } else {
                    var data  = {
                        'targetId':id,
                        'type':type,
                        'content':_this.commentValue
                    };
                    _this.$http.post('{:Url("Base/addComment")}',data).then(function (res) {
                        var data = res.data;
                        if(data.code === 1){
                            console.log(data);
                            _this.commentValue = '';
                            _this.count +=1;
                            var extraObj = {
                                like:0,
                                header:''
                            };
                            var newData =  Object.assign(extraObj,data.data);
                            _this.documents.unshift(newData);
                        }
                    },function (data) {
                        alert("网络错误,请检查你的网络！");
                    });
                }
            },
            collect:function (event,id,type) {
                var _this = this;
                if(!_this.isCheck ){
                    return;
                }
                _this.isCheck = false;
                var subData = {
                    'targetId':id,
                    'type':type
                };
                //console.log("collection:"+_this.collection);
                if(!_this.collection){
                    _this.$http.post('{:Url("Base/addCollect")}',subData).then(function (res) {
                        var data = res.data;
                        if(data.code === 1){
                            console.log(data);
                            _this.isCheck = true;
                            _this.collection =data.data;
                        }
                    },function (res) {
                        _this.isCheck = true;
                    });
                }else{
                    _this.$http.post('{:Url("Base/delCollect")}',subData).then(function (res) {
                        var data = res.data;
                        if(data.code === 1){
                            console.log(data);
                            _this.isCheck = true;
                            _this.collection =null;
                        }
                    },function (res) {
                        _this.isCheck = true;
                    });
                }
            },
            loadMore:function (event) {
                var _this = this;
                _this.loading = true;
                var  doc = _this.documents,
                        length = doc.length;
                if(!length){
                    return;
                }else if(length >= _this.count){
                    _this.loading = true;
                    _this.loadOver = true;
                    return;
                }
                var  lastId =doc[length-1].id,
                        subData = {
                            'lastId':lastId,
                            'targetId':"{$news.id}"
                        };
                _this.$http.post('{:Url("Base/moreComment")}',subData).then(function (res) {
                    var data =  res.data;
                    if(data.total == 0 ){
                        console.log(data.total);
                        _this.loading = true;
                        _this.loadOver = true;
                    }else{
                        console.log(data);
                        var comments = data.comments;
                        for(var i = 0,length  = comments.length;i < length; i += 1){
                            doc.push(comments[i]);
                        }
                        _this.loading = false;
                    }
                },function (res) {
                    alert("网络错误,请检查你的网络！");
                    _this.loading = true;
                    _this.loadOver = true;
                });
            }
        }
    });
</script>
{/block}