{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
    th  ,td{
        text-align: center;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索充电柱编号" value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>充电柱审核 (待办数量:{$list.num})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>充电柱编号</th>
                    <th>办理类型</th>
                    <th>办理时效</th>
                    <th>总金额</th>
                    <th>办理时间</th>
                    <th><select name="type" id="changeType" onchange="changeType()">
                        <option  value="-1" >全部状态</option>
                        <option value="0" {eq name="$checkType" value="0"}selected{/eq}>进行中</option>
                        <option value="1" {eq name="$checkType" value="1"}selected{/eq}>审核成功</option>
                        <option value="2" {eq name="$checkType" value="2"}selected{/eq}>审核失败</option>
                    </select></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list.data" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        {$vo.id}
                    </td>
                    <td>
                        {$vo.electricity_id}
                    </td>
                    <td>
                        {$vo.type_text}
                    </td>
                    <td>
                        {$vo.aging} 月
                    </td>
                    <td>
                        {$vo.money} 元
                    </td>
                    <td>
                        {$vo.create_time|strtotime|date='Y-m-d H:i',###}
                    </td>
                    {eq name="$vo.status" value="0"}
                    <td>进行中</td>
                    {/eq}
                    {eq name="$vo.status" value="1"}
                    <td class="txt-success">审核成功</td>
                    {/eq}
                    {eq name="$vo.status" value="2"}
                    <td class="txt-danger">审核失败</td>
                    {/eq}
                    <td>
                        {if condition="$vo.status eq 0"}
                        <a  href="{:Url('check','id='.$vo.id)}" class="btn-sm btn-success" >审核</a>
                        <span class="btn-default2" >收费凭证</span>
                        {else}
                        <a  href="{:Url('check','id='.$vo.id)}" class="btn-sm btn-primary" >查看</a>
                        <a  class="btn-sm btn-success" data-toggle="modal" data-target="#remark-modal"  onclick="setImg('{$vo.id}','{$vo.charge_voucher}')">收费凭据</a>
                        {/if}
                        <a class="btn-sm btn-info" onclick="delItem('{$vo.id}','{:Url("moveToTrash")}')">删除</a>

                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list.data->render()}</div>
        </div>
    </div>
</div>

<div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="remark-modal" aria-label="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">缴费凭证</h4>
            </div>
            <div class="modal-body">
                <input type="file" name="file_data" class="input file">
                <img src="" alt="" id="charge_voucher"     class="imgs">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="pushImg()">上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="set_id" value="">
<input type="hidden" name="charge_voucher">
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    $(".file").fileinput({
        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
    }).on("filebatchselected", function(event, files) {
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        var response = $.parseJSON(data.response);
        if(response.code == 1) {
            $("#charge_voucher").attr('src',response.data);
            $("input[name='charge_voucher']").val(response.data);
            //$(".img1").attr('src',response.data);
        } else {
            updateAlert(response.msg, 'warning');
        }
    });
    $(".charge_voucher").imgbox({
        overlayShow: false,
        hideOnContentClick: true,
        slideshow: false,
        theme: 'dark',
        alignment: 'center',       // Position - may be auto OR center.
        allowMultiple: false,
    });


    function setImg(id,img) {
        $("input[name='set_id']").val(id);
        $("#charge_voucher").attr('src',img);
        $("input[name='charge_voucher']").val(img);
    }
    function pushImg() {
        var id = $("input[name='set_id']").val();
        var image = $("input[name='charge_voucher']").val();
        $.ajax({
            data:{id:id,images:image},
            url:"{:Url('pushImg')}",
            type:"post",
            success:function (data) {
                if(data.code ==1 ){
                    updateAlert(data.msg+" 稍后页面自动刷新～",'success');
                    setTimeout(function () {
                     location.href = data.url;
                     },2000);

                }else {
                    updateAlert(data.msg,'info')
                }
            }
        });
    }
    function changeType(){
        var types = $('#changeType').val();
        location.href = "{:Url('electricity/index')}?status_type="+types+"";

    }
</script>
{/block}