{extend name="public/common"}

{block name="style"}
<title>园区论坛</title>
<link type="text/css" rel="stylesheet" href="/index/css/card/card.css">
<link type="text/css" rel="stylesheet" href="/index/css/common/tip.css">
<style type="text/css">
    .head{
        width: 100%;
        height: 40vw;
        position: relative;
    }
    .head img{
        width: 100%;
        height: 100%;
    }
    .group-list{
        position: relative;
    }
    .group-list a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .post{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        box-shadow: 0 3px 6px rgba(105,185,249,0.4);
        position: fixed;
        bottom: 8.7vh;
        right: 20px;
        z-index: 999;
    }
    .post img{
        width: 100%;
        height: 100%;
    }
    .post a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .type-box .color_0,.type-box .color_4,.type-box .color_8{
        color: #69B9F9;
    }
    .type-box .color_1,.type-box .color_5,.type-box .color_9{
        color: #fcc44b;
    }
    .type-box .color_2,.type-box .color_6{
        color: #918FE6;
    }
    .type-box .color_3,.type-box .color_7{
        color: #F97878;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="head">
        <img src="/index/images/card/background.png">
    </div>
    <div id="scroll-list">
        {volist name="list" id="vo"}
        <div class="group-list">
            <div class="list-head">
                <img src="{$vo.header}" />
                <div class="time-name">
                    <p>{$vo.name}</p>
                    <p>{$vo.create_time}</p>
                    {eq name="vo.is_top" value="1"}
                    <img src="/index/images/card/top.png" />
                    {/eq}
                </div>
            </div>
            <div class="list-body">
                <p>{$vo.content}</p>
                <div class="img-box">
                    <ul>
                        {volist name="vo.list_img" id="image"}
                        <li>
                            <img src="{$image}">
                        </li>
                        {/volist}
                    </ul>
                </div>
                <div class="type-box">
                    {volist name="vo.type" id="typelist"}
                    <span class="color_{$key} type">#{$typelist}#</span>
                    {/volist}
                    <span class="comments">{$vo.comments}</span>
                    {eq name="vo.like" value="0"}
                    <span class="zan like">{$vo.likes}</span>
                    {else/}
                    <span class="zan_1 like">{$vo.likes}</span>
                    {/eq}
                </div>
            </div>
            <a href="{:Url('CardDetail/getDetail?id='.$vo.id)}"></a>
        </div>
        {/volist}
    </div>
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>
    <div class="post" id="post">
        <img src="/index/images/communication/post.png">
        <a href="{:Url('Card/setCard')}"></a>
    </div>
</div>
{/block}

{block name="script"}
<script>
    $(function () {
        var len = $("#app").find(".group-list").length;
        var scrollNow = true;
        if(len >= 6){
            $('.tip' ).text('上拉加载更多');
        }else{
            $('.tip').text('已加载全部内容~');
            $(window).off('scroll');
        }
        $(window).off('scroll').on('scroll',function () {
            var dh = $(document).height();
            var end = $(window).height() + $(window).scrollTop();
            if(dh == end && scrollNow){
                var length = $("#app").find(".group-list").length;
                console.log(length)
                scrollNow = false;
                $.ajax({
                    type:'post',
                    url:'{:Url("Card/getList")}',
                    data:{'len':length},
                    beforeSend: function(XMLHttpRequest){
                        $('.tip').hide();
                        $('.loading').toggleClass('hidden');
                    },
                    success:function (data) {
                        console.log(data)
                        if(data.code == 1){
                            $('.loading').toggleClass('hidden');
                            if(data.data.length < 6){
                                $('.tip').show().text('已加载全部内容~');
                                $(window).off('scroll');
                            }else{
                                scrollNow = true;
                                $('.tip').show().text('上拉加载更多');
                            }
                            $.each(data.data,function (key,value) {
                                var html =
                                    '<div class="group-list">'+
                                    '<div class="list-head">'+
                                    '<img src="'+value.header+'"/>'+
                                    '<div class="time-name">'+
                                    '<p>'+value.name+'</p>'+
                                    '<p>'+value.create_time+'</p>';
                                if(value.is_top == 1){
                                    html += '<img src="/index/images/card/top.png" />';
                                }
                                html +=
                                    '</div></div>'+
                                    '<div class="list-body">'+
                                    '<p>'+value.content+'</p>'+
                                    '<div class="img-box">'+
                                    '<ul>';
                                $.each(value.list_img,function (key,data) {
                                    html += '<li><img src="'+data+'"/></li>';
                                });
                                html +=
                                    '</ul></div>'+
                                    '<div class="type-box">';
                                $.each(value.type,function (key,data) {
                                    html += '<span class="color_'+key+' type">#'+data+'#</span>';
                                });
                                html+='<span class="comments">'+value.comments+'</span>';
                                if(value.like == 0){
                                    var islike = '<span class="zan like">';
                                }else{
                                    var islike = '<span class="zan_1 like">';
                                }
                                html +=
                                    islike+value.likes+'</span></div></div>'+
                                    '<a href="/index/CardDetail/getDetail/id='+value.id+'"></a>'+
                                    '</div>';
                                $("#scroll-list").append(html);
                            })
                        }
                    }
                })
            }
        });
    });
</script>
{/block}