{extend name="public/common"}

{block name="style"}
<title>发布新贴</title>
<style type="text/css">
    .content-box{
        padding: 15px 15px;
    }
    .content-box textarea{
        width: 100%;
        height: 30vw;
        font-size: 15px;
        color: #333;
    }
    .img-box{
        border-bottom: 1px solid #e8e8e8;
        padding: 0 15px;
    }
    .img-box ul{
        overflow: auto;
    }
    .img-box ul li{
        width: calc(26.4vw - 2px);
        height: calc(26.4vw - 2px);
        margin-right: calc((100% - 79.2vw) / 2);
        margin-bottom: 15px;
        float: left;
        position: relative;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        border-radius: 5px;
    }
    .img-box ul li.add{
        border: 1px dashed #e8e8e8;
    }
    .img-box ul li.add_2{
        background: #f8f8f8;
        border: 1px solid #f8f8f8;
    }
    .img-box ul li.add_2>div{
        text-align: center;
    }
    .img-box ul li.add_2 img{
        width: 8vw;
    }
    .img-box ul li.add_2 p{
        color: #999;
        font-size: 13px;
        margin-top: 4px;
    }
    .img-box ul li:nth-child(3n){
        margin-right: 0;
    }
    .img-box ul li>i::before{
        color: #e8e8e8;
        font-size: 14vw;
    }
    .img-box ul li.img{
        width: 26.4vw;
        height: 26.4vw;
    }
    .img-box ul li.img>span{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        background: rgba(0,0,0,0.3);
        right: 0;
        top: 0;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 5px;
    }
    .img-box ul li.img>span i::before{
        font-size: 12px;
        color: #fff;
        margin: 0 0 0 6px;
    }
    .img-box ul li.img>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .type-box{
        border-bottom: 1px solid #f8f8f8;
    }
    .type-box>p{
        color: #333;
        font-size: 15px;
        padding: 15px 0 15px 15px;
    }
    .type-box>ul{
        overflow: hidden;
        padding-left: 15px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .type-box>ul li{
        display: inline-block;
        margin-bottom: 15px;
        line-height: 30px;
        text-align: center;
        background: #f8f8f8;
        float: left;
        margin-right: 15px;
        padding: 0 5px;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .type-box .color_0,.type-box .color_4,.type-box .color_8{
        color: #69B9F9;
    }
    .type-box .color_1,.type-box .color_5,.type-box .color_9{
        color: #fcc44b;
    }
    .type-box .color_2,.type-box .color_6{
        color: #918FE6;
    }
    .type-box .color_3,.type-box .color_7{
        color: #F97878;
    }
    .type-box .color_0.active,.type-box .color_4.active,.type-box .color_8.active{
        background: #69B9F9;
        color: #fff;
    }
    .type-box .color_1.active,.type-box .color_5.active,.type-box .color_9.active{
        background: #fcc44b;
        color: #fff;
    }
    .type-box .color_2.active,.type-box .color_6.active{
        background: #918FE6;
        color: #fff;
    }
    .type-box .color_3.active,.type-box .color_7.active{
        background: #F97878;
        color: #fff;
    }
    .foot{
        width: calc(100% - 36px);
        line-height: 40px;
        margin: 60px auto 0;
        text-align: center;
        background: #69b9f9;
        color: #fff;
        font-size: 15px;
        border-radius: 4px;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="content-box">
        <textarea v-model="content" placeholder="来到这里肯定想点说什么呢？"></textarea>
    </div>
    <div class="img-box">
        <ul>
            <li class="add_2" @click="imgUpload" v-if="imgSrc.dataUrl.length == 0">
                <div>
                    <img src="/index/images/communication/add.png" />
                    <p>上传图片</p>
                </div>
            </li>
            <li class="img" v-for="(imgUrl,index) of imgSrc.dataUrl">
                <span @click="delImg(index)"><i class="iconfont hc-cha"></i></span>
                <img :src="imgUrl">
            </li>
            <li class="add" @click="imgUpload" v-if="imgSrc.dataUrl.length < 4 && imgSrc.dataUrl.length > 0">
                <i class="iconfont hc-shangchuantupian"></i>
            </li>
        </ul>
    </div>
    <form ref="myform">
        <input type="file" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" style="display: none;">
    </form>
    <div class="type-box">
        <p>标签</p>
        <ul>
            <li v-for="(value,index) of types" :class="'color_'+index" @click="chooseType($event,value.id)">#{{value.interest}}#</li>
        </ul>
    </div>
    <div class="foot" @click="sendPost">
        发布帖子
    </div>
</div>
{/block}

{block name="script"}
<script src="/index/js/exif.js"></script>
<script>

    var vm = new Vue({
        el:"#app",
        data:{
            img:[],
            imgSrc:{
                imgLength:4,
                dataUrl:[],
                imgName:[]
            },
            types:{$cardType},
            content:'',
            isSubmit:true,
            chosenType:[]
        },

        methods: {
            delImg: function (e) {
                this.imgSrc.dataUrl.splice(e,1);
                this.img.splice(e,1);
                this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
            },
            imgPreview:function (file,path) {
                var self = this;
                if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                    return;
                }
                self.imgSrc.dataUrl.push(path);
                // 是否支持FileReader
//                if (!file || !window.FileReader){
//                    if(path){
//                        self.imgSrc.dataUrl.push(path) ;
//                    }
//                    return;
//                }
//
//                if (/^image/.test(file.type)) {
//                    // 创建一个reader
//                    var reader = new FileReader();
//                    // 将图片将转成 base64 格式
//                    reader.readAsDataURL(file);
//                    // 读取成功后的回调
//                    reader.onloadend = function () {
//                        self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
////                        if(name && path){
////                            var imgObj = {
////                                name:name,
////                                path:path,
////                                base:this.result
////                            };
////                            self.imgSrc.imgName.push(imgObj);
////                        }
//                    }
//                }
            },
            imgUpload:function () {
                var upImg = this.$refs.upimg;
                upImg.click();
            },
            handleFileChange:function (e) {
                var _this = this;
                var upImg = _this.$refs.upimg;
                var img = upImg.files[0];
                if(img){
                    var image = new Image();
                    image.src = window.URL.createObjectURL(img);
                    image.onload = function () {
                        var imageData = _this.getBase64Image(image,'',function (url) {
                            var array = url.split(',');
                            var blob = _this.dataURLtoBlob(url);
                            var newSize = (blob.size/1024).toFixed(2);
                            if(newSize <= 10240){
                                _this.$indicator.open({
                                    text: '图片上传中',
                                    spinnerType: 'triple-bounce'
                                });
                                var formData = new FormData();
                                formData.append('picture',blob);
                                $.ajax({
                                    url:"{:Url('File/saveBase64Image')}",
                                    type:"post",
                                    data:{'imgdata':url},
                                    success:function (data) {
                                        if(data.code == 1){
                                            _this.$indicator.close();
                                            _this.img.push(data.url); //上传后图片路径
                                            _this.imgPreview(img,data.url);
                                        }
                                    }
                                })
//                                _this.$http.post("{:Url('File/saveBase64Image')}",{'imgdata':url}).then(function (res) {
//                                    var data = JSON.parse(res.data);
//                                    if(data.code == 1){
//                                        // 在获取到文件对象进行预览
//                                        _this.$indicator.close();
//                                        _this.img.push(data.data.path); //上传后图片路径
//                                        _this.imgPreview(img,data.data.path,name);
//                                    }else{
//                                        _this.$indicator.close();
//                                        _this.$toast({
//                                            message:"上传失败，请重新上传！",
//                                            duration:1000
//                                        });
//                                    }
//                                },function (res) {
//                                    _this.$indicator.close();
//                                    _this.$toast({
//                                        message:"上传失败，请重新上传！",
//                                        duration:1000
//                                    });
//                                });
                            }else{
                                _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                            }
                        });
                    }
                }
            },
            //将图片压缩转成base64
            getBase64Image:function(img,b,callback) {
                var Orientation;
                var _this = this;
                var canvas = document.createElement("canvas");
                var width = img.width;
                var height = img.height;
                console.log(width+'--'+height);
                var ctx = canvas.getContext("2d");
                //			ctx.drawImage(img,x,y,c,z,0,0,width,height); /*绘图*/
                $(canvas).attr({width : width, height : height});
                EXIF.getData(img, function() {
                    EXIF.getAllTags(this);
                    /**
                     * 图片的旋转方向信息
                     * 1、图片没有发生旋转
                     * 6、顺时针90°
                     * 8、逆时针90°
                     * 3、180° 旋转
                     */
                    Orientation = EXIF.getTag(this, 'Orientation');
                    if(Orientation != "" && Orientation != null) {
                        // 方向信息，canvas 显示形式，canvas 对象，that,宽度，高度
                        _this.rotateImg(Orientation,ctx,canvas,img,width,height,callback);
                    }else {
                        _this.rotateImg(Orientation,ctx,canvas,img,width,height,callback);
                    }

                });
            },
            rotateImg: function(Orientation,ctx,canvas,that,w,h,callback) {
                if(Orientation == "6") {
                    $(canvas).attr({width : h, height : w});
                    ctx.translate(h, 0);
                    var angle = 90;
                    //清空画布指定像素
                    ctx.clearRect(-w, -h, w, h);
                    // 画布旋转 90度
                    ctx.rotate(angle * Math.PI / 180);
                    ctx.fillRect(w, h, w, h);
                }
                //向画布上绘制图像、画布或视频
                ctx.drawImage(that, 0, 0, w, h);

                var base64 = canvas.toDataURL('image/jpeg', 1 || 0.8 );   //1z 表示图片质量，越低越模糊。
                return callback(base64);

            },
            dataURLtoBlob:function(dataurl) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {type:mime});
            },
            chooseType:function (event,id) {
                var _this = this;
                if(_this.chosenType.indexOf(id+"") == -1){
                    if(_this.chosenType.length == 2){
                        _this.$toast('最多选择两个标签~');
                        return false;
                    }
                    _this.chosenType.push(id+"");
                    event.target.classList.add('active');
                }else{
                    var typeIndex = _this.chosenType.indexOf(id);
                    _this.chosenType.splice(typeIndex,1);
                    event.target.classList.remove('active');
                }
            },
            sendPost:function () {
                var _this= this,
                    content = _this.content;
                if(!content) {
                    _this.$toast('请说些什么吧！');
                }else{
                    var data = {
                        'type':JSON.stringify(_this.chosenType),
                        'title':'',
                        'content':content,
                        'img':JSON.stringify(_this.img)
                    };
                    if(!(_this.isSubmit)){
                        return;
                    }
                    _this.isSubmit = false;
                    _this.$http.post('{:Url("Card/setCard")}',data).then(function (res) {
                        var data = res.data;
                        if(data.code == 1){
                            _this.isSubmit = false;
                            _this.$toast({
                                message:"发帖成功，跳回首页！",
                                duration:1000
                            });
                            setTimeout(function () {
                                window.location.href = '/index/Communication/postslist/group_id/'+id;
                            },1500);
                        }
                    },function () {
                        _this.isSubmit = true;
                    })
                }
            }
        }
    })
</script>
{/block}