{extend name="base/common"}

{block name="style"}
<style>

    .modal-dialog{
        margin: 200px auto;
    }

    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索企业" value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>企业服务 ({$total})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>服务名称</th>
                    <th>公司名称</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {volist name="list" id="vo"}
                <tr>
                <td class="check-mail">
                    <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                </td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.company}</td>
                <td>{$vo.people}</td>
                <td>{$vo.mobile}</td>
                <td>
                    <!--<a href="{:Url('detail','id='.$vo.id)}" class="under-line" data-toggle="modal" data-target="#service-modal">{$vo.remark|msubstr=0,60}</a>-->
                    <a  class="under-line" data-toggle="modal" data-target="#remark-modal" data-text="{$vo.remark}">{$vo.remark|msubstr=0,60}</a>
                </td>

                <td>{$vo.create_time|date='Y-m-d H:i',###}</td>

                    {eq name="$vo.status" value="1"}
                    <!--<td>已完成</td>-->
                    <td class="txt-success">已联系</td>
                    {/eq}
                    {eq name="$vo.status" value="0"}
                    <td>未联系</td>
                    {/eq}
                    {eq name="$vo.status" value="0"}
                    <td>
                        <button class="btn btn-sm btn-primary " onclick="changeStatus('{$vo.id}',0)">联系</button>
                        <button class="btn btn-sm btn-primary" onclick="delItem('{$vo.id}','{:Url("moveToTrash")}')">删除</button>
                    </td>
                    {/eq}
                    {eq name="$vo.status" value="1"}
                    <td><button class="btn btn-sm btn-primary" onclick="delItem('{$vo.id}','{:Url("moveToTrash")}')">删除</button></td>
                    <!--<td><button class="btn btn-sm btn-primary ">&nbsp;&nbsp;√ &nbsp;&nbsp;</button></td>-->
                    {/eq}
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
    <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="remark-modal" aria-label="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">备注详情</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });

        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);


        })
    });
    /*修改服务状态值*/
    function changeStatus(id,uid){
            $.ajax({
                data:{id:id,del:uid},
                type:"POST",
                url:"{:Url('CompanyService/complete')}",
                success:function (data){
                    if(data.code==1){
                        updateAlert(data.msg+ ' 页面即将自动跳转~','success');
                        setTimeout(function(){
                            location.href=data.url;
                        },2000);
                    }else{
                        updateAlert(data.msg,'info');
                    }
                }
            });
    }
</script>
{/block}