{extend name="base/common"}

{block name="style"}

{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
                <a href="javascript:history.go(-1)" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-reply"></i> 返回</a>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-print"></i> </button>
                <a href="{:Url('delete', 'ids='.$message.id)}" class="btn btn-white btn-sm ajax-del confirm" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash-o"></i> </a>
            </div>
            <h2>消息内容</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <h3><span class="font-noraml">标题: </span>{$message.title}</h3>
                <h5>
                    <span class="pull-right font-noraml">{$message.send_time|time_format}</span>
                    <span class="font-noraml">目标: </span>
                    {switch name="message.type" }
                        {case value="1"}群发{/case}
                        {case value="2"}厂商{/case}
                        {default /}主播
                    {/switch}
                </h5>
            </div>
        </div>
        <div class="mail-box">
            <div class="mail-body">{$message.content}</div>
            <div class="mail-body text-right tooltip-demo">
                <a class="btn btn-sm btn-white" href="javascript:history.go(-1)"><i class="fa fa-reply"></i> 返回</a>
                {notempty name="nextMessage"}
                <a class="btn btn-sm btn-white" href="{:Url('view', 'id='.$nextMessage.id)}"><i class="fa fa-arrow-right"></i> 下一个</a>
                {/notempty}
                <button title="" data-placement="top" data-toggle="tooltip" type="button" class="btn btn-sm btn-white"><i class="fa fa-print"></i> 打印</button>
                <a href="{:Url('delete', 'ids='.$message.id)}" data-placement="top" data-toggle="tooltip" class="btn btn-sm btn-white ajax-del confirm"><i class="fa fa-trash-o"></i> 删除</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    highlight_subnav("{:Url('Message/index')}");
</script>
{/block}