
{extend name="public/common"}

{block name="style"}
<title>园区简介</title>
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>

{/block}

{block name="body"}
<div id="comment">
    <div class="banner">
        {present name="info.panorama_cover"}
            <a href="{$info.panorama_link}"><img src="{$info.panorama_cover}" alt=""></a>
        {/present}
        {notpresent name="info.panorama_cover"}
        {/notpresent}
    </div>
    <section>
        {$info->content}
    </section>
</div>
<div>

</div>
{/block}

{block name="script"}
<script>

</script>
{/block}