{extend name="base/common"}

{block name="style"}
<!-- Toastr style -->
<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Gritter -->
<link href="/admin/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
<link href="/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">


{/block}

{block name="page-header"}
{/block}

{block name="main"}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">总计</span>
                    <h5>园区基本信息统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">总计</span>
                    <h5>园区企业面积统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart2" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">总计</span>
                    <h5>园区企业类型统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart3" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">总计</span>
                    <h5>合同统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart4" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>同步微信用户通讯录</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">config option 1</a></li>
                            <li><a href="#">config option 2</a></li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center p-lg">
                        <button class="ladda-button btn-user btn btn-info" data-style="slide-left">
                            <span class="ladda-label">1、同步用户</span><span class="ladda-spinner"></span>
                        </button>
                        <button class="ladda-button btn-dep btn btn-warning" data-style="slide-left">
                            <span class="ladda-label">2、同步部门</span><span class="ladda-spinner"></span>
                        </button>
                        <button class="ladda-button btn-tag btn btn-info" data-style="slide-left">
                            <span class="ladda-label">3、同步标签</span><span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>















    <!--<div class="row">-->
        <!--<form method="post" enctype="multipart/form-data" class="form-horizontal" action="{:url('file/index')}">-->
            <!--<input type="file" class="form-control" name="file[]">-->
            <!--<input type="file" class="form-control" name="file[]">-->
            <!--<input type="submit" value="提交">-->
        <!--</form>-->
    <!--</div>-->
</div>
{/block}

{block name="script"}
<!-- Flot -->
<script src="/admin/js/plugins/flot/jquery.flot.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.time.js"></script>

<!-- Peity -->
<script src="/admin/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/admin/js/demo/peity-demo.js"></script>
<script src="/admin/js/plugins/easypiechart/jquery.easypiechart.js"></script>

<!--同步-->
<script src="/admin/js/plugins/ladda/spin.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.jquery.min.js"></script>

<!--画图-->
<!--<script src="/admin/js/jquery-1.7.2.min.js"></script>-->
<script src="/admin/js/excanvas.min.js"></script>
<script src="/admin/js/chart.min.js" type="text/javascript"></script>
<script src="/admin/js/bootstrap.js"></script>
<script src="/admin/js/base.js"></script>


<script type="text/javascript">

    console.log({$list})
    console.log({$res})
    console.log({$info})
    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    });
    $(document).ready(function() {



        var dataset = [
            {
                label: "评论数",
                data: data3,
                color: "#1ab394",
                bars: {
                    show: true,
                    align: "center",
                    barWidth: 24 * 60 * 60 * 600,
                    lineWidth:0
                }

            }, {
                label: "播放次数",
                data: data2,
                yaxis: 2,
                color: "#1C84C6",
                lines: {
                    lineWidth:1,
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.2
                        }, {
                            opacity: 0.4
                        }]
                    }
                },
                splines: {
                    show: false,
                    tension: 0.6,
                    lineWidth: 1,
                    fill: 0.1
                },
            }
        ];
        var options = {
            xaxis: {
                mode: "time",
                tickSize: [3, "day"],
                tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 10,
                color: "#d5d5d5"
            },
            yaxes: [{
                position: "left",
                max: 1070,
                color: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 3
            }, {
                position: "right",
                clolor: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: ' Arial',
                axisLabelPadding: 67
            }
            ],
            legend: {
                noColumns: 1,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: false,
                borderWidth: 0
            }
        };
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }
        var previousPoint = null, previousLabel = null;

        var mapData = {
            "US": 298,
            "SA": 200,
            "DE": 220,
            "FR": 540,
            "CN": 120,
            "AU": 760,
            "BR": 550,
            "IN": 200,
            "GB": 120,
        };

    });
    $(document).ready(function (){
        var user = $( '.btn-user' ).ladda();
        user.click(function(){
            user.ladda( 'start' );
            $.get('syncUser').then(function () { user.ladda('stop'); });
        });

        var dep = $( '.btn-dep' ).ladda();
        dep.click(function(){
            dep.ladda( 'start' );
            $.get('syncDepartment').then(function () { dep.ladda('stop'); });
        });

        var tag = $( '.btn-tag' ).ladda();
        tag.click(function(){
            tag.ladda( 'start' );
            $.get('syncTag').then(function () { tag.ladda('stop'); });
        });

    });
    var res={$res};
//    area_other
//        :
//        11000
//    area_total
//        :
//        33000
//    area_use
//        :
//        22000
//    id
//        :
//        3
//    scale_one
//        :
//        65
//    scale_three
//        :
//        25
//    scale_two
//        :
//        30
//    type_one
//        :
//        5
//    type_three
//        :
//        6
//    type_two
//        :
//        109
    var doughnutData = [

        {
            value: res.area_other,
            color: "#F7464A",
            label : "空置面积"
    },
        {
            value: res.area_total,
            color: "#46BFBD",
            label : "已租面积"
        },
    ];


    var data2 = [

        {
            value: res.scale_one,
            color: "#F7464A",
            label : "100平米以下"
        },
        {
            value: res.scale_two,
            color: "#46BFBD",
            label : "100-300平米"
        },{
            value: res.scale_three,
            color: "rgba(226,151,093,1)",
            label : "300-600平米"
        },
    ];

    var data3 = [

        {
            value: res.type_one,
            color: "#F7464A",
            label : "生活配置类"
        },
        {
            value: res.type_two,
            color: "#46BFBD",
            label : "中介服务类"
        },{
            value: res.type_three,
            color: "#712341",
            label : "科技创新类"
        },
    ];
    var info = {$info};
    var data4 = [

        {
            value: info.rent,
            color: "#F7464A",
            label : "租赁合同"
        },
        {
            value: info.property,
            color: "rgba(202,097,096,1)",
            label : "物业合同"
        },{
            value: info.other,
            color: "#46BFBD",
            label : "其他合同"
        },
    ];
    var data = [
        {value : 100, color : 'rgba(226,151,093,1)', highlight : 'rgba(226,151,093,0.75)', label : "Sector 1"},
        {value : 100, color : 'rgba(214,113,088,1)', highlight : 'rgba(214,113,088,0.75)', label : "Sector 2"},
        {value : 100, color : 'rgba(202,097,096,1)', highlight : 'rgba(202,097,096,0.75)', label : "Sector 3"}
    ];
    var options = { showTooltips : true };
    var myDoughnut = new Chart(document.getElementById("donut-chart").getContext("2d")).Doughnut(doughnutData,options);
    var myDoughnut1 = new Chart(document.getElementById("donut-chart2").getContext("2d")).Doughnut(data2,options);
    var myDoughnut2 = new Chart(document.getElementById("donut-chart3").getContext("2d")).Doughnut(data3,options);
    var myDoughnut3 = new Chart(document.getElementById("donut-chart4").getContext("2d")).Doughnut(data4,options);



    highlight_subnav("{:Url('Index/index')}");
</script>
{/block}