{extend name="base/common"}

{block name="style"}
<!-- Toastr style -->
<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Gritter -->
<link href="/admin/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
<link href="/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<style>
    .chart-holder{
        width: 100%;
        height: 250px;
    }
</style>

{/block}

{block name="page-header"}
{/block}

{block name="main"}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">总计</span>
                    <h5>园区基本信息统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart" class="chart-holder"  width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">总计</span>
                    <h5>园区企业面积统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart2" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">总计</span>
                    <h5>园区企业类型统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart3" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">总计</span>
                    <h5>合同统计</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="donut-chart4" class="chart-holder" width="200" height="290">
                    </canvas>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>同步微信用户通讯录</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">config option 1</a></li>
                            <li><a href="#">config option 2</a></li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center p-lg">
                        <button class="ladda-button btn-user btn btn-info" data-style="slide-left">
                            <span class="ladda-label">1、同步用户</span><span class="ladda-spinner"></span>
                        </button>
                        <button class="ladda-button btn-dep btn btn-warning" data-style="slide-left">
                            <span class="ladda-label">2、同步部门</span><span class="ladda-spinner"></span>
                        </button>
                        <button class="ladda-button btn-tag btn btn-info" data-style="slide-left">
                            <span class="ladda-label">3、同步标签</span><span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>















    <!--<div class="row">-->
        <!--<form method="post" enctype="multipart/form-data" class="form-horizontal" action="{:url('file/index')}">-->
            <!--<input type="file" class="form-control" name="file[]">-->
            <!--<input type="file" class="form-control" name="file[]">-->
            <!--<input type="submit" value="提交">-->
        <!--</form>-->
    <!--</div>-->
</div>
{/block}

{block name="script"}
<!-- Flot -->
<script src="/admin/js/plugins/flot/jquery.flot.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="/admin/js/plugins/flot/jquery.flot.time.js"></script>

<!-- Peity -->
<script src="/admin/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/admin/js/demo/peity-demo.js"></script>
<script src="/admin/js/plugins/easypiechart/jquery.easypiechart.js"></script>

<!--同步-->
<script src="/admin/js/plugins/ladda/spin.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.jquery.min.js"></script>

<!--画图-->
<!--<script src="/admin/js/jquery-1.7.2.min.js"></script>-->
<script src="/admin/js/excanvas.min.js"></script>
<script src="/admin/js/Chart.min.js" type="text/javascript"></script>
<script src="/admin/js/bootstrap.js"></script>
<script src="/admin/js/base.js"></script>


<script type="text/javascript">


    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    });
    $(document).ready(function (){
        var user = $( '.btn-user' ).ladda();
        user.click(function(){
            user.ladda( 'start' );
            $.get('syncUser').then(function () { user.ladda('stop'); });
        });

        var dep = $( '.btn-dep' ).ladda();
        dep.click(function(){
            dep.ladda( 'start' );
            $.get('syncDepartment').then(function () { dep.ladda('stop'); });
        });

        var tag = $( '.btn-tag' ).ladda();
        tag.click(function(){
            tag.ladda( 'start' );
            $.get('syncTag').then(function () { tag.ladda('stop'); });
        });

    });
    var res={$res};
    var info = {$info};
    var parameters1={
        data:{
            labels: [
                "空置面积",
                "已租面积"
            ],
            datasets: [
                {
                    data: [res.area_other, res.area_total],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ]
                }]
        }
    },
    parameters2={
        data:{
            labels: [
                "100平米以下",
                "100-300平米",
                "300-600平米"
            ],
            datasets: [
                {
                    data: [res.scale_one, res.type_two, res.type_three],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ]
                }]
        }
    },
    parameters3={
        data:{
            labels: [
                "生活配置类",
                "中介服务类",
                "科技创新类"
            ],
            datasets: [
                {
                    data: [res.type_one, res.type_two,res.type_three],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ]
                }]
        }
    },
    parameters4={
        data:{
            labels: [
                "租赁合同",
                "物业合同",
                "其他合同"
            ],
            datasets: [
                {
                    data: [info.rent, info.property,info.other],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#712341"
                    ]
                }]
        }
    };

    drawDoughnut('donut-chart',parameters1);
    drawDoughnut('donut-chart2',parameters2);
    drawDoughnut('donut-chart3',parameters3);
    drawDoughnut('donut-chart4',parameters4);
//    绘制甜甜圈
    function drawDoughnut(element,option) {
        var options={
            type:'doughnut',
            data:option.data,
            options:{},
            position:{
                bottom:'10px'
            }

        };
        options.option = option.options || {

                } ;
        new Chart(document.getElementById(element).getContext("2d"),options)
    }


    highlight_subnav("{:Url('Index/index')}");
</script>
{/block}