{extend name="public/common"}

{block name="style"}
<style>
    #app>.title{
        text-align: center;
    }
    #app>.content{
        padding:1.2rem;
        font-size: 1.5rem;
        word-wrap: break-word;
        overflow: hidden;
    }
    #app>.content *{
        max-width: 100%;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <h1 class="title">报名须知</h1>
    <div class="content" v-html="info"></div>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            info:{$info}
        },
        methods: {}
    })
</script>
{/block}