{extend name="public/common"}

{block name="style"}
<title>园区楼盘表</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>

</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="header">
        <h2 @click="checkPark" class="header-tit">
            <span >{{parkName.index}}{{parkName.txt}}</span> <i class="allow-down"></i>
        </h2>
        <div class="houses-icon-box">
            <span ><i class="houses-icon icon-rentable"></i>可租</span>
            <span ><i class="houses-icon icon-renewable"></i>已租</span>
        </div>
        <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" ></mt-picker>
        </mt-popup>
    </div>

    <div class="houses-list" v-for="item of showList">
        <div class="houses-list-tit">
            {{item.floor}}楼
        </div>
        <div class="houses-list-item" v-if="!item.combine">
            <span v-for="rooms of item.rooms" :class="{selectable :rooms.empty}" @click="jump(rooms.room_id || rooms.id,rooms.empty)">
                {{rooms.room}}
            </span>
        </div>
    </div>

    <!--<div class="houses-list" v-for="item of list">-->
    <!--<div class="houses-list-tit">-->
    <!--{{item.floor}}楼-->
    <!--</div>-->
    <!--<div class="houses-list-item">-->
    <!--<span v-for="rooms of item.rooms" :class="{selectable :rooms.empty}" @click="jump(rooms.id,rooms.empty)">{{rooms.room}}</span>-->
    <!--</div>-->
    <!--</div>-->
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    var list = {$list};
    var values = [];
    for(var i in list){
        values.push(i);
    }
    //    console.log(values);
       console.log(list);
    console.log(values[0]);
    console.log();
    var vm =  new Vue({
        el:'#app',
        data:{
            list:list,
            popupVisible:false,
            parkPicker:'',
            name:Object.keys(list),
            parkName:{
                index:Object.keys(list)[0],
                txt:Object.keys(Object.values(list)[0])[0]
            },
            parkTxt:{
                index:Object.keys(list)[0],
                txt:Object.keys(Object.values(list)[0])[0]
            },
            slots: [
                {
                    defaultIndex: 1,
                    values: Object.keys(list)
                },{
                    defaultIndex: 1,
                    values:Object.keys(Object.values(list)[0])
                }
            ]
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
//                        _this.slots[1].defaultIndex = 0;
                }, 100);
            });
        },
        computed: {
            showList: function () {
                var _this = this;
                for (var obj in _this.list) {
                    for (var arr in _this.list[obj]) {
                        if (_this.parkName.index == obj && _this.parkName.txt == arr ) {
//                            console.log(_this.parkName);
//                            console.log(_this.list[obj][arr]);
                            return _this.list[obj][arr];
                        }
                    }
                }
            }
        },
        methods:{
            cancelPark:function () {
                this.popupVisible = false;
            },
            selectPark:function () {
                var _this = this;
                _this.popupVisible = false;
                _this.parkName = _this.parkTxt;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                //console.log(values);
                _this.parkPicker =  picker;
                if(values[0]){
                    picker.setSlotValues(1,Object.keys(_this.list[values[0]]));

                }
                _this.parkTxt ={
                    index:values[0],
                    txt:values[1]
                };
            },
            checkPark:function () {
                var _this =this;
                _this.popupVisible = true;
                //_this.parkPicker.setSlotValue(_this.parkTxt.index, _this.parkTxt.txt);
            },
            jump:function (id,empty) {
                if(!id){
                    return;
                }
                if(!empty){
                    window.location.href = "/index/partymanage/parklist?id="+id;
                    return;
                }
                window.location.href = "/index/roomrent/rent?room_id="+id;
            }
        }
    });

</script>
{/block}
