{extend name="public/common"}

{block name="style"}
<title>合同管理</title>
<link rel="stylesheet" href="/index/css/partymanage/contract/index.css">
{/block}

{block name="body"}
<div id="app">

    <div class="statistics-box">
        <div class="statistics-card">
            <div class="statistics-tit">合同类型统计</div>
            <div class="statistics-info" id="contract" ref="contractChart">

            </div>
        </div>
    </div>
    <div class="img-list">
        <a @click="jumpTo(1)">
            <div class="img-list-item">
                <img src="/index/images/partymanage/contract-img1.jpg"  class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">租赁合同</span></div>
            </div>
        </a>
    </div>
    <div class="img-list">
        <a @click="jumpTo(2)">
            <div class="img-list-item">
                <img src="/index/images/partymanage/contract-img2.jpg" class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">物业合同</span></div>
            </div>
        </a>
    </div>
    <div class="img-list">
        <a @click="jumpTo(3)">
            <div class="img-list-item">
                <img src="/index/images/partymanage/contract-img3.jpg" class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">其他合同</span></div>
            </div>
        </a>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/echarts/echarts.min.1.js"></script>
<script>
console.log({$info});
    var app = new Vue({
        el:'#app',
        data:{
            chart:null,
            info:{$info}
        },
        mounted(){
            this.initChart();
        },
        methods:{
            initChart(){
                var itemStyle = {
                    normal: {
                        borderWidth: 3,
                        borderColor: '#fff'
                    }
                };
                var _this = this;
                _this.chart = echarts.init(_this.$refs.contractChart);
                var contractOption = {
                    title: {
                        text: _this.info.total.count,
                        x:"49%",
                        y:"40%",
                        textAlign: "center",
                        textStyle: {
                            fontWeight: 'normal',
                            fontSize: 15,
                            color: '#333'
                        },
                        subtextStyle:{
                            color:"#333"
                        }
                    },
                    color:['#57cc98','#ffa71a','#4cd5d1'],
                    legend: {
                        orient: 'horizontal',
                        selectedMode:false,
                        bottom:'3%',
                        itemGap:8,
                        data:[_this.info.rent.name,_this.info.property.name,_this.info.other.name]
                    },
                    series: [
                        {
                            hoverAnimation:false,//取消hover动画
                            name:'合同类型统计',
                            type:'pie',
                            center:['50%',"45%"],
                            radius: ['40%', '55%'],
                            label: {
                                normal: {
                                    formatter: [`{c|{c}}`, `{b}`].join('\n'),
                                    rich:{
                                        c:{
                                            align:'center'
                                        }
                                    }
                                }
                            },
                            data:[
                                {value:_this.info.rent.count, name:_this.info.rent.name},
                                {value:_this.info.property.count, name:_this.info.property.name},
                                {value:_this.info.other.count, name:_this.info.other.name}
                            ],
                            itemStyle: itemStyle
                        }
                    ]
                };
                this.chart.setOption(contractOption);
            },
            jumpTo(type){
                window.location.href="/index/partymanage/managelist?type="+type;
            }
        }
    });
</script>
{/block}