
{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>
<link rel="stylesheet" href="/index/css/common/rem.css">
<style>
    .foot{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .foot .input-box{
        width:80vw;
        height:auto;
        padding-left: 3.2vw;
    }
    .foot .input-box input{
        margin:0;
        box-sizing: border-box;
        width:100%;
    }
</style>

{/block}

{block name="body"}
<div id="app">
    <div class="header">
        <h2>{{documents.title}}</h2>
        <p>
            <span>{{documents.create_time}}</span>
            <span>{{documents.source}}</span>
            <span>{{documents.views}}</span>
        </p>
    </div>
    <section v-html="documents.content">
    </section>
</div>
<div>

</div>
{/block}

{block name="script"}
<script>
    var app=new Vue({
        el:'#app',
        data:{
            documents:{$res}
        },
        created(){
            console.log(this.documents)
            document.title=this.documents.title
        },
        methods:{}
    });
</script>
{/block}