{extend name="public/common"}

{block name="style"}
<title>工作日志</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<style>
    #app{padding-bottom:2rem;}
    .my-box{padding:0 1.2rem;font-size:1.5rem;}
    .month{width:100%;height:5.5rem;background:#f8f7fc;}
    .month ul{display:flex;margin:0;padding:0;height:100%;justify-content:space-around;align-items:center;}
    .month ul>li{vertical-align:middle;line-height:5.5rem;}
    .year-month{color:#333;font-size:1.8rem;}
    .month .arrow{padding:0 3rem;color:#666;}
    .month ul li{color:#333;text-transform:uppercase;letter-spacing:3px;font-size:20px;}
    .weekdays{display:flex;margin:0;padding:10px 0;background-color:#f8f7fc;color:#333;font-size:1.5rem;flex-wrap:wrap;justify-content:space-around;}
    .weekdays li{display:inline-block;width:13.6%;text-align:center;}
    .days{display:flex;margin:0;padding-bottom:10px;background:#f8f7fc;flex-wrap:wrap;}
    .days li{position:relative;display:inline-flex;width:14.2857143vw;height:13.2857143vw;color:#000;list-style-type:none;text-align:center;font-size:1.5rem;justify-content:center;align-items:center;}
    .days li .active{padding:6px 10px;border-radius:50%;background:#00B8EC;color:#fff;}
    .days li.other-month{color:#dcdcdc;}
    .days li>span{display:block;width:3.4rem;height:3.4rem;border-radius:100%;line-height:3.4rem;}
    .isBespeak span{background-color:#e8e8e8;color:#999;}
    .isChecked{position:absolute;top:5px;right:5px;display:block;width:5px;height:5px;border-radius:5px;background:#69B9F9;}
    .my-baseInfo{display:-webkit-flex;display:flex;padding:1.2rem 0;border-bottom:1px solid #f1f1f1;justify-content:space-between;align-items:center;}
    .my-baseInfo>li:first-child{width:55%;}
    .my-baseInfo>li:last-child{width:45%;}
    .my-title{padding:1.2rem 0;}
    input{font-size:1.5rem;}
    .diary_list,.feedback{box-sizing:border-box;padding:1rem;width:100%;border:1px solid #f1f1f1;border-radius:5px;font-size:1.5rem;line-height:1.5;}
    .diary_list>li{
        font-size: 1.5rem;
        display: flex;
        padding:0.5rem 0;

    }
    .diary_list>li>span{
        width: 2rem;
        text-align: center;
    }
    .diary_list>li>textarea{
        box-sizing: border-box;
        flex:1;
        height:4.5rem;
        font-size: 1.5rem;
        line-height:1.5;
        border-bottom: 1px solid #f1f1f1;
        border-radius: 0;
    }
    .diary_list_new{
        color: #3094F8;
        font-size: 2rem;
        line-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .diary_list_new:before{
        margin-right: 5px;
        font-weight: bold;
    }
    .card-upload{display:flex;align-items:center;}
    .card-upload>div:not(:last-child){margin-right:1rem;}
    .card-area .group-area{margin:5vw 0 0 0;width:100%;height:21.3vw;}
    .card-more{display:flex;margin:4vw 0;justify-content:center;}
    .card-more button{min-width:26.7vw;border-radius:15px;}
    .upload-img{position:relative;display:flex;width:20vw;height:20vw;border:1px solid #e8e8e8;border-radius:5px;justify-content:center;align-items:center;}
    .upload-img img{border-radius:5px;}
    .upload-img .del-img{position:absolute;top:-1px;right:-1px;width:20%;height:20%;border-top-right-radius:5px;background:url(/index/images/service/card/icon-del.png) 0 0 no-repeat;background-size:cover;}
    .upload-box{display:flex;width:20vw;height:20vw;border:2px dashed #e8e8e8;border-radius:5px;align-items:center;justify-content:center;}
    .upload-box>.iconfont{color:#e8e8e8;font-size:4rem;}
    .img-responsive{display:block;width:100%;height:100%;vertical-align:middle;}
    .hide{display:none!important;}
    .toSubmit{display:block;margin:0 auto;margin-top:4rem;margin-bottom:2rem;width:93.6vw;height:4rem;outline:0;border:none;border-radius:5px;background:#69B9F9;color:#fff;text-align:center;font-size:1.8rem;line-height:4rem;}

</style>
{/block}


{block name="body"}
<div id="app">
    <div class="month" >
        <ul>
            <!--点击会触发pickpre函数，重新刷新当前日期 -->
            <li class="arrow" @click="pickPre(currentYear,currentMonth)">❮</li>
            <li class="year-month" @click="toShow">
                <span class="choose-year">{{ currentYear }}-{{ currentMonth }}</span>
            </li>
            <li class="arrow" @click="pickNext(currentYear,currentMonth)">❯</li>
        </ul>
    </div>
    <div :class="{hide:!isShow}">
        <!-- 星期 -->
        <ul class="weekdays">
            <li>SUN</li>
            <li>MON</li>
            <li>TUE</li>
            <li>WED</li>
            <li>THE</li>
            <li>FRI</li>
            <li>SAT</li>
        </ul>
        <!-- 日期 -->
        <ul class="days">
            <li  v-for="(dayobject,key) in days" @click="toCheck(key)" >
                <span>{{dayobject.day == '' ? '': new Date(dayobject.day).getDate() }}</span>
                <i :class="{isChecked:dayobject.isChecked}"></i>
            </li>
        </ul>
    </div>
    <div class="my-box">
        <ul class="my-baseInfo">
            <li>姓名：<span>{{baseInfo.user_name}}</span></li>
            <li>日期：
                <span>{{ date | timeToString}}</span>
            </li>
        </ul>
        <div class="my-title">今日工作</div>
        <ul class="diary_list">
            <li  v-for="(item,key) in todayDiary" :key="'list'+key">
                <span v-text="key+1"></span>
                <textarea v-model="todayDiary[key]"></textarea>
                <span class="iconfont hc-delete"  @click="delDiary(1,key)"></span>
            </li>
            <li class="diary_list_new iconfont hc-jia" @click="addNewDiary(1)" key="newD">新建今日工作</li>
        </ul>
        <div class="my-title">明日安排</div>
        <ul class="diary_list">
            <li v-for="(item,key) in tomorrowPlay" :key="'list1'+key">
                <span v-text="key+1">1</span>
                <textarea v-model="tomorrowPlay[key]"></textarea>
                <span class="iconfont hc-delete" @click="delDiary(2,key)"></span>
            </li>
            <li class="diary_list_new iconfont hc-jia"  @click="addNewDiary(2)" key="newD">新建明日安排</li>
        </ul>
        <div class="my-title">问题反馈</div>
        <textarea class="feedback" cols="30" rows="10" :placeholder="isWrite==true?'请输入反馈内容':'暂无内容'" v-model="baseInfo.feed_back" :readonly="!isWrite"></textarea>
        <!--<div class="my-title"><span v-if="isWrite">上传图片：</span><span v-if="baseInfo.img.length">图片</span></div>-->
        <!--<div class="imgBox">-->
            <!--<div class="card-upload" v-if="isWrite">-->
                <!--<div class="upload-img" v-for="(imgUrl,index) of imgSrc.dataUrl">-->
                    <!--<i class="del-img" @click="delImg(index)"></i>-->
                    <!--<img :src="imgUrl" class="img-responsive">-->
                <!--</div>-->
                <!--<div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">-->
                    <!--<i class="iconfont hc-jia"></i>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card-upload" v-if="!isWrite" id="img">-->
                <!--<div class="upload-img" v-for="(item,key) in baseInfo.img">-->
                    <!--<img :src="item" class="img-responsive" >-->
                <!--</div>-->
            <!--</div>-->
            <!--<form ref="myform">-->
                <!--<input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" >-->
            <!--</form>-->
        <!--</div>-->
    </div>
    <button class="toSubmit" @click="toSubmit" v-if="isWrite">添加</button>
</div>
{/block}

{block name="script"}
<script>
    Vue.filter('timeToString', function(time) {
        if(time){
            var newTime = new Date(time);
            var m = newTime.getMonth()+1,
                    dt=newTime.getDate(),
                    y=newTime.getFullYear();
            if(dt<10){
                dt='0'+dt;
            }
            if(m<10){
                m='0'+m;
            }
            return y+'-'+m+'-'+dt
        }
    });
    var app=new Vue({
        el:'#app',
        data:{
            testStr:'',
            //权限判断
            isBoss:'{$is_boss}',
            //是否能编辑
            isWrite:false,
            //是否显示日历
            isShow:false,
            isSubmit:false,
            baseInfo:{$info},
            todayDiary:[],
            tomorrowPlay:[],
            //点击日历后记录的index
            nowDateIndex:'',
            date:'',
            imgList:[],
            imgSrc:{
                imgLength:4,
                dataUrl:[],
                imgName:[]
            },
            //当前年、月、日、周
            currentDay: 1,
            currentMonth: 1,
            currentYear: 1970,
            currentWeek: 1,
            //日历数组
            days: [],
            //写过日志的时间戳数组
            checkedList:{$list},
//            //有没有创建图片查看器
//            hasViewer:false,
        },
        created(){
            var the=this;
            if(!the.baseInfo.img){
                the.baseInfo.img=[]
            }
            localStorage.setItem('active',3);

            //领导不能写日志判断
            the.canWrite();
            if(!the.baseInfo.create_time){
                the.date=Date.parse(new Date())
            }else{
                the.date=the.baseInfo.create_time;
            }
            the.initData(the.baseInfo.create_time);
            the.todayDiary = the.baseInfo.work_today || [];
            the.tomorrowPlay = the.baseInfo.arrange_tomorrow || [];
        },
        mounted(){
        },
        updated(){
        },
        methods:{
            delDiary(type,key){
                console.log(type,key)
                var _this = this ;
                if(type===1){
                    _this.todayDiary.splice(key,1);
                }else{
                    _this.tomorrowPlay.splice(key,1);
                }
            },
            addNewDiary(type){
                var _this = this ;
//
                if(type===1){
                    this.todayDiary.push('');
                }else{
                    _this.tomorrowPlay.push('');
                }
            },
            canWrite(){
                var the=this;
                //领导不能写日志判断
                if(the.isBoss=='yes'){
                    the.isWrite=false
                }else if(the.baseInfo.work_today || the.baseInfo.arrange_tomorrow || the.baseInfo.feed_back){
                    the.isWrite=false
                }else{
                    the.isWrite=true;
                }
            },
            toShow(){
                    this.isShow=!this.isShow
            },
            //生成月份数据 初始传null
            initData: function(cur) {
                var
                        date,
                        _this = this;
                if (cur) {
                    date = new Date(cur);
                    date=new Date(date.setDate(1));
                } else {
                    var now=new Date();
                    var d = new Date(_this.formatDate(now.getFullYear() , now.getMonth()+1 , now.getDate()));
                    d.setDate(41);
                    date = new Date(_this.formatDate(d.getFullYear(),d.getMonth() + 1,1));
                }
                _this.currentDay = date.getDate();
                _this.currentYear = date.getFullYear();
                _this.currentMonth = date.getMonth() + 1;
                _this.currentWeek = date.getDay(); // 1...6,0

                var str = _this.formatDate(_this.currentYear , _this.currentMonth, _this.currentDay);
                _this.days.length = 0;
                // 今天是周日，放在第一行第7个位置，前面6个
                //初始化本周
                for (var i = _this.currentWeek; i >= 0; i--) {
                    var d = new Date(str);
                    d=d.setDate(d.getDate() - i);
//                    console.log(new Date(d))
                    if(new Date(d).getMonth()!=_this.currentMonth-1){
                        var dayobject={day:''}
                    }else{
                        var dayobject={}; //用一个对象包装Date对象  以便为以后预定功能添加属性
                        dayobject.day=d;
                        dayobject.isChecked=_this.isChecked(d);
                    }
                    _this.days.push(dayobject);//将日期放入data 中的days数组 供页面渲染使用
                }
                //其他周
                for (var i = 1; i <= 41 - _this.currentWeek; i++) {
                    var d = new Date(str);
                    d= d.setDate(d.getDate() + i);
                    var dayobject={};
                    dayobject.day=d;
                    dayobject.isChecked=_this.isChecked(d);
                    if(new Date(d).getMonth()==_this.currentMonth-1){
                        _this.days.push(dayobject);
                    }
                }
            },
            //是否已写日志判断
            isChecked:function (data) {
                var dataTime=new Date(parseInt(data));
                var year1=dataTime.getFullYear(),month1=dataTime.getMonth(),day1=dataTime.getDate();
                for(var i=0;i<this.checkedList.length;i++){
                    var dataTime1=new Date(parseInt(this.checkedList[i]));
                    var year2=dataTime1.getFullYear(),month2=dataTime1.getMonth(),day2=dataTime1.getDate();
                    if(year1==year2&&month1==month2&&day1==day2) {
                        return true
                    }
                }
                return false
            },
            toCheck:function (key) {
                var _this = this;
                if(!_this.days[key].day){
                    return;
                }
                if(_this.isSubmit){
                    _this.$toast('提交中，请稍等')
                    return
                }
                _this.$indicator.open({
                    text: '加载中...',
                    spinnerType: 'triple-bounce'
                });
                _this.nowDateIndex=key;
                _this.isSubmit=true;
                var time=new Date(_this.days[key].day).setHours(0,0,0,0);
                var data={
                    time:time,
                    user_id:_this.baseInfo.user_id
                };
                _this.$http.post('/index/partymanage/changeDiary',data).then(function (res) {
                    var data = JSON.parse(res.data);
                    _this.isSubmit=false;
                    _this.$indicator.close();
                    _this.date = data.create_time;
                    _this.baseInfo.create_time = data.create_time;
                    _this.todayDiary = data.work_today;
                    _this.tomorrowPlay = data.arrange_tomorrow;
                    _this.baseInfo.feed_back = data.feed_back;
//                    _this.baseInfo.img=data.img ? data.img : [];
                    _this.canWrite();
                },function (res) {
                    _this.$toast('请求失败，请退出页面重试')
                    _this.isSubmit=false;
                    _this.$indicator.close();
                })
            },
            pickPre: function(year, month) {
                // setDate(0); 上月最后一天
                // setDate(-1); 上月倒数第二天
                // setDate(dx) 参数dx为 上月最后一天的前后dx天
                if(this.isShow){
                    var d = new Date(this.formatDate(year , month , 1));
                    d.setDate(0);
                    this.initData(this.formatDate(d.getFullYear(),d.getMonth() + 1,1));
                }
            },
            pickNext: function(year, month) {
                if(this.isShow){
                    var d = new Date(this.formatDate(year , month , 1));
                    d.setDate(35);
                    this.initData(this.formatDate(d.getFullYear(),d.getMonth() + 1,1));
                }
            },

            // 返回 2017-01-01 格式的字符串
            formatDate: function(year,month,day){
                var y = year;
                var m = month;
                if(m<10) m = "0" + m;
                var d = day;
                if(d<10) d = "0" + d;
                return y+"-"+m+"-"+d
            },
            toSubmit(){
                var the=this;
                if(the.isSubmit){
                    the.$toast('提交中，请稍等')
                    return
                }else if(!the.todayDiary && !the.tomorrowPlay && !the.baseInfo.feed_back){
                    the.$toast('写点什么吧~');
                    return
                }

                the.$indicator.open({
                    text: '提交中...',
                    spinnerType: 'triple-bounce'
                });

                the.isSubmit=true;
                var data={
                    work_today:the.todayDiary,
                    arrange_tomorrow:the.tomorrowPlay,
                    feed_back:the.baseInfo.feed_back,
                    user_id:the.baseInfo.user_id,
                    create_time:the.baseInfo.create_time
                };
                the.$http.post('/index/partymanage/diaryInfo',data).then(function (res) {
                    if(res.data.code){
                        the.isSubmit=false;
                        the.$indicator.close();
                        swal({
                            title:"提交成功!",
                            html:true,
                            type:"success",
                            confirmButtonColor: "#69B9F9"
                        },function () {
                           the.isWrite=false;
//                            the.baseInfo.img=the.imgList;
                            the.imgList=[];
                            the.imgSrc={
                                imgLength:4,
                                dataUrl:[],
                                imgName:[]
                            };
                            the.checkedList.push(the.baseInfo.create_time);
                            if(the.nowDateIndex){
                                the.days[the.nowDateIndex].isChecked=true;
                            }else{
                               window.history.back();
                            }
                        });
                    }else{
                        the.$toast('请求失败，请重试')
                    }
                },function (res) {
                    the.$toast('请求失败，请退出页面重试')
                    the.isSubmit=false;
                    the.$indicator.close();
                })
            },
            delImg: function (e) {
                this.imgSrc.dataUrl.splice(e,1);
                this.imgList.splice(e,1);
                this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
            },
            imgPreview (file,path,name) {
                var self = this;
                if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                    return;
                }
                // 是否支持FileReader
                if (!file || !window.FileReader){
                    if(path){
                        self.imgSrc.dataUrl.push(path) ;
                    }
                    return;
                }

                if (/^image/.test(file.type)) {
                    // 创建一个reader
                    var reader = new FileReader();
                    // 将图片将转成 base64 格式
                    reader.readAsDataURL(file);
                    // 读取成功后的回调
                    reader.onloadend = function () {
                        self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                        if(name && path){
                            var imgObj = {
                                name:name,
                                path:path,
                                base:this.result
                            };
                            self.imgSrc.imgName.push(imgObj);
                        }
                    }
                }
            },
            imgUpload:function () {
                var upImg = this.$refs.upimg;
                upImg.click();
            },
            handleFileChange:function (e) {
                var _this = this;
                var upImg = _this.$refs.upimg;
                var img = upImg.files[0];
                if(img){
                    var newSize = (img.size/1024).toFixed(2);
                    if(newSize <= 10240){
                        _this.$indicator.open({
                            text: '图片上传中',
                            spinnerType: 'triple-bounce'
                        });
                        _this.isSubmit = true;
                        var formData = new FormData();
                        formData.append("picture",img);
                        _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                            var data = JSON.parse(res.data);
                            _this.isSubmit = false;
                            if(data.code == 1){
                                // 在获取到文件对象进行预览
                                _this.$indicator.close();
                                _this.imgList.push(data.data.path); //上传后图片路径
                                _this.imgPreview(img,data.data.path,name);
                            }else{
                                _this.$indicator.close();
                                _this.$toast({
                                    message:"上传失败，请重新上传！",
                                    duration:1000
                                });
                            }
                        },function (res) {
                            _this.isSubmit = false;
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        });
                    }else{
                        _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                    }
                }
            },
        }
    })

</script>
{/block}
