{extend name="public/common"}

{block name="style"}
<title>园区管理</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/index/css/partymanage/index.css">
{/block}

{block name="body"}
<div id="app" class="content">
    <div class="banner">
        <div class="header">
            <select name="" id="" v-model="nowPark" @change="parkChange" v-if="baseData.isBoss=='yes'">
                <option :value="item.value" v-for="(item,key) in parks" >
                    {{item.name}}
                </option>
            </select>
            <select   v-else>
                <option >
                    希垦科技园
                </option>
            </select>
        </div>
        <div class="swiper-container" id="bannerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/index/images/partymanage/img-banner.png">
                </div>
            </div>
        </div>
        <div class="banner-list">
            <div class="list-tit">
                <i class="icon-notice"></i>
            </div>
            <div class="list-group">
                <div class="swiper-container" id="listSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item of list.arr">
                            <div class="list-item">{{item}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-card">
        <div class="card-list">
            <h3 class="card-tit">园区概览</h3>
            <div class="card-img-box">
                <img src="/index/images/partymanage/img-statistics.png" class="small">
            </div>
            <span class="card-label">园区概况一目了然</span>
        </div>
        <div class="card-list">
            <h3 class="card-tit">招商管理</h3>
            <div class="card-img-box">
                <img src="/index/images/partymanage/img-partymanage.png" class="small">
            </div>
            <span class="card-label">招商情况尽在手中</span>
        </div>
        <div class="card-list">
            <h3 class="card-tit">合同管理</h3>
            <div class="card-img-box ">
                <img src="/index/images/partymanage/img-contract.png" class="small">
            </div>
            <span class="card-label">各类合同便携管理</span>
        </div>
        <div class="card-list">
            <h3 class="card-tit">园区通讯录</h3>
            <div class="card-img-box img-communicate">
                <img src="/index/images/partymanage/img-communicate.png" >
            </div>
            <span class="card-label">园区通讯一触即达</span>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var arr =['测试1稍多少多稍多少多稍多少多稍多少多稍多少多萨达收到三十多岁的收到','测试2','测试3','测试4'];
    var list ={
        arr:arr
    };
var vm = new Vue({
    el:'#app',
    mounted(){
        var listSwiper = new Swiper('#listSwiper',{
            direction : 'vertical',
            slidesPerGroup : 2,
            autoplay: 2000,
            slidesPerView : 2,
            loopedSlides :8,
            loop:true
        })
    },
    data:{
        list:list,
        nowPark:0,
        parks:[
            {name:'希垦科技园',value:0},
            {name:'浙江互联网产业园',value:1},
            {name:'人工智能产业园',value:2}
        ],
        baseData:{
            isBoss:'yes'
        }
    },
    methods:{
        //园区选择
        parkChange:function () {
            console.log("11");
            return;
            this.$http.post('',{value:this.nowPark}).then(function (res) {
                console.log(res)
            })
        }
    }
})
</script>
{/block}