{extend name="public/common"}

{block name="style"}
<title>{$name}</title>
<link rel="stylesheet" href="/index/css/partymanage/contract/index.css">
<style>
    body {
        background-color: #f1f1f1;
    }

</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="contract-list"
        v-infinite-scroll="loadMore"
        infinite-scroll-disabled="loading"
        infinite-scroll-distance="40">
        <li v-for="item in contractList" @click="jumpTo(item.id)">
            <ul class="contract-info">
                <li>{{item.company}}</li>
                <li>{{item.create_time}}</li>
            </ul>
        </li>
    </ul>
    <div class="load-more" v-if="contractList.length === 0">暂无合同！</div>
    <div class="load-more" v-else >
        <div v-show="loading"v-if="!loadOver">
            <mt-spinner :type="3" color="#999" ></mt-spinner>加载中...
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    console.log({$list});
    var vm = new Vue({
        el:'#app',
        data:{
            contractList:{$list},
            loadOver:false,
            loading:false
        },
        methods:{
            jumpTo(id){
                window.location.href="/index/partyManage/manageDetail?id="+id;
            },
            loadMore(){
                var _this = this;
                _this.loading = true;
                var  doc = _this.contractList,
                        length = doc.length;
                console.log(length%7);
                 if(!length || length%7 != 0){
                     _this.loading = true;
                     _this.loadOver = true;
                     return;
                 }
                var subData  ={
                    'type':doc[0].type,
                    'length':length
                };
                console.log(length);
                _this.$http.post('/index/Partymanage/listManage',subData).then(function (res) {
                    var data =  res.data;
                    console.log(data);
                    if(data.code == 0 ){
                        _this.loading = true;
                        _this.loadOver = true;
                    }else{
                        console.log(data);
                        var dataList =JSON.parse(data.data) ;
                        for(var i = 0,length  = dataList.length;i < length; i += 1){
                            doc.push(dataList[i]);
                        }
                        _this.loading = false;
                    }
                },function (res) {
                    alert("网络错误,请检查你的网络！");
                    _this.loading = true;
                    _this.loadOver = true;
                });
            }

        }
    })
</script>
{/block}