{extend name="public/common"}

{block name="style"}
<title>招商管理</title>
<style>

    *{
        box-sizing: border-box;
    }
    /*tab*/
    .my-nav{
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        line-height: 5rem;
        font-size: 1.5rem;
        height:5rem;
        border-bottom: 2px solid #f1f1f1;
    }
    .my-rate-nav{
        justify-content: center;
        border-bottom: none;
    }
    .my-rate-nav>li:first-child{
        margin-right: 4.6rem;
    }
    .my-nav>li{
        margin-bottom: -2px;
        padding:0 1rem;
    }
    .my-nav>li.active{
        color: #69b9f9;
        border-bottom: 2px solid #69b9f9;
    }

    .my-tabs{
        display: -webkit-flex;
        display: flex;
        background: #fff;
        border:1px solid #69b9f9;
        color: #0A96E6;
        border-radius: 5px;
        overflow: hidden;
    }
    .my-tabs1{
        margin:1rem auto;
        width:20rem;
        height:2.8rem;
        font-size: 1.4rem;
        line-height: 2.8rem;
    }
    .my-tabs>li{
        width:50%;
        height:100%;
        text-align: center;
    }
    .my-tabs>li:not(:last-child){
        border-right: 1px solid #69b9f9;
    }
    .my-tabs>li.my-active{
        background-color: #69b9f9;
        color: #ffffff;
    }

    /*内容*/
    .my-content>li{
        width:100vw;
        position: relative;
        display: none;
    }
    .my-box>li{
        border-bottom: 5px solid #f1f1f1;
    }
    .my-chart{
        padding:3.2vw;
    }

    .my-charts{
        width:100%;
        height:22rem;
    }
    .my-chart > .my-title{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .my-charts{
        padding:3.2vw;
    }


    /*personal*/
    .my-personal>li{
        padding: 1.2rem 0 1.2rem 4vw ;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-color: #fff;
    }
    .my-personal>li>img{
        height:3rem;
        width:3rem;
        border:1px solid #f1f1f1;
        margin-right: 1.9rem;
    }
    .my-personal>li>div{
        line-height: 3rem;
        color: #333;
        flex-grow:1;
        border-bottom: 1px solid #f1f1f1;
        padding:0 1.5rem 0 0;
        display: flex;
        justify-content: space-between;
    }
    .my-personal>li>div>span:last-child{
        color: #999;
    }


    /**rate**/
    .rate .my-list li{
        border-bottom: 1px solid #f1f1f1;
    }

    /*my-log*/
    .my-log li{
        position: relative;
        box-sizing:content-box;
        padding:1.7rem 4vw;
        border-bottom: 1px solid #f1f1f1;

    }
    .my-log li>div{
        display: -webkit-flex;
        display: flex;
    }
    .my-log li>a{
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        left: 0;
    }
    .my-log  .my-icon{
        height:2.2rem;
        width:2.2rem;
        background: url('') no-repeat center center;
        background-size: cover;
        margin-right: 3.2vw;
    }
    .my-log  .my-icon-suc{
        background-image: url('/index/images/partymanage/suc.png');
    }
    .my-log .my-icon-ing{
        background-image: url('/index/images/partymanage/ing.png');
    }
    .my-log .my-icon-err{
        background-image: url('/index/images/partymanage/err.png');
    }
    .my-log .my-list{
        padding:0;
        flex-grow:1;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .my-log .my-list>div:first-child{
        color: #333;
        font-size: 1.5rem;
        line-height: 2.2rem;
        display: -webkit-flex;
        display: flex;
    }
    .my-log .my-list>div:first-child>span:first-child{
        margin-right: 1.5rem;
        width:7rem;
    }
    .my-log .my-list>div:first-child>span:last-child{
        flex-grow:1;
        width:40vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .my-log .my-list>div:last-child{
        font-size: 1.2rem;
        color: #999;
    }
    .addDdiary{
        width:4.8rem;
        height: 4.8rem;
        position: fixed;
        bottom:58px;
        right:19px;
        border-radius: 4.8rem
    }
    .addDdiary>img{
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(105,185,249,1);
        box-sizing: border-box;
        width:100%;
    }
    .my-content .contentShow{
        border-top: 1px solid transparent;
        margin-top: -1px;
        display: block;
    }

    /**招商进度**/
    .search{
        background: #f0eff5;
        padding:0.8rem 2.133vw;
        border-bottom: 1px solid #f0eff5;
        position: relative;
        z-index: 999;
    }
    .search>.searchBox{
        border-radius: 0.3rem;
        height:3.2rem;
        background: #ffffff;
        text-align: center;
    }
    .search>.unBtn{
        display: none;
    }
    .search>.searchBox>.searchInput{
        display: none;
    }
    .search>.searchBox>.searchText{
        display: inline-block;
        font-size:1.4rem;
        color: #999;
        padding-left:2.0rem;
        min-width: 1px;
        line-height: 3.2rem;
        height:3.2rem;
        background: url("/index/images/enterprise/search.png") 0 50% no-repeat;
        background-size: 1.4rem 1.4rem;
    }
    .search.isClick{
        background: #ffffff;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search.isClick>.searchBox{
        background: #f0eff5;
        padding-left: 2.66vw;
        width:78vw;
        display: flex;
        align-items: center;
    }
    .search.isClick>.searchBox>.searchText{
        display: inline-block;
    }
    .search.isClick>.searchBox>.searchText>.searchText_c{
        display: none;
    }
    .search.isClick .searchInput{
        background: #f0eff5;
        display: inline-block;
        font-size:1.4rem;
        height:3.2rem;
        width:61.33vw;
    }
    .search.isClick>.unBtn{
        display: block;
        padding:0;
        box-sizing: border-box;
        width:3.8rem;
        height:2.8rem;
        line-height: 2.8rem;
        border-radius: 5px;
        border:1px solid #5d9cec;
        color: #5d9cec;
        text-align: center;
        font-size: 1.4rem;
    }
    .searchList{
        width:100%;
        min-height:100vh;
        position: absolute;
        top:0;
        left:0;
        z-index: 998;
        overflow: scroll!important;
    }
    .searchList>li{
        margin-bottom: 0;
        border-bottom: 1px solid #f1f1f1;
    }
    .bgWhite{
        background-color: rgba(0,0,0,0.5);
    }
    .searchList>li:first-child{
        margin-top: 4.7rem;
    }

    .rate .searchList.my-list{
        margin-top: 5rem;
    }

    .my-list{
        /*padding:0.8rem 2.133vw;*/
    }
    .my-list li{
        width: 100%;
        height:7rem;
        overflow: hidden;
        position: relative;
        background: #fff;
        /*margin-bottom: 1.2rem;*/
        /*border-radius: 0.3rem;*/
    }
    .my-list li .content-box{
        height: 100%;
        padding:1.5rem;
        position: relative;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .content-box>.my-company{
        color: #999;
        font-size: 1.4rem;
    }
    .my-job{
        font-size: 1.6rem;
        color: #333;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
    }
    /*.my-job>span:last-child{*/
        /*color: #52CC92;*/
    /*}*/
    .my-demand{
        font-size: 1.2rem;
        display: -webkit-flex;
        display: flex;
        color: #999;
    }
    .my-demand>span{
        margin-right: 2rem;
    }
    .my-list li a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    #personalStats{
        position: inherit;
    }
    .my-hide{
        display: none;
    }
    /**加载中**/
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999;
        font-size: 1.4rem;
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="my-nav">
        <li :class="{active:isActive==0}" @click="changeTab(0)" v-if="is_boss=='yes'">招商统计</li>
        <li :class="{active:isActive==1}" @click="changeTab(1)">个人统计</li>
        <li :class="{active:isActive==2}" @click="changeTab(2)">招商进度</li>
        <li :class="{active:isActive==3}" @click="changeTab(3)">工作日志</li>
    </ul>
    <ul class="my-content">
        <!--招商统计-->
        <li class="merchants" :class="{'contentShow':isActive==0}">
            <ul class="my-box">
                <li class="my-chart">
                    <div class="my-title">企业统计</div>
                    <div id="types" class="my-charts" style="height:25rem" ></div>
                </li>
                <li class="my-chart">
                    <div class="my-title">企业统计</div>
                    <div id="will" class="my-charts"></div>
                    <div id="finish" class="my-charts"></div>
                </li>
            </ul>
        </li>
        <!--个人统计-->
        <li class="" :class="{'contentShow':isActive==1}">
            <iframe src="/index/partymanage/statisticsInfo" v-if="is_boss=='no'" id="personalStats" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
            <div v-if="is_boss=='yes'">
                <div class="search" :class="{isClick:inputStatus}" >
                        <div class="searchBox" @click="isClick">
                            <div class="searchText"><span class="searchText_c">请在此搜索姓名</span></div>
                            <input type="text" v-model="inputValue" @keyup="toSearch(0)" class="searchInput" placeholder="请输入姓名" v-focus="inputStatus">
                        </div>
                        <div class="unBtn" @click="isCancel">取消</div>
                </div>
                <ul class="my-personal" :class="{'my-hide':inputStatus}">
                    <li v-for="item in personallist" @click="window.location.href='/index/partymanage/statisticsInfo?id='+item.id">
                        <img :src="item.avatar" alt="头像" v-if="item.avatar!=null">
                        <img src="/index/images/cbd.jpg" alt="头像" v-else>
                        <div>
                            <span>{{item.name}}</span><span>❯</span>
                        </div>
                    </li>
                </ul>
                <ul class="searchList my-personal" :class="{bgWhite:inputStatus}" v-if="inputStatus">
                    <li v-for="item in searchList"  @click="window.location.href='/index/partymanage/statisticsInfo?id='+item.id">
                        <img :src="item.avatar" alt="头像">
                        <div>
                            <span>{{item.name}}</span><span>❯</span>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!--招商进度-->
        <li class="rate" :class="{'contentShow':isActive==2}">
            <ul class="my-tabs my-tabs1">
                <li :class="{'my-active':rateActive==0}" @click="changeRateTab(0)">招商中</li>
                <li :class="{'my-active':rateActive==1}" @click="changeRateTab(1)">已完成</li>
            </ul>
            <div class="search" :class="{isClick:inputStatus}">
                <div class="searchBox" @click="isClick">
                    <div class="searchText"><span class="searchText_c">请在此搜索公司名称</span></div>
                    <input type="text" v-model="inputValue" @keyup="toSearch(1)"  class="searchInput" placeholder="请输入公司名称" v-focus="inputStatus">
                </div>
                <div class="unBtn" @click="isCancel">取消</div>
            </div>
            <div  v-if="rateActive==0">
                <ul class="my-list" :class="{'my-hide':inputStatus}">
                    <li v-for="item in undone">
                        <div class="content-box">
                            <div class="my-job"><span>{{item.company}}</span></div>
                            <div class="my-demand"><span>{{item.create_time}}</span></div>
                        </div>
                        <a :href="'/index/partymanage/companyInfo/id/'+item.id"></a>
                    </li>
                </ul>
            </div>
            <div  v-if="rateActive==1">
                <ul class="my-list" :class="{'my-hide':inputStatus}">
                    <li v-for="item in finish">
                        <div class="content-box">
                            <div class="my-job"><span>{{item.company}}</span></div>
                            <div class="my-demand"><span>{{item.create_time}}</span></div>
                        </div>
                        <a :href="'/index/partymanage/companyInfo/id/'+item.id"></a>
                    </li>
                </ul>
            </div>
            <ul class="searchList my-list" :class="{bgWhite:inputStatus}" v-if="inputStatus">
                <li v-for="item in searchList">
                    <div class="content-box">
                        <div class="my-job"><span>{{item.company}}</span></div>
                        <div class="my-demand"><span>{{item.create_time}}</span></div>
                    </div>
                    <a :href="'/index/partymanage/companyInfo/id/'+item.id"></a>
                </li>
            </ul>
        </li>
        <!--工作日志-->
        <li class="my-log" :class="{'contentShow':isActive==3}">
            <ul>
                <li v-for="item in diaryList" >
                    <div>
                        <span class="my-icon my-icon-suc"></span>
                        <div class="my-list">
                            <div><span>工作日志</span><span>{{item.content}}</span></div>
                            <div><span>创建日期：</span><span>{{item.create_time*1000 | timeToString}}</span></div>
                        </div>
                    </div>
                    <a :href="'/index/partymanage/diaryInfo?id='+item.id+'&user_id='+item.user_id"></a>
                </li>
            </ul>
            <a :href="'/index/partymanage/diaryInfo'" class="addDdiary"  v-if="canWrite">
                <img src="/index/images/partymanage/add.png" alt="添加日志">
            </a>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script src="/static/echarts/echarts.min.1.js"></script>

<script>
   function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };
   Vue.filter('timeToString', function(time) {
       if(time){
           var newTime = new Date(time);
           var m = newTime.getMonth()+1,
                   dt=newTime.getDate(),
                   y=newTime.getFullYear();
           if(dt<10){
               dt='0'+dt;
           }
           if(m<10){
               m='0'+m;
           }
           return y+'-'+m+'-'+dt
       }
   });
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        update: function (el,value) {
            // Focus the element
            if(value.value){
                el.focus()
            }
        }
    });
    var app = new Vue({
        el:'#app',
        data:{
            is_boss:'{$is_boss}',
            types:{
                id:'types',
                title:{$undone_num}+{$finish_num}+'家',
                subtext:"企业总数",
                label: '{c|{c}家}\n{d|{d}%}',
                color:['#6DC98F','#68D1CB','#ff8866'],
                legend:['意向招商','完成招商'],
                data:[
                    {value:{$undone_num}, name:'意向招商'},
                    {value:{$finish_num}, name:'完成招商'}
                ]
            },
            will:{
                id:'will',
                legend:{
                    name:'意向招商'
                },
                series:{
                    name:'意向招商'
                },
                color:['#6DC98F'],
                data:[80,50,60,20,30,40,70,90,11,5,88,5]
            },
            finish1:{
                id:'finish',
                legend:{
                    name:'完成招商'
                },
                series:{
                    name:'完成招商'
                },
                color:['#68D1CB'],
                data:[30,40,70,90,50,15,88,50,80,50,60,20]
            },
//            工作日志
            diaryList:{$diaryList},
            canWrite:true,
//            招商统计
            finish_num:{$finish_num},
            undone_num:{$undone_num},
            undone2:{$undone2},
            finish2:{$finish2},
            //招商进度
            undone:{$undone},
            finish:{$finish},
            //个人统计
            personallist:{$personallist},
            isActive:0,
            searchList:[],
            rateActive:0,
            inputStatus:false,
            inputValue:'',
            isSearch:false,
        },
        computed:{
        },
        created(){

        },
        mounted(){
            //初始Tab
            if(this.is_boss=='yes'){
                this.isActive=0
            }else{
                this.isActive=1
            }
            var active=localStorage.getItem('active');
            if(active!=null){
                this.isActive=active
            }
            //初始数据处理
            var w=[],e=[];
            for( x in this.undone2 ){
                w.push(this.undone2[x])
            }
            console.log(w)
            for( x in this.finish2 ){
                e.push(this.finish2[x])
            }
            console.log(e)
            this.will.data=w;
            this.finish1.data=e;
            console.log(this.diaryList)
            //能否写日志判断
            if(this.is_boss=='yes'){
                this.canWrite=false
            }else{
                this.canWrite=true
            }
            for(var i=0;i<this.diaryList.length;i++){
                if(new Date(this.diaryList[i].create_time*1000).setHours(0,0,0,0)==new Date().setHours(0,0,0,0)) {
                    this.canWrite=false
                }
            }
//            画图
            this.drawPie(this.types);
            this.drawLine(this.will);
            this.drawLine(this.finish1);
            function reinitIframe(){

            }
//            iframe 高度自适应
            window.setInterval(function () {
                var iframe = document.getElementById("personalStats");
                try{
                    var iframeOldHeight=iframe.height;
//                    var bHeight = iframe.contentWindow.document.body.scrollHeight;
//                    var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
//                    var height = Math.max(bHeight, dHeight);
//                    iframe.height = height;
                    var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                    if (iframeWin.document.body) {
                        var iframeNewHeight= iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                        if(iframeNewHeight!=iframeOldHeight){
                            iframe.height = iframeNewHeight;
                        }
                    }
                }catch (error){
//                    location.reload(true);
                }
            }, 200);
//                this.setIframeHeight(document.getElementById('personalStats'));
        },
        methods:{
//            切换tab
            changeTab(value){
                if(value!=this.isActive){
                    this.isActive=value;
                    if(this.inputStatus){
                        this.inputStatus=false;
                        this.inputValue='';
                    };
                    localStorage.setItem('active',value);
                }
            },
            changeRateTab(value){
                if(value!=this.rateActive){
                    this.rateActive=value;
                }
                this.inputValue='';
                this.inputStatus=false;
                this.searchList.length=0
            },
            jumpTo(id){
                window.location.href='/index/enterprise/product/id/'+id
            },
            drawLine(data){
                var myChart = echarts.init(document.getElementById(data.id));
                var option=
                {

                    tooltip:{
                        show:true,
                        tigger:'axis',
                        formatter: '{b}月:{c}家'
                    },
                    legend:{
                        show:true,
                        type:'plain',
                        top:10,
                        left:10,
                        data:[
                            {
                                name:data.legend.name,
                                icon:'roundRect',
                                textStyle:{
                                    fontSize:14
                                }
                            }
                        ]
                    },
                    axisPointer:{show:true},
                    xAxis: {
                        type: 'category',
                        boundaryGap : false,
                        axisLine:{
                            lineStyle:{
                                color:'#999'
                            },
                        },
                        data: [1,2,3,4,5,6,7,8,9,10,11,12]
                    },
                    yAxis: {
                        type: 'value',
                        axisLine:{
                            lineStyle:{
                                color:'#999'
                            },
                        },

                    },
                    color:data.color,
                    series: [
                        {
                            name:data.series.name,
                            type:'line',
                            smooth:true,
                            symbol: 'circle',//标记点的样式
                            sampling: 'average',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: data.color
                                    }, {
                                        offset: 1,
                                        color: '#fff',
                                    }])
                                }
                            },
                            data: data.data
                        }
                    ]
                };
                myChart.setOption(option);


            },
            drawPie(data){
                var myChart = echarts.init(document.getElementById(data.id));
                var option = {
                    title:{
                        show:true,
                        text: data.title,
                        textStyle:{
                            fontSize:14,
                            color:'#299FE8',
                        },
                        subtextStyle:{
                            color:'#999',
                            align:'center'
                        },
                        left: 'center',
                        top:'92'
                    },
                    legend: {
                        orient: 'horizontal',
                        left:'center',
                        bottom:0,
                        data:data.legend
                    },
                    color:data.color,
                    calculable: true,
                    series: [
                        {
                            name:'园区面积',
                            type:'pie',
                            radius: ['45', '70'],
                            center:['50%',100],
                            avoidLabelOverlap: false,
                            hoverAnimation:false,//取消hover动画
                            label: {
                                normal: {
                                    show: true,
                                    formatter: data.label,
                                    rich:{
                                        d:{
                                            align:'center',
                                            padding:2,
                                            color:'#999'

                                        },
                                        c:{
                                            align:'center',
                                            padding:[2,0],
                                        }
                                    }
                                },
                                emphasis: {
                                    show: true,
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length:15,
                                    length2:5
                                }
                            },
                            data:data.data
                        }
                    ]
                };
                myChart.setOption(option);
            },
            toSearch:function (l) {
                var reg=new RegExp(this.inputValue),list=[];
                this.searchList=[];
                if(!this.inputValue){
                    this.searchList=[];
                }else{
                    console.log(list);
                    if(l===0){
                        list=this.personallist;
                        for(let i=0;i<list.length;i++){
                            if(reg.test(list[i].name)){
                                this.searchList.push(list[i])
                            }
                        }
                    }else{
                        if(this.rateActive===0){
                            list=this.undone;
                            for(let i=0;i<list.length;i++){
                                if(reg.test(list[i].company)){
                                    this.searchList.push(list[i])
                                }
                            }
                        }else if(this.rateActive===1){
                            list=this.finish;
                            for(let i=0;i<list.length;i++){
                                if(reg.test(list[i].company)){
                                    this.searchList.push(list[i])
                                }
                            }
                        }
                    }

                }
            },
            toBlur(){
                var the=this;
                setTimeout(function () {
                    if(!the.isSearch){
                        console.log('isBlur');
                        the.inputStatus=false;
                        the.inputValue=''
                    }
                },100)
            },
            isClick:function () {
                this.inputStatus=true;
//                document.getElementsByTagName("body")[0].setAttribute("style","height:100vh");
//                document.getElementsByTagName("body")[0].setAttribute("style","overflow:hidden");
            },
            isCancel:function () {
                this.inputStatus=false;
                this.inputValue='';
                this.searchList.length=0;
//                document.getElementsByTagName("body")[0].setAttribute("style","height:auto");
//                document.getElementsByTagName("body")[0].setAttribute("style","overflow:auto");
            },
        }
    })
</script>
{/block}