{extend name="public/common"}

{block name="style"}
<style>
    /*tab*/
    .my-nav{
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        line-height: 5rem;
        font-size: 1.5rem;
        height:5rem;
        border-bottom: 2px solid #f1f1f1;
    }
    .my-nav>li{
        margin-bottom: -2px;
        padding:0 1rem;
    }
    .my-nav>li.active{
        color: #69b9f9;
        border-bottom: 2px solid #69b9f9;
    }

    /*内容*/
    .my-content>li{
        display: none;
    }
    .my-charts{
        padding:3.2vw;
    }


    /*my-log*/
    .my-log li{
        padding:1.7rem 4vw;
        height:4.5rem;
        border-bottom: 1px solid #f1f1f1;
        display: -webkit-flex;
        display: flex;
    }

    .my-log  .my-icon{
        height:2.2rem;
        width:2.2rem;
        background: url('') no-repeat center center;
        background-size: cover;
        margin-right: 3.2vw;
    }
    .my-log  .my-icon-suc{
        background-image: url('/index/images/partymanage/suc.png');
    }
    .my-log .my-icon-ing{
        background-image: url('/index/images/partymanage/ing.png');
    }
    .my-log .my-icon-err{
        background-image: url('/index/images/partymanage/err.png');
    }
    .my-log .my-list{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .my-log .my-list>div:first-child{
        color: #333;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .my-log .my-list>div:first-child>span:first-child{
        margin-right: 1.5rem;
    }
    .my-log .my-list>div:last-child{
        font-size: 1.2rem;
        color: #999;
    }

         .my-content .contentShow{
        display: block;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="my-nav">
        <li :class="{active:isActive==0}" @click="changeTab(0)">招商统计</li>
        <li :class="{active:isActive==1}" @click="changeTab(1)">个人统计</li>
        <li :class="{active:isActive==2}" @click="changeTab(2)">招商进度</li>
        <li :class="{active:isActive==3}" @click="changeTab(3)">工作日志</li>
    </ul>
    <ul class="my-content">
        <li class="merchants" :class="{'contentShow':isActive==0}">
            <div class="my-charts"></div>
        </li>
        <li class="service" :class="{'contentShow':isActive==1}">
            个人统计
        </li>
        <li class="product" :class="{'contentShow':isActive==2}">
            招商进度
        </li>
        <li class="my-log" :class="{'contentShow':isActive==3}">
            <ul>
                <li v-for="n in 7">
                    <span class="my-icon my-icon-suc"></span>
                    <div class="my-list">
                        <div><span>工作日志</span><span>立柱</span></div>
                        <div><span>创建日期：</span><span>2017-7-7</span></div>

                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el:'#app',
        data:{
            isActive:0
        },
        mounted(){
        },
        methods:{
            changeTab(value){
                if(value!=this.isActive){
                    this.isActive=value;
                }
            },
            jumpTo(id){
                window.location.href='/index/enterprise/product/id/'+id
            }
        }
    })
</script>
{/block}