{extend name="public/common"}

{block name="style"}
<style>

    *{
        box-sizing: border-box;
    }
    /*tab*/
    .my-nav{
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        line-height: 5rem;
        font-size: 1.5rem;
        height:5rem;
        border-bottom: 2px solid #f1f1f1;
    }
    .my-rate-nav{
        justify-content: center;
        border-bottom: none;
    }
    .my-rate-nav>li:first-child{
        margin-right: 4.6rem;
    }
    .my-nav>li{
        margin-bottom: -2px;
        padding:0 1rem;
    }
    .my-nav>li.active{
        color: #69b9f9;
        border-bottom: 2px solid #69b9f9;
    }

    /*内容*/
    .my-content>li{
        display: none;
    }
    .my-charts{
        padding:3.2vw;
    }


    /*my-log*/
    .my-log li{
        padding:1.7rem 4vw;
        height:4.5rem;
        border-bottom: 1px solid #f1f1f1;
        display: -webkit-flex;
        display: flex;
    }

    .my-log  .my-icon{
        height:2.2rem;
        width:2.2rem;
        background: url('') no-repeat center center;
        background-size: cover;
        margin-right: 3.2vw;
    }
    .my-log  .my-icon-suc{
        background-image: url('/index/images/partymanage/suc.png');
    }
    .my-log .my-icon-ing{
        background-image: url('/index/images/partymanage/ing.png');
    }
    .my-log .my-icon-err{
        background-image: url('/index/images/partymanage/err.png');
    }
    .my-log .my-list{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .my-log .my-list>div:first-child{
        color: #333;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .my-log .my-list>div:first-child>span:first-child{
        margin-right: 1.5rem;
    }
    .my-log .my-list>div:last-child{
        font-size: 1.2rem;
        color: #999;
    }

         .my-content .contentShow{
        display: block;
    }

    /**招商进度**/
    .search{
        background: #f0eff5;
        padding:0.8rem 2.133vw;
        border-bottom: 1px solid #f0eff5;
        position: relative;
        z-index: 999;
    }
    .search>.searchBox{
        border-radius: 0.3rem;
        height:3.2rem;
        background: #ffffff;
        text-align: center;
    }
    .search>.unBtn{
        display: none;
    }
    .search>.searchBox>.searchInput{
        display: none;
    }
    .search>.searchBox>.searchText{
        display: inline-block;
        font-size:1.4rem;
        color: #999;
        padding-left:2.0rem;
        min-width: 1px;
        line-height: 3.2rem;
        height:3.2rem;
        background: url("/index/images/enterprise/search.png") 0 50% no-repeat;
        background-size: 1.4rem 1.4rem;
    }
    .search.isClick{
        background: #ffffff;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search.isClick>.searchBox{
        background: #f0eff5;
        padding-left: 2.66vw;
        width:78vw;
        display: flex;
        align-items: center;
    }
    .search.isClick>.searchBox>.searchText{
        display: inline-block;
    }
    .search.isClick>.searchBox>.searchText>.searchText_c{
        display: none;
    }
    .search.isClick .searchInput{
        background: #f0eff5;
        display: inline-block;
        font-size:1.4rem;
        height:3.2rem;
        width:61.33vw;
    }
    .search.isClick>.unBtn{
        display: block;
        padding:0;
        box-sizing: border-box;
        width:3.8rem;
        height:2.8rem;
        line-height: 2.8rem;
        border-radius: 5px;
        border:1px solid #5d9cec;
        color: #5d9cec;
        text-align: center;
        font-size: 1.4rem;
    }
    .my-list{
        padding:0.8rem 2.133vw;
    }
    .my-list li{
        width: 100%;
        height:7.5rem;
        overflow: hidden;
        position: relative;
        background: #fff;
        margin-bottom: 1.2rem;
        border-radius: 0.3rem;
    }
    .my-list li .content-box{
        height: 100%;
        padding:1.5rem;
        position: relative;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .content-box>.my-company{
        color: #999;
        font-size: 1.4rem;
    }
    .my-job{
        font-size: 1.6rem;
        color: #333;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
    }
    .my-job>span:last-child{
        color: #52CC92;
    }
    .my-demand{
        font-size: 1.2rem;
        display: -webkit-flex;
        display: flex;
        color: #999;
    }
    .my-demand>span{
        margin-right: 2rem;
    }
    .my-list li a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    /**加载中**/
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999;
        font-size: 1.4rem;
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="my-nav">
        <li :class="{active:isActive==0}" @click="changeTab(0)">招商统计</li>
        <li :class="{active:isActive==1}" @click="changeTab(1)">个人统计</li>
        <li :class="{active:isActive==2}" @click="changeTab(2)">招商进度</li>
        <li :class="{active:isActive==3}" @click="changeTab(3)">工作日志</li>
    </ul>
    <ul class="my-content">
        <li class="merchants" :class="{'contentShow':isActive==0}">
            <div class="my-charts"></div>
        </li>
        <li class="service" :class="{'contentShow':isActive==1}">
            <div class="search" :class="{isClick:inputStatus}" >
                <div class="searchBox" @click="isClick">
                    <div class="searchText"><span class="searchText_c">请在此搜索人员</span></div>
                    <input type="text" v-model="inputValue" class="searchInput" placeholder="请输入姓名" v-focus="inputStatus" v-on:blur="toBlur">
                </div>
                <div class="unBtn" v-if="inputValue" @click="toSearch">搜索</div>
                <div class="unBtn" v-if="!inputValue" @click="isCancel">取消</div>
            </div>
            <ul class="my-list" v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
                <li v-for="item in article">
                    <div class="content-box">
                        <div class="my-job"><span>{{item.job}}</span></div>
                        <div class="my-demand"><span>{{item.num}}</span></div>
                    </div>
                    <a :href="'/index/ServiceInformation/detail/id/'+item.id"></a>
                </li>
            </ul>
            <div class="my-footer">
                <span v-if="canLoad && !loading">下拉加载更多</span>
                <span v-if="!canLoad">没有更多啦！</span>
                <div   v-if="canLoad && loading">
                    <mt-spinner :type="3"></mt-spinner>加载中...
                </div>
            </div>
        </li>
        <!--招商进度-->
        <li class="product" :class="{'contentShow':isActive==2}">
            <div class="search" :class="{isClick:inputStatus}" >
                <div class="searchBox" @click="isClick">
                    <div class="searchText"><span class="searchText_c">请在此搜索公司</span></div>
                    <input type="text" v-model="inputValue" class="searchInput" placeholder="请输入公司名" v-focus="inputStatus" v-on:blur="toBlur">
                </div>
                <div class="unBtn" v-if="inputValue" @click="toSearch">搜索</div>
                <div class="unBtn" v-if="!inputValue" @click="isCancel">取消</div>
            </div>
            <ul class="my-nav my-rate-nav">
                <li :class="{active:rateActive==0}" @click="changeRateTab(0)">招商中</li>
                <li :class="{active:rateActive==1}" @click="changeRateTab(1)">已完成</li>
            </ul>
            <div  v-if="rateActive==0">
                <ul class="my-list" v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
                    <li v-for="item in article">
                        <div class="content-box">
                            <div class="my-job"><span>{{item.job}}</span></div>
                            <div class="my-demand"><span>{{item.num}}</span></div>
                        </div>
                        <a :href="'/index/ServiceInformation/detail/id/'+item.id"></a>
                    </li>
                </ul>
                <div class="my-footer">
                    <span v-if="canLoad && !loading">下拉加载更多</span>
                    <span v-if="!canLoad">没有更多啦！</span>
                    <div   v-if="canLoad && loading">
                        <mt-spinner :type="3"></mt-spinner>加载中...
                    </div>
                </div>
            </div>
            <div  v-if="rateActive==1">
                <ul class="my-list" v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
                    <li v-for="item in article">
                        <div class="content-box">
                            <div class="my-job"><span>{{item.company}}</span></div>
                            <div class="my-demand"><span>{{item.num}}</span></div>
                        </div>
                        <a :href="'/index/ServiceInformation/detail/id/'+item.id"></a>
                    </li>
                </ul>
                <div class="my-footer">
                    <span v-if="canLoad && !loading">下拉加载更多</span>
                    <span v-if="!canLoad">没有更多啦！</span>
                    <div   v-if="canLoad && loading">
                        <mt-spinner :type="3"></mt-spinner>加载中...
                    </div>
                </div>
            </div>
        </li>
        <!--工作日志-->
        <li class="my-log" :class="{'contentShow':isActive==3}">
            <ul  v-infinite-scroll="loadMore(logLoading,logCanLoad,'index/partymanage/',log)" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
                <li v-for="item in log" >
                    <span class="my-icon my-icon-suc"></span>
                    <div class="my-list">
                        <div><span>工作日志</span><span>立柱</span></div>
                        <div><span>创建日期：</span><span>2017-7-7</span></div>
                    </div>
                </li>
            </ul>
            <div class="my-footer">
                <p v-if="log.length==0">暂无信息</p>
                <span v-if="!logCanLoad && log.length>0">没有更多了</span>
                <span v-if="logCanLoad && logLoading">下拉加载更多</span>
                <div  v-if="logLoading">
                    <mt-spinner :type="3"></mt-spinner>加载中...
                </div>
            </div>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script>
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        update: function (el,value) {
            // Focus the element
            if(value.value){
                el.focus()
            }
        }
    });
    var app = new Vue({
        el:'#app',
        data:{
            logLoading:false,
            logCanLoad:'',
            log:[],
            isActive:0,

            rateActive:0,
            inputStatus:false,
            inputValue:'',
            loading:false,
            canLoad:'',
            isSearch:false,
//            article:$list,
            article:[
                {job:'销售经理',salary:'7K-10K',company:'杭州天隽科技有限公司',num:'1',time:'3年以上',student:'本科',id:1}
            ]
        },
        mounted(){
        },
        methods:{
//            切换tab
            changeTab(value){
                if(value!=this.isActive){
                    this.isActive=value;
                }
            },
            changeRateTab(value){
                if(value!=this.rateActive){
                    this.rateActive=value;
                }
            },
            jumpTo(id){
                window.location.href='/index/enterprise/product/id/'+id
            },
            toBlur(){
                var the=this;
                setTimeout(function () {
                    if(!the.isSearch){
                        console.log('isBlur');
                        the.inputStatus=false;
                        the.inputValue=''
                    }
                },100)
            },
            toSearch(api,list,canLoad){
                if(!this.isSearch){
                    this.isSearch=true
                    console.log('正在搜索');
                    var data={
                        input:this.inputValue
                    }
                    this.$indicator.open({
                        text: '加载中...',
                        spinnerType: 'fading-circle'
                    });
                    this.$http.post(api,data).then(function (res) {
                        this.$indicator.close();
                        this.isSearch=false
                        for(var i=0;i<res.data.length;i++){
                           list.push(res.data[i])
                        }
                        if(res.data.length>=6){
                            canLoad=true
                        }
                    },function (res) {
                        this.$indicator.close();
                        this.isSearch=false;
                        this.$toast('加载失败，请重试')
                    })
                }
            },
            isClick:function () {
                this.inputStatus=true;
            },
            isCancel:function () {
                this.inputStatus=false;
                this.inputValue=''
            },

//

            loadMore(loading,canLoad,api,list){
                if((!loading) && canLoad ){
                    this.loading = true;
                    this.$http.post(api,{length:list.length}).then(function (res) {
                        if(res.data.code!=0){
                            for(var i=0;i<res.data.data.length;i++){
                                list.push(res.data.data[i])
                            }
                            loading = false;
                        }else{
                            loading = false;
                            canLoad=false;
                        }
                    },function (res) {
                        loading = false;

                    })
                    loading = false;
                }
            },
        }
    })
</script>
{/block}