{extend name="public/common"}

{block name="style"}
<title>内部通告</title>
<link rel="stylesheet" href="/index/css/news/article.css">
<style>
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999;
        font-size: 1.4rem;
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
</style>
{/block}


{block name="body"}
<div id="app">
    <div class="page">
        <div class="body">
            <ul  v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
            <!--<ul>-->
                <li  v-for="item in article">
                    <div class="content-box">
                        <p>{{item.title}}</p>
                        <span>{{item.create_time}}</span>
                        <span>{{parseInt(item.views)>999?'999+':item.views}}</span>
                    </div>
                    <a :href="'/index/partymanage/detail?id='+item.id"></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="my-footer">
        <p v-if="article.length==0">暂无信息</p>
        <span v-if="!canLoad && article.length>0">没有更多了</span>
        <span v-if="canLoad && loading">下拉加载更多</span>
        <div  v-if="loading">
            <mt-spinner :type="3"></mt-spinner>加载中...
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var app=new Vue({
        el:'#app',
        data:{
            loading:false,
            canLoad:'',
            article:{$list},
            park_id:{$park_id}
        },
        created(){
            console.log(this.canLoad)
            if(this.article.length<6){
                this.canLoad=false

            }else{
                this.canLoad=true
            }
            console.log(this.canLoad)
        },
        methods:{
            loadMore(){
                if((!this.loading) && this.canLoad ){
                    this.loading = true;
                    this.$http.post('/index/partymanage/getMoreList',{park_id:this.park_id,length:this.article.length}).then(function (res) {
                        if(res.data.code!=0){
                            for(var i=0;i<res.data.data.length;i++){
                                this.article.push(res.data.data[i])
                            }
                            this.loading = false;
                        }else{
                            this.loading = false;
                            this.canLoad=false;
                        }
                    },function (res) {
                        this.loading = false;

                    })
                    this.loading = false;
                }
            },
        }
    })
</script>
{/block}
