{extend name="public/common"}

{block name="style"}
<title>园区管理</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>

</style>
{/block}

{block name="body"}
<div id="app" class="content">
    <div class="list-card">
        <div class="list-card-info">
            招商合同
        </div>
    </div>
    <div class="list-card">
        <div class="list-card-info">
            消防同意书
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var vm = new Vue({
        el:'#app',
        data:{

        },
        methods:{

        }
    })
</script>
{/block}