{extend name="public/common"}

{block name="style"}
<title>园区企业</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>

</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="list-card">
        <div class="list-card-info">
            <h3 class="info-tit">公司详情</h3>
            <p class="info-label">公司信息尽在掌握</p>
            <span class="info-line"></span>
        </div>
        <div class="list-card-img"></div>
    </div>
    <div class="list-card">
        <div class="list-card-img"></div>
        <div class="list-card-info right">
            <h3 class="info-tit">服务合同</h3>
            <p class="info-label">合同情况一目了然</p>
            <span class="info-line"></span>
        </div>
    </div>
    <div class="list-card">
        <div class="list-card-info">
            <h3 class="info-tit">缴费记录</h3>
            <p class="info-label">物业缴费一览无遗</p>
            <span class="info-line"></span>
        </div>
        <div class="list-card-img"></div>
    </div>
    <div class="list-card">
        <div class="list-card-img"></div>
        <div class="list-card-info right">
            <h3 class="info-tit">招商记录</h3>
            <p class="info-label">招商进度实时更新</p>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">


</script>
{/block}
