{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<style>
    .main{
        padding-top:1.33vw;
    }
    .list{
        padding:3.2vw;
    }
    .list>li:not(:last-child){
        border-bottom: 1px solid #f1f1f1;
    }
    .list>li{
        padding:1.2rem 3.2vw 1.2rem 3.2vw;
        display: flex;
        font-size: 1.5rem;

    }
    .list>li:after{
        display: table;
        content: '';
        clear: both;
    }
    .list>li>div:first-child{
        width:35%;
    }
    .list>li>div:last-child{
        width:63%;
        word-wrap: break-word;
    }
    .img-list{
        display: block!important;
    }
    .imgBox{
        width:100% !important;
        margin-top: 1.2rem;
    }
    .card-upload{
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }
    .card-upload>div:not(:last-child){
        margin-right: 1rem;
    }
    .upload-img{
        border:1px solid #e8e8e8;
        border-radius: 5px;
        width: 20vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .upload-img img{
        border-radius: 5px;
    }
    .img-responsive{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        display: block;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="main">
        <ul class="list">
            <li class="must">
                <div><span>招商人员：</span></div>
                <div>{{info.merchants_user}}</div>
            </li>
            <li class="must">
                <div><span>招商日期：</span></div>
                <div>{{info.merchants_date}}</div>
            </li>
            <li class="must">
                <div><span>招商企业：</span></div>
                <div>{{info.company_name}}</div>
            </li>
            <li class="must">
                <div><span>招商地点：</span></div>
                <div>{{info.merchants_place}}</div>
            </li>
            <li class="must">
                <div><span>联系人姓名：</span></div>
                <div class="openning_hours">{{info.contact_people}}</div>
            </li>
            <li class="must">
                <div><span>联系人电话：</span></div>
                <div>
                   {{info.mobile}}
                </div>
            </li>
            <li class="must">
                <div><span>招商进度：</span></div>
                <div>
                    <span v-if="info.status==1">招商中</span>
                    <span v-else>已完成</span>
                </div>
            </li>
            <li class="must">
                <div><span>完成招商面积：</span></div>
                <div>{{info.merchants_area}}</div>
            </li>
            <li class="must">
                <div><span>完成回款数量：</span></div>
                <div>{{info.merchants_money}}</div>
            </li>
            <li class="must">
                <div><span>跟进情况：</span></div>
                <div>{{info.content}}</div>
            </li>
            <li class="img-list">
                <div><span>图片描述：</span></div>
                <div class="imgBox">
                    <div class="card-upload" id="img">
                        <div class="upload-img"  v-for="item in info.img">
                            <img :src="item" class="img-responsive">
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
{/block}

{block name="script"}
<script src="/static/viewer/viewer.min.js"></script>
<script>
var app = new Vue({
    el:'#app',
    mounted(){
            var viewer = new Viewer(document.getElementById('img'),{
                toolbar:2,
                title:2,
            });
        console.log(viewer)
    },
    data:{
        info:{$info}
    },
    methods:{
        
    }
})
</script>
{/block}