{extend name="public/common"}

{block name="style"}
<title>个人统计</title>
<style>
    *{
        color: #333;
        box-sizing: border-box;
    }


    .my-tabs{
        display: -webkit-flex;
        display: flex;
        background: #fff;
        border:1px solid #69B9F9;
        color: #69B9F9;
        border-radius: 5px;
        overflow: hidden;
    }
    .my-tabs1{
        width:8rem;
        height:3rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .my-tabs>li{
        width:50%;
        height:100%;
        text-align: center;
    }
    .my-tabs>li:not(:last-child){
        border-right: 1px solid #69B9F9;
    }
    .my-tabs>li.my-active{
        background-color: #69B9F9;
        color: #ffffff;
    }
    .my-pack{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;

    }
    select{
        background-color: #fff;
        color: #666;
        height: 2.5rem;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #e5e5e5;
        outline: none;
    }

    .my-chart{
        display: block;margin:0 auto;
    }
    .my-box>li{
        border-bottom: 5px solid #f1f1f1;
    }
    .my-box>li>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 2;
        color: #333;
    }
    .my-box>.my-charts{
        padding-top: 1.2rem;
        padding-bottom:1rem;

    }
    .my-charts-title{
        display: -webkit-flex;
        padding:0 1.2rem;
        font-size: 1.5rem;
        line-height: 2;
    }


    /*my-log*/
    .my-log-title{
        padding:0 4vw;
        font-size: 1.5rem;
        font-weight:bold;
        line-height: 2.5;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f1f1f1;
    }
    .my-log li{
        padding:1.2rem 4vw;
        border-bottom: 1px solid #f1f1f1;
        display: -webkit-flex;
        display: flex;
    }

    .my-log  .my-icon{
        height:2.2rem;
        width:2.2rem;
        background: url('') no-repeat center center;
        background-size: cover;
        margin-right: 3.2vw;
    }
    .my-log  .my-icon-suc{
        background-image: url('/index/images/partymanage/suc.png');
    }
    .my-log .my-icon-ing{
        background-image: url('/index/images/partymanage/ing.png');
    }
    .my-log .my-icon-err{
        background-image: url('/index/images/partymanage/err.png');
    }
    .my-log .my-list{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .my-log .my-list>div:first-child{
        color: #333;
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 0.4rem;
    }
    .my-log .my-list>div:first-child>span:first-child{
        margin-right: 1.5rem;
    }
    .my-log .my-list>div:last-child{
        font-size: 1.2rem;
        color: #999;
    }
    .no-log{
        line-height: 3rem;
        font-size: 1.3rem;
        color: #999;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="my-pack">
        <ul class="my-tabs my-tabs1">
            <li :class="{'my-active':active==1}" @click="active = 1;timeChange()">年</li>
            <li :class="{'my-active':active==2}" @click="active = 2;timeChange()">月</li>
        </ul>
        <select name="" v-model="yearSelected" @change="timeChange" v-if="active == 1">
            <option :value="key" v-for="(item,key) in year" >
                {{item}}年
            </option>
        </select>
        <select name="" v-model="monthSelected" @change="timeChange" v-if="active == 2">
            <option :value="key" v-for="(item,key) in month" >
                {{item.year}}年{{item.month}}月
            </option>
        </select>
    </div>
    <ul class="my-box">
        <li class="my-charts">
            <div class="my-charts-title"><span>招商日志填报情况</span></div>
            <canvas id="c1" width="300" height="200" class="my-chart"></canvas>
            <p>应记录：<span>{{personalInfo.total}}</span>天</p>
            <p>实际记录：<span>{{personalInfo.dairy_num}}</span>天</p>
        </li>
        <li class="my-charts">
            <div class="my-charts-title"><span>招商面积完成情况</span></div>
            <canvas id="c2" width="300" height="200" class="my-chart"></canvas>
            <p>计划完成面积：<span>{{personalInfo.area}}</span>平米</p>
            <p>实际完成面积：<span>{{personalInfo.finish_area}}</span>平米</p>
        </li>
        <li class="my-charts">
            <div class="my-charts-title"><span>招商回款情况</span></div>
            <canvas id="c3" width="300" height="200" class="my-chart"></canvas>
            <p>计划完成金额：<span>{{personalInfo.price}}</span>万元</p>
            <p>实际完成金额：<span>{{personalInfo.finish_price}}</span>万元</p>
        </li>
        <li>
            <div class="my-log-title">日志记录</div>
            <ul class="my-log">
                <li v-if="personalInfo.records.length==0" class="no-log">暂无日志</li>
                <li v-for="item in personalInfo.records" >
                    <span class="my-icon " :class="{'my-icon-ing':item.status==1,'my-icon-suc':item.status==2}"></span>
                    <div class="my-list">
                        <div><span>工作日志</span><span>{{item.merchants_place}}</span></div>
                        <div><span>创建日期：</span><span>{{item.create_time | timeToString}}</span></div>
                    </div>
                </li>
            </ul>
        </li>
        <li v-if="isBoss=='yes'">
            <div class="my-log-title">工作日志</div>
            <ul class="my-log">
                <li v-if="personalInfo.diary.length==0" class="no-log">暂无日志</li>
                <li v-for="item in personalInfo.diary" @click="window.location.href='/index/partymanage/diaryInfo?id='+item.id+'&user_id='+item.user_id">
                    <span class="my-icon my-icon-suc"></span>
                    <div class="my-list">
                        <div><span>工作日志</span><span>{{item.name}}</span></div>
                        <div><span>创建日期：</span><span>{{item.create_time}}</span></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

</div>
{/block}

{block name="script"}
<script>
   function drawRoundRect(cxt, x, y, width, height, radius){
        cxt.beginPath();
        cxt.arc(x + radius, y + radius, radius, Math.PI, Math.PI * 3 / 2);
        cxt.lineTo(width - radius + x, y);
        cxt.arc(width - radius + x, radius + y, radius, Math.PI * 3 / 2, Math.PI * 2);
        cxt.lineTo(width + x, height + y - radius);
        cxt.arc(width - radius + x, height - radius + y, radius, 0, Math.PI * 1 / 2);
        cxt.lineTo(radius + x, height +y);
        cxt.arc(radius + x, height - radius + y, radius, Math.PI * 1 / 2, Math.PI);
        cxt.closePath();
    }
   Vue.filter('timeToString', function(time) {
       if(time){
           var newTime = new Date(time*1000);
           var m = newTime.getMonth()+1,
                   dt=newTime.getDate(),
                   y=newTime.getFullYear();
           if(dt<10){
               dt='0'+dt;
           }
           if(m<10){
               m='0'+m;
           }
           return y+'-'+m+'-'+dt
       }
   });
var app = new Vue({
    el:'#app',
    data:{
        startTime:1483200000000,
        active:2,
        yearSelected:0,
        monthSelected:0,
        personalInfo:{$personalinfo},
        isBoss:'{$is_boss}'
    },
    computed:{
        year(){
            var year=[];
            var nowY=new Date().getFullYear(),startY=new Date(this.startTime).getFullYear();
            for(var i=nowY;i>=startY;i--){
                year.push(i)
                console.log(i)
            }
            return year
        },
        month(){
            var month=[];
            var end=new Date();
            var start=new Date(this.startTime)
            var endY=end.getFullYear(),
                    endM=end.getMonth()+1,
                    startY=start.getFullYear(),
                    startM=start.getMonth()+1;
                if(endY==startY){
                    for(var o = endM-1; o >= startM;o--){
                        var date={year:startY,month:o}
                        month.push(date)
                    }
                }else if(endY>startY){
                    for(var i=endY;i>=startY;i--){
                        if(i==startY){
                            for(var o=12;o>=startM;o--){
                                var date={year:startY,month:o}
                                month.push(date)
                            }
                        }else if(i==endY){
                            for(var o=endM-1;o>=1;o--){
                                var date={year:endY,month:o}
                                month.push(date)
                            }
                        }else{
                            for(var o=12;o>=1;o--){
                                var date={year:i,month:o}
                                month.push(date)
                            }
                        }
                    }
                }
            return month
        }
    },
    mounted(){
        var info=this.personalInfo;
        var log=parseInt(info.dairy_num / info.total),
                area=parseInt(info.finish_area / info.area),
                price=parseInt(info.finish_price / info.price);
            log=isNaN(log)?0:log;
            area=isNaN(area)?0:area;
            price=isNaN(price)?0:price;
        this.drawCharts('c1',80,10,13,45,'日志完整性',log,'rgba(118,202,153,0.2)','rgba(118,202,153,1)');
        this.drawCharts('c2',80,10,13,45,'面积完成率',area,'rgba(128,206,205,0.2)','rgba(128,206,205,1)');
        this.drawCharts('c3',80,10,13,45,'回款完成率',price,'rgba(240,171,65,0.2)','rgba(240,171,65,1)');
    },
    methods:{
        timeChange(){
            console.log(this.yearSelected);
            if(this.active===1){
                console.log('this.yearSelected__'+this.yearSelected);

                var data=this.year[this.yearSelected]
            }else{
                console.log('this.monthSelected'+this.monthSelected);

                var data= this.month[this.monthSelected]

            }
            console.log(data);
            this.$indicator.open({
                text: '加载中...',
                spinnerType: 'fading-circle'
            });
            this.$http.post('/index/partymanage/statisticsInfo',data).then(function (res) {
                if(res.data.code==1){
                    this.personalInfo=res.data.data;
                    var info=this.personalInfo;
                    var log=parseInt(info.dairy_num / info.total),
                            area=parseInt(info.finish_area / info.area),
                            price=parseInt(info.finish_price / info.price);
                    log=isNaN(log)?0:log;
                    area=isNaN(area)?0:area;
                    price=isNaN(price)?0:price;
                    this.drawCharts('c1',80,10,13,45,'日志完整性',log,'rgba(118,202,153,0.2)','rgba(118,202,153,1)');
                    this.drawCharts('c2',80,10,13,45,'面积完成率',area,'rgba(128,206,205,0.2)','rgba(128,206,205,1)');
                    this.drawCharts('c3',80,10,13,45,'回款完成率',price,'rgba(240,171,65,0.2)','rgba(240,171,65,1)');
                }else{
                    this.$toast('请其失败，请重试')
                }
                this.$indicator.close()
            },function (res) {
                this.$indicator.close()
                this.$toast('请其失败，请重试')
            })
        },
         drawCharts(id,r,borderW,fontSize1,fontSize2,text,value,color,color2){
            var el=document.getElementById(id);
            var ctx = el.getContext('2d');
            var elW=el.width,
                    elH=el.height;
            //绘制可以前进的圆拱进度条
            var startAngle = -225; //圆拱的起始角度
            var endAngle = -225;  //圆拱的终点角度
            var centerX=elW/2,centerY=elH/2,r=r,borderW=borderW,color=color,color2=color2,bgColor='#fff',fontSize1=fontSize1
            //清除画布中已有内容
            ctx.clearRect(0,0,elW,elH);
            var timer = setInterval(function(){
                //清除画布中已有内容
                ctx.clearRect(0,0,elW,elH);

                //重新绘制底盘圆圈
                ctx.beginPath();
                ctx.arc(centerX,centerY, r, 0, 2*Math.PI);
                ctx.lineWidth = borderW;
                ctx.strokeStyle = color;
                ctx.stroke();

                //重新绘制下部90度圆
                ctx.beginPath();
                ctx.arc(centerX,centerY, r, -316*Math.PI/180, -225*Math.PI/180);
                ctx.lineWidth = borderW+1;
                ctx.strokeStyle = bgColor;
                ctx.stroke();
                if(endAngle>-316 && endAngle < 45 ){
                    //绘制进度条圆圈 —— 开始新路径
                    ctx.beginPath();
                    ctx.arc(centerX,centerY,r,startAngle*Math.PI/180,endAngle*Math.PI/180);
                    ctx.strokeStyle = color2;
                    ctx.stroke();
                }else{
                    //绘制进度条圆圈 —— 开始新路径
                    ctx.beginPath();
                    ctx.arc(centerX,centerY,r,startAngle*Math.PI/180,45*Math.PI/180);
                    ctx.strokeStyle = color2;
                    ctx.stroke();
                }
                endAngle += 1;

                //绘制底部标题背景
                var x1=Math.sin(45)*(r),y1=Math.cos(45)*(r+15);
                drawRoundRect(ctx,centerX-x1+fontSize1*2,centerY+y1+3,2*x1-fontSize1*4,fontSize1+10,(fontSize1+10)/2);
                ctx.fillStyle = color2;
                ctx.fill();

                //绘制指示性（xx%）文字
                var val= Math.floor((endAngle-startAngle)*100/270*10)/10 ;

                //绘制标题文字
                ctx.fillStyle = '#fff';
                var title = text;
                ctx.font = fontSize1+'px SimSong';
                ctx.textBaseline = 'top';
                var titleWidth = ctx.measureText(title).width;
                ctx.fillText(title, centerX-titleWidth/2, centerY+Math.cos(45)*r+fontSize1);
                if(val>=value){
                    var txt =value + '%';
                    ctx.fillStyle = color2;
                    ctx.font = fontSize2+'px SimHei';
                    ctx.textBaseline = 'top';
                    var txtWidth = ctx.measureText(txt).width;
                    ctx.fillText(txt, centerX-txtWidth/2, centerY-fontSize2/2);
                    clearInterval(timer)
                }else{
                    var txt =val + '%';
                    ctx.fillStyle = color2;
                    ctx.font = fontSize2+'px SimHei';
                    ctx.textBaseline = 'top';
                    var txtWidth = ctx.measureText(txt).width;
                    ctx.fillText(txt, centerX-txtWidth/2, centerY-fontSize2/2);
                }
            },1);
        }
    }
})
</script>
{/block}