{extend name="public/common"}

{block name="style"}
<title>园区概览</title>
<link rel="stylesheet" href="/index/css/personal/message.css">
<link rel="stylesheet" href="/index/css/partymanage/statistics.css">
<style>

</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="my-tabs my-tabs1">
        <li :class="{'my-active':active=='tab-container1'}" @click="active = 'tab-container1'">园区统计</li>
        <li :class="{'my-active':active=='tab-container2'}" @click="active = 'tab-container2'">园区列表</li>
    </ul>
    <mt-tab-container v-model="active">
        <mt-tab-container-item id="tab-container1">
            <div class="my-box">
                <div class="my-title">园区基本信息统计</div>
                <!--<ul class="my-tabs my-tabs2">-->
                    <!--<li :class="{'my-active':active1=='1'}">月</li>-->
                    <!--<li :class="{'my-active':active1=='2'}">季</li>-->
                    <!--<li :class="{'my-active':active1=='3'}">年</li>-->
                <!--</ul>-->
                <!--<div  style="clear:both"></div>-->
                <div id="area" class="my-charts" style="margin-bottom: 20px"></div>

            </div>
            <div class="my-box">
                <div class="my-title">园区企业面积统计</div>
                <div id="scale" class="my-charts"></div>
            </div>
            <div class="my-box">
                <div class="my-title">园区企业类型统计</div>
                <div id="types" class="my-charts" ></div>
            </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="tab-container2">
            <ul class="msg-lists">
                <li v-for="item in list">
                    <div :style="'background-image: url('+item.images+')'" class="msg-img" v-if="item.images != null"></div>
                        <div style="backgroundImage:url('/index/images/index/icon-no.png')" class="msg-img"  v-else></div>
                    <div class="msg-text">
                        <div class="msg-title"><span class="msg-title-text">{{item.name}}</span></div>
                        <div class="msg-info">{{item.address ? item.address : '地址暂无'}}</div>
                    </div>
                    <a :href="'/index/partymanage/companyFloor'"></a>
                </li>
            </ul>
        </mt-tab-container-item>
    </mt-tab-container>
</div>
{/block}

{block name="script"}
<script src="/static/echarts/echarts.min.1.js"></script>
<script>
var app = new Vue({
    el:'#app',
    data:{
        active:'tab-container1',
        nowPark:0,
        res:JSON.parse('{$res}'),
        list:{$list}
    },
    computed:{

        area(){
            var res=this.res,i=this.nowPark;
            return{
                id:'area',
                title:res.area_total+'㎡',
                label: '{c|{c}}㎡\n{d|{d}%}',
                color:['#57cc98','#ffa71a'],
                legend:['已租面积','空置面积'],
                data:[
                    {value:res.area_use, name:'已租面积'},
                    {value:res.area_other, name:'空置面积'}
                ]
            }
        },
        scale(){
            var i=this.nowPark,res=this.res;
            return{
                id:'scale',
                unit:'',
                title:res.scale_one+res.scale_two+res.scale_three+'家',
                label: '{c|{c}家}\n{d|{d}%}',
                color:['#57cc98','#ffa71a','#4cd5d1'],
                legend:['100平米以下','100-300平米','300-600平米'],
                data:[
                    {value:res.scale_one, name:'100平米以下'},
                    {value:res.scale_two, name:'100-300平米'},
                    {value:res.scale_three, name:'300-600平米'}
                ]
            }
        },
        types(){
            var i=this.nowPark,res=this.res;
            return {
                id:'types',
                title:res.type_one+res.type_two+res.type_three+'家',
                label: '{c|{c}家}\n{d|{d}%}',
                color:['#57cc98','#ffa71a','#4cd5d1'],
                legend:['生活配套类','科技创新类','中介服务类'],
                data:[
                    {value:res.type_one, name:'生活配套类'},
                    {value:res.type_two, name:'科技创新类'},
                    {value:res.type_three, name:'中介服务类'},
                ]
            }
        }
    },
    mounted(){
        console.log(this.res)
        this.drawPie(this.area);
        this.drawPie(this.scale);
        this.drawPie(this.types)
    },
    methods:{
        //园区选择
        parkChange(){
            this.drawPie(this.area);
            this.drawPie(this.types);
            this.drawPie(this.scale);
        },
        //饼图
        drawPie(data){
            var itemStyle = {
                normal: {
                    borderWidth: 3,
                    borderColor: '#fff'
                }
            };
            var myChart = echarts.init(document.getElementById(data.id));
            var option = {
                title:{
                    show:true,
                    text: data.title,
                    subtext: data.subtext,
                    textStyle:{
                        fontSize:14,
                        color:'#999',
                    },
                    subtextStyle:{
                        color:'#999',
                        align:'center'
                    },
                    left: 'center',
                    top:'92'
                },
                legend: {
                    orient: 'horizontal',
                    left:'center',
                    bottom:0,
                    data:data.legend
                },
                color:data.color,
                calculable: true,
                series: [
                    {
                        name:'园区面积',
                        type:'pie',
                        radius: ['45', '70'],
                        center:['50%',100],
                        avoidLabelOverlap: false,
                        hoverAnimation:false,//取消hover动画
                        label: {
                            normal: {
                                show: true,
                                formatter: data.label,
                                rich:{
                                    d:{
                                        align:'center',
                                        padding:2,
                                        color:'#999'

                                    },
                                    c:{
                                        align:'center',
                                        padding:[2,0],
                                    }
                                }
                            },
                            emphasis: {
                                show: true,
                            }
                        },
                        labelLine: {
                            normal: {
                                show: true,
                                length:15,
                                length2:5
                            }
                        },
                        data:data.data,
                        itemStyle: itemStyle
                    }
                ]
            };
            myChart.setOption(option);
        }
    }
})

</script>
{/block}