{extend name="public/common"}

{block name="style"}
<title>智新泽地</title>
<style>
    body{
        background: #fff;
        text-align: center;
    }
.codeword{
    text-align: center;
    margin-top: 86px;
}
/*.codeword img{*/
    /*width:17px;*/
    /*height:20px;*/
/*}*/
/*.codeword span{*/
    /*font-size: 1.5rem;*/
    /*color: #333;*/
/*}*/
    /*#qrcode{*/
        /*position: absolute;*/
        /*left:50%;*/
        /*margin-left: -129px;*/
        /*margin-top: 80px;*/
    /*}*/
    .my-text{
        display: inline-block;
        margin-top: 32vw;
        margin-bottom: 10.6vw;
        font-size: 15px;
        color: #333;
        padding-left: 30px;
        background: url("/index/images/index/touch.png") left no-repeat;
        background-size: contain;
    }
    img{
        width:66vw;
    }
</style>
{/block}

{block name="body"}
<div class="my-text">长按下方二维码进入企业号</div>
<div class="my-content">
    <img src="/index/images/index/code.png" alt="">
</div>
{/block}
{block name="script"}
<script src="/index/js/jquery-1.12.1.min.js"></script>
<script src="/index/js/jquery.qrcode.min.js"></script>
<script>

</script>
{/block}