{extend name="public/common"}

{block name="style"}
<title>智新泽地</title>
<style>
    body{
        background: #fff;
        text-align: center;
    }
    .my-text{
        display: inline-block;
        margin-top: 6rem;
        margin-bottom: 1rem;
        font-size: 15px;
        color: #333;
        padding-left: 30px;
        background: url("/index/images/index/touch.png") left no-repeat;
        background-size: contain;
    }
    img{
        display: block;
        margin: auto;
        width:66vw;
    }
    .my-content{
        width:100%;
        text-align: center;
        color: #333;
        font-size: 15px;
        position: absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
</style>
{/block}

{block name="body"}
<div class="my-content">
    <img src="/index/images/index/code.png" alt="">
    <div class="my-text">长按上方二维码关注企业号</div>
    <div>关注后可在通讯录-企业号列表中进入企业号</div>
</div>
{/block}
{block name="script"}
<script src="/index/js/jquery-1.12.1.min.js"></script>
<script src="/index/js/jquery.qrcode.min.js"></script>
<script>

</script>
{/block}