{extend name="public/common"}

{block name="style"}
<title>用户注册</title>
<style>
    input{
        border: none!important;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #999;
        font-size: 1.4rem;
    }
    *{
        box-sizing: border-box;
    }
    body{
        background-color: #F1F1F1;
        padding:3.73333333vw;
        height:100vh;
        min-height: 100vh;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #reigster{
        height: 100%;
        background: #ffffff;
        border-radius: 5px;
        padding:3.2vw;
        box-shadow: 0px 0px 6px 0 rgba(0,0,0,.2);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /*logo图片*/
    .mui-table-logo{
        text-align: center;
        margin: 10vw auto 0;
    }
    .mui-table-logo>p{
        padding-top: 10px;
        font-size: 2rem;
    }
    .mui-table-logo img{
        width:13.5rem
    }

    /*注册窗口*/
    .mui-table-content{
        width:84.53vw;
        margin: 0 auto;
    }
    .mui-table-user,.mui-table-phone{
        height: 50px;
        font-size: 1.4rem;
    }
    .mui-table-user label,.mui-table-phone label{
        margin-right:4vw;
    }
    .mui-table-user input,.mui-table-phone input{
        display: inline-block;
        border-bottom: 1px solid #f00;
        height: 50px;
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    .mui-table-user:after,.mui-table-phone:after{
        display: block;
        content: "";
        height: 1px;
        width:84.53vw;
        background: #f1f1f1;
        position: relative;
        top: -4px;
    }
    .mui-table-park:before{
        position: absolute;
        display: block;
        content: "";
        height: 1px;
        width:84.53vw;
        background: #f1f1f1;
        left: 0;
        bottom: 0;
    }
    .mui-table-tip{
        font-size: 1.2rem;
        color: #999;
        margin-top: 15px;
        text-align: left;
    }
    /*选择性别*/
    .mui-table-radio{
        text-align: center;
        margin-top:42px ;
        margin-bottom: 45px;
    }
    .mui-table-radio span{
        margin:0 8vw;
        font-size: 1.4rem;
    }
    .nochecked,.checked,.checked2{
        display: inline-block;
        content: '';
        background: url("/index/images/index/noselect.png") left center no-repeat;
        height:18px;
        background-size: 15px 15px;
        position: relative;
        top:2px;
        padding-left: 20px;
    }
    .checked,.checked,.checked2{
        background: url("/index/images/index/select.png") left center no-repeat;
        background-size: 15px 15px;
    }
    .mui-table-register span{
        display: block;
        width:84.53vw;
        height:45px;
        background: #338cec;
        text-align: center;
        margin: 0 auto;
        line-height:45px;
        color: #fff;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .mui-table-park{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        height: 40px;
        padding-right: 25px;
        position: relative;
    }
    .mui-table-park:after{
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border: 1px solid #999;
        border-bottom-width: 0;
        border-left-width: 0;
        -webkit-transform:translateY(-50%) rotate(45deg);
        transform:translateY(-50%)   rotate(45deg);
        text-align: right;
        position: absolute;
        right: 10px;
        top: 50%;
    }
    .mui-table-park span:first-child{
        margin-right: 5vw;
    }
    .mint-popup, .picker-slot{
        width: 100%;
    }
    .mint-popup .picker-slot-wrapper, .page-popup .mint-popup .picker-item {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
</style>
{/block}

{block name="body"}
<div id="reigster">
    <div class="mui-table-logo">
        <img src="/index/images/index/logo.jpg">
        <p>智新泽地园区服务平台</p>
    </div>
    <div class="mui-table-content">
        <div class="mui-table-park" @click="showPopup">
            <span>园区：</span>
            <span v-html="checkPark.name"></span>
        </div>
        <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" value-key="name"></mt-picker>
        </mt-popup>
        <div class="mui-table-user">
            <label for="name">姓名：</label>
            <input type="text" placeholder="请输入姓名" ref="name" id="name">
        </div>
        <div class="mui-table-phone">
            <label for="phone">手机：</label>
            <input type="tel" placeholder="请输入手机号" ref="phone" id="phone">
        </div>
        <p class="mui-table-tip">注：请填入与该微信号绑定的手机号</p>
        <div class="mui-table-radio">
            <span @click="check(1)" :class="{checked:ischecked}" class="nochecked">男</span>
            <span @click="check(2)" :class="{checked2:ischecked2}" class="nochecked">女</span>
        </div>
    </div>
    <div class="mui-table-register"><span @click="register">注册</span></div>
</div>
{/block}
{block name="script"}
<script>
    var arr = [
        {
            departmentId:78,
            name: '希垦科技园区'
        },
        {
            departmentId:91,
            name:'人工智能产业园区'
        }
    ];
    var vm = new Vue({
        el: '#reigster',
        data: {
            apiRegister:"{:Url('Index/register')}",
            ischecked:true,
            ischecked2:false,
            gender:1,
            slots:[
                {
                    defaultIndex:1,
                    values:arr
                }
            ],
            defaultPark:arr[0],
            checkPark:arr[0],
            popupVisible:false
        },
        mounted: function() {
            var _this = this;
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
                }, 100);
            });
        },
        methods: {
            showPopup:function () {
                this.popupVisible = true;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                if(values[0]){
                    _this.defaultPark = values[0];
                }
            },
            selectPark:function () {
                var _this = this;
                _this.checkPark = _this.defaultPark;
                _this.popupVisible = false;
            },
            cancelPark:function () {
                var _this = this;
                _this.popupVisible = false;
            },
            check: function(e) {
                if(e==1){
                    this.ischecked = true;
                    this.ischecked2 = false;
                    this.gender=1;
                }
                if(e==2){
                    this.ischecked2 = true;
                    this.ischecked = false;
                    this.gender=2;
                }
            },
            register: function() {
                if(!this.$refs.name.value){
                    swal({
                        title: "",
                        text: "姓名不能为空",
                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                if(!this.$refs.phone.value){
                    swal({
                        title: "",
                        text: "手机号不能为空",

                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                if(!(/^1[34578]\d{9}$/.test(this.$refs.phone.value))){
                    swal({
                        title: "",
                        text: "请输入正确的手机号",
                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                var data={name:this.$refs.name.value,mobile:this.$refs.phone.value,gender:this.gender,departmentId:this.checkPark.departmentId};
                this.$http.post(this.apiRegister,data,{emulateJSON: true})
                        .then(function(response) {
                            if(response.data.code==1){
                                swal({
                                    title: "",
                                    text: response.data.msg,
                                    confirmButtonColor: "#338cec",
                                    confirmButtonText: "确定"
                                },function(isConfirm){
                                    if(isConfirm){
                                    window.location.href="code.html"
                                    }
                                })
                            }else{
                                swal({
                                    title: "",
                                    text: response.data.msg,
                                    type: "error",
                                    confirmButtonColor: "#338cec",
                                    confirmButtonText: "确定"
                                });
                            }
                        })
            }
        }
    });
</script>
{/block}