{extend name="public/common"}

{block name="style"}
<title>用户注册</title>
<style>
    input{border:none!important}
    ::-webkit-input-placeholder{color:#999;font-size:1.4rem}
    *{box-sizing:border-box}
    label{position:relative}
    body{background-color:#F1F1F1;padding:3.73333333vw;min-height:100vh;display:-webkit-flex;display:flex;flex-direction:column;justify-content:center}
    #reigster{background:#fff;border-radius:5px;padding:0 3.2vw 3rem;box-shadow:0 0 6px 0 rgba(0,0,0,.2)}
    .mui-table-logo{text-align:center;margin:1rem auto 0}
    .mui-table-logo>p{padding:0 0 2rem;font-size:2rem}
    .mui-table-logo img{width:13.5rem}
    .mui-table-content{width:84.53vw;margin:10px auto 10px}
    .mui-table-phone,.mui-table-user{height:50px;font-size:1.4rem}
    .mui-table-phone label,.mui-table-user label{margin-right:4vw}
    .mui-table-phone input,.mui-table-user input{display:inline-block;border-bottom:1px solid red;height:50px;margin-bottom:0;font-size:1.4rem}
    .mui-table-phone:after,.mui-table-user:after{display:block;content:"";height:1px;width:84.53vw;background:#f1f1f1;position:relative;top:-4px}
    .mui-table-park:before{position:absolute;display:block;content:"";height:1px;width:84.53vw;background:#f1f1f1;left:0;bottom:0}
    .mui-table-tip{font-size:1.2rem;color:#999;margin-top:15px;text-align:left}
    .mui-table-radio{text-align:center;margin-top:30px;margin-bottom:30px}
    .mui-table-radio span{margin:0 8vw;font-size:1.4rem}
    .checked,.checked2,.nochecked{display:inline-block;content:'';background:url(/index/images/index/noselect.png) left center no-repeat;height:18px;background-size:15px 15px;position:relative;top:2px;padding-left:20px}
    .checked,.checked2{background:url(/index/images/index/select.png) left center no-repeat;background-size:15px 15px}
    .mui-table-register span{display:block;width:84.53vw;height:45px;background:#338cec;text-align:center;margin:0 auto;line-height:45px;color:#fff;font-size:1.5rem;border-radius:5px}
    .mui-table-park{display:flex;align-items:center;font-size:1.4rem;height:50px;padding-right:25px;position:relative}
    .mui-table-park span:first-child{margin-right:5vw}
    .mint-popup,.picker-slot{width:100%}
    .mint-popup .picker-slot-wrapper,.page-popup .mint-popup .picker-item{-webkit-backface-visibility:hidden;backface-visibility:hidden}
    .search_mark{position:fixed;top:0;left:0;bottom:0;right:0;z-index:10}
    .search_mark>.search_bg{position:absolute;top:0;left:0;bottom:0;right:0;z-index:15;background-color:rgba(0,0,0,.3)}
    .search_content{position:absolute;padding-bottom:3.2vw;top:5vh;left:5vw;background:#fff;z-index:20;border-radius:5px;overflow:hidden}
    .search_content_box{position:relative;width:90vw;overflow:hidden}
    .search{background:#f0eff5;padding:.8rem 2.133vw;border-bottom:1px solid #f0eff5;width:90vw;position:absolute;z-index:999}
    .search>.searchBox{border-radius:.3rem;height:3.2rem;background:#fff;text-align:center;overflow:hidden}
    .search>.unBtn{display:none}
    .search>.searchBox>.searchInput{display:none}
    .search>.searchBox>.searchText{display:inline-block;font-size:1.4rem;color:#999;padding-left:2rem;min-width:1px;line-height:3.2rem;height:3.2rem;background:url(/index/images/enterprise/search.png) 0 50% no-repeat;background-size:1.4rem 1.4rem}
    .search.isClick{background:#fff;border-bottom:1px solid #f1f1f1;display:flex;align-items:center;justify-content:space-between}
    .search.isClick>.searchBox{background:#f0eff5;padding-left:2.66vw;flex-grow:1;margin-right:2.66vw;display:flex;align-items:center}
    .search.isClick>.searchBox>.searchText{display:inline-block}
    .search.isClick>.searchBox>.searchText>.searchText_c{display:none}
    .search.isClick .searchInput{background:#f0eff5;display:inline-block;font-size:1.4rem;height:3.2rem;flex-grow:1}
    .search.isClick>.unBtn{display:block;padding:0;box-sizing:border-box;width:3.8rem;height:2.8rem;line-height:2.8rem;border-radius:5px;border:1px solid #5d9cec;color:#5d9cec;text-align:center;font-size:1.4rem}
    .searchList{min-height:100vh;width:100%;position:absolute;top:0;left:0}
    .company-list-box{height:70vh;padding:5.2rem 3.7vw .4rem 3.7vw;overflow:scroll;position:relative}
    .searchList.company-list{padding:0}
    .searchList.company-list>li{margin-bottom:0;border-bottom:1px solid #f1f1f1;font-size:1.4rem}
    .searchList{background-color:rgba(255,255,255,1)}
    .searchList>li:first-child{margin-top:4.8rem}
    .company-list{box-sizing:border-box;width:100%}
    .company-list>li{padding:.8rem 3.7333333vw;display:-webkit-flex;display:flex;align-items:center;background-color:#fff;font-size:1.4rem}
    .company-logo>img{text-align:center;line-height:59px;display:block;width:59px;height:59px;border-radius:3px}
    .company-list .company-logo{margin-right:1.4rem}
    .company-info>li{width:65vw;line-height:2;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
    .company-info>li:first-child{font-size:1.6rem;font-weight:700;color:#333}
    .company-info>li:last-child{font-size:1.2rem;color:#999}
    .hidden{display:none}
    .overflow{display:none}
    .color_h{color:#999}
    .my-must:before{content:'*';display:block;font-size:1.2rem;color:red;position:absolute;left:-.7rem;top:0}
    .search-mask-close{height:3.6rem;width:3.6rem;border-radius:50%;border:2px solid #fff;position:absolute;bottom:-6.6rem;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);z-index:101}
    .search-mask-close>span{display:block;width:2px;height:3.2rem;margin:-3.2rem auto 0;background-color:#fff}
    .search-mask-close:after,.search-mask-close:before{content:'';display:block;width:0;height:2rem;border-left:2px solid #fff;position:absolute;left:50%;top:50%}
    .search-mask-close:after{-webkit-transform:rotate(45deg) translate(-50%,-50%);-moz-transform:rotate(45deg) translate(-50%,-50%);-ms-transform:rotate(45deg) translate(-50%,-50%);-o-transform:rotate(45deg) translate(-50%,-50%);transform:translate(-50%,-50%) rotate(45deg)}
    .search-mask-close:before{-webkit-transform:rotate(-45deg) translate(-50%,-50%);-moz-transform:rotate(-45deg) translate(-50%,-50%);-ms-transform:rotate(-45deg) translate(-50%,-50%);-o-transform:rotate(-45deg) translate(-50%,-50%);transform:translate(-50%,-50%) rotate(-45deg)}
    .my-mask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999}
    .my-mask-back{position:absolute;top:0;right:0;bottom:0;left:0;z-index:996;background-color:rgba(0,0,0,.3)}
    .my-mask-content{width:79.2vw;background-color:#f9f9f9;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-60%);-moz-transform:translate(-50%,-60%);-ms-transform:translate(-50%,-60%);-o-transform:translate(-50%,-60%);transform:translate(-50%,-60%);transform:translate(-50%,-60%);z-index:999;border-radius:10px;overflow:hidden}
    .my-mask-content>h3{padding:1.7rem 0;margin:0;text-align:center;color:#333;font-size:1.8rem}
    .my-mask-input{padding:1.2rem 2rem}
    .my-mask-input>input{display:block;box-sizing:border-box;width:100%;height:3.5rem;padding:1.5rem .5rem;border:1px solid #dcdcdc!important;border-radius:5px;text-align:center;font-size:1.4rem}
    .my-mask-input>span{display:block;width:100%;text-align:center;color:#999;line-height:2rem;font-size:1.2rem}
    .my-phone-list>li{width:53vw;margin:0 auto;padding-bottom:2rem;color:#333;font-size:1.5rem}
    .my-radio+span{position:relative;line-height:1.5rem;padding-left:3rem}
    .my-radio+span>b{content:'';display:flex;box-sizing:border-box;height:1.5rem;width:1.5rem;border-radius:50%;border:1px solid #979797;position:absolute;left:0;justify-content:center;align-items:center}
    .my-radio+span>b:before{content:'';display:inline-block;box-sizing:border-box;height:1rem;width:1rem;border-radius:50%;border:1px solid #979797}
    .my-radio:checked+span>b{border-color:#1F85EB}
    .my-radio:checked+span>b:before{border:none;background-color:#1F85EB}
    .my-btn-group{display:-webkit-flex;display:flex;justify-content:center;align-items:center;border-top:1px solid #dcdcdc}
    .my-btn-group>li{height:4.8rem;line-height:4.8rem;font-size:1.8rem;color:#1F85EB;text-align:center;width:50%;box-sizing:border-box}
    .my-btn-group>li>a{display:block;height:100%;width:100%;color:#1F85EB}
    .my-btn-group>li:not(:last-child){border-right:1px solid #dcdcdc}

</style>
<script>

</script>
{/block}

{block name="body"}
<div id="reigster">
    <div class="mui-table-logo">
        <img src="/index/images/index/logo.jpg">
        <p>智新泽地园区服务平台</p>
    </div>
    <div class="mui-table-content">
        <div class="mui-table-park">
            <span>园区：</span>
            <!--<span v-html="checkedRoom.name"></span>-->
            <span>{{parkInfo.name}}</span>
        </div>
        <div class="mui-table-user">
            <label for="name" class="my-must">姓名：</label>
            <input type="text" placeholder="请输入姓名" ref="name" id="name">
        </div>
        <div class="mui-table-phone">
            <label for="phone" class="my-must">手机：</label>
            <input type="tel" placeholder="请输入手机号" ref="phone" id="phone">
        </div>
        <div class="mui-table-park"  @click="toggleMark"  v-if="this.parkInfo.park_id===80">
            <span>公司：</span>
            <span :class="{color_h:!checkedCompany}">{{checkedCompany?checkedCompany.name:'请选择公司'}}</span>
        </div>
        <div class="mui-table-park"  @click="togglePopup" v-if="parkInfo.park_id===80 && checkedCompany.id!==91">
            <span>房号：</span>
            <span :class="{color_h:!checkedCompany}">{{room?room:'请选择房号'}}</span>
        </div>
        <mt-popup  position="bottom"  v-model="roomVisible" class="mint-popup" >
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="togglePopup">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" value-key="name"></mt-picker>
        </mt-popup>
        <p class="mui-table-tip">注：请填入与该微信号绑定的手机号</p>
        <div class="mui-table-radio">
            <span @click="check(1)" :class="{checked:ischecked}" class="nochecked">男</span>
            <span @click="check(2)" :class="{checked2:ischecked2}" class="nochecked">女</span>
        </div>
    </div>
    <div class="mui-table-register"><span @click="register">注册</span></div>
    <div class="search_mark" v-show="isShowMark">
        <div class="search_bg"  @click="toggleMark"></div>
        <div class="search_content">
            <div class="search_content_box">
                <div class="search" :class="{isClick:inputStatus}" >
                    <div class="searchBox" @click="isClick">
                        <div class="searchText"><span class="searchText_c">请在此搜索企业</span></div>
                        <input type="text" v-model="inputValue" @input="toSearch" class="searchInput" placeholder="请输入企业名" v-focus="inputStatus">
                    </div>
                    <div class="unBtn" @click="isCancel">取消</div>
                </div>
                <div class="company-list-box">
                    <!--公司列表-->
                    <ul class="company-list" :class="{overflow:inputStatus}">
                        <li v-for="item in companyList" @click="checkCompany(item)">
                            {{item.name}}
                        </li>
                    </ul>
                    <!--搜索列表-->
                    <ul class="searchList company-list" :class="{bgWhite:inputValue}" v-if="inputStatus">
                        <li v-for="item in searchList" @click="checkCompany(item)">
                            <ul class="company-info">
                                {{item.name}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-mask-close" @click="toggleMark">
                <span></span>
            </div>
        </div>
    </div>
    <div class="my-mask" v-show="isShowCompanyMask">
        <div class="my-mask-back" @click="showCompanyMask()"></div>
        <div class="my-mask-content">
            <h3>企业验证码</h3>
            <div class="my-mask-input">
                <input type="tel" placeholder="请输入企业验证码" v-model="company_code" maxlength="6" v-focus="isShowCompanyMask">
                <!--<span class="noPower">提示:验证码限6位数字</span>-->
            </div>
            <ul class="my-btn-group">
                <li @click="showCompanyMask()">取消</li>
                <li @click="companySubmit()">确定</li>
            </ul>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        update: function (el,value) {
            // Focus the element
            if(value.value){
                el.focus()
            }
        }
    })
    var vm = new Vue({
        el: '#reigster',
        data: {
            apiRegister:"{:Url('Index/register')}",
            ischecked:true,
            ischecked2:false,
            gender:1,
            parkInfo:{$park},
            checkedCompany:'',
//            搜索框
            isShowMark:false,
            inputStatus:false,
            inputValue:'',
            companyList:{$department},
            searchList:[],
            //企业验证码
            isShowCompanyMask:false,
            company_code:'',
            isPass:false,
//            选折器
            room:'',
            checkedRoom:'',
            roomVisible:false,
            slots:[
                {
                    defaultIndex:1,
                    values:[]
                }
            ],

        },
        methods: {
//            搜索
            toggleMark(){
                var _this = this;
                _this.isShowMark=!_this.isShowMark;
                _this.isCancel()
            },
            checkCompany(item){
                var _this = this;
                _this.toggleMark()
                _this.checkedCompany=item;
//                非游客需要企业验证
                if(item.id!=78 && item.id!=91){
                    _this.isPass = false;
                    _this.showCompanyMask();
                }else{
                    _this.toggleMark()
                }
            },
            isClick:function () {
                this.inputStatus=true;
            },
            isCancel:function () {
                this.inputStatus=false;
                this.inputValue='',
                        this.searchList=[]
            },
            toSearch:function () {
                let reg=new RegExp(this.inputValue);
                this.searchList=[];
                if(!this.inputValue){
                    this.searchList=[];
                }else{
                    for(let i=0;i<this.companyList.length;i++){
                        if(reg.test(this.companyList[i].name)){
                            this.searchList.push(this.companyList[i])
                        }
                    }
                }
            },
            //验证码
            showCompanyMask(){
                var _this = this;
                if(_this.isShowCompanyMask && !_this.isPass){
                    _this.checkedCompany = '';
                    _this.slots[0].values = [];
                    _this.isShowCompanyMask = false;
                    _this.room = '';
                    _this.company_code = '';
                    return
                }
                _this.isShowCompanyMask=!_this.isShowCompanyMask
            },
            companySubmit(){
                var _this = this;
                if(!_this.company_code){
                    this.$toast({
                        message: '请输入企业验证码',
                        position: 'bottom',
                        duration: 2000
                    });
                    return
                }else if(isNaN(_this.company_code) || _this.company_code < 0 || _this.company_code.length < 6){
                    this.$toast({
                        message: '企业验证码为六位纯小数',
                        position: 'bottom',
                        duration: 2000
                    });
                    setTimeout(function () {
                        _this.company_code = ''
                    },1000)
                    return
                }
                var data = {
                    company_code:_this.company_code,
                    department:_this.checkedCompany.id
                };
                _this.postSubmit(data, '企业验证成功！',function () {
                    _this.isPass = true;
                    _this.slots[0].values=_this.checkedCompany.roomlist;
                    _this.room=_this.checkedCompany.roomlist[0];
//                    _this.toggleMark();
                    _this.showCompanyMask();
                });
            },
            postSubmit(data,successText,successFun,errorFun){
                var _this = this;
                if(_this.isSubmit){
                    swal({
                        title: '',
                        text: '提交中···',
                        type:'info',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定"
                    });
                    return ;
                }
                _this.isSubmit = true;
                _this.$http.post("/index/personal/verification",data).then(function (res) {
                    _this.isSubmit = false;
                    if(res.data.code===1){
                        swal({
                            title: '',
                            text: successText,
                            type:'success',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        },function () {
                            successFun()
                        });
                    }else{
                        swal({
                            title: '',
                            text: res.data.msg,
                            type:'error',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        });
                    }

                },function (res) {
                    _this.isSubmit = false;
                    swal({
                        title: '',
                        text: '请求失败，请重试！',
                        type:'error',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定"
                    });
                })
            },
//            选折器
            togglePopup(){
                if(!this.roomVisible){
                        if(!this.checkedCompany){
                            swal({
                                title: "",
                                text: "请先选择公司！",
                                type: "warning",
                                confirmButtonColor: "#338cec",
                            })
                        }else if(this.checkedCompany.roomlist.length==0){
                            swal({
                                title: "",
                                text: "该公司还未录入房间号！",
                                type: "warning",
                                confirmButtonColor: "#338cec",
                            })
                        }else{
                            this.roomVisible = !this.roomVisible ;
                        }
                }else{
                    this.roomVisible = !this.roomVisible ;
                }

            },
            selectPark:function () {
                this.togglePopup();
                this.room=this.checkedRoom;
            },
            onParkChange:function (p,v) {
                var _this = this;
                if(v[0]){
                    _this.checkedRoom = v[0];
                }
            },
            //性别
            check: function(e) {
                if(e==1){
                    this.ischecked = true;
                    this.ischecked2 = false;
                    this.gender=1;
                }
                if(e==2){
                    this.ischecked2 = true;
                    this.ischecked = false;
                    this.gender=2;
                }
            },
            register: function() {
                if(!this.$refs.name.value){
                    swal({
                        title: "",
                        text: "姓名不能为空",
                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                if(!this.$refs.phone.value){
                    swal({
                        title: "",
                        text: "手机号不能为空",

                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                if(!(/^1[34578]\d{9}$/.test(this.$refs.phone.value))){
                    swal({
                        title: "",
                        text: "请输入正确的手机号",
                        type: "error",
                        confirmButtonColor: "#338cec",
                        confirmButtonText: "确定",
                    });
                    return ;
                }
                var data={name:this.$refs.name.value,mobile:this.$refs.phone.value,gender:this.gender};
                if(this.parkInfo.park_id===80){
                    if(this.checkedCompany){
                        data.department=this.checkedCompany.id;
                        data.room=this.room
                    }else{
                        data.department=91;
                        data.room=''
                    }
                }else{
                    data.department=78;
                    data.room=''
                }
                this.$http.post(this.apiRegister,data,{emulateJSON: true})
                        .then(function(response) {
                            if(response.data.code==1){
                                swal({
                                    title: "",
                                    text: response.data.msg,
                                    confirmButtonColor: "#338cec",
                                    confirmButtonText: "确定"
                                },function(isConfirm){
                                    if(isConfirm){
                                    window.location.href="/index/index/code.html"
                                    }
                                })
                            }else{
                                swal({
                                    title: "",
                                    text: response.data.msg,
                                    type: "error",
                                    confirmButtonColor: "#338cec",
                                    confirmButtonText: "确定"
                                });
                            }
                        })
            }
        }
    });
</script>
{/block}