{extend name="public/common"}

{block name="style"}
<title>注册</title>
<style>
    body{
        background: #fff;
    }
    h1{
        margin-top: 3rem;
        text-align: center;
    }
    .code_box{
        position: relative;
        height:100vh;
    }
    .code_box:before{
        content: '';
        display: table;
        /*border-top: ;*/
    }
    img{
        position:absolute;
        top: 50%;
        left:50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width:22vw;
        display:block;
        /*border:4px solid #fff;*/
        border-radius: 5px;
    }
    #qrcode_xk,#qrcode_bj,.code_block{
        position:absolute;
        width:94vw;
        top: 50%;
        left:50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
    }

    .arrow {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        margin-left: -11px;
        border: 3px solid transparent;
        border-top: 3px solid #000;
        border-left: 3px solid #000;
        z-index: 99;
        opacity: .8;
        -webkit-transform: rotate(45deg);
        -webkit-animation: arrow 1.5s infinite ease-in-out;
    }

    @-webkit-keyframes arrow {
        0% {
            opacity:0;
            -webkit-transform:translate(0, 0px) rotate(45deg)
        }
        50% {
            opacity:1;
            -webkit-transform:translate(0, -5px) rotate(45deg)
        }
        100% {
            opacity:0;
            -webkit-transform:translate(0, -10px) rotate(45deg)
        }
    }

</style>
{/block}
{block name="body"}
<div class="code_box">
    <h1>希垦园区</h1>
    <div id="qrcode_xk" class="codeword code_block"></div>
    <img src="/index/images/index/logo.jpg" alt="">
    <div class="arrow"></div>

</div>
<div class="code_box">
    <h1>滨江园区</h1>
    <div id="qrcode_bj code_block"></div>
    <img src="/index/images/index/logo.jpg" alt="">
    <div class="arrow"></div>
</div>

<div class="code_box">
    <h1>溧阳android</h1>
    <div id="qrcode" class="code_block"></div>
    <!--<img src="/index/images/177920933277845603.png" alt="">-->
</div>
<div class="code_box">
    <h1>溧阳ios</h1>
    <div id="qrcode1" class="code_block"></div>
    <!--<img src="/index/images/177920933277845603.png" alt="">-->
</div>
{/block}
{block name="script"}
<script src="/static/js/jquery.qrcode.min.js"></script>
<script>
    jQuery('#qrcode_xk').qrcode({width: document.body.clientWidth-20,height: document.body.clientWidth-20,text: "http://xk.0519ztnet.com/"+"/index/index/register/park_id/3"});
    jQuery('#qrcode_bj').qrcode({width: document.body.clientWidth-20,height: document.body.clientWidth-20,text: "http://xk.0519ztnet.com/"+"/index/index/register/park_id/80"});
    jQuery('#qrcode').qrcode({width: document.body.clientWidth-20,height: document.body.clientWidth-20,text: "http://17111578779.share.sj.360.cn/qcms/view/t/detail?id=3631932"});
    jQuery('#qrcode1').qrcode({width: document.body.clientWidth-20,height: document.body.clientWidth-20,text: "https://itunes.apple.com/cn/app/%E8%87%AA%E5%9C%A8%E6%BA%A7%E9%98%B3/id1196104560?mt=8"});

    //    $('body').height(window.screen.availHeight);
//    $('#qrcode_xk').width(document.body.clientWidth-20);
</script>
{/block}