{extend name="base/common"}

{block name="style"}
<style>
    .payment-img img{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 200px;
    }
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class=" pull-right tooltip-demo">
                <a href="{:Url('index')}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>设备服务</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm m-l" onclick="delItem1('{:Url('moveToTrash')}')"><i class="fa fa-trash-o"></i></button>-->
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title text-center" name="dialog-title">查看凭证</h3>
                    </div>
                    <div class="modal-body">

                        <div class="form-group"><label class="col-sm-2 control-label">支付凭证</label>
                            <div class="col-sm-10 payment-img">

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" value="">
                    </div>

                </div>
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>创建时间</th>
                    <th>申请用户</th>
                    <th>联系电话</th>
                    <th>预约时间</th>
                    <th>总金额</th>
                    <th><select name="type" id="changeType" onchange="changeType()">
                        <option  value="-1" >全部状态</option>
                        <option value="0" {eq name="$checkType" value="0"}selected{/eq}>被取消</option>
                        <option value="2" {eq name="$checkType" value="2"}selected{/eq}>预约成功</option>
                    </select></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        {$vo.time|date="Y-m-d",###}
                    </td>
                    <td>
                        {$vo.user}
                    </td>
                    <td>
                        {$vo.mobile}
                    </td>
                    <td>
                        {$vo.day}
                    </td>
                    <td>
                        {$vo.price}
                    </td>
                    {eq  name="$vo.state" value="2"}
                    <td class="txt-success">{$vo.status}</td>
                    {else/}
                    <td class="txt-danger">{$vo.status}</td>
                    {/eq}
                    <td hidden id="payment_voucher">
                        {$vo.payment_voucher}
                    </td>
                    <td>
                        <a data-toggle="modal" title="查看凭证" href="#modal-form" onclick="showpayment(this)"
                           data-payment="{$vo.payment_voucher}" class="btn-sm btn-success" style="color: #fff">查看凭证</a>


                        {eq name="$vo.state" value="2"}

                        <a data-toggle="modal" href="#modal-form1" onclick="saveData(this)" data-time="{$vo.time}" data-type="{$vo.type}" data-day='{$vo.day}'
                           data-price="{$vo.price}" data-user="{$vo.userid}"  class="btn-sm btn-primary"
                           style="color: #fff">取消</a>
                         {else/}  <span class="btn-default2" >取消</span>
                        {/eq}
                        <a class="btn-sm btn-info" onclick="delItem('{$vo.id}','{:Url('moveToTrash')}')">删除</a>

                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$data->render()}</div>
        </div>
    </div>
    <div id="modal-form1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" method="post" action="update">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title text-center">取消服务</h3>
                    </div>
                    <div class="modal-body">
                        <p class="text-center zt-big-padding">是否确定取消服务？</p>

                        <div class="form-group"><label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10"><input type="text" name="check_remark"   class="form-control" placeholder="请填写备注信息，允许为空"></input></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-sm-12 text-center zt-flex zt-space-around">
                                <!--<input type="button"  class="form-control"    value="确认提交" onclick="changeStatus()" style="background-color: #1ab394;color: #fff;">-->
                                <a class="btn btn-primary " onclick="cancel()">确定</a>
                                <a class="btn btn-warning " data-dismiss="modal" >取消</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    var subData={};
    function showpayment(a) {
        var $this = $(a);
        console.log($this);
        var paymentHtml = $this.parent('td').prev().html();
        paymentHtml = JSON.parse(paymentHtml);
        $(".payment-img").html('');
        for (var i = 0, length = paymentHtml.length; i < length; i += 1) {
            var img = new Image();
            img.src = paymentHtml[i];
            $(".payment-img").append(img);
        }

        console.log(paymentHtml);
        $(".form-horizontal").attr('action', '{:Url("Appmanage/editApp")}');
    }
    function saveData(the){
        subData = {
            "type": $(the).attr('data-type'),
            "create_time": $(the).attr('data-time'),
            "user": $(the).attr('data-user'),
            "price": $(the).attr('data-price'),
            "day": $(the).attr('data-day'),
        }
    }
    function cancel(a) {
        subData.check_remark=$("input[name='check_remark']").val();
        $.ajax({
            data: subData,
            type: "POST",
            url: "{:Url('PublicArea/cancel')}",
            success: function (data) {
                if (data.code = 1) {
                    updateAlert(data.msg + ' 页面即将自动跳转~', 'success');
                    setTimeout(function () {
                        location.href = data.url;
                    }, 3000);
                } else {
                    updateAlert(data.msg, 'error');
                }
            }
        });
    }

    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged", function () {
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    function changeType(){
        var types = $('#changeType').val();
        location.href =  window.location.href+"/status_type/"+types+"";

    }
    highlight_subnav("{:Url('publicArea/index')}");
</script>
{/block}