{extend name="base/common"}

{block name="style"}
<style>
    .payment-img img{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 200px;
    }
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <h2>设备服务</h2>
            <a href="{:Url('index')}"   class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 返回</a>
        </div>
        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title text-center"  name="dialog-title">查看凭证</h3>
                        </div>
                        <div class="modal-body">

                            <div class="form-group"><label class="col-sm-2 control-label">支付凭证</label>
                                <div class="col-sm-10 payment-img">

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" value="">
                        </div>

                </div>
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>创建时间</th>
                    <th>申请用户</th>
                    <th>预约时间</th>
                    <th>总金额</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.time}">
                    </td>
                    <td class="mail-subject">
                        {$vo.time|date="Y-m-d",###}
                    </td>
                    <td>
                        {$vo.user}
                    </td>
                    <td>
                        {$vo.day}
                    </td>
                    <td>
                        {$vo.price}
                    </td>
                    <td>
                        {$vo.status}
                    </td>
                    <td  hidden id="payment_voucher">
                        {$vo.payment_voucher}
                    </td>
                    <td>
                        {eq name="$vo.state" value="2"}
                        <a  onclick="cancel(this)" data-time="{$vo.time}"  data-type="{$vo.type}" class="btn-sm btn-primary" style="color: #fff">取消</a>
                        <a data-toggle="modal" title="查看凭证" href="#modal-form" onclick="showpayment(this)" data-payment="{$vo.payment_voucher}" class="btn-sm btn-primary" style="color: #fff">查看凭证</a>
                        {/eq}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    function showpayment(a) {
        var $this = $(a);
        console.log($this);
        var paymentHtml  = $this.parent('td').prev().html();
        paymentHtml = JSON.parse(paymentHtml);
        $(".payment-img").html('');
        for(var i = 0,length = paymentHtml.length; i < length;i += 1){
            var img = new Image();
            img.src = paymentHtml[i];
            $(".payment-img").append(img);
        }

        console.log(paymentHtml);
        $(".form-horizontal").attr('action', '{:Url("Appmanage/editApp")}');
    }

    function cancel(a) {
      var data ={
         "type":$(a).attr('data-type'),
         "create_time" :$(a).attr('data-time')
      }
        $.ajax({
            data: data,
            type: "POST",
            url: "{:Url('PublicArea/cancel')}",
            success: function(data) {
                if(data.code=1){
                    updateAlert(data.msg+ ' 页面即将自动跳转~','success');
                    setTimeout(function(){
                        location.href=data.url;
                    },3000);
                }else {
                    updateAlert(data.msg,'error');
                }
            }

        });


    }

    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });

</script>
{/block}