{extend name="public/common"}

{block name="style"}
<title>工会联盟</title>
<link rel="stylesheet" href="/index/css/union/index.css">
{/block}


{block name="body"}
<div class="banner">
    <img src="/index/images/feedback/policy.jpg" alt="">
</div>
<div class="content">
    <ul>
        <li>
            <div class="list_img">
                <img src="/index/images/union/icon-tit-2.png" alt="">
                <a href="">
                    <img src="/index/images/union/icon-more-1.png" alt="更多">
                </a>
            </div>
            <a href="">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗我改，我改还不行吗,我改，我改还不行吗,</span>
            </a>
            <a href="">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <div class="list_img">
                <img src="/index/images/union/icon-tit-1.png" alt="">
                <a href="/index/Union/unionList">
                    <img src="/index/images/union/icon-more-3.png" alt="更多">
                </a>
            </div>
            <a href="">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗我改，我改还不行吗,我改，我改还不行吗,</span>
            </a>
            <a href="">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <div class="list_img">
                <img src="/index/images/union/icon-tit-3.png" alt="">
                <a href="">
                    <img src="/index/images/union/icon-more-2.png" alt="更多">
                </a>
            </div>
            <a href="/index/Union/loabourDetail">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗我改，我改还不行吗,我改，我改还不行吗,</span>
            </a>
            <a href="">
                <img src="" alt="" class="fl">
                <span class="limit fl">我改，我改还不行吗</span>
            </a>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script>

</script>
{/block}
