{extend name="public/common"}

{block name="style"}
<title>工会详情</title>
<link rel="stylesheet" href="/index/css/union/index.css">
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}


{block name="body"}
<div id="app">
    <div class="banner" >
        <img :src="data.front_cover">
    </div>
    <div class="table-view" >
        <div class="table-view-cell"><i class="icon icon-house"></i><span>工会名称：{{data.title}}</span></div>
        <div class="table-view-cell"><i class="icon icon-class"></i><span>工会类别：{{data.type}}</span></div>
        <div class="table-view-cell"><i class="icon icon-name"></i><span>联系人：{{data.contact}}</span></div>
        <div class="table-view-cell"><i class="icon icon-tel"></i><span>电话：{{data.mobile}}</span></div>
        <div class="table-view-cell"><i class="icon icon-time"></i><span>办公时间：{{data.office_time_start}}-{{data.office_time_end}}</span></div>
    </div>
</div>

{/block}

{block name="script"}
<script>
    console.log({$res});
    var vm = new Vue({
        el:'#app',
        data:{
            data:{$res}
        }
    })
</script>
{/block}
