{extend name="public/common"}

{block name="style"}
<title>工会详情</title>
<link rel="stylesheet" href="/index/css/union/index.css">
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}


{block name="body"}
<div class="banner" >
    <img src="/index/images/feedback/policy.jpg">
</div>
<div class="table-view" id="app">
    <div class="table-view-cell"><i class="icon icon-email"></i><span>工会名称：{{data.title}}</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>工会类别：{{data.type}}</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>联系人：{{data.contact}}</span></div>
    <div class="table-view-cell"><i class="icon icon-phone"></i><span>电话：{{data.mobile}}</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>办公时间：{{data.office_time_start}}-{{data.office_time_end}}</span></div>
</div>
{/block}

{block name="script"}
<script>
    console.log({$res});
    var vm = new Vue({
        el:'#app',
        data:{
            data:{$res}
        }
    })
</script>
{/block}
