{extend name="public/common"}

{block name="style"}
<title>工会详情</title>
<link rel="stylesheet" href="/index/css/union/index.css">
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}


{block name="body"}
<div class="banner" >
    <img src="/index/images/feedback/policy.jpg">
</div>
<div class="table-view">
    <div class="table-view-cell"><i class="icon icon-email"></i><span>工会名称：希恳工会</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>工会类别：职工工会</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>联系人：郑女士</span></div>
    <div class="table-view-cell"><i class="icon icon-phone"></i><span>电话：0571-88610333</span></div>
    <div class="table-view-cell"><i class="icon icon-email"></i><span>办公时间：503783395@qq.com</span></div>
</div>
{/block}

{block name="script"}

{/block}
