{extend name="public/common"}

{block name="style"}
<title>工会列表</title>
<link rel="stylesheet" href="/index/css/news/article.css">
{/block}


{block name="body"}
<div id="app">
    <div class="swiper-container" >
        <img src="/index/images/feedback/policy.jpg">
    </div>
    <div class="page">
        <div class="body">
            <ul
                v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-distance="6">
                <li  v-for="(item,index) in list">
                    <div class="content-box">
                        <p>{{item.title}}</p>
                        <span>{{item.create_time}}</span>
                        <span>{{item.views}}</span>
                    </div>
                </li>
            </ul>
            <div class="loading-more" v-show="loading">
                <mt-spinner :type="3" color="#999" ></mt-spinner>
                加载中...
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var list = {$list};
    console.log(list);
    var vm = new Vue({
        el:'#app',
        data:{
            list:list,
            loading:false
        },
        methods:{
            loadMore:function () {
                console.log("11");
                var _this = this,
                    list = _this.list,
                     length = list.length,
                     lastId =_this.list[length-1].id;
                _this.loading = true;
                _this.$http.get('{:Url("Union/unionList")}',{'lastId':lastId}).then(function (res) {
                    console.log(res.data);
                    _this.loadin = false;
                },function () {

                });

            }
        }
    })
</script>
{/block}
