{extend name="public/common"}
{block name="style"}
<title>通讯录</title>
<style>
body{
    background: #ffffff;
}
    .search{
        background: #f0eff5;
        padding:2.133vw 4vw;
        border-bottom: 1px solid #f0eff5;
    }
    .search>.searchBox{
        border-radius: 5px;
        height:7.466vw;
        background: #ffffff;
        text-align: center;

    }
.search>.unBtn{
    display: none;
}
.search>.searchBox>.searchInput{
    display: none;
}
.search>.searchBox>.searchText{
    display: inline-block;
    font-size:1.4rem;
    color: #999;
    padding-left:6.4vw;
    min-width: 1px;
    line-height: 7.46vw;
    height:7.46vw;
    background: url("/index/images/addressbook/search.png") 0 50% no-repeat;
    background-size: 4.8vw 4.8vw;
}
    .search.isClick{
        background: #ffffff;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
    }
.search.isClick>.searchBox{
    background: #f0eff5;
    padding-left: 2.66vw;
    width:74vw;
    display: flex;
    align-items: center;
}
.search.isClick>.searchBox>.searchText{
    display: inline-block;
}
.search.isClick>.searchBox>.searchText>.searchText_c{
    display: none;
}
.search.isClick .searchInput{
    background: #f0eff5;
    display: inline-block;
    height:6.4vw;
    width:61.33vw;
}
.search.isClick>.unBtn{
    margin-left: 5.33vw;
    display: block;
    box-sizing: border-box;
    width:13.33vw;
    height:7.46vw;
    border-radius: 5px;
    border:1px solid #5d9cec;
    color: #5d9cec;
    text-align: center;
    line-height: 6.93vw;
    font-size: 1.4rem;
}
.main>.nav{
    padding:0 4vw;
}
    .main>.nav>li{
        float: left;
        line-height: 14.4vw;
        height:14.4vw;
    }
.main>.nav>li:first-child{
    color:#5d9cec;
    font-size: 1.7rem;
}

    .main .lists{
        width:100%;
    }
.main .lists>li{
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #666;
}
    .main .lists .list_header{
        height:14.4vw;
        line-height: 14.4vw;
        box-sizing: border-box;
        border-bottom: 1px solid #f1f1f1;
        color: #666;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   .main .sj{
        display: inline-block;
        box-sizing: border-box;
        height:0.5rem;
        width:0.5rem;
        border:0.5rem solid transparent;
        margin-right:0.106vw;
        margin-left: 4vw;
    }
.list_header>.fr{
    width:13.33vw;
    height:100%;
    text-align: left;
    margin-right: 4vw;
    color: #999;
}
.list_header>span:nth-child(2){
    width:61vw;
    height:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_header>.fr.rt_icon{
    background: url("/index/images/addressbook/right.png") right center no-repeat;
    background-size: 1.6vw 3.2vw;
}
.main>ul>li>ul>li .sj{
    margin-left: 8.53vw;
}
.main>ul>li>ul>li>ul>li .sj{
    margin-left: 18.66vw;
}
.list_header.open .sj {
        border-top-color: #5d9cec;
    }
.list_header.close .sj {
        border-left-color: #5d9cec;
    }
    .hidden{
       display: none;
    }




.result_box>li{
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #666;
}
.result_box a{
    padding-left: 4vw;
    display: flex;
    align-items: center;
    height:14.4vw;
    font-size: 1.4rem;
    color: #333;
    line-height: 14.4vw;
    box-sizing: border-box;
    justify-content: space-between;
}
.result_box a img{
    width:8vw;
    height:8vw;
    margin-right: 5.33vw;
}
.result_box a div{
    border-bottom: 1px solid #f1f1f1;
    width:82.66vw;
}
.result_box a .fr{
    box-sizing: border-box;
    width:13.33vw;
    height:14.4vw;
    text-align: right;
    margin-right: 4vw;
    color: #999;
    background: url("/index/images/addressbook/right.png") right center no-repeat;
    background-size: 1.6vw 3.2vw;
}


.onloading{
    line-height: 2;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}
</style>
{/block}
{block name="body"}
<div class="search ">
    <div class="searchBox">
        <div class="searchText"><span class="searchText_c">搜索</span></div>
        <input type="text" class="searchInput">
    </div>
    <div class="unBtn">取消</div>
</div>


<!--搜索返回列表-->
<ul class="result_box hidden">
    <li><a href=""><img src="/index/images/addressbook/pb.png" alt="头像"><div>哈哈 <span class="fr"></span></div></a></li>
    <li><a href=""><img src="/index/images/addressbook/pb.png" alt="头像"><div>哈哈 <span class="fr"></span></div></a></li>
    <li><a href=""><img src="/index/images/addressbook/pb.png" alt="头像"><div>哈哈 <span class="fr"></span></div></a></li>
</ul>

<!--加载等待-->
<div class="onloading hidden">
    加载中...
</div>
<div class="main">
    <ul class="nav clear">
        <li>{$department.name}</li>
    </ul>
    <ul class="lists">

        {volist name='department.child' id='t1'}
        <li>
                <a class="list_header type1 close" data-pid="{$t1.id}">
                    <span class="sj"></span><span>{$t1.name}</span><span class="fr"></span>
                </a>
                <ul class="lists hidden">
                    {volist name='t1.child' id='t2'}
                    {notempty name='t2.child'}
                    <li>
                        <a  class="list_header type2 close" data-pid="{$t2.id}">
                            <span class="sj"></span><span>{$t2.name}</span><span class="fr"></span>
                        </a>
                            <ul class="lists hidden">
                                {volist name='t2.child' id='t3'}
                                    <li>
                                        <a href="{:Url('/index/Addressbook/userlist/id/'.$t3.id)}" data-pid="{$t3.id}" class="list_header type2">
                                            <span class="sj"></span><span>{$t3.name}</span><span class="fr rt_icon"></span>
                                        </a>
                                    </li>
                                {/volist}
                            </ul>
                    </li>
                    {/notempty}
                    {empty name='t2.child'}
                    <li>
                        <a  href="{:Url('/index/Addressbook/userlist/id/'.$t2.id)}" data-pid="{$t2.id}" class="list_header type2">
                            <span class="sj"></span><span>{$t2.name}</span><span class="fr rt_icon"></span>
                        </a>
                    </li>
                    {/empty}
                {/volist}
            </ul>
        </li>
        {/volist}
    </ul>
</div>
<!--<div class="main">-->
    <!--<ul class="nav clear">-->
        <!--<li>智新泽地园区</li>-->
    <!--</ul>-->
    <!--<ul class="lists">-->
        <!--<li>-->
            <!--<a class="list_header type1 close">-->
               <!--<span class="sj "></span>希垦科技园<span class="fr">3370</span>-->
            <!--</a>-->
            <!--<ul class="lists hidden">-->
                <!--<li>-->
                    <!--<a class="list_header type2">-->
                        <!--<span class="sj"></span>运营团队</span><span class="fr rt_icon"></span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="list_header type2 close">-->
                        <!--<span class="sj "></span>服务团队<span class="fr">3370</span>-->
                    <!--</a>-->
                    <!--<ul class="lists hidden">-->
                        <!--<li>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>主任</span><span class="fr rt_icon">3370</span>-->
                            <!--</a>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>工程</span><span class="fr rt_icon">3370</span>-->
                            <!--</a>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>客服</span><span class="fr rt_icon">3370</span>-->
                            <!--</a>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>保安</span><span class="fr rt_icon">3370</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="list_header type2 close">-->
                        <!--<span class="sj "></span>园区企业<span class="fr">3370</span>-->
                    <!--</a>-->
                    <!--<ul class="lists hidden">-->
                        <!--<li>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>之图</span><span class="fr">3370</span>-->
                            <!--</a>-->
                            <!--<a class="list_header">-->
                                <!--<span class="sj "></span>智慧政务</span><span class="fr">3370</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    $(function(){
//
        function getStorage(){
            var pid=sessionStorage.getItem('nav-pid');
            console.log(pid);
            if(pid){
                pid=pid.split(',');
                console.log(pid);
                var lists=$(".main>.lists>li");
                for(var i=0;i<pid.length-1;i++){
                    console.log(pid[i]);
                    var shouldOpen=lists.find('[data-pid='+pid[i]+']').eq(0);
                    console.log(shouldOpen);
                    if(shouldOpen){
                        shouldOpen.addClass('open').removeClass('close');
                        shouldOpen.siblings('.lists').removeClass('hidden')
                    }
                }
                sessionStorage.removeItem('nav-pid')
            }else{
                console.log('noPid');
            }
        }
        getStorage();
        //点击输入
        onInput();
        //取消输入
        $(".search .unBtn").on('click',function(){
            offInput();
                onInput()
        });
        //折叠列表
        $('.main').on('click','.type1',function(){
            toggleLists($(this))
        });
        $('.main').on('click','.type2',function(){
            toggleLists($(this))
        });
        //搜索ajax
        $(".searchInput").on('keyup',function(){
            var val=$(this).val();
            $.ajax({
                type:'',
                url:'',
                data:{
                    val:val
                },
                beforeSend:function(XMLHttpRequest){
                    $(".onloading").removeClass('hidden');
                },
                success:function(data){
                    $(".onloading").addClass('hidden');
                    $(".result_box").removeClass('hidden');
                    addToList(data)
                }
            });



//            添加到网页
           function addToList(data) {
                var html='';
               for(var i=0;i<data.length;i++){
                   html+= '<li><a href="'+data.url+'"><img src="'+data.src+'" alt="头像"><div>'+data.name+' <span class="fr"></span></div></a></li>';
               }
               $('.result_box').append(html);
           } 
        });

//        折叠
        function toggleLists(a){
            if(a.hasClass('open')){
                a.removeClass('open').addClass('close');
            }else if(a.hasClass('close')){
                a.removeClass('close').addClass('open')
            }else{

            }
            var nextLists=a.next('.lists');
            if(nextLists.length>0){
                nextLists.toggleClass('hidden')
            }else{
            }
        }
        //点击进入输入框函数
        function onInput() {
            $(".searchBox").off('click').on('click',function(){
                $(".search").addClass('isClick');
                $(this).off('click').find('.searchInput').focus();
                $('.main').addClass('hidden');
            })
        }
        //关闭输入框函数
        function offInput(){
            $(".search").removeClass("isClick");
            $('.main').removeClass('hidden');
            $(".result_box").addClass('hidden');
            $(".onloading").addClass('hidden');
        }


    })
</script>
{/block}