{extend name="base/common"}

{block name="style"}
<style>
    .mail-box .mail-ontact {
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }

    .mail-box .mail-subject {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }

    .mail-subject-div {
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-box .mail-main {
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-date {
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }

    @media only screen and (max-width: 550px) {
        .mail-date {
            display: none;
        }
    }

    .list_banner {
        width: 80px
    }

    .list_type {
        width: 80px
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索标题">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>电话宽带 ({$list->total()})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}"
                        data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>公司名称</th>
                    <th>联系人</th>
                    <th>联系方式</th>
                    <th>备注信息</th>
                    <th>办公地点</th>
                    <th>办理业务</th>
                    <th>办理时长</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>审核</th>
                </tr>
                </thead>

                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.id}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.company}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.people}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.mobile}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.remark | msubstr=0,20}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.address | msubstr=0,30}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.business}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.business_time}</a></td>
                    <td><a href="{:Url('detail','id='.$vo.id)}">{$vo.create_time}</a></td>
                    {eq name="$vo.status" value="1"}
                    <td><span class="label label-info">已完成</span></td>
                    {/eq}
                    {eq name="$vo.status" value="0"}
                    <td><span class="label label-danger">进行中</span></td>
                    {/eq}

                    {eq name="$vo.status" value="0"}
                    <td><a href="{:Url('complete','id='.$vo.id)}">完成</a></td>
                    {/eq}
                    {eq name="$vo.status" value="1"}
                    <td><a href="{:Url('ban','id='.$vo.id)}"></a></td>
                    {/eq}
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged", function () {
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
</script>
{/block}