{extend name="public/common"}

{block name="style"}
<title>党员统计</title>
<style>
    body{background-color: #f0eff5;}
    /*卡片样式*/
    .card{position: relative;margin:10.5vw 2.4vw 0;padding: 4vw 2.66vw 0;font-size: 1.5rem;border-radius: 5px;background-color: #fff;}
    .card-tit:before{content: '';position: absolute;left:-20px ;top: -6px;width: 14px;height: 18px;background: url("/index/images/service/card/icon-star.png") 0 0 no-repeat;background-size:contain ;}
    .card-tit{height: 8vw;position: absolute;top:-4vw;width: 29.3vw;transform: translateX(-50%);left: 50%;display: flex;justify-content: center;align-items: center;background-color: #fff;border-radius: 100px;font-size: 1.7rem;color: #fcc44b;box-shadow: 0 2px 4px #e8e8e8;;}
    .card-tit:after{content: '';position: absolute;right:-20px ;top: -6px;width: 14px;height: 18px;background: url("/index/images/service/card/icon-star.png") 0 0 no-repeat;background-size:contain ;-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
    .card-cell{min-height: 49px;border-bottom: 1px solid #f1f1f1;display: flex;justify-content: space-between;align-items: center;}
    .my-party-sum{padding: 1rem;display: block;text-align: center;font-size: 4rem;font-weight: bold;}
    #app{padding-bottom: 2rem;}
    .gender{display: -webkit-flex;display: flex;justify-content: center;align-items: center;}
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">党支部总数</div>
        <div class="my-card-box"><span class="my-party-sum">{$countParty}</span></div>
    </div>
    <div class="card">
        <div class="card-tit">年龄分布</div>
        <div class="my-card-box">
            <div id="age" style="width: 100%;height:100vw;"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-tit">男女比例</div>
        <div class="my-card-box gender">
            <div id="genderX" style="width: 50%;height:50vw;"></div>
            <div id="genderO" style="width: 50%;height:50vw;"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-tit">学历分布</div>
        <div class="my-card-box">
            <div id="education" style="width: 100%;height:100vw;"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/echarts/echarts.min.1.js"></script>
<script>
    // 基于准备好的dom，初始化echarts实例
    var ageData={$data},
            genderData={$sex},
            educationData={$education};
    var myAge = echarts.init(document.getElementById('age')),
            myGenderX = echarts.init(document.getElementById('genderX')),
            myGenderO = echarts.init(document.getElementById('genderO')),
            myEducation = echarts.init(document.getElementById('education'));
    // 指定图表的配置项和数据  age
    var ageOption = {
//        title: {text: '年龄分布',show:true,position:{top:0,left:0}},
        //提示框
        tooltip : {
            trigger: 'axis',
            formatter: "{b}：{c}人"
        },
        color:['#8DD9CA','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
        xAxis: {
            data: ["20岁以下","20-30岁","30-40岁","40-50岁","50岁以上"],
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:50,//倾斜显示 角度
                margin:10,//文字到x轴间距
                textStyle:{
                    color:'#666'
                },
            },
            axisLine:{
                lineStyle:{
                    color:'#f1f1f1'
                },
            }
        },
        yAxis: {
            type:'value',
            min:0,//最小值
            max:'dataMax',//最大值
            minInterval:1,//自动计算的坐标轴最小间隔大小。保证坐标轴分割刻度显示成整数。
//            interval:2,//强制设置坐标轴分割间隔。
            axisLabel:{
                textStyle:{
                    color:'#666'
                },
            },
            axisLine:{
                show:true,
                lineStyle:{
                    color:'#f1f1f1'
                },
            }
        },

        series: [{
            name: '人数',
            type: 'bar',
            data: ageData,
            itemStyle:{
              border:'1'
            },
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
        }]
    };
    // 指定图表的配置项和数据  age
    var educationOption = {
//        title: {text: '学历分布',show:true},
        //提示框
        tooltip : {
            trigger: 'axis  ',
            formatter: "{b}：{c}人"
        },
        color:['#92D5C3','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
        xAxis: {
            data: ["本科以下","本科","硕士","博士"],
            axisTick: {
                alignWithLabel: true
            },
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:50,//倾斜显示 角度
                margin:10,//文字到x轴间距
                textStyle:{
                    color:'#666'
                },
            },
            axisLine:{
                lineStyle:{
                    color:'#f1f1f1'
                },
            }
        },
        yAxis: {
            type:'value',
            min:0,//最小值
            max:'dataMax',//最大值
            minInterval:1,//自动计算的坐标轴最小间隔大小。保证坐标轴分割刻度显示成整数。
//            interval:2,//强制设置坐标轴分割间隔。
            axisLabel:{
                textStyle:{
                    color:'#666'
                },
            },
            axisLine:{
                show:true,
                lineStyle:{
                    color:'#f1f1f1'
                },
            }
        },
        series: [{
            name: '人数',
            type: 'bar',
            data: educationData,
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
        }]
    };
    //环形图
    function drawPie(num1,num2,name1,color) {
        var genderOption = {
            color:[color,'#e8e8e8'],
            calculable: true,
            series: [
                {
                    name: '男女比例',
                    type: 'pie',
                    radius: ['50%', '60%'],
                    hoverAnimation:false,//取消hover动画
                    legendHoverLink:false,//取消高亮 亲测无效！！！！
                    itemStyle : {
                        normal : {
                            label : {
                                show : true
                            },
                            labelLine : {
                                show :false ,
                            }
                        },

                    },

                    data: [{
                        value: genderData[num1], name: name1,
                        label:{
                            show:false,
                            normal:{
                                position:'center',
                                formatter: [`{name|{d}%}`, `{value|{b}}`].join('\n'),
                                rich:{
                                    name:{
                                        align:'center',
                                        fontSize: 17,
                                        fontWeight: 'bold'
                                    },
                                    value:{
                                        align:'center',
                                        fontSize:14,
                                        lineHeight:20
                                    }
                                },
                            }
                        }
                    },
                        {value:genderData[num2]},]
                }
            ]

        };
        return genderOption
    }
    var genderOptionX = drawPie(0,1,'男','#A3D7A9');
    var genderOptionO = drawPie(1,0,'女','#69B1BF');
    // 使用刚指定的配置项和数据显示图表。
    myAge.setOption(ageOption);
    myGenderX.setOption(genderOptionX);
    myGenderO.setOption(genderOptionO);
    myEducation.setOption(educationOption);
</script>

{/block}