
{extend name="public/common"}

{block name="style"}
<title>{$news->title}</title>
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>
<link rel="stylesheet" href="/index/css/common/rem.css">
<style>
    .foot .input-box{
        width:100vw;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot .input-box input{
        width:92vw
    }
</style>

{/block}

{block name="body"}
<div id="comment">
    <div class="header">
        <h2>{$news->title}</h2>
        <p>
            <span>{$news->create_time}</span>
            <span>{$news->source}</span>
            <span>{$news->views}</span>
        </p>
    </div>
    <section>
        {$news->content}
    </section>
    <div class="comment-box">
        <p>共 {{count}} 条评论</p>
        <div class="comment">
            <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
                <li v-for="list in documents" >
                    <div class="img-box">
                        <img :src="list.header==''?'/index/images/personal/personalinfo.png':list.header">
                    </div>
                    <div class="content-box">
                        <div class="top">
                            <span>{{list.user_name}}</span>
                        </div>
                        <div>{{list.content}}</div>
                        <div>{{list.create_time}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="load-more">
            <span v-if="documents.length === 0">暂时啥都没有，快去评论吧！</span>
            <div   v-if="canLoad && loading">
                <mt-spinner :type="3"></mt-spinner>加载中...
            </div>
            <span v-if="!canLoad">没有更多了</span>
        </div>
    </div>
    <div class="foot">
        <div class="input-box">
            <input type="text" placeholder="说说你的感想！" v-model="content">
        </div>
        <div class="send" @click="send({$news.id},{$news.type})">发送</div>
    </div>
    <div class="foot">
        <div class="input-box" @click="toggleMask">
            <input type="text" placeholder="说说你的感想！" disabled="disabled">
        </div>
        <!--<div class="send" @click="send({$news->id},{$news->type})">发送</div>-->
    </div>
    <div class="comment-view" v-show="isShowMask">
        <div class="comment-mask-mask" @click="toggleMask"></div>
        <div class="comment-view-content">
            <div class="comment-title">请输入评论内容</div>
            <textarea class="comment-textarea" placeholder="请输入评论..." v-model="content"></textarea>
            <div class="comment-btn-box">
                <div class="my-btn-default my-btn-center" @click="toggleMask">取消</div>
                <div class="my-btn-default my-btn-success" @click="send({$news->id},{$news->type})">确认</div>
            </div>
        </div>
    </div>
</div>
<div>

</div>
{/block}

{block name="script"}
<script>
    new Vue({
        el:'#comment',
        data:{
            isSend:false,
            count:{$count},
            canLoad:true,
            loading:false,
            documents:{$comments},
            collection:{},
            value:'',
            id:{$id},
            content:'',
            isShowMask:false,

        },
        created(){
            console.log(this.documents)
            if(this.documents.len==0){
                this.canLoad=false
            }
        },
        methods:{
            toggleMask(){
                var _this  =this;
                _this.isShowMask=!_this.isShowMask;
                _this.commentValue=''
            },
            send:function (id,type) {
                var _this = this;
                console.log(_this.content)
                if(_this.isSend){
                    _this.$toast({message:'提交中，请勿重复提交',position:'bottom',duration:1000});
                    return ;
                }else if(_this.content == '' || !_this.content){
                    _this.$toast({message:'评论不能为空！',position:'bottom',duration:1000});
                } else {
                    _this.isSend=true;
                    _this.$http.post('{:Url("Base/addComments")}',{type:type,id:id,content:_this.content}).then(function (res) {
                        console.log(res.data);
                        _this.toggleMask();
                        if(res.data.code==1){
                            _this.$toast({
                                message: res.data.msg,
                                position: 'bottom',
                                duration: 1000
                            });
                            _this.isSend = false;
                            _this.documents.unshift(res.data.data);
                            _this.content=''
                            _this.count+=1
                        }else{
                            _this.isSend = false;
                        }
                    },function (res) {
                        _this.$toast({message:'发送失败，请重新发送',position:'bottom',duration:1000});
                        _this.isSend = false;
                        console.log(res.data)
                    })
                }
            },
            loadMore(){
                if(!this.loading && this.documents.length>0 && this.canLoad ){
                    this.loading = true;
                    this.$http.post('/index/partybuild/getMore',{newsId:this.id,length:this.documents.length}).then(function (res) {
                        console.log(res.data);
                        if(res.data.code==0){
                            this.canLoad=false
                        }else{
                            for( var i = 0 ;i < res.data.data.length;i++){
                                this.documents.push(res.data.data[i])
                            }
                            if(res.data.data.length<6){
                                this.canLoad = false
                            }
                        }
                        this.loading = false;
                    },function (res) {
                        console.log(res.data);
                        this.loading = false;

                    })
                }
            },
        }
    });
</script>
{/block}