
{extend name="public/common"}

{block name="style"}
<title>{$news->title}</title>
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>
<link rel="stylesheet" href="/index/css/common/rem.css">
<style>
    .foot{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .foot .input-box{
        width:80vw;
        height:auto;
        padding-left: 3.2vw;
    }
    .foot .input-box input{
        margin:0;
        box-sizing: border-box;
        width:100%;
    }
</style>

{/block}

{block name="body"}
<div id="comment">
    <div class="header">
        <h2>{$news->title}</h2>
        <p>
            <span>{$news->create_time}</span>
            <span>{$news->source}</span>
            <span>{$news->views}</span>
        </p>
    </div>
    <section>
        {$news->content}
    </section>
    <div class="comment-box">
        <p>共 {{documents.length}} 条评论</p>
        <div class="comment">
            <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
                <li v-for="list in documents" >
                    <div class="img-box">
                        <img :src="list.header==''?'/index/images/personal/personalinfo.png':list.header">
                    </div>
                    <div class="content-box">
                        <div class="top">
                            <span>{{list.user_name}}</span>
                        </div>
                        <div>{{list.content}}</div>
                        <div>{{list.create_time}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="load-more">
            <span v-if="documents.length === 0">暂时啥都没有，快去评论吧！</span>
            <mt-spinner :type="2"  v-if="canLoad && loading"></mt-spinner>
            <span v-if="!canLoad">没有更多了</span>
        </div>
    </div>
    <div class="foot">
        <div class="input-box">
            <input type="text" placeholder="说说你的感想！" v-model="content">
        </div>
        <div class="send" @click="send({$news.id},{$news.type})">发送</div>
    </div>
</div>
<div>

</div>
{/block}

{block name="script"}
<script>
    new Vue({
        el:'#comment',
        data:{
            canLoad:true,
            loading:false,
            documents:{$comments},
            collection:{},
            value:'',
            id:{$id},
            content:''
        },
        created(){
            console.log(this.documents)
            if(this.documents.len==0){
                this.canLoad=false
            }
        },
        methods:{
            send:function (id,type) {
                console.log(this.content)
                if(this.content == '' || !this.content){
                    this.$toast({message:'评论不能为空！',position:'bottom',duration:1000});
                } else {
                    this.$http.post('{:Url("Base/addComments")}',{type:type,id:id,content:this.content}).then(function (res) {
                        console.log(res.data);
                        if(res.data.code==1){
                            this.$toast({
                                message: res.data.msg,
                                position: 'bottom',
                                duration: 1000
                            });
                            this.documents.push(res.data.data);
                            this.content=''
                        }
                    },function (res) {
                        this.$toast({message:'发送失败，请重新发送',position:'bottom',duration:1000});
                        console.log(res.data)
                    })
                }
            },
            loadMore(){
                if(!this.loading && this.documents.length>0 && this.canLoad ){
                    this.loading = true;
                    this.$http.post('/index/partybuild/getMore',{newsId:this.id,length:this.documents.length}).then(function (res) {
                        console.log(res.data);
                        if(res.data.code==0){
                            this.canLoad=false
                        }else{
                            for( var i = 0 ;i < res.data.data.length;i++){
                                this.documents.push(res.data.data[i])
                            }
                            if(res.data.data.length<6){
                                this.canLoad = false
                            }
                        }
                        this.loading = false;
                    },function (res) {
                        console.log(res.data);
                        this.loading = false;

                    })
                }
            },
        }
    });
</script>
{/block}