{extend name="public/common"}

{block name="style"}
<title>合作交流</title>
<style type="text/css">
    .head-img{
        width: 48px;
        height: 48px;
        position: fixed;
        z-index: 99;
        right: 0;
        top: 4vw;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        background: -webkit-linear-gradient(left,#81e4fe,#6eb8ff);
    }
    .head-img>img{
        width: 38px;
        height: 38px;
        border-radius: 19px;
        margin: 5px 5px;
    }
    .head-img>a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .img-card{
        width: 92vw;
        height: 35vw;
        margin: 4vw 4vw;
        background: rgba(0,0,0,0.3);
        border-radius: 5px;
        position: relative;
    }
    .img-card img{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
        border-radius: 5px;
    }
    .img-card>div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .img-card>div>p{
        color: #fff;
        font-size: 20px;
    }
    .img-card>div>span{
        text-align: center;
        display: inline-block;
        width: 60px;
        line-height: 18px;
        border-radius: 30px;
        background: #fff;
        color: #333;
        font-size: 12px;
        margin-top: 5px;
    }
    .img-card>a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="head-img">
        <img src="{$header}">
        <a href="{:Url('Communication/personal')}"></a>
    </div>
    {volist name="list" id="vo"}
    <div class="img-card">
        <img src="{$vo->img}">
        <div>
            <p>{$vo->group_name}</p>
            {eq name="vo->is_join" value="0"}
            <span>申请加入</span>
            {/eq}
        </div>
        {eq name="vo->is_join" value="0"}
        <a href="{:Url('Communication/join?group_id='.$vo->id)}"></a>
        {else/}
        <a href="{:Url('Communication/postslist?group_id='.$vo->id)}"></a>
        {/eq}
    </div>
    {/volist}
</div>
{/block}

{block name="script"}
<script>

</script>

{/block}