{extend name="public/common"}

{block name="style"}
<title>合作交流</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style type="text/css">
    #app{
        padding-top: 7.2vw;
    }
    .head-img{
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 999;
        overflow: auto;
    }
    .head-img img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        position: relative;
        z-index: 999;
    }
    .head-img span{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #f6bb42;
        position: relative;
        top: 10px;
        z-index: 998;
    }
    .head-img a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .img-card-info{
        color: #69b9f9;
    }
    .img-card-box:after{
        background: url("/index/images/communication/icon-waveline.png");
        background-size: cover;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="head-img">
        <img src="{$header}">
        <span></span>
        <a href="{:Url('Communication/personal')}"></a>
    </div>
    {volist name="list" id="vo"}
    <div class="img-card">
        {eq name="$vo->is_join" value="0"}
        <a href="{:Url('Communication/join?group_id='.$vo->id)}">
        {else/}
        <a href="{:Url('Communication/postsList?group_id='.$vo->id)}">
        {/eq}
            <div class="img-card-box">
                <img src="{$vo->img}"  class="img-responsive">
                <div class="img-marking">
                    <span class="marking-info">{$vo->group_name}</span>
                </div>
            </div>
            <div class="img-card-info">{eq name="$vo->is_join" value="0"}前往申请{else/}进入论坛{/eq}</div>
        </a>
    </div>
    {/volist}
</div>
{/block}

{block name="script"}
<script>

</script>

{/block}