{extend name="public/common"}

{block name="style"}
<title>我的评论</title>
<link type="text/css" rel="stylesheet" href="/index/css/communication/post.css">
<style type="text/css">
    .group-list{
        border-bottom: 1px solid #e8e8e8;
    }
    .post{
        line-height: 40px;
        padding: 0 12px;
        background: #f0eff5;
        margin-top: 12px;
        font-size: 14px;
        border-radius: 2px;
        position: relative;
    }
    .post::before{
        content: '';
        border-bottom: 6px solid #f0eff5;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        top: -6px;

    }
    .post>div{
        overflow: hidden;
    }
    .post span{
        float: left;
        display: inline-block;
    }
    .post span:first-child{
        color: #69b9f9;
        max-width: 72px;
    }
    .post span:last-child{
        max-width: calc(100% - 72px);
        color: #666;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .load-more{
        width: 100%;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #999;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    {volist name="list" id="vo"}
    <div class="group-list">
        <div class="list-head">
            <img src="{$vo->header}">
            <div class="time-name">
                <p>{$vo->user_name}</p>
                <p>{$vo->create_time | time_format="Y-m-d H:i"}</p>
            </div>
        </div>
        <div class="list-body">
            <p>{$vo->content}</p>
            <div class="post">
                <div>
                    <span>{$vo->post->user_name}：</span>
                    <span>{$vo->post->content}</span>
                </div>
            </div>
        </div>
    </div>
    {/volist}
    <!--<div class="load-more"  onclick="loadMore($event)">加载更多...</div>-->
</div>
{/block}

{block name="script"}
<script>

</script>

{/block}