{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style>

    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }


    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }


</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索招商人员" value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>招商人员管理</h2>

        </div>

        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" method="post" action="{:Url('Communication/edit')}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title text-center"  name="dialog-title">编辑招商公司</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group"><label class="col-sm-2 control-label">封面图片:</label>
                                <div class="col-sm-10">
                                    <input id="input-file" type="file" class="file">
                                    <sapn>

                                        <img class="front_cover_img" name="group_img"  id ="group_img" src="" />

                                    </sapn>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">招商公司</label>
                                <div class="col-sm-10"><input type="text" placeholder="服务简介" class="form-control" required="" name="company"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">公司介绍</label>
                                <div class="col-sm-10"><input type="text" placeholder="群简介" class="form-control" required="" name="content"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">招商人员</label>
                                <div class="col-sm-10"><input type="text" placeholder="群简介" class="form-control" required="" name="user_name"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">所属园区</label>
                                <div class="col-sm-10"><select class="form-control m-b" name="park_id">
                                    <option value="3">希垦园区</option>

                                </select></div>
                            </div>

                            <input type="hidden"  name="img">
                            <!-- 富文本框<div class="mail-text h-200">
                                 <div class="summernote"></div>
                                 <div class="clearfix"></div>
                             </div>-->
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">保存</button>
                            <input type="hidden" name="id" value="">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>招商人员</th>
                    <th>招商人员电话</th>
                    <th>本月日志完成数量</th>
                    <th>本月招商公司数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        {$vo.userid}
                    </td>
                    <td>
                        {$vo.name}
                    </td>
                    <td>
                        {$vo.mobile}
                    </td>
                    <td>
                       0
                    </td>

                    <td>
                       0
                    </td>
                    <td>
                        <a   href="{:Url('merchantsPlan','user_id='.$vo.userid  )}" class="btn-sm btn-primary" style="color: #fff">指定招商计划</a>
                        <a   href="{:Url('showDiary','user_id='.$vo.userid  )}"  class="btn-sm btn-info" style="color: #fff">查看工作日志</a>

                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });

    $('.summernote').summernote({
        lang: 'zh-CN',
        height: 300,
        minHeight: 210,
        callbacks: {
            onImageUpload: function (files) { //the onImageUpload API
                img = sendFile(files[0]);
            }
        }
    });
    function edit(a) {

        var name =$(a).attr('data-name');
        $("input[name='id']").val($(a).attr('data-id'));
        $("input[name='group_name']").val($(a).attr('data-groupname'));
        $("input[name='content']").val($(a).attr('data-content'));
        $("select[name='status']").val($(a).attr('data-status'));
        $("select[name='park_id']").val($(a).attr('data-park'));
        var pic = document.getElementById("group_img");
        pic.src=$(a).attr('data-img');


    }
    function add() {


    }


    function sendFile(file) {
        var data = new FormData();
        data.append("file_data", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "{:Url('Upload/picture')}",
            cache: false,
            contentType: false,
            processData: false,
            success: function(response) {
                var data = $.parseJSON(response);
                $(".summernote").summernote('insertImage', data.data, 'image name'); // the insertImage API
            }
        });
    }

    $("#input-file").fileinput({

        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("/admin/Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
    }).on("filebatchselected", function(event, files) {
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        var response = $.parseJSON(data.response);
        console.log(response);

        if(response.code == 1) {
            $("input[name='front_cover']").val(response.data);
            $("input[name='img']").val(response.data);
            console.log( $("input[name='img']").val());
            var pic = document.getElementById("group_img");
            pic.src=response.data;

        } else {

            updateAlert(response.msg, 'warning');
        }
    });

    $(".front_cover").imgbox({
        overlayShow: false,
        hideOnContentClick: true,
        slideshow: false,
        theme: 'dark',
        alignment: 'center',       // Position - may be auto OR center.
        allowMultiple: false,
    });
</script>
{/block}