{extend name="base/common"}

{block name="style"}
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*width: 124px !important;*/
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索标题">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>新闻通告 ({$list->total()})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
                <a href="{:Url('add')}" class="btn btn-white btn-sm" ><i class="fa fa-file-text-o"></i> 添加</a>
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th width="200px">新闻标题</th>
                    <th  width="200px">创建时间</th>
                    <th  width="200px">是否轮播</th>
                    <th >是否推送</th>
                    <th>
                        <select name="type" id="changeType" onchange="changeType()">
                            <option value="0" {eq name="$checkType" value="0"}selected{/eq}>所有类型</option>
                            <option value="1" {eq name="$checkType" value="1"}selected{/eq}>新闻动态</option>
                            <option value="2" {eq name="$checkType" value="2"}selected{/eq}>园区通告</option>
                            <option value="3" {eq name="$checkType" value="3"}selected{/eq}>好文分享</option>
                        </select>
                    </th>
                    <th >状态</th>
                    <th style="width: 250px" >操作</th>
                </tr>
                </thead>

                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        <div class="mail-subject-div">
                           {$vo.title}
                        </div>
                    </td>
                    <td>{$vo.create_time|strtotime|date='Y-m-d H:i',###}</td>
                    <td >{eq name="vo.is_banner" value="1"}<span>是</span>{else/}<span>否</span> {/eq}</td>
                    <td class="list_type">
                        {eq name="vo.is_send" value="1"}
                        <span class="txt-success">已推送</span>
                        {else/}
                        <span>未推送</span>
                        {/eq}
                    </td>
                    <td class="list_type">
                        {volist name="Think.config.news_type" id="type"}
                        {eq name="$key" value="$vo.type"}{$type}{/eq}
                        {/volist}
                    </td>
                    <td class="list_type">
                        {eq name="vo.status" value="0"}
                        <span class="">未审核</span>
                        {/eq}
                        {eq name="vo.status" value="1"}
                        <span class="txt-success">发布</span>
                        {/eq}
                        {eq name="vo.status" value="2"}
                        <span class="txt-danger">审核失败</span>
                        {/eq}
                    </td>

                    <td> <a href="{:Url('send','id='.$vo.id)}" class="ajax-get confirm btn-sm btn-success">开始推送</a>
                        <a href="{:Url('add','id='.$vo.id)}" class=" confirm btn-sm btn-success">编辑</a>
                        {gt name="$vo.type" value="1"}
                        <a href="{:Url('showcomment','id='.$vo.id)}" class=" confirm btn-sm btn-primary">查看评论</a>
                        {else/} <span class="btn-default2">查看评论</span>
                        {/gt}
                        <a onclick="delItem({$vo.id})" class=" confirm btn-sm btn-info">删除</a>
                    </td>

                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    function delItem(id) {
        swal({
            title: "",
            text: "是否确认删除？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#ef6060",
            confirmButtonText: "确认",
            cancelButtonText:'取消',
            closeOnConfirm: false
        }, function(){
            $.ajax({
                data:{ids:[id]},
                type:"POST",
                url:"{:Url('moveToTrash')}",
                success:function (data){
                    if(data.code==1){
                        swal({
                            title: "",
                            text: data.msg,
                            type: "success",
                            confirmButtonColor: "#1ab394",
                            confirmButtonText: "确认",
                        });
                      window.location.reload();
                    }else{
                        swal({
                            title: "",
                            text: data.msg,
                            type: "warning",
                            confirmButtonColor: "#ef6060",
                            confirmButtonText: "确认",
                        });
                    }
                }
            })
        });

    }
    $(document).ready(function(){

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
        function changeType(){
            var types = $('#changeType').val();
            location.href = "{:Url('News/index')}?type="+types+"";

        }
</script>
{/block}