{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style type="text/css">
    .note-editor.note-frame { border-radius: 0; border:0; margin-bottom: 0; }
    .del{
        position: absolute;
        right:4px;
        top:6px;
        color: #666;
    }
    .parent{
        position:relative ;
    }
    #sortable { list-style-type: none; margin: 0 0 10px 0; padding: 0; }
    #sortable li { margin: 0 ; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; display: block}
    #sortable li span { position: absolute; margin-left: -1.3em; }
    .select{
        display: inline-block;
        height: 32px;
    }
    .img-item{
        box-sizing: content-box;
        width:200px;
        height:100px;
        position: relative;
        padding:25px 10px 10px 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        background: #f1f1f1;

    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
                <a href="javascript:ggg()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>园区信息</h2>
        </div>
        <div class="mail-box">
            <form class="form-horizontal" method="post">
                <div class="mail-body">
                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;园区:</h3></label>
                        <div class="col-sm-4"><input type="text" class="form-control"   value="{$parkName}" readonly></div>
                        <div class="col-sm-4">
                            {eq name="$park_id" value="3"}
                            <select name="build_block" id="" style="width: 100px;height: 30px;">
                                <option value="A"{eq name="$info.build_block" value="A"}selected{/eq}>A幢</option>
                                <option value="B"{eq name="$info.build_block" value="B"}selected{/eq}>B幢</option>
                            </select>
                            {/eq}
                            {eq name="$park_id" value="80"}
                            <select name="build_block" id="" style="width: 100px;height: 30px;">
                                <option value="A"{eq name="$info.build_block" value="A"}selected{/eq}>A幢</option>
                                <option value="B"{eq name="$info.build_block" value="B"}selected{/eq}>B幢</option>
                                <option value="C"{eq name="$info.build_block" value="C"}selected{/eq}>C幢</option>
                                <option value="D"{eq name="$info.build_block" value="D"}selected{/eq}>D幢</option>
                            </select>
                            {/eq}
                        </div>
                    </div>
                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;楼层:</h3></label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  name="floor" value="{$info.floor}">
                        </div>
                        <label class="col-md-1" style="width: 60px"><h3>&nbsp;&nbsp;楼&nbsp;&nbsp;</h3></label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  name="room" value="{$info.room}" >
                        </div>
                        <label class="col-md-1 "><h3>室</h3></label>
                    </div>
                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;面积:</h3></label>
                        <div class="col-sm-5"><input type="text" class="form-control"  name="area" value="{$info.area}"></div>
                        <div class="col-sm-2"><h3>单位（㎡）</h3></div>
                    </div>
                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;价格:</h3></label>
                        <div class="col-sm-5"><input type="text" class="form-control"  name="price" value="{$info.price}"></div>
                        <div class="col-sm-2"><h3>单位（元/㎡·天）</h3></div>
                    </div>
                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;全景:</h3></label>
                        <div class="col-sm-5"> <input type="text" class="form-control"  name="panorama" value="{$info.panorama}" placeholder="需要全景照片时，请联系我们制作全景照片"></div>
                    </div>

                    <div class="form-group"><label class="col-md-1 "><h3>&nbsp;&nbsp;&nbsp;&nbsp;照片:</h3></label>
                        <div class="col-sm-5"> <input class="input-file"  type="file" class="file" multiple>
                            <span>建议上传宽高比例为2:1的图片</span>
                        </div>

                    </div>
                    <div class="form-group ">
                        <div class="col-sm-6 image" >
                            <div class="img-items zt-flex zt-flex-wrap">
                            {foreach name="img" item="vo"}
                                <div class="img-item">
                                    <a class="front_cover" href="{$vo}">
                                        <img src="{$vo}" alt="" style='width: 200px;height: 100px;' class="img parent">
                                    </a>
                                    <div class="del"><span class="glyphicon glyphicon-remove"></span></div>
                                </div>
                            {/foreach}
                           </div>
                        </div>

                    </div>
                </div>
                <input type="hidden" name="uid" value="{$info.id}">
                <div class="mail-body text-right tooltip-demo">
                    <a href="javascript:void(0)" class="btn btn-primary" onclick="addRent()">保存</a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    (function () {
        addImgBox()
    })()
    $(".input-file").fileinput({
        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
        maxFilesNum : 5,//上传最大的文件数量
    }).on("filebatchselected", function(event, files) {
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        var response = $.parseJSON(data.response);
        if(response.code == 1) {
            var html =
                    '<div class="img-item">'+
                    '<a class="front_cover" href="'+response.data+'">'+
                    '<img src="'+response.data+'" alt="" style="width: 200px;height: 100px;" class="img parent">'+
                    '</a>'+
                    '<div class="del" onclick="delImg(this)"><span class="glyphicon glyphicon-remove"></span></div>'+
                    '</div>';
            $('.img-items').append(html);
            addImgBox()
            $('.del').click(function(){
                $(this).parent().remove();
            });
        } else {
            updateAlert(response.msg, 'warning');
        }
    });
    function addImgBox() {
        $(".front_cover").imgbox({
            overlayShow: false,
            hideOnContentClick: true,
            slideshow: false,
            theme: 'dark',
            alignment: 'center',       // Position - may be auto OR center.
            allowMultiple: false,
        });
    }
    $('.del').click(function(){
        $(this).parent().remove();
    });
    function addRent() {
        var imgsSrc=[];
        var img=$('.img');
        for(var i=0;i<img.length;i++){
            imgsSrc.push(img[i].src);
        };
        var panoramas = $("[name='panorama']").val();
        var id = "{$info.id}";
        var areas = $("[name='area']").val();
        var prices = $("[name='price']").val();
        //alert(prices);return "";
        var floors = $("[name='floor']").val();
        var rooms = $("[name='room']").val();
        var build = $("[name='build_block']").val();
        if (floors == ""){
            updateAlert("请添加楼层","info");
            return "";
        }else if(rooms == ""){
            updateAlert("请添加房间号","info");
            return "";
        }else if(areas == ""){
            updateAlert("请添加面积","info");
            return "";
        }else if(prices == ""){
            updateAlert("请添加价格","info");
            return "";
        }else if (imgsSrc.length == 0){
            updateAlert("请添加照片","info");
            return "";
        }
        $.ajax({
            data:{floor:floors,room:rooms,build_block:build,panorama:panoramas,area:areas,price:prices,id:id,img:imgsSrc},
            type:"post",
            url:"{:Url('addrent')}",
            success:function (data) {
                if (data.code==1){
                    updateAlert(data.msg+" 稍后自动刷新页面～","success");
                    setTimeout(function () {
                        location.href = data.url;
                    },2000);
                }else{
                    updateAlert(data.msg,"info");
                }
            }
        });
    }
    function ggg() {
        window.history.go(-1);
    }
    highlight_subnav("{:Url('Park/roomrent')}");
</script>
{/block}