{extend name="base/common"}
{block name="style"}
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style>
    .mail-header{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .content-tit{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content-tit .inline-block,.content-tit label{
        min-width: 5em;
        margin-bottom: 0;
    }
    .content-tit select.form-control{
        margin: 0 10px;
        display: inline-block;
        min-width: 5em;
        width: auto;
        padding: 0 12px;
    }
    .table{
        display: none;
    }
    .table-cell-tit{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        position: relative;
    }
    .table-cell-tit .table-cell-icon{
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 5px;
        line-height: 35px;
    }
    .table-cell-info{
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .cell-item,.cell-item-default{
        flex: 1;
        height: 35px;
        margin-bottom: 7px;
        min-width: 3em;
        line-height: 35px;
        font-size: 14px;
        text-align: center;
        color: #333;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #fff;
        border: 1px solid transparent;
        position: relative;
    }
    .cell-item{
        margin-right: 7px;
    }
    .item-warning {
        background-color: #f8ac59;
        border-color: #f8ac59;
    }
    .item-warning:hover{
        background-color: #f7a54a;
        border-color: #f7a54a;
    }
    .item-gray{
        background-color: #d1dade;
        border-color: #d1dade;
    }
    .item-gray:hover{
        background-color: #e6e6e6;
        border-color: #e6e6e6
    }
    .item-primary{
        background-color: #1ab394;
        border-color: #1ab394;
    }
    .item-primary:hover{
        background-color: #179d82;
        border-color: #179d82;
    }
    .item-default{
        background-color: #fff;
        border-color: #e7eaec;
    }
    .item-default:hover{
        border-color: #d2d2d2;
    }
    .layer.show{
        top: 50px;
    }
    .cell-item:last-child{
        margin-right: auto;
    }
    .cell-item:last-child .layer{
        right: 0;
        left: auto;
    }
    .content-tit .add{
        padding: 5px 20px;
    }
    .legend{
        padding: 0 20px;
    }
    .legend  .legend-item{
        display: inline-flex;
        align-items: center;
       margin:5px 0 5px 10px;
    }
    .legend  .legend-item span{
        display: inline-block;
        margin-right:5px ;
    }
    .legend .label{
        width: 30px;
       padding: 10px;
       border: 1px solid  transparent;
    }
    .legend .label:empty{
        display: inline-block;
    }
    .label.label-warning{
        border-color:#f8ac59;
    }
    .label.label-primary{
        border-color:#1ab394;
    }
    .label.label-default{
        background-color: #fff;
        border-color:#e7eaec;
    }
    .flex{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 5px;
    }

    .modal-body .modal-cell{
        padding: 10px;
    }
    .modal-body .modal-cell .cell-sm{
        /*width: 70px;*/
        display: inline-block;
    }
    .modal-cell .form-control, .single-line{
        padding: 5px 12px;
    }
    .modal-cell .file-row{
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .upload-img-box{
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .modal-cell .upload-img{
        position: relative;
        width: 30%;
        padding: 20px;
    }
    .modal-cell .upload-img img{
        display: block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 300px;

    }
    .icon-del{
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        line-height: 1.4;
        text-align: center;
        /*border: 1px solid #676a6c;*/
        /*border-radius: 50%;*/
    }
    .file-row label{
        min-width: 5em;
        margin-right: 3px;
    }
    .layer{
        display: none;
        position: absolute;
        top:40px;
        left: 0;
        z-index: 10;
        width: 100%;
        min-width: 300px;
        background-color: inherit;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    .layer-content{
        padding:0 10px;
        text-align: left;
        background-color: #fff;
    }
    .content-contract{
        float: right;
        color: red;
    }
    @media (min-width: 768px){
        .form-inline .input-group .input-group-btn{
            width: 1%;
        }
    }
    @media (max-width: 768px){
        .legend{
            padding: 0;
        }
        .flex{
            flex-wrap: wrap;
        }
        .table-cell-info{
            flex-wrap: wrap;
        }
        .table-cell-tit .table-cell-icon{
            left:0;
        }
        .form-inline .form-control{
            width: 70px;
            display: inline-block;
            vertical-align: middle;
        }
        .layer{
            width: 80vw;
        }
    }

</style>
{/block}
{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="content-tit mail-box-header">
        <div class="flex">
            <span class="inline-block">当前园区：</span><label for="checkPark">希恳科技园</label>
            <select name="" id="checkPark" class="form-control input-sm ">
                {volist name="$floorInfo" id="vo"}
                    {volist name="vo" id="vo1"}
                        <option value="{$key}">{$key}幢</option>
                    {/volist}
                {/volist}
                <!--<option value="B">B幢</option>
                <option value="C">C幢</option>-->
            </select>
            <div class="add btn btn-sm btn-default" data-toggle="modal" data-target="#room-modal">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="legend ">
                <div class="legend-item">
                    <span class="label label-primary"></span><span>空置</span>
                </div>
                <div class="legend-item">
                    <span class="label label-warning"></span><span>已约</span>
                </div>
                <div class="legend-item">
                    <span class="label"></span><span>已租</span>
                </div>
                <div class="legend-item">
                    <span class="label label-default"></span><span>下架</span>
                </div>
            </div>
        </div>


        <form method="get" action="" class="pull-right mail-search">
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="search" placeholder="搜索房间号">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mail-box">
        <div class="mail-header">
            <button class="btn button btn-success" id="editFloor" data-state="1">编辑楼层</button>
        </div>
        <div class="mail-content">
            {volist name="$floorInfo" id="vo"}
                {volist name="vo" id="vo1"}
                 <div class="table" data-key="{$key}">
                    {volist name="vo1" id="vo2"}
                    <div class="table-cell clearfix" data-floor="{$vo2.floor}">
                        <div class="table-cell-tit col-xs-1">
                            <i class="fa fa-close table-cell-icon"></i>
                            F{$vo2.floor}
                        </div>
                        <div class="table-cell-info col-xs-11">
                            {empty name="vo2.rooms"}
                                <div class="cell-item-default item-default">{$vo2.floor}F</div>
                            {else /}
                                {volist name="vo2.rooms" id="vo3"}
                                {eq name="vo3.status" value="1"}<div class="cell-item item-primary" data-toggle="modal" data-target="#update-modal" data-area="{$vo3.area}" data-room="{$vo3.room}" data-contract="{$vo3.contract}" data-roomid="{$vo3.room_id}">{$vo3.room}</div>{/eq}
                                {eq name="vo3.status" value="2"}<div class="cell-item item-warning" data-toggle="modal" data-target="#update-modal" data-area="{$vo3.area}" data-room="{$vo3.room}" data-contract="{$vo3.contract}" data-roomid="{$vo3.room_id}">{$vo3.room}</div>{/eq}
                                {eq name="vo3.status" value="3"}<div class="cell-item item-gray" data-toggle="modal" data-target="#update-modal" data-area="{$vo3.area}" data-room="{$vo3.room}" data-contract="{$vo3.contract}" data-roomid="{$vo3.room_id}">{$vo3.room}</div>{/eq}
                                {eq name="vo3.status" value="4"}<div class="cell-item item-default" data-toggle="modal" data-target="#update-modal" data-area="{$vo3.area}" data-room="{$vo3.room}" data-contract="{$vo3.contract}" data-roomid="{$vo3.room_id}">{$vo3.room}</div>{/eq}
                                {/volist}
                            {/empty}
                        </div>
                    </div>
                    {/volist}
                     <div class="clearfix">
                         <div class="col-xs-1"></div>
                         <div class="col-xs-11">
                            <button class="btn btn-white btn-block addFloor">点击添加楼层</button>
                         </div>
                     </div>
                </div>
                {/volist}
            {/volist}
        </div>
        <!--新建房间模态框-->
        <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="room-modal" aria-label="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">新建房间</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="area">房间面积：</label>
                                    <input type="text" class="form-control input-sm" id="area">
                                    <span>㎡</span>
                                </div>
                            </div>

                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>所属楼层：</label>
                                        {volist name="$floorInfo" id="vo"}
                                        {volist name="vo" id="vo1"}
                                        <select name="add_floor"  class="input-sm form-control add_floor" data-key="{$key}" data-floor="">
                                        {volist name="vo1" id="vo2"}
                                        <option value="{$vo2.floor}">{$vo2.floor}</option>
                                        {/volist}
                                        </select>
                                        {/volist}
                                        {/volist}
                                    <!--<input type="text" class="form-control">-->
                                    <span>层</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>房间号码：</label>
                                    <input type="text" class="form-control input-sm" name="add_room">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="house">房间幢号：</label>
                                    <span>希垦科技园</span>
                                    <select name="" id="house" class="input-sm form-control">
                                        {volist name="$floorInfo" id="vo"}
                                        {volist name="vo" id="vo1"}
                                        <option value="{$key}">{$key}幢</option>
                                        {/volist}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="price">租赁单价：</label>
                                    <input type="text" class="form-control input-sm" id="price">
                                    <span>元/㎡/天</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label class="panorama">房间全景：</label>
                                    <input type="text" class="form-control input-sm" id="panorama">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class=" file-row">
                                    <label class="picture">房间照片：</label>
                                    <input class="input-file"  type="file" class="file" multiple id="picture">
                                </div>
                            </div>

                            <div class="modal-cell">
                                <div class="upload-img-box">

                                </div>
                            </div>
                            <div class="modal-cell">
                                <p>新建房间后，默认为下架状态</p>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addRoom">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--修改房间模态框-->
        <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="update-modal" aria-label="updateModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/template/template.js"></script>
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/localResizeIMG/dist/lrz.bundle.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>

<script type="text/html" id="houseList">
    {{each data as e}}
    {{each e as list index}}
    <div class="table" data-key="{{index}}">
        {{each list as item}}
        <div class="table-cell clearfix" data-floor="{{item.floor}}">
            <div class="table-cell-tit col-xs-1">
                <i class="fa fa-close table-cell-icon"></i>
                F{{item.floor}}
            </div>
            <div class="table-cell-info col-xs-11">
                {{ if item.rooms && item.rooms.length}}
                {{ each item.rooms as info j }}
                {{ if info.status == 1}}
                <div class="cell-item item-primary" data-toggle="modal" data-target="#update-modal" data-area="{{info.area}}" data-room="{{info.room}}" data-contract="{{info.contract}}" data-roomid="{{info.room_id}}">{{info.room}}</div>
                {{ else if info.status == 2 }}
                <div class="cell-item item-warning" data-toggle="modal" data-target="#update-modal" data-area="{{info.area}}" data-room="{{info.room}}" data-contract="{{info.contract}}" data-roomid="{{info.room_id}}">{{info.room}}</div>
                {{ else if info.status == 3 }}
                <div class="cell-item item-gray" data-toggle="modal" data-target="#update-modal" data-area="{{info.area}}" data-room="{{info.room}}" data-contract="{{info.contract}}" data-roomid="{{info.room_id}}">{{info.room}}</div>
                {{ else if info.status == 4 }}
                <div class="cell-item item-default" data-toggle="modal" data-target="#update-modal" data-area="{{info.area}}" data-room="{{info.room}}" data-contract="{{info.contract}}" data-roomid="{{info.room_id}}">{{info.room}}</div>
                {{ /if }}
                {{ /each }}
                {{ else }}
                <div class="cell-item item-default">{{item.floor}}F</div>
                {{ /if }}
            </div>
        </div>
        {{/each}}
        <div class="clearfix">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <button class="btn btn-white btn-block addFloor">点击添加楼层</button>
            </div>
        </div>
    </div>
    {{/each}}
    {{/each}}
</script>
<script type="text/html" id="roomInfo">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="updateModalLabel">{{room}}</h4>
</div>
<div class="modal-body">
    <form class="form-inline">
    {{ if status == 1}}
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateArea">房间面积：</label>
            <input type="text" class="form-control input-sm" id="updateArea" value="{{area}}">
            <span>㎡</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>房间位置：</label>
            <span>{{build_block}}幢{{room}} </span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>所属园区：</label>
            <span>{{parkName}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updatePrice">租赁单价：</label>
            <input type="text" class="form-control input-sm" id="updatePrice" value="{{price}}">
            <span>元/㎡/天</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateCompany">企业名称：</label>
            <input type="text" class="form-control input-sm" id="updateCompany" value="{{company}}">
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>企业类型：</label>
            {{ if company_type && company_type.length}}
            <select name="companyType">
                {{ each company_type as type i }}
                {{ if type == i}}
                <option value="{{i}}" selected>{{type}}</option>
                {{ else }}
                <option value="{{i}}">{{type}}</option>
                {{ /if }}
                {{/each}}
            </select>
            {{ /if }}
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label >房间状态：</label>
            <span>空置</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>关联房号：</label>
            <span>暂无关联房号信息</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label class="updatePanorama">房间全景：</label>
            <input type="text" class="form-control input-sm" id="updatePanorama" value="{{panorama}}">
        </div>
    </div>
    <div class="modal-cell">
        <div class=" file-row">
            <label class="updatePicture">房间照片：</label>
            <input class="input-file"  type="file" class="file" multiple id="updatePicture">
        </div>
    </div>
    <div class="modal-cell">
        <div class="upload-img-box">
            {{ if img && img.length && img != 0}}
            {{each img as item}}
            <div class="upload-img">
                <span class="glyphicon glyphicon-remove icon-del"></span>
                <img src="{{item}}" >
            </div>
            {{/each}}
            {{ /if }}
        </div>
    </div>
    {{ else if status == 2}}
     <h4 class="text-center">房间信息</h4>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateArea">房间面积：</label>
            <span>{{area}}</span>
            <span>㎡</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>房间位置：</label>
            <span>{{build_block}}幢{{room}} </span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>所属园区：</label>
            <span>{{parkName}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updatePrice">租赁单价：</label>
            <span>{{price}}</span>
            <span>元/㎡/天</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label >房间状态：</label>
        </div>
    </div>
    {{ else if status == 3}}
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateArea">房间面积：</label>
            <span>{{area}}</span>
            <span>㎡</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>房间位置：</label>
            <span>{{build_block}}幢{{room}} </span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>所属园区：</label>
            <span>{{parkName}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updatePrice">租赁单价：</label>
            <span>{{price}}</span>
            <span>元/㎡/天</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateCompany">公司名称：</label>
            {{company}}
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>公司类型：</label>
            <span>{{company}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label >房间状态：</label>
            <span>已租</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>关联房号：</label>

            <span>暂无关联房号信息</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label class="updatePanorama">房间全景：</label>
            <span>{{panorama}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class=" file-row">
            <label>房间照片：</label>
        </div>
    </div>
    <div class="modal-cell">
        <div class="upload-img-box">
            {{ if img && img.length && img != 0}}
            {{each img as item}}
            <div class="upload-img">
                <span class="glyphicon glyphicon-remove icon-del"></span>
                <img src="{{item}}" >
            </div>
            {{/each}}
            {{ /if }}
        </div>
    </div>
    {{ else if status == 4}}
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateArea">房间面积：</label>
            <input type="text" class="form-control input-sm" id="updateArea" value="{{area}}">
            <span>㎡</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>房间位置：</label>
            <span>{{build_block}}幢{{room}} </span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>所属园区：</label>
            <span>{{parkName}}</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updatePrice">租赁单价：</label>
            <input type="text" class="form-control input-sm" id="updatePrice" value="{{price}}">
            <span>元/㎡/天</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label for="updateCompany">企业名称：</label>
            <input type="text" class="form-control input-sm" id="updateCompany" value="{{company}}">
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>企业类型：</label>
            {{ if company_type && company_type.length}}
            <select name="companyType">
                {{ each company_type as type i }}
                {{ if type == i}}
                <option value="{{i}}" selected>{{type}}</option>
                {{ else }}
                <option value="{{i}}">{{type}}</option>
                {{ /if }}
                {{/each}}
            </select>
            {{ /if }}
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label >房间状态：</label>
            <span>
                下架
            </span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label>关联房号：</label>
            <span>暂无关联房号信息</span>
        </div>
    </div>
    <div class="modal-cell">
        <div class="form-group">
            <label class="updatePanorama">房间全景：</label>
            <input type="text" class="form-control input-sm" id="updatePanorama" value="{{panorama}}">
        </div>
    </div>
    <div class="modal-cell">
        <div class=" file-row">
            <label class="updatePicture">房间照片：</label>
            <input class="input-file"  type="file" class="file" multiple id="updatePicture">
        </div>
    </div>
    <div class="modal-cell">
        <div class="upload-img-box">
            {{ if img && img.length && img != 0}}
            {{each img as item}}
            <div class="upload-img">
                <span class="glyphicon glyphicon-remove icon-del"></span>
                <img src="{{item}}" >
            </div>
            {{/each}}
            {{ /if }}
        </div>
    </div>
    {{ /if}}
    </form>
</div>
<div class="modal-footer" data-type="{{status}}" data-room="{{room}}" data-build="{{build_block}}" data-id="{{id}}">
    {{ if status == 1}}
    <button type="button" class="btn btn-success"  data-status="manage">下架</button>
    <button type="button" class="btn btn-primary"  data-status="save">保存</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    {{ else if status == 2}}
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    {{ else if status == 3}}
    <button type="button" class="btn btn-warning"  data-status="delete">删除</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    {{ else if status == 4}}
    <button type="button" class="btn btn-success"  data-status="manage">上架</button>
    <button type="button" class="btn btn-warning"  data-status="delete">删除</button>
    <button type="button" class="btn btn-primary"  data-status="save">保存</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    {{ /if}}
</div>


</script>
<script type="text/html" id="layer">
    <div class="layer">
        <div class="layer-header">{{roomName}}</div>
        <div class="layer-content">
            <div class="layer-content-cell clearfix"><span>房间面积：</span><span>{{roomArea}}㎡</span><span class="content-contract">{{contract}}</span></div>
            <div class="layer-content-cell"><span>公司名称：</span><span>{{companyName}}</span></div>
            <div class="layer-content-cell">
                <span>关联房号：</span>
                {{if relevanceRoom && relevanceRoom.length}}
                {{each relevanceRoom as item}}
                <span class="badge">{{item}}</span>
                {{/each}}
                {{ else }}
                <span>暂无关联房号信息</span>
                {{/if }}
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="floorTpl">
    <div class="table-cell clearfix" data-floor="{{fid}}">
        <div class="table-cell-tit col-xs-1"><i class="fa fa-close table-cell-icon"></i>F{{fid}}</div>
        <div class="table-cell-info col-xs-11"><div class="cell-item item-default">{{fid}}F</div></div>
    </div>
</script>
<script type="text/html" id="selectFloor">
    {{ if floor && floor.length}}
        {{each floor as item }}
        <option value="{{item}}">{{item}}</option>
        {{/each}}
    {{ /if }}
</script>
<script type="text/html" id="uploadTpl">
    {{ if data}}
    <div class="upload-img">
        <span class="glyphicon glyphicon-remove icon-del "></span>
        <a href="{{data}}" class="front_cover">
            <img src="{{data}}" alt="" class="img">
        </a>
    </div>
    {{ /if }}
</script>
<script>

   $(function () {
       $(".table").first().show();
       $("#checkPark").change(function(){
           var key  = $(this).val();
          $(".table").hide().siblings("[data-key="+key+"]").show();
       });
       $(".add_floor").change(function(){
           var $this = $(this),
                   floor  = $this.val();
                $this.attr('data-floor',floor);
       });
       $(".mail-content").on('mouseover mouseout','.cell-item',function (event) {
           if(event.type == "mouseover"){
               //鼠标悬浮
               var $this = $(this),
                       area = $this.data("area"),
                       room = $this.data("room"),
                       contract =  $this.data("contract"),
                       layer = $this.children('.layer');
               if(!layer.length){
                   var data = {
                       el:$this,
                       roomName:room,
                       roomArea:area,
                       contract:contract
                   };
                   hoverRoom(data);
               }
               $this.children('.layer').show().animate({top: '+35px'}, "fast");
           }else if(event.type == "mouseout"){
               //鼠标离开
               $(this).children('.layer').hide().animate({top: '+40px'}, "fast");
           }
       });
       //绑定模态框展示的方法
       $("#room-modal").on('show.bs.modal', function (event) {
           var modal = $(this),
                   build = $('#checkPark').select().val(),
                   target = $(event.relatedTarget);
            modal.find("#house").find("option[value="+build+"]").prop("selected",true);
            modal.find('.add_floor').hide().siblings("[data-key="+build+"]").show();
       });
       $("#update-modal").on('show.bs.modal', function (event) {
           var  modal = $(this),
                   target = $(event.relatedTarget),
                   room_id = target.data('roomid');
           var data = {
               room_id:room_id
           };
           modal.find(".modal-content").empty();
           $.ajax({
               data:data,
               type:'POST',
               url:"{:Url('Park/floorInfo')}",
               success:function (e) {
                   //return;
                   if(e.code ==1){
                       var data = JSON.parse(e.data);
                       console.log(data);
                       var roomTpl = template("roomInfo",data);
                       modal.find(".modal-content").html(roomTpl);
                       //图片上传
                       uploadPicture(modal);
                   }else{
                       updateAlert(e.msg);
                   }

               }
           });

//           modal.find('.modal-body').html(recipient);
       });
       //编辑楼层
       $("#editFloor").click(function (e) {
            var state = $(this).data('state');
           if(state && state == '1'){
               $(".table .table-cell-icon").show();
               $(this).data('state','2');
           }else if(state == '2'){
               $(this).data('state','1');
               $(".table .table-cell-icon").hide();
           }
       });
       //删除选定楼层信息
       $(".mail-content").on('click','.table-cell-tit .table-cell-icon',function (e) {
           var $this = $(this),
                   floorInfo = $this.parent().next(),
                   parents = $this.parent().parent(),
                   parentsIndex = parents.index(),
                   floor = parents.data('floor'),
                   lastIndex = parents.siblings('.table-cell').last().index(),
                   html = '<div class="cell-item-default item-default">'+floor+'F</div></div>';
           if(parentsIndex == lastIndex + 1){
               parents.remove();
               var build = $('#checkPark').select().val();
                   var data = {
                       id:2,
                       build_block:build,
                       floor:floor
                   };
                   //console.log(data);
                   $.ajax({
                       data:data,
                       type:'POST',
                       url:"{:Url('Park/delfloor')}",
                       success:function (e) {
                           if(e.code ==1){
                               delFloor(build,e.data);
                           }else{
                               updateAlert(e.msg);
                           }

                       }
                   })
           }else{
               floorInfo.empty().html(html);
           }
       });
       //添加楼层
       $(".mail-content").on('click','.addFloor',function () {
           var $this = $(this),
                   build = $('#checkPark').select().val(),
                    park = "{$park_id}",
                    parent = $(this).parent().parent(),
                    floor = parent.prev().attr("data-floor") || 0,
                    againBuild = parent.parent().data("key"),
                    state =  $("#editFloor").data("state"),
                    newFloor = parseInt(floor) +1,
                    data = {fid:newFloor,build:build,park_id:park};
           $this.prop('disabled', true);
            //console.log(data);
           if(build != againBuild){
               updateAlert('添加失败！');
               setTimeout(function () {
                   location.reload();
               },2000);
               return;
           }
           $.ajax({
               data:data,
               type:'POST',
               url:"{:Url('Park/addfloor')}",
               success:function (e) {
                   $this.prop('disabled', false);
                   console.log(e)
                   if(e.code ==1){
                       updateAlert(e.msg,"success");
                       var html = template('floorTpl',data);
                       parent.before(html);
                       if(state == '2'){
                           $(".table .table-cell-icon").show();
                       }
                   }else{
                       updateAlert(e.msg,"info");
                       setTimeout(function () {
                           location.reload();
                       },2000);
                   }
               },
               error:function (e) {
                   $this.prop('disabled', false);
               }
          })
       });
       //图片上传
       uploadPicture($("#room-modal"));
       //增加房间信息
        $('#addRoom').click(function () {
            var park = "{$park_id}";
            var area = $('#area').val();
            var floor = $("[name='add_floor']").select().val();
            var room = $("[name='add_room']").val();
            var build = $('#house').select().val();
            var price = $('#price').val();
            var panorama = $("#panorama").val();
            var imgsSrc=[];
            var img= $('#room-modal').find('.img');
            for(var i=0;i<img.length;i++){
                imgsSrc.push(img[i].src);
            };
            console.log(imgsSrc);
            $.ajax({
                data:{floor:floor,room:room,build_block:build,panorama:panorama,area:area,price:price,img:imgsSrc,imgs:homes},
                type:"POST",
                url:"{:Url('Park/addrooms')}",
                success:function (data) {
                    console.log(data);
                    if (data.code==1){
                        updateAlert(data.msg,"success");
                        var  houseTpl =template('houseList',data);
                        $(".mail-content").empty().append(houseTpl).find(".table[data-key="+build+"]").show();
                        //console.log(e);

//                        updateAlert(data.msg+" 稍后自动刷新页面～","success");
//                        setTimeout(function () {
//                            location.href = data.url;
//                        },2000);
                    }else{
                        updateAlert(data.msg,"info");
                        setTimeout(function () {
                            location.reload();
                        },2000);
                    }
                }

            })



        });

       //所选房间状态修改
       $("#update-modal").on('click','.modal-footer button',function () {
          console.log($(this));
           var $this = $(this),
                   status = $this.data('status');
           if (!status) {
               return;
           } else {
               var $parent = $this.parent(),
                       type = $parent.data("type"),
                       build = $parent.data('build'),
                       room = $parent.data('room'),
                       roomId = $parent.data("id");
               switch (status){
                   case 'manage':
                       var data = {
                           room:room,
                           build_block:build
                       };
                       if (type == '1') {
                           data.manage = 2;
                       }else{
                           data.manage = 1;
                       }
                       commonAjax("{:Url('Park/setmanage')}",data,hideUpdateModal,build);
                       break;
                   case 'delete':
                        var data = {
                            status:type,
                            room_id:roomId
                        };
                       commonAjax("{:Url('Park/delete')}",data,hideUpdateModal,build);
                       break;
                   case 'save':
                       var area = $("#update-modal").find('#updateArea').val(),
                           price = $("#update-modal").find('#updatePrice').val(),
                           company = $("#update-modal").find('#updateCompany').val(),
                           panorama = $("#update-modal").find('#updatePanorama').val(),
                           companyType = $("#update-modal").find('select[name="companyType"]').select().val(),
                           data = {
                                room:room,
                                build_block:build,
                                area:area,
                                price:price,
                                company:company,
                                type:companyType,
                                panorama:panorama,
                                img:[],
                                imgs:[]
                           };
                       commonAjax("{:Url('Park/saveroom')}",data,hideUpdateModal,build);
                       break;
                   default:
                       return;
               }

           }
       });
//       房间状态回调函数
       function hideUpdateModal(data,build) {
           $("#update-modal").modal('hide');
           updateAlert(data.msg,"success");
           var  houseTpl =template('houseList',data);
           $(".mail-content").empty().append(houseTpl).find(".table[data-key="+build+"]").show();
       }
      /*
      *  房屋状态修改公共ajax
      *  @param url (String) 请求地址
      *  @param data (Object) 请求数据
      *  @param callBack (Function) 回调函数
      *  @param build (String) 修改的幢
      * */
       function  commonAjax(url,data,callBack,build) {
           $.ajax({
               data:data,
               type:"post",
               url:url,
               success:function (e) {
                   if(e.code == 1){
                       callBack(e,build);
                   }else{
                       updateAlert(e.msg+" 稍后自动刷新页面～","info");
                       setTimeout(function () {
                           location.reload();
                       },2000);
                   }
               },
               error:function (e) {
                   updateAlert('网络错误',"info");
                   setTimeout(function () {
                       location.reload();
                   },2000);
               }
           });
       }
       /**
        * 追加房屋信息
        * @param data (Object)
        * {el,roomName,roomArea,companyName,relevanceRoom}
        * el（jQuery）被追加的jq对象
        * roomName （String）房间名称
        * companyName (String) 公司名称
        * relevanceRoom （Array） 关联房号信息
        */
       function hoverRoom(data) {
           if(!jQuery){
               return;
           }
           var defaultData = {
               el:$('body'),
               roomName:'',
               roomArea:'暂无',
               companyName:'暂无公司信息',
               contract:'',
               relevanceRoom:[]
           };
           var newData = $.extend({},defaultData,data),
                   layerTpl = template('layer',newData);
           newData.el.append(layerTpl);
       }
       /**
        *  删除楼层
        * @param build
        * @param floor
        */
       function  delFloor(build,floor) {
           var modal = $("#room-modal"),
                   selectFloorHtml = template('selectFloor',floor),
                   selectFloor =  modal.find('.add_floor[data-key='+build+']'),
                   floor = selectFloor.data('floor');
           if(floor){
               selectFloor.empty().append(selectFloorHtml).find("option[value="+floor+"]").prop("selected",true);
           }else{
               selectFloor.empty().append(selectFloorHtml);
           }
       }

       /**
        * 增加查看大图
        */
       function addImgBox() {
           $(".front_cover").imgbox({
               overlayShow: false,
               hideOnContentClick: true,
               slideshow: false,
               theme: 'dark',
               alignment: 'center',       // Position - may be auto OR center.
               allowMultiple: false
           });
       }
       /**
        * 上传图片
        */
       function uploadPicture(el) {
           var homes = [] ;
           $(".input-file").fileinput({
               showPreview: false,
               language: 'zh', //设置语言
               uploadUrl: '{:Url("Upload/picture")}', //上传的地址
               allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
               maxFileSize: 1024 * 200,
               maxFilesNum : 5,//上传最大的文件数量
           }).on("filebatchselected", function(event, files) {
               if(files.length == 0){
                   return "";
               }
               lrz(files[0],{width:1024})
                   .then(function (rst) {
                       //ajax 上传图片
                       var base64Img,base64Str = [];
                       base64Str = rst.base64.split(',',3);
                       //console.log(base64Str);
                       if(base64Str.length > 1){
                           base64Img = base64Str[1];
                       }else{
                           base64Img = base64Str[0];
                       }
                       //console.log(base64Img);
                       //return;
                       $.ajax({
                           data:{img:base64Img},
                           type:"post",
                           url:"{:Url('Park/setPic')}",
                           success:function (data) {
                               homes.push(data);
                               //console.log(homes);
                               /*addImgBox();
                               $('.del1').click(function(){
                                   var delNumber = $(this).parent().parent().index();
                                   $(this).parent().remove();
                                   homes.splice(delNumber,1);
                               });*/
                           }
                       })
                   });
               $(this).fileinput("upload");
           }).on('fileuploaded', function(event, data, previewId, index) {
               /* console.log(event,data,previewId,index);
                console.log(data);*/
               var data = JSON.parse(data.response);
               var html = template('uploadTpl',data);
               /*console.log(html);*/
               el.find('.upload-img-box').append(html);
               addImgBox();
               $('.icon-del').click(function() {
                   var delNumber = $(this).parent().parent().index();
                   $(this).parent().remove();
                   homes.splice(delNumber, 1);
                   console.log(homes);
               });
           });

       }
   })

</script>
{/block}