{extend name="base/common"}
{block name="style"}
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<style>
    .mail-hearder{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .content-tit{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content-tit .inline-block,.content-tit label{
        min-width: 5em;
        margin-bottom: 0;
    }
    .content-tit select.form-control{
        margin: 0 10px;
        display: inline-block;
        min-width: 5em;
        width: auto;
        padding: 0 12px;
    }
    .table-cell{
        margin-bottom: 7px;
    }
    .table-cell-tit{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        position: relative;
    }
    .table-cell-tit .table-cell-icon{
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 5px;
        line-height: 35px;
    }
    .table-cell-info{
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .cell-item{
        flex: 1;
        height: 35px;
        margin-right: 7px; /*border-radius: 5px;*/
        line-height: 35px;
        font-size: 14px;
        text-align: center;
        color: #333;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #fff;
        border: 1px solid transparent;
        position: relative;
    }
    .item-warning {
        background-color: #f8ac59;
        border-color: #f8ac59;
    }
    .item-warning:hover{
        background-color: #f7a54a;
        border-color: #f7a54a;
    }
    .item-gray{
        background-color: #d1dade;
        border-color: #d1dade;
    }
    .item-gray:hover{
        background-color: #e6e6e6;
        border-color: #e6e6e6
    }
    .item-primary{
        background-color: #1ab394;
        border-color: #1ab394;
    }
    .item-primary:hover{
        background-color: #179d82;
        border-color: #179d82;
    }
    .item-default{
        background-color: #fff;
        border-color: #e7eaec;
    }
    .item-default:hover{
        border-color: #d2d2d2;
    }
    .cell-item:last-child{
        margin-right: auto;
    }
    .content-tit .add{
        padding: 5px 20px;
    }
    .legend{
        padding: 0 20px;
    }
    .legend  .legend-item{
        display: inline-flex;
        align-items: center;
       margin:5px 0 5px 10px;
    }
    .legend  .legend-item span{
        display: inline-block;
        margin-right:5px ;
    }
    .legend .label{
        width: 30px;
       padding: 10px;
       border: 1px solid  transparent;
    }
    .legend .label:empty{
        display: inline-block;
    }
    .label.label-warning{
        border-color:#f8ac59;
    }
    .label.label-primary{
        border-color:#1ab394;
    }
    .label.label-default{
        background-color: #fff;
        border-color:#e7eaec;
    }
    .flex{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 5px;
    }

    .modal-body .modal-cell{
        padding: 10px;
    }
    .modal-body .modal-cell .cell-sm{
        /*width: 70px;*/
        display: inline-block;
    }
    .modal-cell .form-control, .single-line{
        padding: 5px 12px;
    }
    .modal-cell .file-row{
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .upload-img-box{
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .modal-cell .upload-img{
        position: relative;
        width: 30%;
        padding: 20px;
    }
    .modal-cell .upload-img img{
        display: block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 300px;

    }
    .icon-del{
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        line-height: 1.4;
        text-align: center;
        /*border: 1px solid #676a6c;*/
        /*border-radius: 50%;*/
    }
    .file-row label{
        min-width: 5em;
        margin-right: 3px;
    }
    .layer{
        display: none;
        position: absolute;
        top:35px;
        left: 0;
        z-index: 10;
        width: 20vw;
        background-color: inherit;
    }
    .layer-content{
        padding:0 10px;
        text-align: left;
        background-color: #fff;
    }
    @media (min-width: 768px){
        .form-inline .input-group .input-group-btn{
            width: 1%;
        }
    }
    @media (max-width: 768px){
        .legend{
            padding: 0;
        }
        .flex{
            flex-wrap: wrap;
        }
        .table-cell-tit .table-cell-icon{
            left:0;
        }
        .form-inline .form-control{
            width: 70px;
            display: inline-block;
            vertical-align: middle;
        }
        .layer{
            width: 80vw;
        }
    }

</style>
{/block}
{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="content-tit mail-box-header">
        <div class="flex">
            <span class="inline-block">当前园区：</span><label for="checkPark">希恳科技园</label>
            <select name="" id="checkPark" class="form-control input-sm ">
                {volist name="$floorInfo" id="vo"}
                    {volist name="vo" id="vo1"}
                        <option value="{$key}">{$key}幢</option>
                    {/volist}
                {/volist}
                <!--<option value="B">B幢</option>
                <option value="C">C幢</option>-->
            </select>
            <div class="add btn btn-sm btn-default" data-toggle="modal" data-target="#room-modal">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="legend ">
                <div class="legend-item">
                    <span class="label label-primary"></span><span>空置</span>
                </div>
                <div class="legend-item">
                    <span class="label label-warning"></span><span>已约</span>
                </div>
                <div class="legend-item">
                    <span class="label"></span><span>已租</span>
                </div>
                <div class="legend-item">
                    <span class="label label-default"></span><span>下架</span>
                </div>
            </div>
        </div>


        <form method="get" action="" class="pull-right mail-search">
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="search" placeholder="搜索房间号">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mail-box">
        <div class="mail-hearder">
            <button class="btn button btn-success" id="editFloor" data-state="1">编辑楼层</button>
        </div>
        <div class="table">
            <div class="table-cell clearfix" data-floor="1">
                <div class="table-cell-tit col-xs-1">
                    <i class="fa fa-close table-cell-icon"></i>
                    F1
                </div>
                <div class="table-cell-info col-xs-11">
                    <div class="cell-item item-primary" data-toggle="modal" data-target="#update-modal">1

                    </div>
                    <div class="cell-item item-gray">2</div>
                    <div class="cell-item item-warning">3</div>
                    <div class="cell-item item-default">4</div>
                    <div class="cell-item item-default">5</div>
                </div>
            </div>
            <div class="table-cell clearfix " data-floor="2">
                <div class="table-cell-tit col-xs-1">
                    <i class="fa fa-close table-cell-icon"></i>
                    F2
                </div>
                <div class="table-cell-info col-xs-11">
                    <div class="cell-item item-default">2F</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                    <button class="btn btn-white btn-block" id="addFloor">点击添加楼层</button>
                </div>
            </div>
        </div>



        <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="room-modal" aria-label="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">新建房间</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="area">房间面积：</label>
                                    <input type="text" class="form-control input-sm" id="area">
                                    <span>㎡</span>
                                </div>
                            </div>

                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>所属楼层：</label>
                                    <select name="add_floor" id="" class="input-sm form-control">
                                        <option value="1">1楼</option>
                                    </select>
                                    <!--<input type="text" class="form-control">-->
                                    <span>层</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>房间号码：</label>
                                    <input type="text" class="form-control input-sm" name="add_room">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="house">房间幢号：</label>
                                    <span>希垦科技园</span>
                                    <select name="" id="house" class="input-sm form-control">
                                        <option value="1">A幢</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="price">租赁单价：</label>
                                    <input type="text" class="form-control input-sm" id="price">
                                    <span>元/㎡/天</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label class="panorama">房间全景：</label>
                                    <input type="text" class="form-control input-sm" id="panorama">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class=" file-row">
                                    <label class="picture">房间照片：</label>
                                    <input class="input-file"  type="file" class="file" multiple id="picture">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="upload-img-box">
                                    <div class="upload-img">
                                        <span class="glyphicon glyphicon-remove icon-del"></span>
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="" class="img">
                                    </div>
                                    <div class="upload-img">
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="" class="img">
                                    </div>
                                    <div class="upload-img">
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="" class="img">
                                    </div>
                                    <div class="upload-img">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2024843780,2197473370&fm=27&gp=0.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="modal-cell">
                                <p>新建房间后，默认为下架状态</p>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addRoom">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="update-modal" aria-label="updateModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="updateModalLabel">203</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updateArea">房间面积：</label>
                                    <input type="text" class="form-control input-sm" id="updateArea">
                                    <span>㎡</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>房间位置：</label>
                                    <span>A幢 203</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label>所属园区：</label>
                                    <span>希垦科技园</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updatePrice">租赁单价：</label>
                                    <input type="text" class="form-control input-sm" id="updatePrice">
                                    <span>元/㎡/天</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updateCompany">企业名称：</label>
                                    <input type="text" class="form-control input-sm" id="updateCompany">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updateType">企业类型：</label>
                                    <input type="text" class="form-control input-sm" id="updateType">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updateType">房间状态：</label>
                                    <span>空置</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label for="updateType">关联房号：</label>
                                    <span>暂无关联房号信息</span>
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="form-group">
                                    <label class="updatePanorama">房间全景：</label>
                                    <input type="text" class="form-control input-sm" id="updatePanorama">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class=" file-row">
                                    <label class="updatePicture">房间照片：</label>
                                    <input class="input-file"  type="file" class="file" multiple id="updatePicture">
                                </div>
                            </div>
                            <div class="modal-cell">
                                <div class="upload-img-box">
                                    <div class="upload-img">
                                        <span class="glyphicon glyphicon-remove icon-del"></span>
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="">
                                    </div>
                                    <div class="upload-img">
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="">
                                    </div>
                                    <div class="upload-img">
                                        <img src="http://f12.baidu.com/it/u=1536232571,2962168798&fm=76" alt="">
                                    </div>
                                    <div class="upload-img">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2024843780,2197473370&fm=27&gp=0.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
   $(function () {
//      el,roomName,roomArea,companyName,relevanceRoom
       function hoverRoom(data) {
           if(!jQuery){
               return;
           }
           var defaultData = {
               el:$('body'),
               roomName:'',
               roomArea:'暂无',
               companyName:'暂无公司信息',
               relevanceRoom:'暂无关联房号信息'
           };
            var newData = $.extend({},defaultData,data),
                    badge = '';
          if(newData.relevanceRoom && typeof (newData.relevanceRoom) == 'object'){
                for(var i = 0,length = newData.relevanceRoom.length; i < length; I++){
                   badge += '<span class="badge">'+newData.relevanceRoom[i]+'</span>';
                }
          }else{
              badge = '暂无关联房号信息';
          }
           var html = '<div class="layer">'+
                           '<div class="layer-header">'+newData.roomName+'</div>'+
                           '<div class="layer-content">'+
                               '<div class="layer-content-cell"><span>房间面积：</span><span>'+newData.roomArea+'㎡</span></div>'+
                               '<div class="layer-content-cell"> <span>公司名称：</span><span>'+newData.companyName+'</span></div>'+
                               '<div class="layer-content-cell">'+
                                   '<span>关联房号：</span>'+badge+
                               '</div>'+
                           '</div>'+
                       '</div>';
           newData.el.append(html);
       }

       $(".cell-item").hover(function () {
           var $this = $(this),
                layer = $this.children('.layer');
           if(!layer.length){
               var data = {
                   el:$this,
                   roomName:'203'
               };
               hoverRoom(data);
           }
           $this.children('.layer').show();

       },function () {
           $(this).children('.layer').hide();
       });
       //绑定模态框展示的方法
       $("#room-modal").on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget);
           console.log(button);
//           var recipient = button.data('text');
           var modal = $(this);
//           modal.find('.modal-body').html(recipient);
       });
       $("#update-modal").on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget);
           console.log(button);
//           var recipient = button.data('text');
           var modal = $(this);
//           modal.find('.modal-body').html(recipient);
       });
       //编辑楼层
       $("#editFloor").click(function (e) {
            var state = $(this).data('state');
           if(state && state == '1'){
               $(".table .table-cell-icon").show();
               $(this).data('state','2');
           }else if(state == '2'){
               $(this).data('state','1');
               $(".table .table-cell-icon").hide();
           }

       });
       //删除选定楼层信息
       $(".table").on('click','.table-cell-tit .table-cell-icon',function (e) {
           var $this = $(this),
                   floorInfo = $this.parent().next(),
                   parents = $this.parent().parent(),
                   parentsIndex = parents.index(),
                   floor = parents.data('floor'),
                   lastIndex = $(".table .table-cell").last().index(),
                   html = '<div class="cell-item item-default">'+floor+'F</div></div>';
           if(parentsIndex == lastIndex){
               parents.remove();
           }else{
               floorInfo.empty().html(html);
           }
           //if(){}
       });
       //添加楼层
       $("#addFloor").click(function () {
           var parent = $(this).parent().parent(),
                floor = parent.prev().attr("data-floor") || 0,
                state =  $("#editFloor").data("state"),
                newFloor = parseInt(floor) +1,
                html = '<div class="table-cell clearfix" data-floor="'+newFloor+'">'+
                   '<div class="table-cell-tit col-xs-1"><i class="fa fa-close table-cell-icon"></i>F'+newFloor+'</div>'+
                  '<div class="table-cell-info col-xs-11"><div class="cell-item item-default">'+newFloor+'F</div></div>'+
                '</div>';

           var build = $('#checkPark').select().val();
           var park = "{$park_id}";
           //alert(build);return ;
           if(state == '2'){
               $(".table .table-cell-icon").show();
           }
           $.ajax({
               data:{fid:newFloor,build:build,park_id:park},
               type:'POST',
               url:"{:Url('Park/addfloor')}",
               success:function (e) {
                   //console.log(e)
                   if(e.code ==1){
                       parent.before(html);
                   }else{
                       updateAlert(e.msg);
                   }

               }
          })
       });
       //图片上传
       $(".input-file").fileinput({
           showPreview: false,
           language: 'zh', //设置语言
           uploadUrl: '{:Url("Upload/picture")}', //上传的地址
           allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
           maxFileSize: 1024 * 200,
           maxFilesNum : 5,//上传最大的文件数量
       }).on("filebatchselected", function(event, files) {
           $(this).fileinput("upload");
       }).on('fileuploaded', function(event, data, previewId, index) {
            console.log(event,data,previewId,index);
       });
       //增加房间信息
        $('#addRoom').click(function () {
            var park = "{$park_id}";
            var area = $('#area').val();
            var floor = $("[name='add_floor']").select().val();
            var room = $("[name='add_room']").val();
            var build = $('#house').select().val();
            var price = $('#price').val();
            var panorama = $("#panorama").val();
            var imgsSrc=[];
            var img=$('.img');
            for(var i=0;i<img.length;i++){
                imgsSrc.push(img[i].src);
            };
            $.ajax({
                data:{floor:floor,room:room,build_block:build,panorama:panorama,area:area,price:price,img:imgsSrc},
                type:"POST",
                url:"{:Url('Park/addrooms')}",
                success:function (data) {
                    if (data.code==1){
                        updateAlert(data.msg+" 稍后自动刷新页面～","success");
                        setTimeout(function () {
                            location.href = data.url;
                        },2000);
                    }else{
                        updateAlert(data.msg,"info");
                    }
                }

            })



        })





   })
</script>
{/block}