{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style type="text/css">
    .note-editor.note-frame { border-radius: 0; border:0; margin-bottom: 0; }
    .front_cover_img {height: 40px; width: 40px; margin-top: 4px}
    .send_type_label {
        padding-left: 12px;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
                <!--<button url="{:Url('draft')}" class="btn btn-white btn-sm ajax-post" data-toggle="tooltip" data-placement="top"-->
                <!--target-form="form-horizontal" data-edit="content">-->
                <!--<i class="fa fa-pencil"></i> 保存草稿-->
                <!--</button>-->
                <a href="{:Url('index')}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>园区简介</h2>
        </div>
        <div class="mail-box">
            <form class="form-horizontal" method="post">
                <div class="mail-body">

                    <div class="form-group"><label class="col-sm-2 control-label">封面图片:</label>
                        <div class="col-sm-10">
                            <input id="input-file" type="file" class="file">
                            <sapn>
                                {empty name="$info.panorama_cover"}图片预览{else/}
                                <a class="panorama_cover" href="{$info.panorama_cover}">
                                    <img class="front_cover_img" src="{$info.panorama_cover}"/>
                                </a>
                                {/empty}
                            </sapn>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">全景图链接:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="园区简介顶部全景图的链接" name="panorama_link" value='{$info.panorama_link}'></div>
                    </div>

<div class="mail-text h-200" style="border: 1px solid #888888;">
    <div class="summernote">{$info.content}</div>
    <div class="clearfix"></div>
</div>
<div class="mail-body text-right tooltip-demo">

    <button url="{:Url('profile')}" class="btn btn-sm btn-primary ajax-post" target-form="form-horizontal"
            data-toggle="tooltip" data-placement="top" data-edit="content">
        <i class="fa fa-reply"></i> 添加
    </button>
    <!--<button url="{:Url('draft')}" class="btn btn-white btn-sm ajax-post" data-toggle="tooltip" data-placement="top"-->
    <!--target-form="form-horizontal" data-edit="content">-->
    <!--<i class="fa fa-pencil"></i> 保存草稿-->
    <!--</button>-->
    <a href="{:Url('index')}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
</div>
<div class="clearfix"></div>
<input type="hidden" name="content" class="to_hiden" value="">
<input type="hidden" name="id" value="{$info.id}">
<input type="hidden" name="panorama_cover" value="{$info.panorama_cover}">
                    </div>
</form>
</div>
</div>
</div>
{/block}

{block name="script"}
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script>
    $(document).ready(function () {

        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300,
            minHeight: 210,
            callbacks: {
                onImageUpload: function (files) { //the onImageUpload API
                    img = sendFile(files[0]);
                }
            }
        });

        function sendFile(file) {
            var data = new FormData();
            data.append("file_data", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "{:Url('Upload/picture')}",
                cache: false,
                contentType: false,
                processData: false,
                success: function(response) {
                    var data = $.parseJSON(response);
                    $(".summernote").summernote('insertImage', data.data, 'image name'); // the insertImage API
                }
            });
        }

        console.log($(this).val())
        $('.send_type').on('ifChecked', function(event){
            switch ($(this).val()) {
                case '0' :
                    $("#send_target").empty();
                    $("#send_target").append("<option value='0'>所有人</option>");
                    break;
                case '1':
                    $.ajax({
                        type: "get",
                        url: "{:Url('getDepartment')}",
                        success: function(response) {
                            $("#send_target").empty();
                            $.each(response.department, function(i,item){
                                $("#send_target").append("<option value='"+item.id+"'>"+item.name+"</option>");
                            });
                        }
                    });
                    break;
                case '2':
                    $.ajax({
                        type: "get",
                        url: "{:Url('getTag')}",
                        success: function(response) {
                            $("#send_target").empty();
                            $.each(response.taglist, function(i,item){
                                $("#send_target").append("<option value='"+item.tagid+"'>"+item.tagname+"</option>");
                            });
                        }
                    });
                    break;
            }
        });
    });

    $("#input-file").fileinput({
        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
    }).on("filebatchselected", function(event, files) {
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        var response = $.parseJSON(data.response);
        if(response.code == 1) {
            $("input[name='panorama_cover']").val(response.data);
        } else {
            updateAlert(response.msg, 'warning');
        }
    });

    $(".panorama_cover").imgbox({
        overlayShow: false,
        hideOnContentClick: true,
        slideshow: false,
        theme: 'dark',
        alignment: 'center',       // Position - may be auto OR center.
        allowMultiple: false,
    });

    //把content内容赋给隐藏表单

    $('.btn-primary').click(function(){
        $('.to_hiden').attr('value',$('.panel-body').text());
    })


        highlight_subnav("{:Url('Park/profile')}");




</script>
{/block}