{extend name="base/common"}

{block name="style"}
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
    table tr,th{
        text-align: center;
    }
    td:last-child{
        text-align: left;
        margin-left: 10%;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">

            <h2>预约信息 ({$list->total()})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrashs2')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th ></th>
                    <th >联系人</th>
                    <th>联系电话</th>
                    <th >房间号</th>
                    <th >备注</th>
                    <th >状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        {$vo.name}
                    </td>
                    <td>
                        {$vo.mobile}
                    </td>
                    <td>
                       {$vo.rent_id}
                    </td>
                    <td>
                        <a  class="under-line" data-toggle="modal" data-target="#remark-modal" data-text="{$vo.remark}">{$vo.remark|msubstr=0,20}</a>
                    </td>

                    <td>
                        {eq name="$vo.status" value ="1"}
                        <span>未联系</span>
                        {else/}
                        <span class="txt-success">已联系</span>
                        {/eq}

                    </td>
                    <td>
                        <div class="col-md-5 col-sm-1"></div>
                        {eq name="$vo.status" value ="1"}
                        <a  href="javascript:void(0)" class="btn-sm btn-primary" onclick="changeState('{$vo.id}')">联系</a>
                        <a  href="javascript:void(0)" class="btn-sm btn-info" onclick="delItem('{$vo.id}','{:Url('moveToTrashs2')}')">删除</a>
                        {else/}
                        <a  href="javascript:void(0)" class="btn-sm btn-info" onclick="delItem('{$vo.id}','{:Url('moveToTrashs2')}')">删除</a>
                        {/eq}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
    <div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="remark-modal" aria-label="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">备注详情</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });

        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);
        })
    });
    function getCompany(){
        $.ajax({
            data: "",
            type: "POST",
            url: "{:Url('Company/getCompany')}",
            success:function(data){
                updateAlert(data.msg+' 页面稍后会自动跳转～',"success");
                setTimeout(function(){
                    location.href=data.url;
                },2000);
            }

        })

    }
    function changeState(id) {
        $.ajax({
            data:{id:id},
            type:"post",
            url:"{:Url('Park/changeStatus')}",
            success:function (data) {
                if (data.code ==1){
                    updateAlert(data.msg+' 页面稍后会自动跳转～',"success");
                    setTimeout(function(){
                        location.href=data.url;
                    },2000);
                }else{
                    updateAlert(data.msg,"info")
                }
            }
        });
    }
    highlight_subnav("{:Url('Park/roomorder')}");

</script>
{/block}