{extend name="base/common"}

{block name="style"}

{/block}

{block name="page-header"}

{/block}

{block name="main"}
<!--<script id="container" name="content" type="text/plain">-->
        <!--开始使用-->
<!--</script>-->

<div class="controls">
    <label class="item-label">分类图标</label>
    <input type="file" id="upload_picture" class="upload_picture">
    <input type="hidden" name="icon" id="icon" value=""/>
    <div class="upload-img-box">
        <div class="upload-pre-item"><img src=""/></div>
    </div>
</div>
{/block}

{block name="script"}

{/block}