<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style>

    .btn-primary {
        font-size: 16px;
    }

    .mail-box .mail-ontact {
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }

    .mail-box .mail-subject {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }

    .mail-subject-div {
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-box .mail-main {
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-date {
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }

    @media only screen and (max-width: 550px) {
        .mail-date {
            display: none;
        }
    }

    .list_banner {
        width: 80px
    }

    .list_type {
        width: 80px
    }
    .del{
        position: absolute;
        right:4px;
        top:6px;
        color: #666;
    }
    .parent{
        position:relative ;
    }
    #sortable { list-style-type: none; margin: 0 0 10px 0; padding: 0; }
    #sortable li { margin: 0 ; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; display: block}
    #sortable li span { position: absolute; margin-left: -1.3em; }
    .select{
        display: inline-block;
        height: 32px;
    }
    .img-item{
        width:100%;
        position: relative;
        padding:25px 10px 10px 10px;
        margin-bottom: 10px;
        background: #f1f1f1;

    }

</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">

            <h2>商标查询</h2>
            <div class="mail-tools tooltip-demo m-t-md">


                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">


            <form id="form" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>查询信息:</label>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>联系人:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" readonly="readonly" placeholder="联系人" class="form-control form_title"
                               name="name" value="{$info.name}">

                    </div>

                    <div class="col-lg-1 text-right control-label">
                        <label>联系方式:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" readonly=ture class="form-control form_title" name="mobile"
                               value="{$info.mobile}">
                    </div>
                    <div class="col-lg-1 text-right control-label">
                        <label>商标类型:</label>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" readonly=ture class="form-control form_title" name="type"
                               value="{$info.type}">
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>中文:</label>
                    </div>
                    <div class="col-lg-9">
                        <textarea readonly=ture class="form-control form_title" name="chinese_description">{$info.chinese_description}</textarea>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>英文:</label>
                    </div>
                    <div class="col-lg-9">
                        <textarea readonly=ture class="form-control form_title" name="english_description">{$info.english_description}</textarea>
                    </div>
                </div>


                <div class="form-group">


                    <div class="col-lg-1 text-right control-label">
                        <label>数字:</label>
                    </div>
                    <div class="col-lg-9">
                        <textarea readonly=ture type="text" class="form-control form_title"
                                  >{$info.numeric_description}</textarea>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>查询日期:</label>
                    </div>
                    <div class="col-lg-3">
                        <input readonly=ture type="text" class="form-control form_title" value="{if condition="$info.create_time eq null"}空{else/}{$info.create_time|date='Y-m-d H:i',###}  {/if}">
                    </div>
                </div>
                    <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>回复日期:</label>
                    </div>
                    <div class="col-lg-3">

                        <input readonly=ture type="text" class="form-control form_title" value="{if condition="$info.end_time eq null"}空{else/}{$info.end_time|date='Y-m-d H:i',###}  {/if}">
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>状态:</label>
                    </div>
                    <div class="col-lg-3">
                        <input readonly=ture type="text" class="form-control form_title" value="{$info.status_text}">
                    </div>

                </div>


                <br>
                <br>

                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>上传图片:</label>

                    </div>
                    <br>
                    {notempty name="$info.submit_img" }
                    <div class="col-lg-5">
                        <div class="imggroup">
                            {volist name="$info.submit_img" id="vo"}
                            <a href="{$vo}" class="front_cover">
                                <img  width="200px" height="200px"  src="{$vo}" class="img-auto front_cover_img" alt="">
                            </a>
                            {/volist}
                        </div>
                    </div>
                    {/notempty}
                </div>
                <br>
                <br>
                {eq name="$info.status" value="1"}

                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>回复内容:</label>
                    </div>
                    <div class="col-lg-9">
                        <textarea readonly=ture class="form-control form_title" name="chinese_description">{$info.reply}</textarea>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>回复图片:</label>

                    </div>
                    <br>
                    {notempty name="$info.back_img" }
                    <div class="col-lg-5">
                        <div class="imggroup">
                            <a href="{$info.back_img}" class="front_cover">
                                <img   width="200px" height="200px"  src="{$info.back_img}" class="img-auto front_cover_img" alt="">
                            </a>
                        </div>
                    </div>
                    {/notempty}
                </div>
                {/eq}


                <br><br>


                {if condition="$info.status eq 0"}
                <div class="form-group">
                    <div class="col-lg-11 col-lg-offset-1 text-left">
                        <a data-toggle="modal" title="修改" href="#modal-form" data-id="{$info.id}"
                           class="btn-sm btn-primary">回复</a>
                    </div>
                </div>
                {/if}

                <input type="hidden" name="id" value="{$info.id}">

            </form>


        </div>
    </div>
</div>


<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<form class="form-horizontal" method="post" action="{:Url('Trademark/reply')}">-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center" name="dialog-title">回复</h3>
                </div>
                <div class="modal-body">
                    <label class="col-sm-2 control-label">回复内容:</label>
                    <div class="col-sm-10">
                        <textarea name="reply" class="reply-content" id="" cols="30" rows="10" style="width: 100%;"></textarea>
                    </div>
                    <label class="col-sm-2 control-label">回复图片:</label>
                    <div class="col-sm-10">
                        <input id="input-file" type="file" class="file input-file" multiple>
                    </div>
                    <div class="col-md-12 column clear"  id="sortable">
                        <!--<div class="col-md-2">-->
                        <!--<div class="img-item">-->
                        <!--<a class="front_cover">-->
                        <!--<img src="" alt="" style='width: 100%;height: 300px;' class="img parent" name="back_img" id="back_img">-->
                        <!--</a>-->
                        <!--<div class="del"><span class="glyphicon glyphicon-remove"></span></div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <input type="hidden" name="id">
                    <input type="hidden" name="back_img">
                    <!-- 富文本框<div class="mail-text h-200">
                         <div class="summernote"></div>
                         <div class="clearfix"></div>
                     </div>-->
                    <div style="clear: both"></div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary " onclick="reply()">保存</a>
                    <input type="hidden" name="id" value="">
                </div>
            <!--</form>-->
        </div>
    </div>
</div>


{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script src="/admin/js/jquery-ui-1.10.4.min.js"></script>
<script>
    highlight_subnav("{:Url('trademark/index')}");
    var
            isSubmit = false,
            imageArray = new Array() ;

    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300,
            minHeight: 210,
            callbacks: {
                onImageUpload: function (files) { //the onImageUpload API
                    img = sendFile(files[0]);
                }
            }
        });

        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);
        })


        $(function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        });
        imageArray = new Array() ;
    });
    (function () {
        addImgBox()
    })();
    $(".input-file").fileinput({
        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
        maxFilesNum : 3,//上传最大的文件数量
    }).on("filebatchselected", function(event, files) {
        if(isSubmit){
            updateAlert('上传中，请稍等~', 'info');
            return;
        }
        if(imageArray.length>2){
            updateAlert('最多上传三张图片~', 'info');
            return ;
        }
        isSubmit=true
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        isSubmit = false;
        var response = $.parseJSON(data.response);
        if(response.code == 1) {
            var html =
                    '<div class="col-md-6">'+
                    '<div class="img-item">'+
                    '<a class="front_cover" href="'+response.data+'">'+
                    '<img src="'+response.data+'" alt="" style="width: 100%;height: 300px;" class="img parent">'+
                    '</a>'+
                    '<div class="del" onclick="delImg(this)"><span class="glyphicon glyphicon-remove"></span></div>'+
                    '</div>'+
                    '</div>';
            $('#sortable').append(html);
            imageArray.push(response.data);
            addImgBox()

        } else {
            updateAlert(response.msg, 'info');
        }
    });
    function delImg(_this) {
        var theEl=$(_this).parent().parent();
        var index = theEl.index();
        imageArray.splice(index,1)
        console.log(imageArray)
        theEl.remove();
    }
    function addImgBox() {
        $(".front_cover").imgbox({
            overlayShow: false,
            hideOnContentClick: true,
            slideshow: false,
            theme: 'dark',
            alignment: 'center',       // Position - may be auto OR center.
            allowMultiple: false,
        });
    }

    function reply() {
        if(isSubmit){
            updateAlert('上传中，请稍等~', 'info');
            return;
        }
        var
                back_img = imageArray,
                id = $("input[name='id']").val(),
                reply = $('.reply-content').val();
        console.log($('.reply-content'))
        console.log(reply);
        if(back_img.length===0 && reply===''){
            updateAlert('请添加回复信息~', 'info');
            return;
        }
        isSubmit = true;
        $.ajax({
            data: {id: id, back_img: back_img,reply : reply},
            type: "POST",
            url: "{:Url('Trademark/reply')}",
            success: function (data) {
                isSubmit = false;
                if (data.code == 1) {
                    updateAlert(data.msg + ' 页面即将自动跳转~', 'success');
                    setTimeout(function () {
                        location.href = data.url;
                    }, 2000);
                } else {
                    updateAlert(data.msg, 'info');
                }
            },
            error:function (data) {
                isSubmit = false;
                updateAlert('网络错误，请联系网络管理员', 'info');
            }
        });
    }
    function sendFile(file) {
        var data = new FormData();
        data.append("file_data", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "{:Url('Upload/picture')}",
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                var data = $.parseJSON(response);
                $(".summernote").summernote('insertImage', data.data, 'image name'); // the insertImage API
            }
        });
    }

    $(".front_cover").imgbox({
        overlayShow: false,
        hideOnContentClick: true,
        slideshow: false,
        theme: 'dark',
        alignment: 'center',       // Position - may be auto OR center.
        allowMultiple: false,
    });


</script>
{/block}