{extend name="base/common"}

{block name="style"}
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .form-group:after{
        display: table;
        content: '';
        clear: both;
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}
    th,td{
        text-align: center;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <form method="get" action="index.html" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="搜索标题">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
            </form>
            <h2>保洁服务 ({$list->total()})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">
                <thead>
                <tr>
                    <th></th>
                    <th>服务类型</th>
                    <th>服务地点</th>
                    <th>预约时间</th>
                    <th>联系人员</th>
                    <th>联系方式</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td>{$vo.type_text}</td>
                    <td>{$vo.address}</td>
                    <td>{$vo.clear_time|date='Y-m-d H:i',###}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.mobile}</td>
                    <td><a class="click-text"  data-toggle="modal" data-target="#remark-modal" data-text="{$vo.extra}">{$vo.extra | msubstr=0,60}</a></td>
                    <td>{$vo.status_text}</td>
                    <td>
                        {eq name="$vo.status" value="0"}
                        <a data-toggle="modal" href="#modal-form1" onclick="showImage('{$vo.id}')" class="btn-sm btn-success" style="color: #fff;">查看凭证</a>
                        <a class=" btn-sm btn-primary" data-toggle="modal" href="#modal-form" onclick="changestates('{$vo.id}')">审核</a>
                        <!--<a data-toggle="modal" href="#modal-form" class=" btn-sm btn-primary" onclick="changestates('{$vo.id}',1)" style="color: #fff">审核通过</a>-->
                        <!--<a data-toggle="modal" href="#modal-form" class=" btn-sm btn-info " onclick="changestates('{$vo.id}',2)" style="color: #fff">审核不通过</a>-->
                        {else/}
                        <a data-toggle="modal" href="#modal-form1" onclick="showImage('{$vo.id}')" class="btn-sm btn-success" style="color: #fff;">查看凭证</a>
                        <button class="btn btn-sm btn-info " onclick="changeStatus('{$vo.id}',-1)">删除</button>
                        {/eq}

                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
<div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="remark-modal" aria-label="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">备注详情</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="update">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center">审核</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center zt-big-padding">是否通过审核？</p>

                    <div class="form-group"><label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10"><input type="text" name="check_remark"   class="form-control" placeholder="请填写备注信息，允许为空"></input></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center zt-flex zt-space-around">
                            <!--<input type="button"  class="form-control"    value="确认提交" onclick="changeStatus()" style="background-color: #1ab394;color: #fff;">-->
                            <a class="btn btn-primary " onclick="changeStatus('',1)">审核通过</a>
                            <a class="btn btn-warning " onclick="changeStatus('',2)">审核不通过</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center"  name="dialog-title">查看凭证</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="showImg">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" name="is_id" value="">
<input type="hidden" name="is_uid" value="">
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);


        })
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    //增加模态框后的修改；
    function changestates(id,uid) {
        $("input[name='check_remark']").val("");
        $("input[name='is_id']").val(id);
        $("input[name='is_uid']").val(uid);
    }
    /*修改服务状态值*/
    function changeStatus(id,uid){
//        if(!uid) {
//            var id = $("input[name='is_id']").val();
//            var uid = $("input[name='is_uid']").val();
//            var str = $("input[name='check_remark']").val();
//        }
        var data={};
        if(uid!=-1){
            data={
                 id : $("input[name='is_id']").val(),
                 del : uid,
                check_remark : $("input[name='check_remark']").val()
            }
        }else{
            data={
                id:id,
                del:uid
            }
        }
        $.ajax({
//            data:{id:id,del:uid,check_remark:str},
            data:data,
            type:"POST",
            url:"{:Url('Property/changeStatus')}",
            success:function (data){
                if(data.code==1){
                    updateAlert(data.msg+ ' 页面即将自动跳转~','success');
                    setTimeout(function(){
                        location.href=data.url;
                    },2000);
                }else{
                    updateAlert(data.msg,'info');
                }
            }
        })

    }
    //查看凭证
    function showImage(id) {
        $.ajax({
            data:{id:id},
            url:"{:Url('showImage')}",
            type:"post",
            success:function(data){
                $("#showImg").empty();
                $("#showImg").append(data);
            }
        })

    }
</script>
{/block}