<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>404 Error Page 3 | Unify - Responsive Website Template</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/home/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/css/style.css">
    <link rel="stylesheet" href="/home/css/page_error4_404.css">
</head>

<body>
<div class="container content valign__middle">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v4">
                <h1>404</h1>
                <span class="sorry">呃 NOT FOUND ！ 页面好像找不到了！</span>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <a class="btn-u btn-brd btn-u-light" href="{:Url('index/index')}"> 返回首页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/container-->
<div class="container sticky-footer">
    <p class="copyright-space">
    </p>
</div>
<script type="text/javascript" src="/home/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/home/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/home/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/home/plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    $.backstretch([
        "/admin/images/img2.jpg"
    ])
</script>

<![endif]-->
</body>
</html>
