<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="/admin/css/email.css" rel="stylesheet">
</head>
<body>
<div class="mail-container">
    <div class="logo">
        <img src="/index/images/video.png" height="100%"/>
        <span>灵煽科技</span>
    </div>
    <div class="mail-content">
        <p>感谢您注册<a href="#">灵煽科技</a></p>
        <p>请点击以下激活链接激活你的邮箱</p>
        <div class="mail-url">
            <span>http://www.kancloud.cn/activate/MTQ2OTA3MzY0NZndrWibvnnNe6DRn5bPi9LFvbFhjot7oa17g6GTuqumlqesbn_QopV_sMlngMycl7OqpamXhmeiw2ppnpe0onM</span>
        </div>
        <p>账户激活链接将在24小时后失效。</p>
        <p>请勿回复此邮件</p>
        <p class="font-email">--灵煽团队</p>
    </div>
    <p class="font-email">如果你没有注册过灵煽，请忽略此邮件</p>
</div>
</body>
</html>