{extend name="base/common"}

{block name="style"}
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}

    .fade{
        height: 1000px;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class=" pull-right tooltip-demo">
                <a href="{:Url('index')}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>{$company.name}</h2>

        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">
                <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:15%">费用类型</th>
                    <th style="width:15%">费用金额</th>
                    <th style="width:15%">到期时间</th>
                    <th style="width:15%">状态</th>


                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                    </td>
                    <td class="mail-subject">
                        {$vo.type_text}
                    </td>
                    <td>
                        {$vo.fee}
                    </td>
                    <td>
                        {$vo.expiration_time}
                    </td>
                    <td>
                        {eq name="$vo.status" value="0"}
                        <a data-toggle="modal" href="#modal-form" onclick="showImage('{$vo.id}')" class="btn-sm btn-primary" style="color: #fff;">查看凭证</a>
                        <a class=" btn-sm btn-primary" data-toggle="modal" href="#modal-form1" onclick="changestates('{$vo.id}')">审核</a>
                        {else/}
                        <span>{$vo.status_text}</span>
                        {/eq}

                    </td>


                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
<div id="modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="update">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center">审核</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center zt-big-padding">是否通过审核？</p>
                    <!--<div class="form-group"><label class="col-sm-2 control-label">备注</label>-->
                        <!--<div class="col-sm-10"><input type="text" name="check_remark"   class="form-control" placeholder="请填写备注信息，允许为空"></input></div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-sm-12 zt-flex zt-space-around">
                            <a class="btn btn-primary " onclick="changeState(2)">审核通过</a>
                            <a class="btn btn-warning " onclick="changeState(3)">审核不通过</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center"  name="dialog-title">查看凭证</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="showImg">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" name="is_id" value="">
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    function changeState(uid) {
        $.ajax({
            data:{id:$("input[name='is_id']").val(),uid:uid},
            type:"post",
            url:"{:Url('Feepayment/changeState')}",
            success:function (data) {
                if (data.code==1){
                    updateAlert(data.msg,"success");
                    setTimeout(function () {
                        location.href=data.url;
                    },2000);
                }else{
                    updateAlert(data.msg,"info");
                }
            }
        });
    }
    //增加模态框后的修改；
    function changestates(id) {
        $("input[name='check_remark']").val("");
        $("input[name='is_id']").val(id);
    }
    function showImage(id) {
        $.ajax({
            data:{id:id},
            url:"{:Url('showImage')}",
            type:"post",
            success:function(data){
                $("#showImg").empty();
               $("#showImg").append(data);
            }
        })

    }
    highlight_subnav("{:Url('feepayment/index')}");
</script>
{/block}