{extend name="base/common"}

{block name="style"}
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style>
    .mail-box .mail-ontact{
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }
    .mail-box .mail-subject{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }
    .mail-subject-div{
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-box .mail-main{
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-date{
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }
    @media only screen and (max-width: 550px){
        .mail-date{
            display: none;
        }
    }
    .list_banner {width: 80px}
    .list_type {width: 80px}

    .fade{
        height: 1000px;
    }
    th:not(:first-child),td:not(:first-child){
        text-align: center;
    }
    .imgs{
        margin-top: 20px;
        max-width: 540px;
        max-height:400px;
    }
</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class=" pull-right tooltip-demo">
                <a href="{:Url('index')}?page={$p}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>{$company.name}</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('moveToTrash')}" data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">
                <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:10%">费用类型</th>
                    <th style="width:10%">费用金额</th>
                    <th style="width:10%">到期时间</th>
                    <th>推送人数</th>
                    <th>点击人数</th>
                    <th style="width:15%">状态</th>
                    <th style="width:30%">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr class="read">
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td class="mail-subject">
                        {$vo.type_text}
                    </td>
                    <td>
                        {$vo.fee}
                    </td>
                    <td>
                        {$vo.expiration_time}
                    </td>
                    <td>
                        {$vo.totalNumber}
                    </td>
                    <td>
                        {$vo.number}
                    </td>
                    <td>

                        <span>{$vo.status_text}</span>

                    </td>
                    <td>
                        {lt name="$vo.status" value="2"}
                        <a data-toggle="modal" href="#modal-form" onclick="showImage('{$vo.id}')" class="btn-sm btn-success" style="color: #fff;">查看凭证</a>
                        <a  class="btn-sm btn-success" data-toggle="modal" data-target="#remark-modal" onclick="setImg('{$vo.id}','{$vo.images}')">收费单据</a>
                        <a href="javascript:void(0)" class="btn-sm btn-success" onclick="push('{$vo.id}')">推送</a>
                        <a class=" btn-sm btn-primary" data-toggle="modal" href="#modal-form1" onclick="changestates('{$vo.id}')">审核</a>
                        {else/}
                        <a data-toggle="modal" href="#modal-form" onclick="showImage('{$vo.id}')" class="btn-sm btn-success" style="color: #fff;">查看凭证</a>
                        <a  class="btn-sm btn-success" data-toggle="modal" data-target="#remark-modal"  onclick="setImg('{$vo.id}','{$vo.images}')">收费单据</a>
                        <a class="btn-sm btn-info" style="color: #fff" onclick="delItem('{$vo.id}','{:Url("moveToTrash")}')">删除</a>

                        {/lt}

                    </td>

                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>
<div id="modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="update">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center">审核</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center zt-big-padding">是否通过审核？</p>
                    <!--<div class="form-group"><label class="col-sm-2 control-label">备注</label>-->
                        <!--<div class="col-sm-10"><input type="text" name="check_remark"   class="form-control" placeholder="请填写备注信息，允许为空"></input></div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-sm-12 zt-flex zt-space-around">
                            <a class="btn btn-primary " onclick="changeState(2)">审核通过</a>
                            <a class="btn btn-warning " onclick="changeState(3)">审核不通过</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center"  name="dialog-title">查看凭证</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="showImg">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="modal-form2" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center"  name="dialog-title">查看凭证</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="showOrder">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal"  tabindex="-1" role="dialog" aria-hidden="true" id="remark-modal" aria-label="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">收费单据</h4>
            </div>
            <div class="modal-body">
                <input type="file" name="file_data" class="input file">
                <img src="" alt="" id="set_img" class="imgs">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="pushImg()">上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="is_id" value="">
<input type="hidden" name="set_id" value="">
<input type="hidden" name="front_cover">
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });
    function changeState(uid) {
        $.ajax({
            data:{id:$("input[name='is_id']").val(),uid:uid},
            type:"post",
            url:"{:Url('Feepayment/changeState')}",
            success:function (data) {
                if (data.code==1){
                    updateAlert(data.msg,"success");
                    setTimeout(function () {
                        location.href=data.url;
                    },2000);
                }else{
                    updateAlert(data.msg,"info");
                }
            }
        });
    }
    //增加模态框后的修改；
    function changestates(id) {
        $("input[name='check_remark']").val("");
        $("input[name='is_id']").val(id);
    }
    function showImage(id) {
        $.ajax({
            data:{id:id},
            url:"{:Url('showImage')}",
            type:"post",
            success:function(data){
                $("#showImg").empty();
               $("#showImg").append(data);
            }
        })

    }

    //推送
    function push(id) {
        $.ajax({
            data:{id:id},
            url:"{:Url('pushUser')}",
            type:"post",
            success:function(data){

            }
        });
    }
    //绑定模态框展示的方法
    $("#remark-modal").on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        console.log(button);
        var recipient = button.data('text');
        var modal = $(this);
        var html = "<input type='hidden' id="+recipient+">";
        //var html = "<img src="+recipient+" alt='' class='imgs'>";
        //modal.find('.modal-body').html(html);
    })
     $(".file").fileinput({
       showPreview: false,
       language: 'zh', //设置语言
       uploadUrl: '{:Url("Upload/picture")}', //上传的地址
       allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
       maxFileSize: 1024 * 200,
   }).on("filebatchselected", function(event, files) {
       $(this).fileinput("upload");
   }).on('fileuploaded', function(event, data, previewId, index) {
       var response = $.parseJSON(data.response);
       if(response.code == 1) {
           $("#set_img").attr('src',response.data);
           $("input[name='front_cover']").val(response.data);
           //$(".img1").attr('src',response.data);
       } else {
           updateAlert(response.msg, 'warning');
       }
   });
    $(".front_cover").imgbox({
        overlayShow: false,
        hideOnContentClick: true,
        slideshow: false,
        theme: 'dark',
        alignment: 'center',       // Position - may be auto OR center.
        allowMultiple: false,
    });
    function setImg(id,img) {
        $("input[name='set_id']").val(id);
        $("#set_img").attr('src',img);
        $("input[name='front_cover']").val(img);
    }
    function pushImg() {
        var id = $("input[name='set_id']").val();
        var image = $("input[name='front_cover']").val();
        $.ajax({
            data:{id:id,images:image},
            url:"{:Url('pushImg')}",
            type:"post",
            success:function (data) {
                if(data.code ==1 ){
                    updateAlert(data.msg+" 稍后页面自动刷新～",'success');
                    setTimeout(function () {
                        location.href = data.url;
                    },2000);

                }else {
                    updateAlert(data.msg,'info')
                }
            }
        });
    }
   highlight_subnav("{:Url('feepayment/index')}");
</script>
{/block}