{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/index/css/common/rem.css">
<link rel="stylesheet" href="/index/css/news/article.css">
{/block}


{block name="body"}
<div class="swiper-container" id="banner-1">
    <img src="/index/images/feedback/policy.jpg">
</div>
<div class="page">
    <div class="body">
        <ul>
            {volist name="article" id="article"}
            <li>
                <div class="content-box">
                    <p>{$article.title}</p>
                    <span>{$article.create_time|date='Y-m-d',###}</span>
                    <span><img src="/index/images/news/view.png">{$article.views}</span>
                </div>
                <a href="{:Url('News/detail?id='.$article.id)}"></a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
{/block}

{block name="script"}

{/block}
