{extend name="public/common"}

{block name="style"}
<title>好文分享</title>
<link rel="stylesheet" href="/index/css/common/rem.css">
<link rel="stylesheet" href="/index/css/news/article.css">
<style>
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer>div {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .my-footer>div>span{
        margin-right: 1rem;
    }
</style>
{/block}


{block name="body"}
<div id="app">
    <div class="swiper-container" id="banner-1">
        <img src="/index/images/news/article.jpg">
    </div>
    <div class="page">
        <div class="body">
            <ul  v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="6">
                <li  v-for="item in article">
                    <div class="content-box">
                        <p>{{item.title}}</p>
                        <span>{{item.create_time}}</span>
                        <span>{{parseInt(item.views)>999?'999+':item.views}}</span>
                    </div>
                    <a :href="'/index/News/detail?id='+item.id"></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="my-footer">
        <span v-if="!canLoad">没有更多了</span>
        <span v-if="canLoad && !loading">下拉加载更多</span>
        <div  v-if="loading">
            <mt-spinner :type="3"></mt-spinner>加载中...
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var app=new Vue({
        el:'#app',
        data:{
            loading:false,
            canLoad:true,
            article:{$article}
        },
        methods:{
            loadMore(){
                if((!this.loading) && this.canLoad ){
                    this.loading = true;
                    this.$http.post('/index/news/getMoreList',{type:3,length:this.article.length}).then(function (res) {
                        if(res.data.code!=0){
                            for(var i=0;i<res.data.data.length;i++){
                                this.article.push(res.data.data[i])
                            }
                        }else{
                            this.canLoad=false;
                        }
                        this.loading = false;
                    },function (res) {
                        this.loading = false;
                    })
                }
            },
        }
    })
</script>
{/block}
