{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<style type="text/css">
    .note-editor.note-frame { border-radius: 0; border:0; margin-bottom: 0; }
    .del{
       position: absolute;
        right:4px;
        top:6px;
        color: #666;
    }
    .parent{
        position:relative ;
    }
    #sortable { list-style-type: none; margin: 0 0 10px 0; padding: 0; }
    #sortable li { margin: 0 ; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; display: block}
    #sortable li span { position: absolute; margin-left: -1.3em; }
    .select{
        display: inline-block;
        height: 32px;
    }
    .img-item{
        width:100%;
        position: relative;
        padding:25px 10px 10px 10px;
        margin-bottom: 10px;
        background: #f1f1f1;

    }
</style>

{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">

                <a href="javascript:ggg()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> 关闭</a>
            </div>
            <h2>
               合同信息
            </h2><br><br><br>
            <div>
                <div class="row clearfix">
                    <div class="col-md-10 column">
                        <div class="col-md-2 column">
                            <h3>企业名称</h3>
                        </div>
                        <div class="col-md-10 column">
                            <input  type="text" class="form-control" name="name" value="{$info.company}"> <br>
                        </div>
                        <div class="col-md-2 column">
                            <h3>合同名称</h3>
                        </div>
                        <div class="col-md-10 column">
                            <input  type="text" class="form-control" name="other_name" value="{$info.other_name}"> <br>
                        </div>
                        <div class="col-md-2 column">
                            <h3>合同编号</h3>
                        </div>
                        <div class="col-md-10 column">
                            <input  type="text" class="form-control" name="number" value="{$info.number}"> <br>
                        </div>
                        <div class="col-md-2 column">
                            <h3>合同类型</h3>
                        </div>
                        <div class="col-md-10 column">
                            <select name="type" id="" class="col-md-4 column select">
                                <option value="1"{eq name="$info.type" value="1"}selected{/eq}>租赁合同</option>
                                <option value="2"{eq name="$info.type" value="2"}selected{/eq}>物业合同</option>
                                <option value="3"{eq name="$info.type" value="3"}selected{/eq}>其他合同</option>
                            </select>
                        </div>
                        <div class="col-md-12 column">
                            <br>
                        </div>
                        <div class="col-md-2 column">
                            <h3>合同图片</h3>
                        </div>
                        <div class="col-md-10 column">
                            <input  type="file" class="file input-file" multiple><br>
                        </div>
                        <div class="col-md-12 column clear"  id="sortable">
                            {foreach name="img" item="vo"}
                            <div class="col-md-2">
                                <div class="img-item">
                                    <a class="front_cover" href="{$vo}">
                                        <img src="{$vo}" alt="" style='width: 100%;height: 300px;' class="img parent">
                                    </a>
                                    <div class="del"><span class="glyphicon glyphicon-remove"></span></div>
                                </div>
                            </div>
                            {/foreach}
                        </div>

                        <div class="col-md-2 column">
                            <h3>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</h3>
                        </div>
                        <div class="col-md-10 column">
                            <textarea name="extra"  cols="30" rows="10" class="col-md-10 column">{$info.remark}</textarea>
                        </div>

                    </div>
                </div>
                <div class='row clearfix' >

                    <div class="col-md-10 column "><br>
                        <a class="btn btn-primary " style="float:right" onclick="addContract()">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="front_cover" value="">
{/block}

{block name="script"}
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>
<script src="/admin/js/jquery-ui-1.10.4.min.js"></script>
<script>
    $(document).ready(function(){
        $(function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
     imageArray = new Array() ;
    });
    (function () {
        addImgBox()
    })();
    $(".input-file").fileinput({
        showPreview: false,
        language: 'zh', //设置语言
        uploadUrl: '{:Url("Upload/picture")}', //上传的地址
        allowedFileExtensions: ['png','jpg','gif','png','jpeg'],
        maxFileSize: 1024 * 200,
        maxFilesNum : 5,//上传最大的文件数量
    }).on("filebatchselected", function(event, files) {
        $(this).fileinput("upload");
    }).on('fileuploaded', function(event, data, previewId, index) {
        var response = $.parseJSON(data.response);
        if(response.code == 1) {
            var html =
            '<div class="col-md-2">'+
                '<div class="img-item">'+
                    '<a class="front_cover" href="'+response.data+'">'+
                        '<img src="'+response.data+'" alt="" style="width: 100%;height: 300px;" class="img parent">'+
                    '</a>'+
                        '<div class="del" onclick="delImg(this)"><span class="glyphicon glyphicon-remove"></span></div>'+
                '</div>'+
            '</div>';
            $('#sortable').append(html);
            imageArray.push(response.data);
            $("input[name='front_cover']").val(response.data);
//            $('.del').click(function(){
//                $(this).parent().remove();
//            });
            addImgBox()

        } else {
            updateAlert(response.msg, 'warning');
        }
    });
    function delImg(_this) {
        $(_this).parent().remove();
    }
    function addImgBox() {
        $(".front_cover").imgbox({
            overlayShow: false,
            hideOnContentClick: true,
            slideshow: false,
            theme: 'dark',
            alignment: 'center',       // Position - may be auto OR center.
            allowMultiple: false,
        });
    }

    //添加合同
    function addContract() {
        var imgScrs=[];
        var imgs = $('.img');
        for(var i=0;i<imgs.length;i++){
            imgScrs.push(imgs[i].src);
        };
        var id = "{$info.id}";
        var companyName = $("input[name='name']").val();
        var types = $("[name='type']").val();
        var content = $("[name='extra']").val();
        var orderNumber = $("[name='number']").val();
        var otherName = $("[name='other_name']").val();
        if(companyName ==""){
            updateAlert("请添加公司名称","info");
            return "";
        }else if (otherName == ""){
            updateAlert("请添加合同名称","info");
            return "";
        }else if (imgScrs.length == 0){
            updateAlert("请添加合同照片","info");
            return "";
        }
        $.ajax({
            data:{img:imgScrs,status:0,company:companyName,type:types,remark:content,id:id,number:orderNumber,other_name:otherName},
            type:"post",
            url:"{:Url('add')}",
            success:function (data) {
                if (data.code==1){
                    updateAlert(data.msg+" 稍后自动刷新页面～","success");
                    setTimeout(function () {
                        location.href = "{:Url('Contract/index')}";
                    },2000);
                }else{
                    updateAlert(data.msg,"info");
                }
            }
        });
    }
    $('.del').click(function(){
        $(this).parent().remove();
    });
    function ggg() {
        window.history.go(-1);
    }
highlight_subnav("{:Url('Contract/index')}");
</script>

{/block}