{extend name="public/common"}

{block name="style"}
<title>活动预约</title>
<!--<link rel="stylesheet" href="/static/swiper/swiper.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
<style>
    #app{
        color: #333;
    }
    .swiper-container.my-banner {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .my-banner .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80vw;
        height: 53.3vw;
    }
    .my-text{
        font-size: 1.6rem;
        padding: 1.2rem 1.2rem 0;
    }
    .my-carousel{
        height:3rem;
        line-height: 3rem;
        font-size: 1.4rem;
        padding-right: 1.2rem;
        padding-left: 3rem;
        border-bottom: 1px solid #f1f1f1;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }
    .my-carousel:before{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        width:3rem;
        height:3rem;
        background: url("/index/images/service/activity/bespeakTea/icon-horn.png") no-repeat center center;
        background-size: 1.7rem 1.7rem;
    }
    .my-wrapper{
        box-sizing: border-box;
        /*flex: 1;*/
        height:100%;
        width:100%;
        overflow: hidden;
        position: relative;
    }
    .my-wrapper>div{
        display: inline-block;
        /*overflow: hidden;*/
        position: absolute;
        left:0;
        top:0;
    }
    .table-row-box {
        margin-bottom: 1rem;
        padding: 0 1.2rem;
        font-size: 1.6rem;
    }
    .table-row {
        display: flex;
    }

    .table-row {
        box-sizing: border-box;
        padding: 1rem 0;
    }
    .table-row a{
        color: #69b9f9;
    }

    .table-row:not(:last-child) {
        border-bottom: 1px solid #f1f1f1
    }
    .wrapper{font-size: 0.85rem; color: #333; white-space: nowrap; overflow: hidden;width: 300px;}
    .inner{ width:1000px;overflow:hidden;}
    .inner p{ display:inline-block;}


    .my-btn{
        display: block;
        margin:0 auto;
        width:93.6vw;
        height:4rem;
        line-height: 4rem;
        background-color: #69B8FA;
        color: #fff;
        border-radius: 5px;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 5rem;
    }
    .my-mask{
        display: none;
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 995;
    }
    .my-mask-back{
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 996;
        background-color: rgba(0,0,0,0.3);
    }
    .my-mask-content{
        width:79.2vw;
        background-color: #f9f9f9;
        position: absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%,-60%);
        -moz-transform: translate(-50%,-60%);
        -ms-transform: translate(-50%,-60%);
        -o-transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        z-index: 999;
        border-radius: 10px;
        overflow: hidden;
    }
    .my-mask-content>h3{
        padding:1.7rem 0;
        margin:0;
        text-align: center;
        color: #333;
        font-size:1.8rem;
    }
    .my-phone-list>li{
        width:53vw;
        margin:0 auto;
        padding-bottom: 2rem;
        color: #333;
        font-size: 1.5rem;
    }
    .my-radio+span{
        position: relative;
        line-height: 1.5rem;
        padding-left: 3rem;
    }
    .my-radio+span>b{
        content: '';
        display: flex;
        box-sizing: border-box;
        height:1.5rem;
        width:1.5rem;
        border-radius: 50%;
        border:1px solid #979797;
        position: absolute;
        left:0;
        justify-content: center;
        align-items: center;
    }
    .my-radio+span>b:before{
        content: '';
        display: inline-block;
        box-sizing: border-box;
        height:1rem;
        width:1rem;
        border-radius: 50%;
        border:1px solid #979797;
    }
    .my-radio:checked+span>b{
        border-color: #1F85EB;
    }
    .my-radio:checked+span>b:before{
        border:none;
        background-color: #1F85EB;
    }


    .my-btn-group{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top:1px solid #dcdcdc;
    }
    .my-btn-group>li{
        height:4.8rem;
        line-height: 4.8rem;
        font-size: 1.8rem;
        color: #1F85EB;
        text-align: center;
        width:50%;
        box-sizing: border-box;
    }
    .my-btn-group>li>a{
        display: block;
        height:100%;
        width:100%;
        color: #1F85EB;
    }
    .my-btn-group>li:not(:last-child){
        border-right: 1px solid #dcdcdc;
    }



    .my-show{
        display: block;
    }
</style>
{/block}

{block name="body"}

<div id="app">
    <div class="swiper-container my-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(img,index) in imgs" :style="'background-image:url('+img+')'" @click="loadImg(img,imgs)"></div>
        </div>
    </div>
    <div class="my-carousel">
        <div class="my-wrapper">
            <div class="my-slide" id="slider" >&nbsp;&nbsp;农历年前试营业期间喝茶和场地预约均为免费。&nbsp;&nbsp;</div>
        </div>
    </div>
    <div class="my-text">
        风尘俱静，禅味悠长。有宁静致远的格局，有身心寂静的归宿。一年四季，不同味道，希垦文化活动中心陪伴您一起走，欢迎大家来陈水堂木作艺术馆品茗赏花赏画！ <br>营业时间：9:00AM - 5:00PM
    </div>
    <!--<div id="scrollobj" onmouseover="javascript:_stop();" onmouseout="javascript:_start();">这里是要滚动的内容 </div>-->

    <!--href="tel:18968056059"-->
    <a  class="my-btn" @click="showMask()">电话预约</a>
    <!--遮罩-->
    <div class="my-mask" :class="{'my-show':isShow}">
        <div class="my-mask-back" @click="showMask()"></div>
        <div class="my-mask-content">
            <h3>拨打电话</h3>
            <ul class="my-phone-list">
                <li v-for="(tel,index) in tels">
                    <label :for="'tel'+index" @click="changeTelIndex(index)">
                        <input type="radio" :id="'tel'+index" class="my-radio" name="tel" :value="index" hidden>
                        <span><b></b>{{tel.label}}</span>
                    </label>
                </li>
            </ul>
            <ul class="my-btn-group">
                <li @click="showMask()">取消</li>
                <li><a :href="'tel:'+tels[telIndex].value">确定</a></li>
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<!--<script src="/static/swiper/swiper.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
//    var slider = document.getElementById('slider');
    var slider = document.getElementById('slider'),
            sliderW = slider.offsetWidth,
            wrapperW = document.getElementsByClassName('my-wrapper')[0].offsetWidth;
    slider.style.left='0px';
//    if(wrapperW<sliderW){
        slider.innerHTML+=(slider.innerHTML);
        var myInterval = setInterval(function () {
            var slider = document.getElementById('slider');
            var left  =  slider.style.left;
            if(-sliderW>parseInt(left)){
                slider.style.left = '-1px';
            }else{
                slider.style.left = parseInt(left)-1+'px';
            }
        },30);
//    }

    var app = new Vue({
        el: '#app',
        data: {
            info:{$info},
            isShow:false,
            telIndex:0,
            tels:[
                {value:'0571-88106006', label:'0571-88106006(店内)'},
                {value:'18158182062', label:'18158182062(王先生)'},
            ],
            imgs:[
                '/index/images/service/activity/bespeakTea/teaBanner1.jpg',
                '/index/images/service/activity/bespeakTea/teaBanner2.jpg',
                '/index/images/service/activity/bespeakTea/teaBanner3.jpg',
                '/index/images/service/activity/bespeakTea/teaBanner4.jpg',
                '/index/images/service/activity/bespeakTea/teaBanner5.jpg',
            ]
        },
        created(){
            var _this = this,
                    test =window.location.href,
                    data ={
                        url:test
                    };
            _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
                var data = JSON.parse(res.data);
                wx.config({
                    debug: false,
                    appId: data.appid,
                    timestamp:data.timestamp ,
                    nonceStr: data.noncestr,
                    signature: data.signature,
                    jsApiList: ['previewImage']
                });
            },function () {

            })

        },

        mounted(){
            document.getElementsByClassName('my-radio')[0].checked='checked';
            if(this.info.type == 1){
                document.title = '喝茶预约'
            }else if(this.info.type == 2){
                document.title = '场地预约'
            }
            var banner = new Swiper('.my-banner', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflow: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true
                }
            });
        },
        methods: {
            changeTelIndex(index){
                this.telIndex=index
            },
            showMask(){
                this.isShow=!this.isShow
            },
            loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
                wx.previewImage({
                    current: current,
                    urls: urls
                });
            },
        }
    });



</script>

{/block}