{extend name="public/common"}

{block name="style"}
<title>车卡服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}

{block name="body"}
<div id="app">
    <div class="img-card">
        <a  @click.prevent="jump('newCard')">
            <div class="img-card-box">
                <img src="/index/images/service/card/newcard.png"  class="img-responsive">
                <div class="img-marking"><span class="marking-info">新卡缴费</span></div>
            </div>
            <div class="img-card-info">前往办理</div>
        </a>
    </div>
    <div class="img-card">
        <a  @click.prevent="jump('oldCard')">
            <div class="img-card-box">
                <img src="/index/images/service/card/oldcard.png" class="img-responsive">
                <div class="img-marking"><span class="marking-info">旧卡续费</span></div>
            </div>
            <div class="img-card-info">前往办理</div>
        </a>
    </div>
    <div class="footer">
        <div class="circle-show-box">

            <div class="card-record circle-out">
                <div class="circle-inner" @click="goHistory">办卡记录</div>
            </div>
        </div>

    </div>
</div>
{/block}

{block name="script"}
<script>
    var data = {$info};
    console.log(data);
    var vm = new Vue({
        el:'#app',
        data:data,
        methods:{
            jump:function (e) {
                var app_id = this.app_id;
                window.location.href = "/index/service/"+e+"?app_id="+app_id;
            },
            goHistory(){
                window.location.href='/index/service/history/id/'+this.app_id;
            },
        }
    })
</script>

{/block}