{extend name="public/common"}

{block name="style"}
<title>车卡服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}

{block name="body"}
<div class="">
    <div class="img-card">
        <div class="img-card-box">
            <img src="/index/images/service/card/newcard.png"  class="img-responsive">
            <div class="img-marking"><span class="marking-info">新卡缴费</span></div>
        </div>
        <div class="img-card-info">前往办理</div>
    </div>
    <div class="img-card">
        <div class="img-card-box">
            <img src="/index/images/service/card/oldcard.png" class="img-responsive">
            <div class="img-marking"><span class="marking-info">旧卡续费</span></div>
        </div>
        <div class="img-card-info">前往办理</div>
    </div>
    <div class="footer">
        <div class="circle-show-box">

            <div class="card-record circle-out">
                <div class="circle-inner">办卡记录</div>
            </div>
        </div>

    </div>
</div>
{/block}

{block name="script"}

{/block}