{extend name="public/common"}

{block name="style"}
<title>物业报修</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">室内保洁</div>
        <div class="card-cell">
            <span>服务类型</span>
            <span>室内保洁</span>
        </div>
        <div class="card-cell">
            <label for="name">服务地点</label>
            <input type="text" placeholder="请输入服务地点" id="name" v-model="defaultData.address">
        </div>
        <div class="card-cell">
            <span>服务时间</span>
            <span @click="checkTime" >
                <span :class="[!defaultData.dateStr ? 'select-color' : '', '']">{{dateStatus}}</span> <i class="allow-right"></i>
            </span>
            <template>
                <mt-datetime-picker
                        :start-date="startDate"
                        :end-date="endDate"
                        :start-hour=8
                        :end-hour=11
                        ref="picker"
                        type="datetime"
                        v-model="pickerValue"
                        month-format="{value} 月"
                        date-format="{value} 日"
                        hour-format="{value}时"
                        minute-format="{value}分"
                        @confirm="handleChange">
                </mt-datetime-picker>
            </template>
        </div>
        <div class="card-cell">
            <span>联系人员</span>
            <span>{{subData.name}}</span>
        </div>
        <div class="card-cell">
            <span>联系电话</span>
            <span>{{subData.mobile}}</span>
        </div>
    </div>
    <div class="card">
        <div class="card-tit">备注信息</div>
        <div class="card-area">
            <textarea    v-model="defaultData.extra" class="group-area" maxlength="200"></textarea>
        </div>
        <div class="card-upload">
            <div class="upload-box">
                <img src="/index/images/service/card/card-camera.png" >
                <span class="upload-info">上传图片</span>
            </div>
        </div>
    </div>

    <p class="prompt-message">资讯电话：{{subData.propretyMobile}}</p>
    <div class="card-more">
        <button class="btn btn-warning btn-warning-outlined btn-sm" @click="paymentInfo"><i class="icon icon-record"></i>预约记录</button>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="orderBtn">确定预约</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var nowDate = new Date();
    nowDate = dateHour(nowDate,12,8);
    var date = new Date();
    var endDate = dateMonth(date,6);
    var defaultData = {
        type:4,
        extra:'',
        address:'',
        dateStr:'',
        imgSrc:''
    };
    var data = {$info};
    console.log(data);

    var vm = new Vue({
        el:"#app",
        data:{
            defaultData:defaultData,
            subData:data,
            isSubmit:true,
            pickerValue:'',
            startDate:nowDate,
            endDate:endDate
        },
        computed:{
            dateStatus:function () {
                if(this.defaultData.dateStr){
                    return this.defaultData.dateStr;
                }else{
                    var text ="请选择";
                    return text;
                }
            }
        },
        methods: {
            paymentInfo:function () {

            },
            checkTime: function () {
                this.$refs.picker.open();
            },
            handleChange:function (value) {
                var dateMinute = value.getMinutes()+"";
                if(dateMinute.length == 1){
                    dateMinute = "0"+dateMinute;
                }
                var dateValue = value.getFullYear()+"-"+(value.getMonth()+1)+"-"+value.getDate()+" "+value.getHours()+":"+dateMinute;
                this.defaultData.dateStr = dateValue;
            },
            orderBtn: function () {
                var _this = this;
                if(!_this.defaultData.address){
                    _this.$toast('请输入服务地点');
                    return;
                }
                if(!_this.defaultData.dateStr){
                    _this.$toast('请选择服务时间');
                    return;
                }
                if(!_this.defaultData.imgSrc){
//                    _this.$toast('');
                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var subData = JSON.parse(JSON.stringify(_this.subData));
                var defaultData =  JSON.parse(JSON.stringify(_this.defaultData));
                var data = Object.assign(subData,defaultData);
                console.log(_this.defaultData);
                console.log(subData);
                console.log(data);
                this.$http.post("{:Url('index/Service/clear')}",data).then(function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                },function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                })
            }
        }
    });

    /**
     * 时间函数(返回距初始时间多少月后的时间)
     * @param {Date} date 初始的时间
     * @param {Number} maxlength 多少个月后(0-12)
     */
    function dateMonth(date,maxlength) {
        var nowMonth =  date.getMonth();
        var nowYear = date.getFullYear();
        if((typeof(maxlength) == 'number')||(typeof(maxlength) == 'string')){
            maxlength = parseInt(maxlength) ;
            if(isNaN(maxlength)){
                maxlength = 1;
            }
        }
        var newMonth = nowMonth +maxlength;
        var monthCount = 12;
        if(newMonth>monthCount){
            var resMonth = newMonth - monthCount;
            var newDate = date.setFullYear(nowYear + 1);
            newDate =new Date(date.setMonth(resMonth));
            return newDate;
        }
    }
    function  dateHour(date,endHour,startHour) {
        var nowDateTime = date.getTime();
        var nowYear = date.getFullYear();
        var nowMonth = date.getMonth() + 1;
        var nowHour = date.getHours();
        var nowDate = date.getDate();
        var smallMonths = [4,6,9,11];
        var bigMonths = [1,3,5,7,8,12];
        console.log(nowMonth);
        if(smallMonths.indexOf(nowMonth) > -1){
            if(nowHour >= endHour){
                if((nowDate+1) > 30){
                     date.setMonth(nowMonth);
                    date.setDate(1);
                }else{
                     date.setDate(nowDate+1);
                }
                date.setMinutes(0);
                date.setHours(startHour || 0);
            }
        }else if(bigMonths.indexOf(nowMonth) > -1){
            if(nowHour >= endHour){
                if((nowDate+1) > 31){
                    date.setDate(1);
                   date.setMonth(nowMonth);

                }else{
                   date.setDate(nowDate+1);
                }
                date.setMinutes(0);
                date.setHours(startHour || 0);

            }
        }else{
            if(nowYear % 400 === 0 || nowYear % 100 !== 0 && nowYear % 4 === 0){
                if(nowHour >= endHour){
                    if((nowDate+1) > 29){
                        date.setDate(1);
                       date.setMonth(nowMonth);
                    }else{
                        date.setDate(nowDate+1);
                    }
                    date.setMinutes(0);
                    date.setHours(startHour || 0);

                }
            }else{
                if(nowHour >= endHour){
                    if((nowDate+1) > 28){
                        date.setDate(1);
                       date.setMonth(nowMonth);
                    }else{
                      date.setDate(nowDate+1);
                    }
                    date.setMinutes(0);
                    date.setHours(startHour || 0);
                }
            }
        }
        return date;
    }
</script>
{/block}