{extend name="public/common"}

{block name="style"}
<title>物业报修</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">室内保洁</div>
        <div class="card-cell">
            <span>服务类型</span>
            <span>室内保洁</span>
        </div>
        <div class="card-cell">
            <label for="name">服务地点</label>
            <input type="text" placeholder="请输入服务地点" id="name" v-model="defaultData.address">
        </div>
        <div class="card-cell">
            <span>服务时间</span>
            <span @click="checkTime" >
                <span :class="[!defaultData.aging ? 'select-color' : '', '']">请选择</span> <i class="allow-right"></i>
            </span>
            <template>
                <mt-datetime-picker
                        :start-date="startDate"
                        :end-date="endDate"
                        :start-hour="8"
                        :end-hour="11"
                        ref="picker"
                        type="datetime"
                        v-model="defaultData.pickerValue"
                        month-format="{value} 月"
                        date-format="{value} 日"
                        hour-format="{value}时"
                        minute-format="0"
                        @confirm="handleChange">
                </mt-datetime-picker>
            </template>
        </div>
        <div class="card-cell">
            <span>联系人员</span>
            <span>{{subData.name}}</span>
        </div>
        <div class="card-cell">
            <span>联系电话</span>
            <span>{{subData.mobile}}</span>
        </div>
    </div>
    <div class="card">
        <div class="card-tit">备注信息</div>
        <div class="card-area">
            <textarea    v-model="defaultData.extra" class="group-area" maxlength="200"></textarea>
        </div>
        <div class="card-upload">
            <div class="upload-box">
                <img src="/index/images/service/card/card-camera.png" >
                <span class="upload-info">上传凭证</span>
            </div>
        </div>
    </div>

    <p class="prompt-message">资讯电话：{{subData.propretyMobile}}</p>
    <div class="card-more">
        <button class="btn btn-warning btn-warning-outlined btn-sm" @click="paymentInfo"><i class="icon icon-record"></i>预约记录</button>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="orderBtn">确定预约</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var nowDate = new Date();
    var date = new Date();
    var endDate = dateMonth(date,6);
    function dateMonth(date,maxlength) {
       var nowMonth =  date.getMonth();
        var nowYear = date.getFullYear();
        if((typeof(maxlength) == 'number')||(typeof(maxlength) == 'string')){
            maxlength = parseInt(maxlength) ;
            if(isNaN(maxlength)){
                maxlength = 1;
            }
        }
        var newMonth = nowMonth +maxlength;
       var monthCount = 12;
        if(newMonth>monthCount){
            var resMonth = newMonth - monthCount;
            var newDate = date.setFullYear(nowYear + 1);
            newDate =new Date(date.setMonth(resMonth));
            return newDate;
        }
    }
    var defaultData = {
        type:0,
        extra:'',
        pickerValue:''
    };
    var data = {$data};
    console.log(data);

    var vm = new Vue({
        el:"#app",
        data:{
            defaultData:defaultData,
            subData:data,
            isSubmit:true,
            startDate:nowDate,
            endDate:endDate,
            startHour:8,
            endHour:11
        },
        methods: {
            paymentInfo:function () {

            },
            checkTime: function () {
                this.$refs.picker.open();
            },
            handleChange:function (value) {
                console.log(value.toString());
            },
            orderBtn: function () {
                var _this = this;
//                if(!_this.defaultData.name){
//                    _this.$toast('');
//                    return;
//                }
//                if(!_this.defaultData.phone){
//                    _this.$toast('');
//                    return;
//                }
//                if(!_this.defaultData.mobile){
//                    _this.$toast('');
//                    return;
//                }
//                if(!_this.defaultData.mobile){
//                    _this.$toast('');
//                    return;
//                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var subData = JSON.parse(JSON.stringify(_this.subData));
                var defaultData =  JSON.parse(JSON.stringify(_this.defaultData));
                var data = Object.assign(subData,defaultData);
                console.log(_this.defaultData);
                console.log(subData);
                console.log(data);
                this.$http.post('repair',data).then(function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                },function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                })
            }
        }
    })
</script>
{/block}