{extend name="public/common"}

{block name="style"}
<title>充电柱办理</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        height: 100vh;
        padding-top: 1px;
        box-sizing: border-box;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="img-card">
        <a @click.prevent="jump('newPillar')">
            <div class="img-card-box after">
                <img src="/index/images/service/electric/newpillar.png"  class="img-responsive">
                <div class="img-marking marking-pillar-new"><span class="marking-info">电动车充电</span></div>
            </div>
            <div class="img-card-info">新柱办理</div>
        </a>
    </div>
    <div class="img-card">
        <a @click.prevent="jump('oldPillar')">
            <div class="img-card-box before">
                <img src="/index/images/service/electric/oldpillar.jpg" class="img-responsive">
                <div class="img-marking marking-pillar-old"><span class="marking-info">电动车充电</span></div>
            </div>
            <div class="img-card-info">旧柱续费</div>
        </a>
    </div>
    <div class="footer">
        <div class="circle-show-box">

            <div class="card-record circle-out">
                <div class="circle-inner" @click="goHistory">办理记录</div>
            </div>
        </div>

    </div>
</div>
{/block}

{block name="script"}
<script>
    var data = {$info};
    console.log(data);
    var vm = new Vue({
        el:'#app',
        data:data,
        methods:{
            jump:function (e) {
                var app_id = this.app_id;
                window.location.href = "/index/service/"+e+"?app_id="+app_id;
            },
            goHistory(){
                window.location.href='/index/service/history/id/'+this.app_id;
            },
        }
    })
</script>
{/block}