{extend name="public/common"}

{block name="style"}
<title>花卉租赁</title>
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<style>
    #app{
        color: #333;
    }
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80vw;
        height: 80vw;
    }
    .my-text{
        font-size: 1.6rem;
        padding:0 1.2rem;
    }
    .my-text>p{
        padding:0 0 3.4rem 0;
        text-indent:2em;
    }
    .my-text>p>a{
        color: #333;
    }
    .my-btn{
        display: block;
        margin:0 auto;
        width:93.6vw;
        height:4rem;
        line-height: 4rem;
        background-color: #69B8FA;
        color: #fff;
        border-radius: 5px;
        font-size: 1.6rem;
        text-align: center;
    }
    .my-mask{
        display: none;
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 995;
    }
    .my-mask-back{
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 996;
        background-color: rgba(0,0,0,0.3);
    }
    .my-mask-content{
        width:79.2vw;
        background-color: #f9f9f9;
        position: absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%,-60%);
        -moz-transform: translate(-50%,-60%);
        -ms-transform: translate(-50%,-60%);
        -o-transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        z-index: 999;
        border-radius: 10px;
        overflow: hidden;
    }
    .my-mask-content>h3{
        padding:1.7rem 0;
        margin:0;
        text-align: center;
        color: #333;
        font-size:1.8rem;
    }
    .my-phone-list>li{
        width:53vw;
        margin:0 auto;
        padding-bottom: 2rem;
        color: #333;
        font-size: 1.5rem;
    }
    .my-radio+span{
        position: relative;
        line-height: 1.5rem;
        padding-left: 3rem;
    }
    .my-radio+span>b{
        content: '';
        display: flex;
        box-sizing: border-box;
        height:1.5rem;
        width:1.5rem;
        border-radius: 50%;
        border:1px solid #979797;
        position: absolute;
        left:0;
        justify-content: center;
        align-items: center;
    }
    .my-radio+span>b:before{
        content: '';
        display: inline-block;
        box-sizing: border-box;
        height:1rem;
        width:1rem;
        border-radius: 50%;
        border:1px solid #979797;
    }
    .my-radio:checked+span>b{
        border-color: #1F85EB;
    }
    .my-radio:checked+span>b:before{
        border:none;
        background-color: #1F85EB;
    }


    .my-btn-group{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top:1px solid #dcdcdc;
    }
    .my-btn-group>li{
        height:4.8rem;
        line-height: 4.8rem;
        font-size: 1.8rem;
        color: #1F85EB;
        text-align: center;
        width:50%;
        box-sizing: border-box;
    }
    .my-btn-group>li>a{
        display: block;
        height:100%;
        width:100%;
        color: #1F85EB;
    }
    .my-btn-group>li:not(:last-child){
        border-right: 1px solid #dcdcdc;
    }



    .my-show{
        display: block;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(img,index) in imgs" :style="'background-image:url('+img+')'" @click="loadImg(img,imgs)"></div>
        </div>
        <!-- Add Pagination -->
        <!--<div class="swiper-pagination"></div>-->
    </div>
    <div class="my-text">
        <p>用花的装饰，美的点缀，带给您一整天的清新。盆栽免费设计摆放，枯败免费更换，物美价廉。联系人：斯琴</p>
    </div>
    <!--href="tel:18968056059"-->
    <a  class="my-btn" @click="showMask()">电话预约</a>
    <!--遮罩-->
    <div class="my-mask" :class="{'my-show':isShow}">
        <div class="my-mask-back" @click="showMask()"></div>
        <div class="my-mask-content">
            <h3>拨打电话</h3>
            <ul class="my-phone-list">
                <li v-for="(tel,index) in tels">
                    <label :for="'tel'+index" @click="changeTelIndex(index)">
                        <input type="radio" :id="'tel'+index" class="my-radio" name="tel" :value="index" hidden>
                        <span><b></b>{{tel.label}}</span>
                    </label>
                </li>
            </ul>
            <ul class="my-btn-group">
                <li @click="showMask()">取消</li>
                <li><a :href="'tel:'+tels[telIndex].value">确定</a></li>
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            isShow:false,
            telIndex:0,
            tels:[
                {value:'18968056059', label:'斯琴：18968056059'},
                {value:'0571-88610333', label:'物业：0571-88610333'},
            ],
            imgs:[
                '/index/images/service/flowerlease/flower1.jpeg',
                '/index/images/service/flowerlease/flower2.jpeg',
                '/index/images/service/flowerlease/flower3.jpeg',
                '/index/images/service/flowerlease/flower4.jpeg',
                '/index/images/service/flowerlease/flower5.jpeg',
                '/index/images/service/flowerlease/flower6.jpeg'
            ]
        },
        created(){
            var _this = this;
            var test =window.location.href;
            var data ={
                url:test
            };
            _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
                var data = JSON.parse(res.data);
                wx.config({
                    debug: false,
                    appId: data.appid,
                    timestamp:data.timestamp ,
                    nonceStr: data.noncestr,
                    signature: data.signature,
                    jsApiList: ['previewImage']
                });
            },function () {

            })
        },
        mounted(){
            var swiper = new Swiper('.swiper-container', {
//                pagination: '.swiper-pagination',
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflow: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true
                }
            });
            document.getElementsByClassName('my-radio')[0].checked='checked';
        },
        methods: {
            changeTelIndex(index){
                this.telIndex=index
            },
            showMask(){
                this.isShow=!this.isShow
            },
            loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
                wx.previewImage({
                    current: current,
                    urls: urls
                });
            },
        }
    })
</script>
{/block}