{extend name="public/common"}

{block name="style"}
<title>服务记录</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<link rel="stylesheet" href="/index/css/service/historyDetail.css">
{/block}

{block name="body"}
<div id="app">
    <div v-if="appid==1">
        <div class="card">
            <div class="card-tit">缴费信息</div>
            <div class="card-cell">
                <span>企业名称</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>缴费类型</span>
                <span>{{serviceType(info.type)}}</span>
            </div>
            <div class="card-cell">
                <span>到期时间</span>
                <span>{{info.expiration_time}}</span>
            </div>
            <div class="card-cell">
                <span>应缴金额</span>
                <span>{{info.fee}}</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark" v-if="info.status!=1 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.img)">
                </div>
            </div>
        </div>
        <div class="card" v-if="info.charge_voucher">
            <div class="card-tit">收费凭证</div>
            <div class="card-upload">
                <div class="upload-img">
                    <img :src="info.charge_voucher" alt="收费凭证" @click="loadImg(info.charge_voucher,info.charge_voucher)">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==2">
        <div class="card">
            <div class="card-tit">物业报修</div>
            <div class="card-cell">
                <span>服务类型</span>
                <span>{{serviceType(info.type)}}</span>
            </div>
            <div class="card-cell">
                <span>服务地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>服务状态</span>
                <span>{{status(info.status,info.proof)}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">备注信息</div>
            <div class="card-area">
                <div v-model="" class="group-area">{{info.extra ? info.extra : '无'}}</div>
            </div>
            <div class="card-upload"  v-if="info.image">
                <div class="upload-img" v-for="img in info.image">
                    <img :src="img" alt="图片" @click="loadImg(img,info.image)">
                </div>
            </div>
        </div>
        <div class="card"   v-if="info.proof && info.status==1">
            <div class="card-tit">报修凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.proof">
                    <img :src="img" alt="报修凭证" @click="loadImg(img,info.proof)">
                </div>
            </div>
        </div>
        <div  v-if="can_check == 'yes' &&  !info.proof.length && info.status==1">
            <div class="card">
                <div class="card-tit">报修凭证</div>
                <div class="card-upload">
                    <div class="upload-img" v-for="(imgUrl,index) of imgSrc.dataUrl">
                        <i class="del-img" @click="delImg(index)"></i>
                        <img :src="imgUrl" class="img-responsive">
                    </div>
                    <div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">
                        <img src="/index/images/service/card/card-camera.png">
                        <span class="upload-info" >上传凭证</span>
                    </div>
                </div>
                <form ref="myform">
                    <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" >
                </form>
            </div>
            <div class="rent-btn-box">
                <button class="btn btn-block btn-green" @click="isSuccess">完成服务</button>
            </div>
        </div>
    </div>
    <div v-if="appid==3">
        <div class="water-view">
            <div class="water-header">
                <div class="water-header-bg" :class="{green:info.status==1,blue:info.status==3,orange:info.status==0,red:info.status==2}"></div>
            </div>
            <div class="water-body">
                <div class="water-title">
                    {{info.status==0?'提交预约':info.status==1?'确认接单':info.status==2?'取消订单':'确认送达'}}<br/>
                    <span>{{info.status==0?info.create_time:info.status==1?info.check_time:info.status==2?info.check_time:info.end_time}}</span>
                </div>
                <ul class="water-card">
                    <li><span>送水地点</span><span>{{info.address}}</span></li>
                    <li><span>送水桶数</span><span>{{info.number}}</span></li>
                    <li v-if="info.park_id==80"><span>送水种类</span><span>{{info.water_name}}（{{info.format}}）</span></li>
                    <li v-if="info.park_id==80"><span>金<b style="padding: 0 1em;"></b>额</span><span>{{info.price}}</span></li>
                    <li><span>联系方式</span><a :href="'tel:'+info.mobile">{{info.mobile}}（{{info.name}}）</a></li>
                    <li v-if="info.check_remark"><span>物业提示</span><span>{{info.check_remark}}</span></li>
                </ul>
                <div style="position: relative;">
                <ul class="water-process">
                    <li>
                        <ul class="water-process-detail">
                            <li>用户</li>
                            <li><span :class="{'water-font-black':info.status>=0}" class="my-first-ball">1</span></li>
                            <li :class="{'water-font-black':info.status>=0}">{{info.create_time}}</li>
                            <li :class="{'water-font-black':info.status>=0}">提交预约</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="water-process-detail">
                            <li>物业/运营</li>
                            <li><span :class="{'water-font-black':info.status>=1}">2</span></li>
                            <li :class="{'water-font-black':info.status>=1}">{{info.check_time?(info.check_time):'未知'}}</li>
                            <li :class="{'water-font-black':info.status>=1}">{{info.status==2?'取消接单':'确认接单'}}</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="water-process-detail">
                            <li>用户</li>
                            <li><span :class="{'water-font-black':info.status==3}">3</span></li>
                            <li :class="{'water-font-black':info.status==3}">{{info.end_time?(info.end_time):'未知'}}</li>
                            <li :class="{'water-font-black':info.status==3}">确认送达</li>
                        </ul>
                    </li>
                </ul>
                    <div class="my-line"></div>
                </div>
                <div class="water-btn-box">
                    <button class="water-btn water-btn-b" v-if="can_check=='no' && info.status==1" @click="isSuccess">确认送达</button>
                    <!--<button class="water-btn water-btn-r" v-if="can_check=='yes' && info.status==0" @click="showRent">取消订单</button>-->
                    <button class="water-btn water-btn-g" v-if="can_check=='yes' && info.status==0" @click="showRent">审核订单</button>
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==4">
        <div class="card">
            <div class="card-tit">室内保洁</div>
            <div class="card-cell">
                <span>服务类型</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>服务地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>服务时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">备注信息</div>
            <div class="card-area">
                <div class="group-area">{{info.extra ? info.extra : '无'}}</div>
            </div>
            <div class="card-upload"  v-if="info.image">
                <div class="upload-img" v-for="img in info.image">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.image)">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==6 || appid==7">
        <div class="card">
            <div class="card-tit">车主信息</div>
            <div class="card-cell" v-if="appid==6">
                <span>车牌号码</span>
                <span>{{info.car_card}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>电柱编号</span>
                <span v-if="info.electricity_id">{{info.electricity_id}}</span>
                <input v-if="can_check=='yes' && !info.electricity_id && info.status == 0" type="text" placeholder="请输入电柱编号" v-model="subData.electricity_id">
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车卡号</span>
                <span v-if="info.park_card">{{info.park_card}}</span>
                <input v-if="can_check == 'yes' && !info.park_card && info.status == 0" type="text" placeholder="请输入停车卡号" v-model="subData.park_card">
            </div>
            <div class="card-cell">
                <span>车主姓名</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>手机号码</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>公司名称</span>
                <span>{{info.company}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>身份证号</span>
                <span>{{info.people_card}}</span>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">办理信息</div>
            <div class="card-cell">
                <span>办理时长</span>
                <span>{{info.aging}}个月</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>车卡押金</span>
                <span>{{info.carpark_deposit}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>充电费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>费用总计</span>
                <span>{{info.all_money}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.img)">
                </div>
            </div>
        </div>
        <div class="card" v-if="info.charge_voucher">
            <div class="card-tit">收费凭证</div>
            <div class="card-upload">
                <div class="upload-img">
                    <img :src="info.charge_voucher" alt="收费凭证" @click="loadImg(info.charge_voucher,[info.charge_voucher])">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==8">
        <div class="card">
            <div class="card-tit">设备服务</div>
            <div class="card-cell">
                <span>预约类型</span>
                <span>{{info.type_text}}</span>
            </div>
            <div class="card-cell">
                <span>缴费金额</span>
                <span>{{info.price}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark">
                <p>预约时间</p>
                <div>{{info.order_time | orderTime}}</div>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.payment_voucher">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.payment_voucher" >
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.payment_voucher)">
                </div>
            </div>
        </div>
        <div class="rent-btn-box" v-if="can_check=='yes' && info.status==2">
            <button class="btn btn-block btn-green" @click="showRent">取消预约</button>
        </div>
    </div>
    <!--<div v-if="appid>=10 && appid<19">-->
        <!--<div class="card">-->
            <!--<div class="card-tit">{{info.name}}</div>-->
            <!--<div class="card-cell">-->
                <!--<span>公司名称</span>-->
                <!--<span>{{info.company}}</span>-->
            <!--</div>-->
            <!--<div class="card-cell">-->
                <!--<span>联系人员</span>-->
                <!--<span>{{info.people}}</span>-->
            <!--</div>-->
            <!--<div class="card-cell">-->
                <!--<span>联系方式</span>-->
                <!--<span>{{info.mobile}}</span>-->
            <!--</div>-->
            <!--<div class="card-cell">-->
                <!--<span>提交时间</span>-->
                <!--<span>{{info.create_time}}</span>-->
            <!--</div>-->
            <!--<div class="card-cell">-->
                <!--<span>审核进度</span>-->
                <!--<span>{{status(info.status)}}</span>-->
            <!--</div>-->
            <!--<div class="remark">-->
                <!--<p>备注</p>-->
                <!--<div>{{info.remark}}</div>-->
            <!--</div>-->
            <!--<div class="remark" v-if="info.status!=0 && info.check_remark">-->
                <!--<p>物业提示</p>-->
                <!--<div>{{info.check_remark}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="appid === 12">
        <div class="table-box">
            <div class="table-title"><span>商标类别</span><span class="icon-remarks"></span></div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">类别选择</span>
                    <span> <span>第 {{info.type<10?0+''+info.type:info.type}} 类</span></span>
                </div>
            </div>
        </div>
        <div class="table-box">
            <div class="table-title"><span>商标名称</span></div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">中文描述</span>
                    <span>{{info.chinese_description || "无"}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">英文描述</span>
                    <span>{{info.english_description || "无"}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">数字描述</span>
                    <span>{{info.numeric_description || "无"}}</span>
                </div>
                <div class="table-row-block">
                    <div class="table-row-block-header">商标描述</div>
                    <div class="textarea-box">
                        <div>{{info.trademark_description || "无"}}</div>
                    </div>
                </div>
                <div class="table-row-block">
                    <div class="table-row-block-header">商标图片</div>
                    <div class="card-upload">
                        <div class="upload-img" v-for="img in info.submit_img">
                            <img :src="img" class="img-responsive" @click="loadImg(img,info.submit_img)">
                        </div>
                        <div class="" v-if="!info.submit_img">无</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-box" v-if="info.back_img">

            <div class="table-title"><span>查询结果</span></div>
            <div class="table-row-box">
                <!--<div class="table-row-block">-->
                    <div class="card-upload consult-back-img">
                        <img :src="info.back_img" alt="" @click="loadImg(info.back_img,[info.back_img])">
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="rent-btn-box"  v-if="(appid!=1 && appid!=3 && appid!=8 && can_check=='yes' && info.status==0) || ( appid ==1 && can_check=='yes' && info.status==1 )">
        <button class="btn btn-block btn-green" @click="showRent">{{(appid==6||appid==7)?'前往审核':'确认接单'}}</button>
    </div>
    <div class="modal-box"  :class="{'show':rentShow}">
        <div class="modal">
            <p>{{appid==8?'是否取消预约？':(appid==1||appid==6||appid==7)?'审核':'是否确认接单？'}}</p>
            <div class="remark">
                <p>备注信息</p>
                <textarea v-model="subData.check_remark"></textarea>
            </div>
            <div class="table-view-cell group-cell btn-box" v-if="appid!=8">
                <button class="group-btn btn-warning btn" @click="subRent(2)">{{(appid==1||appid==6||appid==7)?'审核失败':'取消订单'}}</button>
                <button class="group-btn btn-primary btn" @click="subRent(1)">{{(appid==1||appid==6||appid==7)?'审核成功':'确认接单'}}</button>
            </div>
            <div class="table-view-cell group-cell btn-box" v-if="appid==8">
                <button class="group-btn btn-warning btn" @click="hideRent">取消</button>
                <button class="group-btn btn-primary btn" @click="cancelOrder">确认</button>
            </div>
            <div class="my-cancel" @click="hideRent">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<!--<script src="/static/viewer/viewer.min.js"></script>-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
//    时间戳转字符串过滤器
Vue.filter('timeToString', function(time) {
    if(time){
        var newTime = new Date(time);
        var m = newTime.getMonth()+1,
                dt=newTime.getDate(),
                y=newTime.getFullYear();
        if(dt<10){
            dt='0'+dt;
        }
        if(m<10){
            m='0'+m;
        }
        return y+'-'+m+'-'+dt
    }
});
//预约时间格式过滤器
Vue.filter('orderTime', function(time) {
    if(time){
        var getStr=time.split('<br>').join('、')
        return  getStr.substring(0,getStr.length-1)
    }
});
var app = new Vue({
    el:'#app',
    mounted(){
    },
    created(){
        var _this = this;
        var test =window.location.href;
        var data ={
            url:test
        };
        _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
            var data = JSON.parse(res.data);
            wx.config({
                debug: false,
                appId: data.appid,
                timestamp:data.timestamp ,
                nonceStr: data.noncestr,
                signature: data.signature,
                jsApiList: ['previewImage']
            });
        },function () {
        });

        if(this.appid==3){
            document.getElementsByTagName('body')[0].style.background='#fff'
        }
//        线位置
        var viewWidth=document.body.clientWidth,
             myFirst=document.getElementsByClassName('my-first-ball')[0],
//                myFirstLI=document.getElementsByClassName('water-process-detail')[0].firstElementChild,
                mySecondLi=document.querySelector('.water-process-detail').querySelectorAll('li')[1],
                line=document.getElementsByClassName('my-line')[0];
        var l=getElementViewLeft(myFirst);
        line.style.left=l+6+'px';
        line.style.top=mySecondLi.offsetTop+20+'px';
        line.style.width=viewWidth-(l*2+12)+'px'

    },
    data:{
        subData:{
            check_remark:''
        },
        rentShow:false,
        appid:JSON.parse('{$type}'),
        info:{$info},
        can_check:'{$can_check}',
        isSubmit:false,
        payment_voucher:[],
        imgSrc:{
            imgLength:3,
            dataUrl:[],
            imgName:[]
        },
    },
    methods:{
        //            微信jssdk - 图片预览
        loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
            wx.previewImage({
                current: current,
                urls: urls
            });
        },
//        图片上传/删除
        delImg: function (e) {
            this.imgSrc.dataUrl.splice(e,1);
            this.payment_voucher.splice(e,1);
            this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
        },
        imgPreview (file,path,name) {
            var self = this;
            if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                return;
            }
            // 是否支持FileReader
            if (!file || !window.FileReader){
                if(path){
                    self.imgSrc.dataUrl.push(path) ;
                }
                return;
            }

            if (/^image/.test(file.type)) {
                // 创建一个reader
                var reader = new FileReader();
                // 将图片将转成 base64 格式
                reader.readAsDataURL(file);
                // 读取成功后的回调
                reader.onloadend = function () {
                    self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                    if(name && path){
                        var imgObj = {
                            name:name,
                            path:path,
                            base:this.result
                        };
                        self.imgSrc.imgName.push(imgObj);
                    }
                }
            }
        },
        imgUpload:function () {
            var upImg = this.$refs.upimg;
            upImg.click();
        },
        handleFileChange:function (e) {
            var _this = this;
            var upImg = _this.$refs.upimg;
            var img = upImg.files[0];
            if(img){
                var newSize = (img.size/1024).toFixed(2);
                if(newSize <= 10240){
                    _this.$indicator.open({
                        text: '图片上传中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.isSubmit = true;
                    var formData = new FormData();
                    formData.append("picture",img);
                    _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                        var data = JSON.parse(res.data);
                        _this.isSubmit = false;
                        if(data.code == 1){
                            // 在获取到文件对象进行预览
                            _this.$indicator.close();
                            _this.payment_voucher.push(data.data.path); //上传后图片路径
                            _this.imgPreview(img,data.data.path,name);
                        }else{
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        }
                    },function (res) {
                        _this.isSubmit = false;
                        _this.$indicator.close();
                        _this.$toast({
                            message:"上传失败，请重新上传！",
                            duration:1000
                        });
                    });
                }else{
                    _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                }
            }
        },
//        状态判断
        status:function(status,proof) {
            var s='';
            if(status!==undefined && status !== null){
                if(this.appid==1){
//                    -1为删除 ，0为未缴费，1为审核中，2为审核成功，3为审核失败
                    if (status==0){
                        s='未缴费'
                    }else if(status==1){
                        s='审核中'
                    }else if(status==2){
                        s='审核成功'
                    }else if(status==3){
                        s='审核失败'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==2){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='确认接单'
                    }else if(status==2){
                        s='取消订单'
                    }else if(status==3){
                        s='完成服务'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==3){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='确认接单'
                    }else if(status==2){
                        s='取消订单'
                    }else if(status==3){
                        s='确认送达'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==8){
                    if(status==0){
                        s='已取消'
                    }else{
                        s='预约成功'
                    }
                }else{

                        if (status==0){
                            s='审核中'
                        }else if(status==1){
                            s='审核成功'
                        }else if(status==2){
                            s='审核失败'
                        }else{
                            s='已删除'
                        }
                    }

            }
            return s
        },
//        服务类型判断（typr）
        serviceType:function (type) {
            var st='';
            if(type!==undefined && type !== null){
                if(this.appid==2){
                    if (type==1){
                        st='空调维修'
                    }else if(type==2){
                        st='电梯维修'
                    }else {
                        st='其他维修'
                    }
                }else if(this.appid==1){
                    if(type==1){
                        st='水电费'
                    }else if(type==3){
                        st='房租费'
                    }else{
                        st='物业费（公耗费）'
                    }
                }
            }
            return st
        },
//        遮罩显示/隐藏
        showRent:function () {
            var _this=this;
            if(!_this.subData.electricity_id && _this.appid== 7 && _this.info.type==1 ){
                _this.$toast("请输入电柱编号");
                return;
            }else if(!_this.subData.park_card && _this.appid== 6 && _this.info.type==1){
                _this.$toast("请输入停车卡号");
                return;
            }
            this.rentShow = true;
        },
        hideRent:function () {
            this.rentShow = false;
        },
//        送水成功确认 、 上传凭证
        isSuccess(){
            var _this = this,
                    text='';
            if(_this.isSubmit){
                return;
            }
            if(_this.appid==2){
                text='是否确认完成服务？'
            }else{
                text='是否确认送达？'
            }
            swal({
                title:'',
                text:text,
                showCancelButton: true,
                confirmButtonColor: "#fcc44b",
                confirmButtonText: "确认",
                cancelButtonText:'取消',
                closeOnConfirm: false
                },
                function(){
                    if(_this.appid==2){
                        _this.subData.proof=_this.payment_voucher;
                        _this.subData.type=3;
                    }else{
                        _this.subData.success=1;
                    }
                    _this.isSubmit = true;
                    _this.subData.appid=_this.appid;
                    _this.subData.id=_this.info.id;
                    _this.checkAjax(_this.subData)
                }
            )

        },
//        appid===8 , 取消预约
        cancelOrder(){
            var _this = this;
            if(_this.isSubmit){
                return;
            }
//            swal({
//                        title:'',
//                        text:'是否取消预约',
//                        showCancelButton: true,
//                        confirmButtonColor: "#fcc44b",
//                        confirmButtonText: "确认",
//                        cancelButtonText:'取消',
//                        closeOnConfirm: false
//                    },
//                    function(){
            _this.isSubmit = true;
            _this.subData.appid=_this.appid;
            _this.subData.create_time=_this.info.create_time;
            _this.subData.type=_this.info.type;
            _this.checkAjax(_this.subData)

//                    }
//            )

        },
//        审核服务
        subRent:function (isPass) {
            var _this = this;

            if(_this.isSubmit){
                return;
            }
            if(_this.appid==8){
                _this.subData.publictype=_this.info.publictype;
                _this.subData.create_time=_this.info.create_time;
            }
            if(_this.info.type==2 && (_this.appid==6 || _this.appid==7)){
                if(_this.appid==6){_this.subData.park_card=_this.info.park_card}else{_this.subData.electricity_id=_this.info.electricity_id}
            }
            _this.isSubmit = true;
            _this.subData.type=isPass;
            _this.subData.appid=_this.appid;
            _this.subData.id=_this.info.id;
            var data = JSON.parse(JSON.stringify(_this.subData));
            _this.checkAjax(data)
        },
//        check接口 ajax
        checkAjax(subData){
            var _this=this;
            _this.$http.post('/index/service/check',subData).then(function (res) {
                var data  = res.data;
                _this.isSubmit = false;
                if(data.code == 1){
                    swal({
                        title:'',
                        text:'提交成功',
                        html:true,
                        type:"success",
                        confirmButtonText: "确认",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        _this.rentShow = false;
                        //刷新页面 reload 等页面刷新方法在微信浏览器内失效——2017.10.09
                        window.location.replace(window.location.href+='/reload/true')
                    });
                }else{
                    swal({
                        title:"提交失败!",
                        text:"请重新提交！",
                        type:"error",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        window.location.reload(true);
                        window.location.replace(window.location.href+='/reload/true')
                    });
                }
            },function (res) {
                _this.isSubmit = false;
                swal({
                    title:"提交失败!",
                    text:'请重新提交！',
                    type:"error",
                    confirmButtonColor: "#fcc44b"
                },function () {
                    window.location.replace(window.location.href+='/reload/true');
                });
            })
        },
    }
})
function getElementViewLeft(element){
    var actualLeft = element.offsetLeft;
    var current = element.offsetParent;

    while (current !== null){
        actualLeft += current.offsetLeft;
        current = current.offsetParent;
    }

    if (document.compatMode == "BackCompat"){
        var elementScrollLeft=document.body.scrollLeft;
    } else {
        var elementScrollLeft=document.documentElement.scrollLeft;
    }

    return actualLeft-elementScrollLeft;
}
function getTop(e){
    var offset=e.offsetTop;
    if(e.offsetParent!=null) offset+=getTop(e.offsetParent);
    return offset;
}
function getElementViewTop(element){
    var actualTop = element.offsetTop;
    var current = element.offsetParent;

    while (current !== null){
        actualTop += current. offsetTop;
        current = current.offsetParent;
    }

    if (document.compatMode == "BackCompat"){
        var elementScrollTop=document.body.scrollTop;
    } else {
        var elementScrollTop=document.documentElement.scrollTop;
    }

    return actualTop-elementScrollTop;
}
</script>
{/block}