{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/index/css/service/detail.css">
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<style>
    body{
        background-color: #f0eff5;
    }
    .upload-img img{
        max-width: 100%;
        max-height: 100%;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <!--type=1 生活缴费-->
    <!--type=2 送水-->
    <!--type=3 车卡-->
    <div v-if="appid==1">
        <div class="card">
            <div class="card-tit">缴费信息</div>
            <div class="card-cell">
                <span>企业名称</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>到期时间</span>
                <span>{{info.expiration_time}}</span>
            </div>
            <div class="card-cell">
                <span>应缴金额</span>
                <span>{{info.name}}</span>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证">
                </div>
            </div>
        </div>
    </div>

    <div v-if="appid==3">
        <div class="card">
            <div class="card-tit">送水服务</div>
            <div class="card-cell">
                <span>送水地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>送水桶数</span>
                <span>{{info.number}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span>{{info.mobile}}</span>
            </div>
        </div>
    </div>

    <div v-if="appid==6 || appid==7">
        <div class="card">
            <div class="card-tit">车主信息</div>
            <div class="card-cell" v-if="appid==6">
                <span>车牌号码</span>
                <span>{{info.car_card}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>电柱编号</span>
                <span>{{info.electricity_id}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车卡号</span>
                <span>{{info.park_card}}</span>
            </div>
            <div class="card-cell">
                <span>车主姓名</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>手机号码</span>
                <span>{{info.mobile}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>身份证号</span>
                <span>{{info.people_card}}</span>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">办理信息</div>
            <div class="card-cell">
                <span>办理时长</span>
                <span>{{info.aging}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>车卡押金</span>
                <span>{{info.carpark_deposit}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>充电费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>费用总计</span>
                <span>{{info.all_money}}</span>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证">
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/viewer/viewer.min.js"></script>
<script>
var app = new Vue({
    el:'#app',
    mounted(){
        console.log(JSON.parse('{$info}'));
        if(this.info.img){
            var viewer = new Viewer(document.getElementsByClassName('card-upload')[0],{
                toolbar:2,
                title:2,
            });
        }
    },
    data:{
        appid:JSON.parse('{$type}'),
        info:JSON.parse('{$info}'),
    },
    methods:{
        
    }
})
</script>
{/block}