{extend name="public/common"}

{block name="style"}
<title>缴费记录</title>
<style>
    ul{
        padding:1.2rem;
        border-bottom: 1px solid #f1f1f1;
    }
    ul>li{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }
    ul>li:first-child{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    ul>li:last-child{
        font-size: 1.4rem;
        color: #000;
    }
    .unPay{
        color: #f97878;
    }
    .auditing{
        color: #fcc44b;
    }
    .payed{
        color: #52cc92;
    }
    .no-history{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f6f6f6;
        color: #999;
        font-size: 1.6rem;
        text-align: center;
    }
    .no-history img {
        width: 95%;
        margin: 40% auto 0;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul v-for="item in historyList" @click="jumpTo(item.url)">

        <li v-if="appid==1">
            <!-- -1为删除 ，0为未缴费，1为审核中，2为审核成功，3为审核失败-->
            <span>{{item.name}}</span>
            <span class="unPay" v-if="item.status==-1">已删除</span>
            <span class="unPay" v-if="item.status==0">未缴费</span>
            <span class="auditing" v-if="item.status==1">审核中</span>
            <span class="payed" v-if="item.status==2">审核成功</span>
            <span class="unPay" v-if="item.status==3">审核失败</span>
        </li>
        <li v-if="appid==2">
            <span>{{item.name}}</span>
            <span class="unPay" v-if="item.status==-1">已删除</span>
            <span class="auditing" v-if="item.status==0">审核中</span>
            <span class="payed" v-if="item.status==1">确认接单</span>
            <span class="payed" v-if="item.status==2">取消订单</span>
            <span class="payed" v-if="item.status==3">完成服务</span>
        </li>
        <li v-if="appid==3">
            <span>{{item.name}}</span>
            <span class="unPay" v-if="item.status==-1">已删除</span>
            <span class="auditing" v-if="item.status==0">提交预约</span>
            <span class="payed" v-if="item.status==1">确认接单</span>
            <span class="payed" v-if="item.status==2">取消订单</span>
            <span class="payed" v-if="item.status==3">确认送达</span>
        </li>
        <li v-if="appid!=1 && appid!=2 &&　appid!=3 && appid!=12">
            <span>{{item.name}}</span>
            <span class="unPay" v-if="item.status==-1">已删除</span>
            <span class="auditing" v-if="item.status==0">审核中</span>
            <span class="payed" v-if="item.status==1">审核成功</span>
            <span class="unPay" v-if="item.status==2">审核失败</span>
        </li>
        <li v-if="appid==12">
            <span>商标查询</span>
            <span class="auditing" v-if="item.status===0">未回复</span>
            <span class="payed" v-if="item.status===1">已回复</span>
            <!--<span>{{item.time}}</span>-->
            <!--<span v-if="item.num">数量：{{item.num}}桶</span>-->
            <!--<span v-if="item.pay">缴费金额：{{item.pay}}元</span>-->
        </li>
        <li>
            <span>{{item.time}}</span>
            <span v-if="item.num">数量：{{item.num}}桶</span>
            <span v-if="item.pay">缴费金额：{{item.pay}}元</span>
        </li>

    </ul>
    <p class="no-history" v-if="historyList==''">
        <img src="/index/images/service/card/icon-default.jpg" >
    </p>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el:'#app',
        mounted(){
            console.log(JSON.parse('{$info}'));
            if({$info}){
                document.title=this.baseData.title;
            }
        },
        data:{
            historyList:JSON.parse('{$info}'),
            appid:{$appId}
        },
        computed:{
            baseData:function () {
                var info={};
                switch (this.appid){
                    case 1:
                        info.title='缴费记录';
                        break;
                    case 2:
                        info.title='报修记录';
                        break;
                    case 3:
                        info.title='送水记录';
                        break;
                    case 4:
                        info.title='保洁记录';
                        break;
                    case 6:
                        info.title='车卡办理记录';
                        break;
                    case 7:
                        info.title='电柱办理记录';
                        break;
                    case 8:
                        info.title='设备服务记录';
                        break;
                    case 12:
                        info.title='商标查询记录';
                        break;
                }
                return info;
            }
        },
        methods:{
            jumpTo(url){
                if(this.appid===12){
                    window.location.href=url;
                }else{
                    window.location.href=url;
                }
            }
        }
})
</script>
{/block}