{extend name="public/common"}

{block name="style"}
<title>服务记录</title>
<style>
    /*body{background-color: #f6f6f6}*/
    ul.trademark-list{padding:1.2rem;border-bottom:1px solid #f1f1f1;background-color: #fff}
    ul.trademark-list>li{display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;color:#333}
    ul.trademark-list>li:first-child{font-size:1.6rem;margin-bottom:.5rem}
    ul.trademark-list>li:last-child{font-size:1.4rem;color:#000}

    .patent-list{padding:1rem}
    .patent-list>li{display:-webkit-flex;display:flex;box-sizing:border-box;margin-bottom:1rem;padding:1.5rem 2rem 1.5rem 1.5rem;width:100%;border-radius:.5rem;background-color:#fff;justify-content:space-between;align-items:center}
    .patent-list>li>.state-icon{width:50px;height:41px;background:url() no-repeat center;background-size:cover;flex:none}
    .patent-list>li>.state-icon.state-icon-pass{background-image:url(/index/images/service/patent/auditing-pass.png)}
    .patent-list>li>.state-icon.state-icon-ing{background-image:url(/index/images/service/patent/auditing-ing.png)}
    .patent-list>li>.state-icon.state-icon-refuse{background-image:url(/index/images/service/patent/auditing-refuse.png)}
    .patent-title{box-sizing:border-box;padding-right:1rem;width:14.4rem;height:100%;flex:1}
    .patent-title>div{overflow:hidden;margin-bottom:.5rem;width:100%;text-overflow:ellipsis;white-space:nowrap;font-size:1.6rem}
    .patent-title>span{color:#999;font-size:1.2rem}

    .unPay{color:#f97878}
    .auditing{color:#fcc44b}
    .payed{color:#52cc92}

    .no-history{position:absolute;width:100%;height:100%;background-color:#f6f6f6;color:#999;font-size:1.6rem;text-align:center}
    .no-history img{width:95%;margin:40% auto 0}
</style>
{/block}

{block name="body"}
<div id="app">
    <div  v-if="appid==12">
        <ul class="trademark-list" v-for="item in historyList" @click="jumpTo(item.url)">
            <li >
                <span>商标查询</span>
                <span class="auditing" v-if="item.status===0">未回复</span>
                <span class="payed" v-if="item.status===1">已回复</span>
            </li>
            <li>
                <span>{{item.time}}</span>
            </li>
        </ul>
    </div>
    <div class="appid==21">
        <ul class="patent-list">
            <li v-for="item in historyList" @click="jumpTo(item.url)">
                <div class="patent-title">
                    <div>{{item.type==1?'发明专利':item.type==2?'实用新型':'外观设计'}}：{{item.name}}</div>
                    <span>{{item.time}}</span>
                </div>
               <div class="state-icon" :class="{'state-icon-ing':item.status==0,'state-icon-pass':item.status==1,'state-icon-refuse':item.status==2}"></div>
            </li>
        </ul>
    </div>
    <p class="no-history" v-if="!historyList.length">
        <img src="/index/images/service/card/icon-default.jpg" >
    </p>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el:'#app',
        mounted(){
            document.title=this.baseData.title
        },
        data:{
            appid:{$appId},
            historyList:{$info}
        },
        computed:{
            baseData:function () {
                var info={};
                switch (this.appid){
                    case 12:
                        info.title='商标查询记录';
                        break;
                    case 21:
                        info.title='专利申请记录';
                        document.body.style.background = "#F0EFF5";
                        break;
                }
                return info;
            }
        },
        methods:{
            jumpTo(url){
                window.location.href=url;
            }
        }
})
</script>
{/block}