{extend name="public/common"}

{block name="style"}
<title>服务记录</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<style>
    body{padding-bottom:1rem;background-color:#f0eff5}
    #app:before{display:table;height:0;content:''}
    .upload-img img{max-width:100%;max-height:100%}
    .modal-box{position:fixed;top:0;left:0;z-index:9;display:none;width:100%;height:100vh;background:rgba(0,0,0,.4)}
    .modal-box.show{display:block!important}
    .modal-box .modal{position:relative;margin:20vh auto 0;padding:10px 0;width:calc(100% - 36px);border-radius:10px;background:#fff}
    .modal>p{text-align:center;font-size:17px;line-height:40px}
    .name-mobile,.remark{padding:5px 18px}
    .name-mobile ul li{display:flex;overflow:hidden;border-bottom:1px solid #f1f1f1;line-height:40px;justify-content:space-between}
    .name-mobile span{display:inline-block;color:#333;font-size:1.5rem}
    .name-mobile span:first-child{float:left;width:62px}
    .name-mobile input{text-align:right;font-size:1.5rem}
    .remark p{font-size:15px}
    .remark textarea{margin:10px 7px;padding:5px 10px;width:calc(100% - 14px);height:18vh;border:1px solid #e5e5e5;border-radius:5px}
    .my-cancel{position:absolute;top:-50px;right:0}
    .my-cancel>span:first-child{display:inline-block;display:-webkit-flex;width:28px;height:28px;border:1px solid #fff;border-radius:15px;-webkit-align-items:center;-webkit-justify-content:center}
    .my-cancel i::before{width:20px;height:20px;color:#fff}
    .my-cancel>span:last-child{position:relative;left:50%;display:inline-block;width:0;height:22px;border-right:1px solid #fff}
    .rent-btn-box{padding:8vw 4.8vw;width:100%}
    .btn{height:5rem}
    .btn-box{padding:4vw 4.8vw;width:100%}
    .btn{height:10.67vw;border:none;border-radius:5px;color:#fff;text-align:center;font-size:1.5rem}
    .btn-block{width:100%}
    .btn-green{background-color:#fcc44b;color:#fff;font-size:1.5rem}
    .table-view-cell.group-cell{border-bottom:none}
    .btn-primary{background-color:#7DB8F2}
    .card{padding-bottom:1rem}
    .card .remark{padding:10px 0 5px}
    .card .remark>div.no_msg{color:#e5e5e5}
    .card .remark>div{margin:10px 7px;padding:5px 10px;width:calc(100% - 14px);min-height:18vh;border:1px solid #e5e5e5;border-radius:5px}
    .group-cell.btn-box{margin:0}
    .card-cell a{color:#333}
</style>
{/block}

{block name="body"}
<div id="app">
    <div v-if="appid==1">
        <div class="card">
            <div class="card-tit">缴费信息</div>
            <div class="card-cell">
                <span>企业名称</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>缴费类型</span>
                <span>{{serviceType(info.type)}}</span>
            </div>
            <div class="card-cell">
                <span>到期时间</span>
                <span>{{info.expiration_time}}</span>
            </div>
            <div class="card-cell">
                <span>应缴金额</span>
                <span>{{info.fee}}</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark" v-if="info.status!=1 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.img)">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==2">
        <div class="card">
            <div class="card-tit">物业报修</div>
            <div class="card-cell">
                <span>服务类型</span>
                <span>{{serviceType(info.type)}}</span>
            </div>
            <div class="card-cell">
                <span>服务地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>服务状态</span>
                <span>{{status(info.status,info.proof)}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">备注信息</div>
            <div class="card-area">
                <div v-model="" class="group-area">{{info.extra ? info.extra : '无'}}</div>
            </div>
            <div class="card-upload"  v-if="info.image">
                <div class="upload-img" v-for="img in info.image">
                    <img :src="img" alt="图片" @click="loadImg(img,info.image)">
                </div>
            </div>
        </div>
        <div class="card"   v-if="info.proof && info.status==1">
            <div class="card-tit">报修凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.proof">
                    <img :src="img" alt="报修凭证" @click="loadImg(img,info.proof)">
                </div>
            </div>
        </div>
        <div  v-if="can_check == 'yes' &&  !info.proof.length && info.status==1">
            <div class="card">
                <div class="card-tit">报修凭证</div>
                <div class="card-upload">
                    <div class="upload-img" v-for="(imgUrl,index) of imgSrc.dataUrl">
                        <i class="del-img" @click="delImg(index)"></i>
                        <img :src="imgUrl" class="img-responsive">
                    </div>
                    <div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">
                        <img src="/index/images/service/card/card-camera.png">
                        <span class="upload-info" >上传凭证</span>
                    </div>
                </div>
                <form ref="myform">
                    <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" >
                </form>
            </div>
            <div class="rent-btn-box">
                <button class="btn btn-block btn-green" @click="isSuccess">完成服务</button>
            </div>
        </div>
    </div>
    <div v-if="appid==3">
        <div class="card">
            <div class="card-tit">送水服务</div>
            <div class="card-cell">
                <span>送水地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>送水桶数</span>
                <span>{{info.number}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>服务状态</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="rent-btn-box" v-if="can_check=='yes' && info.status==1">
            <button class="btn btn-block btn-green" @click="isSuccess">确认送达</button>
        </div>

    </div>
    <div v-if="appid==4">
        <div class="card">
            <div class="card-tit">室内保洁</div>
            <div class="card-cell">
                <span>服务类型</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>服务地点</span>
                <span>{{info.address}}</span>
            </div>
            <div class="card-cell">
                <span>服务时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>联系电话</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">备注信息</div>
            <div class="card-area">
                <div class="group-area">{{info.extra ? info.extra : '无'}}</div>
            </div>
            <div class="card-upload"  v-if="info.image">
                <div class="upload-img" v-for="img in info.image">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.image)">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==6 || appid==7">
        <div class="card">
            <div class="card-tit">车主信息</div>
            <div class="card-cell" v-if="appid==6">
                <span>车牌号码</span>
                <span>{{info.car_card}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>电柱编号</span>
                <span v-if="info.electricity_id">{{info.electricity_id}}</span>
                <input v-if="can_check=='yes' && !info.electricity_id && info.status == 0" type="text" placeholder="请输入电柱编号" v-model="subData.electricity_id">
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车卡号</span>
                <span v-if="info.park_card">{{info.park_card}}</span>
                <input v-if="can_check == 'yes' && !info.park_card && info.status == 0" type="text" placeholder="请输入停车卡号" v-model="subData.park_card">
            </div>
            <div class="card-cell">
                <span>车主姓名</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>手机号码</span>
                <span><a :href="'tel:'+info.mobile">{{info.mobile}}</a></span>
            </div>
            <div class="card-cell">
                <span>公司名称</span>
                <span>{{info.company}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>身份证号</span>
                <span>{{info.people_card}}</span>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">办理信息</div>
            <div class="card-cell">
                <span>办理时长</span>
                <span>{{info.aging}}个月</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>车卡押金</span>
                <span>{{info.carpark_deposit}}</span>
            </div>
            <div class="card-cell" v-if="appid==6">
                <span>停车费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="appid==7">
                <span>充电费用</span>
                <span>{{info.money}}</span>
            </div>
            <div class="card-cell" v-if="info.type==1">
                <span>费用总计</span>
                <span>{{info.all_money}}</span>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.img">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.img">
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.img)">
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==8">
        <div class="card">
            <div class="card-tit">设备服务</div>
            <div class="card-cell">
                <span>预约类型</span>
                <span>{{info.type_text}}</span>
            </div>
            <div class="card-cell">
                <span>缴费金额</span>
                <span>{{info.price}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time*1000 | timeToString}}</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark">
                <p>预约时间</p>
                <div>{{info.order_time | orderTime}}</div>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
        <div class="card" v-if="info.payment_voucher">
            <div class="card-tit">缴费凭证</div>
            <div class="card-upload">
                <div class="upload-img" v-for="img in info.payment_voucher" >
                    <img :src="img" alt="缴费凭证" @click="loadImg(img,info.payment_voucher)">
                </div>
            </div>
        </div>
        <div class="rent-btn-box" v-if="can_check=='yes' && info.status==2">
            <button class="btn btn-block btn-green" @click="showRent">取消预约</button>
        </div>
    </div>
    <div v-if="appid>=10 && appid<19">
        <div class="card">
            <div class="card-tit">{{info.name}}</div>
            <div class="card-cell">
                <span>公司名称</span>
                <span>{{info.company}}</span>
            </div>
            <div class="card-cell">
                <span>联系人员</span>
                <span>{{info.people}}</span>
            </div>
            <div class="card-cell">
                <span>联系方式</span>
                <span>{{info.mobile}}</span>
            </div>
            <div class="card-cell">
                <span>提交时间</span>
                <span>{{info.create_time}}</span>
            </div>
            <div class="card-cell">
                <span>审核进度</span>
                <span>{{status(info.status)}}</span>
            </div>
            <div class="remark">
                <p>备注</p>
                <div>{{info.remark}}</div>
            </div>
            <div class="remark" v-if="info.status!=0 && info.check_remark">
                <p>物业提示</p>
                <div>{{info.check_remark}}</div>
            </div>
        </div>
    </div>
    <div class="rent-btn-box"  v-if="(appid!=1 && appid!=8 && can_check=='yes' && info.status==0) || ( appid ==1 && can_check=='yes' && info.status==1 )">
        <button class="btn btn-block btn-green" @click="showRent">{{(appid==6||appid==7)?'前往审核':'确认接单'}}</button>
    </div>
    <div class="modal-box"  :class="{'show':rentShow}">
        <div class="modal">
            <p>{{appid==8?'是否取消预约？':(appid==1||appid==6||appid==7)?'审核':'是否确认接单？'}}</p>
            <div class="remark">
                <p>备注信息</p>
                <textarea v-model="subData.check_remark"></textarea>
            </div>
            <div class="table-view-cell group-cell btn-box" v-if="appid!=8">
                <button class="group-btn btn-warning btn" @click="subRent(2)">{{(appid==1||appid==6||appid==7)?'审核失败':'取消订单'}}</button>
                <button class="group-btn btn-primary btn" @click="subRent(1)">{{(appid==1||appid==6||appid==7)?'审核成功':'确认接单'}}</button>
            </div>
            <div class="table-view-cell group-cell btn-box" v-if="appid==8">
                <button class="group-btn btn-warning btn" @click="hideRent">取消</button>
                <button class="group-btn btn-primary btn" @click="cancelOrder">确认</button>
            </div>
            <div class="my-cancel" @click="hideRent">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/viewer/viewer.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
//    时间戳转字符串过滤器
Vue.filter('timeToString', function(time) {
    if(time){
        var newTime = new Date(time);
        var m = newTime.getMonth()+1,
                dt=newTime.getDate(),
                y=newTime.getFullYear();
        if(dt<10){
            dt='0'+dt;
        }
        if(m<10){
            m='0'+m;
        }
        return y+'-'+m+'-'+dt
    }
});
//预约时间格式过滤器
Vue.filter('orderTime', function(time) {
    if(time){
        var getStr=time.split('<br>').join('、')
        return  getStr.substring(0,getStr.length-1)
    }
});
var app = new Vue({
    el:'#app',
    mounted(){
    },
    created(){
        var _this = this;
        var test =window.location.href;
        var data ={
            url:test
        };
        _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
            var data = JSON.parse(res.data);
            wx.config({
                debug: false,
                appId: data.appid,
                timestamp:data.timestamp ,
                nonceStr: data.noncestr,
                signature: data.signature,
                jsApiList: ['previewImage']
            });
        },function () {
        })
    },
    data:{
        subData:{
            check_remark:''
        },
        rentShow:false,
        appid:JSON.parse('{$type}'),
        info:JSON.parse('{$info}'),
        can_check:'{$can_check}',
        isSubmit:false,
        payment_voucher:[],
        imgSrc:{
            imgLength:3,
            dataUrl:[],
            imgName:[]
        },
    },
    methods:{
        //            微信jssdk - 图片预览
        loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
            wx.previewImage({
                current: current,
                urls: urls
            });
        },
//        图片上传/删除
        delImg: function (e) {
            this.imgSrc.dataUrl.splice(e,1);
            this.payment_voucher.splice(e,1);
            this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
        },
        imgPreview (file,path,name) {
            var self = this;
            if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                return;
            }
            // 是否支持FileReader
            if (!file || !window.FileReader){
                if(path){
                    self.imgSrc.dataUrl.push(path) ;
                }
                return;
            }

            if (/^image/.test(file.type)) {
                // 创建一个reader
                var reader = new FileReader();
                // 将图片将转成 base64 格式
                reader.readAsDataURL(file);
                // 读取成功后的回调
                reader.onloadend = function () {
                    self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                    if(name && path){
                        var imgObj = {
                            name:name,
                            path:path,
                            base:this.result
                        };
                        self.imgSrc.imgName.push(imgObj);
                    }
                }
            }
        },
        imgUpload:function () {
            var upImg = this.$refs.upimg;
            upImg.click();
        },
        handleFileChange:function (e) {
            var _this = this;
            var upImg = _this.$refs.upimg;
            var img = upImg.files[0];
            if(img){
                var newSize = (img.size/1024).toFixed(2);
                if(newSize <= 10240){
                    _this.$indicator.open({
                        text: '图片上传中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.isSubmit = true;
                    var formData = new FormData();
                    formData.append("picture",img);
                    _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                        var data = JSON.parse(res.data);
                        _this.isSubmit = false;
                        if(data.code == 1){
                            // 在获取到文件对象进行预览
                            _this.$indicator.close();
                            _this.payment_voucher.push(data.data.path); //上传后图片路径
                            _this.imgPreview(img,data.data.path,name);
                        }else{
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        }
                    },function (res) {
                        _this.isSubmit = false;
                        _this.$indicator.close();
                        _this.$toast({
                            message:"上传失败，请重新上传！",
                            duration:1000
                        });
                    });
                }else{
                    _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                }
            }
        },
//        状态判断
        status:function(status,proof) {
            var s='';
            if(status!==undefined && status !== null){
                if(this.appid==1){
//                    -1为删除 ，0为未缴费，1为审核中，2为审核成功，3为审核失败
                    if (status==0){
                        s='未缴费'
                    }else if(status==1){
                        s='审核中'
                    }else if(status==2){
                        s='审核成功'
                    }else if(status==3){
                        s='审核失败'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==2){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='确认接单'
                    }else if(status==2){
                        s='取消订单'
                    }else if(status==3){
                        s='已上传凭证'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==3){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='审核成功'
                    }else if(status==2){
                        s='审核失败'
                    }else if(status==3){
                        s='确认送达'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==8){
                    if(status==0){
                        s='已取消'
                    }else{
                        s='预约成功'
                    }
                }else{

                        if (status==0){
                            s='审核中'
                        }else if(status==1){
                            s='审核成功'
                        }else if(status==2){
                            s='审核失败'
                        }else{
                            s='已删除'
                        }
                    }

            }
            return s
        },
//        服务类型判断（typr）
        serviceType:function (type) {
            var st='';
            if(type!==undefined && type !== null){
                if(this.appid==2){
                    if (type==1){
                        st='空调维修'
                    }else if(type==2){
                        st='电梯维修'
                    }else {
                        st='其他维修'
                    }
                }else if(this.appid==1){
                    if(type==1){
                        st='水电费'
                    }else if(type==3){
                        st='房租费'
                    }else{
                        st='物业费（公耗费）'
                    }
                }
            }
            return st
        },
//        遮罩显示/隐藏
        showRent:function () {
            var _this=this;
            if(!_this.subData.electricity_id && _this.appid== 7 && _this.info.type==1 ){
                _this.$toast("请输入电柱编号");
                return;
            }else if(!_this.subData.park_card && _this.appid== 6 && _this.info.type==1){
                _this.$toast("请输入停车卡号");
                return;
            }
            this.rentShow = true;
        },
        hideRent:function () {
            this.rentShow = false;
        },
//        送水成功确认 、 上传凭证
        isSuccess(){
            var _this = this,
                    text='';
            if(_this.isSubmit){
                return;
            }
            if(_this.appid==2){
                text='是否确认完成服务？'
            }else{
                text='是否确认送达？'
            }
            swal({
                title:'',
                text:text,
                showCancelButton: true,
                confirmButtonColor: "#fcc44b",
                confirmButtonText: "确认",
                cancelButtonText:'取消',
                closeOnConfirm: false
                },
                function(){
                    if(_this.appid==2){
                        _this.subData.proof=_this.payment_voucher;
                        _this.subData.type=3;
                    }else{
                        _this.subData.success=1;
                    }
                    _this.isSubmit = true;
                    _this.subData.appid=_this.appid;
                    _this.subData.id=_this.info.id;
                    _this.checkAjax(_this.subData)
                }
            )

        },
//        appid===8 , 取消预约
        cancelOrder(){
            var _this = this;
            if(_this.isSubmit){
                return;
            }
//            swal({
//                        title:'',
//                        text:'是否取消预约',
//                        showCancelButton: true,
//                        confirmButtonColor: "#fcc44b",
//                        confirmButtonText: "确认",
//                        cancelButtonText:'取消',
//                        closeOnConfirm: false
//                    },
//                    function(){
            _this.isSubmit = true;
            _this.subData.appid=_this.appid;
            _this.subData.create_time=_this.info.create_time;
            _this.subData.type=_this.info.type;
            _this.checkAjax(_this.subData)

//                    }
//            )

        },
//        审核服务
        subRent:function (isPass) {
            var _this = this;

            if(_this.isSubmit){
                return;
            }
            if(_this.appid==8){
                _this.subData.publictype=_this.info.publictype;
                _this.subData.create_time=_this.info.create_time;
            }
            if(_this.info.type==2 && (_this.appid==6 || _this.appid==7)){
                if(_this.appid==6){_this.subData.park_card=_this.info.park_card}else{_this.subData.electricity_id=_this.info.electricity_id}
            }
            _this.isSubmit = true;
            _this.subData.type=isPass;
            _this.subData.appid=_this.appid;
            _this.subData.id=_this.info.id;
            var data = JSON.parse(JSON.stringify(_this.subData));
            _this.checkAjax(data)
        },
//        check接口 ajax
        checkAjax(subData){
            var _this=this;
            _this.$http.post('/index/service/check',subData).then(function (res) {
                var data  = res.data;
                _this.isSubmit = false;
                if(data.code == 1){
                    swal({
                        title:'',
                        text:'提交成功',
                        html:true,
                        type:"success",
                        confirmButtonText: "确认",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        _this.rentShow = false;
                        //刷新页面 reload 等页面刷新方法在微信浏览器内失效——2017.10.09
                        window.location.href=window.location.href+='/reload/true'
                    });
                }else{
                    swal({
                        title:"提交失败!",
                        text:"请重新提交！",
                        type:"error",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        window.location.reload(true);
                        window.location.href=window.location.href+='/reload/true'
                    });
                }
            },function (res) {
                _this.isSubmit = false;
                swal({
                    title:"提交失败!",
                    text:'请重新提交！',
                    type:"error",
                    confirmButtonColor: "#fcc44b"
                },function () {
                    window.location.replace(window.location.href+='/reload/true');
                });
            })
        },
    }
})
</script>
{/block}