{extend name="public/common"}

{block name="style"}
<style>
    ul{
        padding:1.2rem;
        border-bottom: 1px solid #f1f1f1;
    }
    ul>li{
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }
    ul>li:first-child{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    ul>li:last-child{
        font-size: 1.4rem;
        color: #000;
    }
    .unPay{
        color: #f97878;
    }
    .auditing{
        color: #fcc44b;
    }
    .payed{
        color: #52cc92;
    }
    .no-history{
        color: #999;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 40vh;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul v-for="item in historyList">
        <li>
            <span>{{item.name}}</span>
            <span class="unPay" v-if="item.state==1">未缴费</span>
            <span class="auditing" v-if="item.state==2">审核中</span>
            <span class="payed" v-if="item.state==3">已缴费</span>

        </li>
        <li>
            <span>{{item.time | timeToStr}}</span>
            <span v-if="item.num">数量：{{item.num}}桶</span>
            <span v-if="item.pay">缴费金额：{{item.pay}}元</span>
        </li>
    </ul>
    <p class="no-history" v-if="historyList==''">
        暂无记录
    </p>
</div>
{/block}

{block name="script"}
<script>
    Vue.filter('timeToStr', function(value) {
        if (!value) { return ''}
        var time=new Date(value);
        var y=time.getFullYear(),m=time.getMonth(),d=time.getDate();
        m=String(m).length<2?'0'+m:m;
        return y+'-'+m+'-'+d
    })

    var app = new Vue({
        el:'#app',
        mounted(){
            document.title=this.baseData.title;
        },
        data:{
            historyList:[
                {
                    name:'水费',
//                    state:2,
                    time:1503532800000,
//                    pay:'1111',
                    num:2
                },
                {
                    name:'报修',
//                    state:2,
                    time:1503532800000,
//                    pay:'1111',
//                    num:2
                },
                {
                    name:'水费',
                    state:1,
                    time:1503532800000,
                    pay:1111,
//                    num:2
                },
                {
                    name:'新卡办理',
                    state:2,
                    time:1503532800000,
                    pay:1111,
//                    num:2
                },
                {
                    name:'新卡办理',
                    state:3,
                    time:1503532800000,
                    pay:1111,
//                    num:2
                }
            ]
        },
        computed:{

            baseData:function () {
                var info={};
                var type=parseInt(window.location.href.split('/t/')[1]);
                info.type=type;
                switch (type){
                    case 1:
                        info.title='缴费记录';
                        break;
                    case 2:
                        info.title='报修记录';
                        break;
                    case 3:
                        info.title='送水记录';
                        break;
                    case 4:
                        info.title='保洁记录';
                        break;
                    case 6:
                        info.title='办理记录';
                        break;
                    case 7:
                        info.title='办理记录';
                        break;
                }
                return info;
            }
        },
        methods:{

        }
})
</script>
{/block}