{extend name="public/common"}

{block name="style"}
<title>服务记录</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<link rel="stylesheet" href="/index/css/service/historyDetail.css">
{/block}

{block name="body"}
<div id="app">
    <div v-if="appid == 12 && info.trademark_type==1">
        <div class="table-box">
            <div class="table-title"><span>商标类别</span><a href="/index/service/marktype" class="icon-remarks"></a></div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">类别选择</span>
                    <span> <span>第 {{info.type<10?0+''+info.type:info.type}} 类</span></span>
                </div>
            </div>
        </div>
        <div class="table-box">
            <div class="table-title"><span>商标名称</span></div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">中文</span>
                    <span>{{info.chinese_description || "无"}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">英文</span>
                    <span>{{info.english_description || "无"}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">数字</span>
                    <span>{{info.numeric_description || "无"}}</span>
                </div>
                <div class="table-row-block">
                    <div class="table-row-block-header">商标图形</div>
                    <div class="card-upload table-card-upload">
                        <div class="upload-img" v-for="img in info.submit_img">
                            <img :src="img" class="img-responsive" @click="loadImg(img,info.submit_img)">
                        </div>
                        <div class="" v-if="!info.submit_img.length">无</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-box">
            <div class="table-title"><span>查询结果</span></div>
            <!--已回复-->
            <div class="table-row-box" v-if="info.status != 0" style="padding-top: 2rem;">
                <div class="table-row-block " v-if="info.reply"  style="padding:0 0  2rem">
                    <div class="textarea-box">
                        <div>{{info.reply}}</div>
                    </div>
                </div>
                <div class="table-row-block" v-if="info.back_img.length">
                    <!--<div class="table-row-block-header">物业回复：</div>-->
                    <div class="card-upload table-card-upload">
                        <div class="upload-img" v-for="img in info.back_img">
                            <img :src="img" class="img-responsive" @click="loadImg(img,info.back_img)">
                        </div>
                    </div>
                </div>
            </div>
            <!--未回复（有权限回复）-->
            <div class="table-row-box"  v-else-if="can_check == 'yes' &&  info.status==0">
                <div class="table-row-block" style="padding-top: 2rem">
                    <textarea  cols="30" rows="10" placeholder="请输入查询结果..." v-model="subData.check_remark"></textarea>
                </div>
                <div class="card-upload">
                    <div class="upload-img" v-for="(imgUrl,index) of payment_voucher">
                        <i class="del-img" @click="delImg(index)"></i>
                        <img :src="imgUrl" class="img-responsive" @click="loadImg(imgUrl,payment_voucher)">
                    </div>
                    <div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">
                        <img src="/index/images/service/card/card-camera.png">
                        <span class="upload-info" >上传图片</span>
                    </div>
                </div>
                <div style="padding: 2rem 0;">
                    <button class="btn btn-block btn-green" @click="markReply(1)">回复</button>
                </div>
            </div>
            <!--未回复（无权限回复）-->
            <div class="table-row-box" v-else>
                <div class="table-row-block" >
                    <div class="table-row-block-header">暂无查询结果</div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==12 && info.trademark_type==2">
        <div class="table-box">
            <div class="table-title"><span>咨询信息</span></div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">联系人员</span>
                    <span>{{info.user_name}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">联系电话</span>
                    <span><a :href="'tel:'+info.mobile" style="color:#333;">{{info.mobile}}</a></span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">提交时间</span>
                    <span>{{info.create_time*1000 | timeToString}}</span>
                </div>
                    <div class="table-row-block" style="padding: 0 0 2rem">
                        <div class="table-row-block-header">咨询内容</div>
                        <div class="textarea-box">
                            <div>{{info.content || "无"}}</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="table-box">
            <div class="table-title"><span>园区回复</span></div>
            <!--已回复-->
            <div class="table-row-box" v-if="info.status != 0">
                <div class="table-row-block table-row-block-header" v-if="info.respond">
                    <div class="textarea-box">
                        <div>{{info.respond}}</div>
                    </div>
                </div>
            </div>
            <!--未回复（有权限回复）-->
            <div class="table-row-box"  v-else-if="can_check == 'yes' &&  info.status==0">
                <div class="table-row-block table-row-block-header">
                    <textarea  cols="30" rows="10" placeholder="请输入回复..." v-model="subData.check_remark"></textarea>
                </div>
                <div style="padding: 2rem 0;">
                    <button class="btn btn-block btn-green" @click="markReply(2)">回复</button>
                </div>
            </div>
            <!--未回复（无权限回复）-->
            <div class="table-row-box" v-else>
                <div class="table-row-block" >
                    <div class="table-row-block-header">暂无回复</div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="appid==21" id="patent">
        <div class="table-box">
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">专利名称</span>
                    <span>{{info.patent_name}}</span>
                </div>
            </div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">发明人</span>
                    <span>{{info.inventor}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">申请人</span>
                    <span>{{info.applicant}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">联系人</span>
                    <span>{{info.contact}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">联系地址</span>
                    <span>{{info.contact_address}}</span>
                </div>
                <div class="table-row">
                    <span class="table-row-header">联系电话</span>
                    <span><a :href="'tel:'+info.contact_number">{{info.contact_number}}</a></span>
                </div>
            </div>
            <div class="table-row-box">
                <div class="table-row-block">
                    <div class="table-row-block-header">发明人身份证（正反面）</div>
                    <div class="img-box id-card-box">
                        <div  v-for="(img,key) in info.id_card">
                            <div class="upload-img">
                                <img :src="img" alt=""  @click="loadImg(img,info.id_card)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  v-if="info.type==3">
                <div class="table-row-box">
                    <div class="table-row-block">
                        <div class="table-row-block-header">产品图</div>
                        <div class="img-box product_img_box">
                            <div  v-for="(img,key) in info.product_img">
                                <div class="upload-img" v-if="img">
                                    <img :src="img" alt="" @click="loadImg(img,info.product_img)">
                                </div>
                                <p class="img-title">{{productImgName[key]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-row-box">
                    <div class="table-row-block-header">简单说明</div>
                    <div class="table-row-block" style="padding-bottom: 2rem">
                        <div class="textarea-box">
                            <div>{{info.explanation}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--已回复-->
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">审核结果</span>
                    <span>{{status(info.status)}}</span>
                </div>
                <div  v-if="info.reply" >
                    <div class="table-row-block-header">园区回复</div>
                    <div class="table-row-block " style="padding:0 0  2rem">
                        <div class="textarea-box">
                            <div>{{info.reply}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button class="btn btn-block btn-warning" v-if="can_check == 'yes' && info.status == '0' " @click="toggleModal">前往审核</button>
            <button class="btn btn-block btn-warning" v-if="can_check == 'no' && info.status == '2' " @click="jumpTo">前往修改</button>
        </div>
    </div>
    <div v-if="appid==22" id="copyRight">
        <div class="table-box">
            <div v-if="info.type_check==2" >
                <div class="table-row-box">
                    <div class="table-row">
                        <span class="table-row-header">软件名称</span>
                        <span>{{info.software_name}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">硬件名称</span>
                        <span>{{info.hardware_name}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">软件环境</span>
                        <span>{{info.software_environment}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">联系人</span>
                        <span><a :href="'tel:'+info.contact_staff"></a>{{info.contact_staff}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">联系电话</span>
                        <span>{{info.contact_number}}</span>
                    </div>
                </div>
                <div class="table-row-box">
                    <div class="table-row-block-header">主要功能和技术特点</div>
                    <div class="table-row-block table-block-end">
                        <div class="textarea-box">
                            <div>{{info.main_function}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="info.type_check==1">
                <div class="table-row-box">
                    <div class="table-row">
                        <span class="table-row-header">作品名称</span>
                        <span>{{info.art_name}}</span>
                    </div>
                </div>
                <div class="table-row-box">
                    <div class="table-row">
                        <span class="table-row-header">联系人</span>
                        <span>{{info.contact_staff}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">联系电话</span>
                        <span><a :href="'tel:'+info.contact_number"></a>{{info.contact_number}}</span>
                    </div>
                    <div class="table-row-block-header">作品描述</div>
                    <div class="table-row-block">
                        <div class="textarea-box">
                            <div>{{info.works_description}}</div>
                        </div>
                    </div>
                    <div class="table-row-block-header">独创性描述</div>
                    <div class="table-row-block">
                        <div class="textarea-box">
                            <div>{{info.originality_description}}</div>
                        </div>
                    </div>
                    <div class="table-row-block">
                        <div class="table-row-block-header">产品图</div>
                        <div class="img-box product_img_box table-block-end">
                            <div  v-for="(img,key) in info.product_img">
                                <div class="upload-img" v-if="img"  :key="'upload-img'+key">
                                    <img :src="img" alt="" @click="loadImg(img,info.product_img)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="info.type_check==3">
                <div class="table-row-box">
                    <div class="table-row-block-header">创作意图</div>
                    <div class="table-row-block">
                        <div class="textarea-box">
                            <div>{{info.create_purpose}}</div>
                        </div>
                    </div>
                    <div class="table-row-block-header">创作过程</div>
                    <div class="table-row-block">
                        <div class="textarea-box">
                            <div>{{info.create_process}}</div>
                        </div>
                    </div>
                    <div class="table-row-block-header">作品描述</div>
                    <div class="table-row-block table-block-end">
                        <div class="textarea-box">
                            <div>{{info.description_work}}</div>
                        </div>
                    </div>
                </div>
                <div class="table-row-box">
                    <div class="table-row">
                        <span class="table-row-header">联系人</span>
                        <span>{{info.contact_staff}}</span>
                    </div>
                    <div class="table-row">
                        <span class="table-row-header">联系电话</span>
                        <span><a :href="'tel:'+info.contact_number">{{info.contact_number}}</a></span>
                    </div>
                </div>
            </div>
            <div class="table-row-box">
                <div class="table-row">
                    <span class="table-row-header">审核结果</span>
                    <span>{{status(info.status)}}</span>
                </div>
                <div  v-if="info.reply">
                    <div class="table-row-block-header">园区回复</div>
                    <div class="table-row-block table-block-end">
                        <div class="textarea-box">
                            <div>{{info.reply}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button class="btn btn-block btn-warning" v-if="can_check == 'yes' && info.status == '0' " @click="toggleModal">前往审核</button>
            <button class="btn btn-block btn-warning" v-if="can_check == 'no' && info.status == '2' " @click="jumpTo">前往修改</button>
        </div>
    </div>
    <div class="modal-box" :class="{show:modalShow}">
        <div class="modal">
            <p>{{appid==21?'审核':''}}</p>
            <div class="remark">
                <p>备注信息</p>
                <textarea v-model="subData.check_remark"></textarea>
            </div>
            <div class="table-view-cell group-cell btn-box" v-if="appid!=8">
                <button class="group-btn btn-warning btn" @click="patentReply(2)">
                    {{(appid==21||appid==22)?'审核拒绝':'取消'}}
                </button>
                <button class="group-btn btn-primary btn" @click="patentReply(1)">
                    {{(appid==21||appid==22)?'审核通过':'确认'}}
                </button>
            </div>
            <div class="my-cancel" @click="toggleModal">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
    <form ref="myform" hidden>
        <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/jpeg" @change="handleFileChange" ref="upimg" >
    </form>
</div>
{/block}

{block name="script"}
<!--https中引http资源 使用相对协议-->
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
//    时间戳转字符串过滤器
Vue.filter('timeToString', function(time) {
    if(time){
        var newTime = new Date(time);
        var m = newTime.getMonth()+1,
                dt=newTime.getDate(),
                y=newTime.getFullYear();
        if(dt<10){
            dt='0'+dt;
        }
        if(m<10){
            m='0'+m;
        }
        return y+'-'+m+'-'+dt
    }
});
var app = new Vue({
    el:'#app',
    mounted(){
    },
    created(){
        var _this = this;
        var test =window.location.href;
        var data ={
            url:test
        };
        _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
            var data = JSON.parse(res.data);
            wx.config({
                debug: false,
                appId: data.appid,
                timestamp:data.timestamp ,
                nonceStr: data.noncestr,
                signature: data.signature,
                jsApiList: ['previewImage']
            });
        },function () {
        });
    },
    data:{
        appid:JSON.parse('{$type}'),
        info:{$info},
        can_check:'{$can_check}',

        isSubmit:false,
        modalShow:false,
        subData:{
            check_remark:''
        },

        payment_voucher:[],
        imgSrc:{
            imgLength:3,
            dataUrl:[],
            imgName:[]
        },
        //appid == 21( 专利申请 ) type==3
        productImgName:['俯视图','仰视图 ','立体图 ','主视图 ','后视图 ','左视图','右视图'],
    },
    methods:{
        //            微信jssdk - 图片预览
        loadImg(src,imglist) {
            var urls=[];
            var current=window.location.protocol+'//'+window.location.host+src;
            for(var i in imglist){
                urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
            }
            wx.previewImage({
                current: current,
                urls: urls
            });
        },
        jumpTo(){
            if(this.appid==21){
                window.location.href='/index/service/patentInfo/id/'+this.info.id;
            }else if(this.appid==22){
                window.location.href='/index/service/copyRightInfo/id/'+this.info.id;
            }
        },
//        模态框控制
        toggleModal:function () {
            this.modalShow = !this.modalShow;
            console.log(this.modalShow )
        },
//        图片上传/删除
        delImg: function (e) {
            this.imgSrc.dataUrl.splice(e,1);
            this.payment_voucher.splice(e,1);
            this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
        },
        imgPreview (file,path,name) {
            var self = this;
            if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                return;
            }
            // 是否支持FileReader
            if (!file || !window.FileReader){
                if(path){
                    self.imgSrc.dataUrl.push(path) ;
                }
                return;
            }

            if (/^image/.test(file.type)) {
                // 创建一个reader
                var reader = new FileReader();
                // 将图片将转成 base64 格式
                reader.readAsDataURL(file);
                // 读取成功后的回调
                reader.onloadend = function () {
                    self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                    if(name && path){
                        var imgObj = {
                            name:name,
                            path:path,
                            base:this.result
                        };
                        self.imgSrc.imgName.push(imgObj);
                    }
                }
            }
        },
        imgUpload:function () {
            var upImg = this.$refs.upimg;
            upImg.click();
        },
        handleFileChange:function (e) {
            var _this = this;
            var upImg = _this.$refs.upimg;
            var img = upImg.files[0];
            if(img){
                var newSize = (img.size/1024).toFixed(2);
                if(newSize <= 10240){
                    _this.$indicator.open({
                        text: '图片上传中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.isSubmit = true;
                    var formData = new FormData();
                    formData.append("picture",img);
                    _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                        var data = JSON.parse(res.data);
                        _this.isSubmit = false;
                        if(data.code == 1){
                            // 在获取到文件对象进行预览
                            _this.$indicator.close();
                            _this.payment_voucher.push(data.data.path); //上传后图片路径
                            _this.imgPreview(img,data.data.path,name);
                        }else{
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        }
                    },function (res) {
                        _this.isSubmit = false;
                        _this.$indicator.close();
                        _this.$toast({
                            message:"上传失败，请重新上传！",
                            duration:1000
                        });
                    });
                }else{
                    _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                }
            }
        },
//        状态判断
        status:function(status,proof) {
            var s='';
            if(status!==undefined && status !== null){
                if(this.appid==1){
//                    -1为删除 ，0为未缴费，1为审核中，2为审核成功，3为审核失败
                    if (status==0){
                        s='未缴费'
                    }else if(status==1){
                        s='审核中'
                    }else if(status==2){
                        s='审核成功'
                    }else if(status==3){
                        s='审核失败'
                    }else{
                        s='已删除'
                    }
                }else if(this.appid==21){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='审核通过'
                    }else if(status==2){
                        s='审核拒绝'
                    }
                }else if(this.appid==22){
                    if (status==0){
                        s='审核中'
                    }else if(status==1){
                        s='审核通过'
                    }else if(status==2){
                        s='审核拒绝'
                    }
                }
            }
            return s
        },
//        app_id 21 22 审核
        patentReply(type){
            var _this=this;
            if(_this.isSubmit){
                _this.$toast({
                    message:"提交中",
                    duration:1000
                });
                return;
            };
            if(type==2 && !_this.subData.check_remark){
                _this.$toast({
                    message:"请填写审核拒绝理由~",
                    duration:1000
                });
                return;
            };
            var data={
                appid:_this.appid,
                type:type,
                id:_this.info.id,
                reply: _this.subData.check_remark,
            };
            if(_this.appid==22){
                data.type_check=_this.info.type_check
            }
            _this.isSubmit = true;
            _this.checkAjax(data);
        },
//        app_id 12 商标回复
        markReply(type){
            var _this=this;
            if(_this.isSubmit){
                _this.$toast({
                    message:"提交中",
                    duration:1000
                });
                return;
            }
//          type ：1.商标查询；2.商标咨询
            if(type === 1){
                if(!_this.subData.check_remark && !_this.payment_voucher.length  ){
                    _this.$toast({
                        message:"请输入查询结果或上传结果图片",
                        duration:3000
                    });
                    return ;
                }
                var data={
                    appid:_this.appid,
                    type:1,
                    id:_this.info.id,
                    reply: _this.subData.check_remark,
                    back_img: _this.payment_voucher
                };
            }else{
                if(!_this.subData.check_remark){
                    _this.$toast({
                        message:"请输入回复内容~",
                        duration:3000
                    });
                    return ;
                };
                var data={
                    appid:_this.appid,
                    type:2,
                    id:_this.info.id,
                    respond: _this.subData.check_remark,
                };
            }
            _this.isSubmit = true;
            _this.checkAjax(data);
        },
//        check接口 ajax
        checkAjax(subData){
            var _this=this;
            _this.$http.post('/index/service/check',subData).then(function (res) {
                var data  = res.data;
                _this.isSubmit = false;
                if(data.code == 1){
                    swal({
                        title:'',
                        text:'提交成功',
                        html:true,
                        type:"success",
                        confirmButtonText: "确认",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        //刷新页面 reload 等页面刷新方法在微信浏览器内失效——2017.10.09
                        window.location.replace(window.location.href+='/reload/true')
                    });
                }else{
                    swal({
                        title:"提交失败!",
                        text:"请重新提交！",
                        type:"error",
                        confirmButtonColor: "#fcc44b"
                    },function () {
//                        window.location.reload(true);
//                        window.location.replace(window.location.href+='/reload/true')
                    });
                }
            },function (res) {
                _this.isSubmit = false;
                swal({
                    title:"提交失败!",
                    text:'请重新提交！',
                    type:"error",
                    confirmButtonColor: "#fcc44b"
                },function () {
//                    window.location.replace(window.location.href+='/reload/true');
                });
            })
        },
    }
})
</script>
{/block}