{extend name="public/common"}

{block name="style"}
<title>企业服务</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<style>
    *,p,ul,ul li{box-sizing:border-box;margin:0;padding:0;-webkit-tap-highlight-color:transparent}
    button{outline:0}
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999!important}
    :after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
    .hide{display:none!important}
    .img-responsive{display:block;width:100%;height:100%;vertical-align:middle}
    .content{background-color:#fff}
    .banner{position:relative}
    .banner img{display:block;margin:auto;width:100%}
    .banner-txt-box{position:absolute;bottom:0;left:0;display:flex;width:100%;height:100%;background-color:rgba(0,0,0,.2);color:#fff;justify-content:center;flex-direction:column}
    .banner-tit{display:inline-flex;padding:8px 0;justify-content:center;align-items:center}
    .banner-tit span{font-size:2.4rem}
    .banner-tit .icon{margin-left:10px}
    .banner-info{display:flex;text-align:center;font-size:1.5rem;justify-content:center;align-items:center}
    .banner-info span{padding:5px 3px;border-top:1px solid #fff;letter-spacing:7.5px}
    .icon{width:13px;height:13px}
    .icon.icon-check{background:url(/index/images/service/index/icon-check.png) no-repeat;background-size:100%}
    .grid{display:flex;padding:6.67vw 0;font-size:1.4rem;justify-content:center;align-items:center}
    .grid .grid-item{flex:1}
    .grid .grid-item img{display:block;margin:auto;width:38px;height:38px}
    .grid .grid-item span{display:inline-block;overflow:hidden;padding-top:2.67vw;width:100%;text-align:center;text-overflow:ellipsis;white-space:nowrap}
    .col-xs-3{width:25%;min-height:1px}
    .tab-box{height:15.2vw}
    .tab{position:relative;display:flex;background-color:#fff;font-size:16px}
    .tab:after{position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#e8e8e8;content:''}
    .tab-layer{position:fixed;top:0;z-index:10;width:100%}
    .tab-list{position:relative;display:flex;margin-right:3px;height:15.2vw;flex:1;align-items:center;justify-content:center}
    .tab-list a{color:#333;line-height:15.2vw}
    .tab-list:before{position:absolute;top:0;left:0;z-index:2;width:100%;height:2px;background-color:transparent;content:' '}
    .tab-list.active{color:#fff}
    .tab-control-content{display:none}
    .tab-control-content.active{display:block}
    .tab-list:nth-of-type(3n-2):before{background-color:#FCC44B}
    .tab-list:nth-of-type(3n-1):before{background-color:#69B9F9}
    .tab-list:nth-of-type(3n):before{background-color:#52CC92}
    .tab-list:nth-of-type(3n-2) .active{background-color:#FCC44B}
    .tab-list:nth-of-type(3n-1) .active{background-color:#69B9F9}
    .tab-list:nth-of-type(3n) .active{background-color:#52CC92}
    .warning{background-color:#FCC44B;color:#fff}
    .success{background-color:#52CC92;color:#fff}
    .primary{background-color:#69B9F9;color:#fff}
    .item_jump:last-child{min-height:calc(100vh - 11.2vw + 21px)}
    .dot{width:100%;height:100%;text-align:center}
    .dot.active{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;color:#fff;-webkit-animation-name:slideDown;-webkit-animation-duration:.5s;-webkit-animation-timing-function:ease;-webkit-animation-delay:0s}
    .list .list-item-tit{margin:0 8.53vw;padding-top:4vw;color:#999;font-size:16px}
    .list-item-box{
        position: relative;
        display:flex;margin:0 8.53vw;padding:3.2vw 0;font-size:15px;
        justify-content: space-between;

    }
    .list-item{position:relative;display:flex;
        /*margin:0 8.53vw;padding:3.2vw 0;font-size:15px;*/
        flex-wrap:wrap;flex-direction: column}
    .list-item-box:after{position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#E8E8E8;content:''}
    .list-item .item-cell{display:flex;padding:3.46vw 0;width:100%;align-items:center}
    /*.list-item .item-cell:nth-of-type(2n){padding-right:4vw;justify-content:flex-end}*/
    .list-item .item-cell img{margin-right:5vw;width:26px;height:26px;vertical-align:middle}
    .list-item .item-cell>span{position:relative}
    .list-item .item-cell>span>span{position:absolute;bottom:-12px;left:50%;display:-webkit-flex;width:95px;color:#EC7574;text-align:center;font-weight:500;font-size:9px;font-family:'微软雅黑';-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);-ms-transform:translateX(-50%);justify-content:center;align-items:center}
    .list-item .item-cell>span>span:after,.list-item .item-cell>span>span:before{display:block;margin:0 5px;width:9px;height:1px;background-color:#EC7574;content:''}
    .banner-list{position:relative;top:0;left:0;z-index:1;display:flex;margin:0 2.4vw;height:16vw;border-radius:5px;background:#fff;box-shadow:0 0 4px rgba(0,0,0,.1)}
    .banner-list .list-tit{position:relative;padding:3.2vw;font-size:1.6rem}
    .banner-list .list-tit:after{position:absolute;top:50%;right:0;width:1px;height:8vw;background-color:#e8e8e8;content:'';transform:translateY(-50%)}
    .banner-list .list-tit .icon-policy{display:inline-block;width:8vw;height:9.2vw;background:url(/index/images/service/index/icon-policy.png) no-repeat;background-size:100%}
    .banner-list .list-group{overflow:hidden;margin:2.67vw 3.2vw;width:74vw}
    .swiper-slide .list-item{position:relative;overflow:hidden;padding-left:4.8vw;width:100%;text-overflow:ellipsis;white-space:nowrap;font-size:1.3rem;line-height:1.5;align-items:center}
    .swiper-slide .list-item:before{position:absolute;top:50%;left:0;width:6px;height:6px;border-radius:50%;background-color:#f97878;content:'';vertical-align:middle;transform:translateY(-50%)}
    .listSwiper{height:10.67vw}
    .mint-popup,.picker-slot{width:100%}
    .mint-popup .picker-slot-wrapper,.page-popup .mint-popup .picker-item{-webkit-backface-visibility:hidden;backface-visibility:hidden}
    @-webkit-keyframes slideDown{0%{top:0;left:0;width:100%;height:0}
        100%{top:0;left:0;width:100%;height:100%}
    }
    @keyframes slideDown{0%{top:0;left:0;width:100%;height:0}
        100%{top:0;left:0;width:100%;height:100%}
    }

</style>
{/block}
{block name="body"}
<div id="app" class="content" >
    <div class="banner">
        <img src="/index/images/service/index/banner.png" >
        <div class="banner-txt-box">
            <div class="banner-tit" @click="checkPark">
                <span v-html="nowPark.name">
                </span>
                <i class="icon icon-check"></i>
            </div>
            <mt-popup  position="bottom"  v-model="parkVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
                </div>
                <mt-picker :slots="slots" @change="onParkChange" value-key="name"></mt-picker>
            </mt-popup>
            <div class="banner-info">
                <span>智新泽地园区服务平台</span>
            </div>
        </div>
    </div>
    <div class="grid" v-if="baseData.topService.length">
        <div class="grid-item col-xs-3" v-for="top in baseData.topService" @click="jumpTo(top.path,top.app_id)">
            <img :src="top.top_img" >
            <span>{{top.name}}</span>
        </div>
    </div>
    <div id="tabBar" class="tab-box" >
        <ul class="tab" :class="{'tab-layer':tabBarFixed}" >
            <li class="tab-list" v-for="(tabItem,index) in tab">
                <a class="dot " :class="{'active':(tabIndex == index)}" @click="animate(index,$event)" >
                    {{tabItem.name}}
                </a>
            </li>
        </ul>
    </div>

    <div class="list">
        <div class="item_jump">
            <div class="list-item-box">
                <div class="list-item">
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.propertyServices" v-if="key%2===0">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.propertyServices" v-if="key%2===1">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div  class="item_jump">
            <div class="list-item-tit">企业服务</div>
            <div class="list-item-box">
                <div class="list-item">
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.companyService" v-if="key%2===0">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}<span v-if="item.is_free">免费服务</span></span>
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.companyService" v-if="key%2===1">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}<span v-if="item.is_free">免费服务</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div  class="item_jump">
            <div class="list-item-tit">人才服务</div>
            <div class="list-item-box">
                <div class="list-item" >
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.talentService" v-if="key%2===0">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <div class="list-item" >
                    <div class="item-cell" @click="jumpTo(item.path,item.app_id)" v-for="(item,key) in baseData.talentService" v-if="key%2===1">
                        <img :src="item.img"  alt="图标">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var parkSlots = {$parkName};
    var app=new Vue({
        el:'#app',
        data:{
            baseData:{
                isBoss:'{$is_boss}',
                isFee:'{$is_fee}',
                propertyServices:JSON.parse('{$propert}'),
                companyService:JSON.parse('{$company}'),
                talentService:JSON.parse('{$talent}'),
                topService:{$top_service},
                is_water:'{$is_water}'
            },
            tab:[
                {type:1,name:'物业服务'},
                {type:2,name:'企业服务'},
                {type:3,name:'人才服务'}
            ],
            news:{$policy},
            tabIndex:0,
            tabBarFixed:false,
            isScroll:true,
            parkPicker:'',
            parkVisible:false,
            parkObj:parkSlots[0],
            nowPark:parkSlots[0],
            slots: [
                {
                    defaultIndex:1,
                    values: parkSlots
                }
            ],
            changeApi:'{:Url("Service/changePark")}'
        },
        mounted(){
            var _this = this;
            _this.$nextTick(function () {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
                }, 100);
                window.addEventListener('scroll', this.handleScroll);
            });
            listSwiper = new Swiper('#listSwiper',{
                observer:true,
                observeParents:true,
                direction : 'vertical',
                slidesPerGroup : 2,
                autoplay: 2000,
                slidesPerView : 2,
                loopedSlides :8,
                loop:true
            })
        },
        methods:{
            checkPark: function () {
                this.parkVisible = true;
            },
            onParkChange: function (picker,values){
                this.parkPicker =  picker;
                if(values[0]){
                    console.log(values[0]);
                    this.parkObj = values[0];
                }
            },
            cancelPark: function () {
                this.parkVisible = false;
            },
            selectPark: function () {
                var _this = this;
                _this.parkVisible = false;
                _this.nowPark = _this.parkObj;
            },
            handleScroll () {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                var tabBarOffsetTop = document.querySelector('#tabBar').offsetTop;
                var  cateItem = document.querySelectorAll('.item_jump');

                if (scrollTop > tabBarOffsetTop) {
                    this.tabBarFixed = true;
                    var tabBar = document.getElementById("tabBar"),
                        tabHeight = tabBar.childNodes[0].clientHeight;
                    if(this.isScroll) {
                        var index = arrayIndex(cateItem, scrollTop, tabHeight);
                        this.tabIndex = index;
                    }
                } else {
                    this.tabBarFixed = false

                }

                function  arrayIndex(cateItem,scrollTop,tabHeight) {
                    for(var i =0,length = cateItem.length ;i < length ; i++){
                        if(scrollTop < cateItem[i].offsetTop - tabHeight) {
                            return i - 1;
                        }else if(scrollTop >= cateItem[length - 1].offsetTop - tabHeight){
                            return length-1 ;
                        }
                    }
                }
            },
            destroyed () {
                window.removeEventListener('scroll', this.handleScroll)
            },
            animate(index,e){
                var  cateItem = document.querySelectorAll('.list-item-box');
                var tabHeight = e.target.clientHeight;
                var total = cateItem[index].offsetTop- tabHeight;
                var distance = document.documentElement.scrollTop || document.body.scrollTop
                var step = total / 50;
                this.tabIndex =  index;
                var _this = this;
                _this.isScroll = false;
                if (total > distance) {
                    smoothDown()
                } else {
                    var newTotal = distance - total,
                        step = newTotal / 50;
                    smoothUp()
                }
                function smoothDown () {
                    if (distance < total) {
                        distance += step;
                        document.body.scrollTop = distance;
                        document.documentElement.scrollTop = distance;
                        setTimeout(smoothDown, 10)
                    } else {
                        document.body.scrollTop = total;
                        document.documentElement.scrollTop = total;
                        _this.isScroll = true;
                    }
                }
                function smoothUp () {
                    if (distance > total) {
                        distance -= step;
                        document.body.scrollTop = distance;
                        document.documentElement.scrollTop = distance;
                        setTimeout(smoothUp,5)
                    } else {
                        document.body.scrollTop = total;
                        document.documentElement.scrollTop = total;
                        _this.isScroll = true;
                    }
                }
            },
            jumpTo(path,id){
                if((id==1 && this.baseData.isFee=='no') || (id==3 && this.baseData.is_water=='no')){
                    window.location.href='/index/service/noPermissions';
                    return;
                }
                window.location.href='/index/service/onCheck/id/'+id+'/path/'+path;
            },
            jump:function (href) {
                window.location.href=href;
            },
            parkChange(){
                this.$http.post(this.changeApi,{value:this.nowPark}).then(function (res) {
                    console.log(res)
                })
            }
        }
    });
</script>
{/block}
