{extend name="public/common"}

{block name="style"}
<title>大堂LED屏</title>
<style>
    body{background-color:#f8f7fc}
    ul.my-tabs{display:-webkit-flex;display:flex;padding:0 2px;margin:.65rem 0 1.2rem;justify-content:center;background-color:#F0EFF5}
    ul.my-tabs>li{height:5.6rem;text-align:center;background-color:#fff;transition:all .1s}
    ul.my-tabs>li:not(:last-child){margin-right:2px}
    ul.my-tabs>li.my-icon{width:7.2vw;line-height:5.6rem;color:#999;font-weight:700;font-size:1.8rem}
    .my-icon-left{border-top-left-radius:3px;border-bottom-left-radius:3px}
    .my-icon-right{border-top-right-radius:3px;border-bottom-right-radius:3px}
    .my-tab{width:21.4vw;display:-webkit-flex;display:flex;justify-content:center;flex-direction:column;align-items:center}
    .my-tab>div:first-child{font-size:1.7rem}
    .my-tab>div:last-child{margin-top:5px;font-size:1.4rem}
    .my-tabs .my-icon.my-nomore{color:#e8e8e8}
    .my-active{box-shadow:0 0 8px 0 rgba(0,0,0,.15);z-index:999}
    .my-content{padding:0 3.2vw}
    .my-content>h1{color:#333;font-size:1.7rem;margin:0;padding:.8rem 0 2rem}
    .my-content>ul{display:-webkit-flex;display:flex;justify-content:space-between;flex-wrap:wrap}
    .my-content>ul>li{width:26.6666vw;height:37px;line-height:37px;text-align:center;box-shadow:0 0 4px 0 rgba(0,0,0,.1);border-radius:5px;margin-bottom:1.2rem;background-color:#fff;font-size:1.5rem}
    #app .isChecked{color:#fff;background-color:#918fe6}
    #app .isBespeak{background-color:#e8e8e8}
    .my-tags{height:4.4rem;padding:0 1.8rem;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;background-color:#fff;border-bottom:1px solid #f1f1f1}
    .my-tag{height:2rem;line-height:2rem;font-size:1.5rem;color:#333;padding-left:3.5rem;background:url() no-repeat left center;background-size:2.2rem 1.8rem}
    .my-tag-sell{background-image:url(/index/images/service/publicservice/sell.png)}
    .my-tag-checked{background-image:url(/index/images/service/publicservice/checkedPurple.png)}
    .my-history{height:2.9rem;width:8rem;border-radius:15rem;color:#fcc44b;font-size:1.5rem;border:1px solid #fcc44b;text-align:center;line-height:2.9rem}
    .my-illustrate{background-color:#fff;padding:1rem 1.7rem}
    .my-illustrate>h4{font-size:1.5rem;line-height:1.8rem;color:#333;font-weight:400;margin:0}
    .my-illustrate>h4>span{display:inline-block;text-align:center;width:1.8rem;height:1.8rem;line-height:1.8rem;border-radius:100%;border:1px solid #9F9F9F;color:#9F9F9F;margin-left:1rem}
    .my-illustrate-info{margin-top:5px;padding-bottom:5rem}
    .my-illustrate-info>p{line-height:2rem;font-size:1.4rem;color:#999}
    .my-total{position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #f1f1f1;height:50px;line-height:50px;background:#fff;display:-webkit-flex;display:flex;justify-content:flex-end;align-items:center;font-size:1.7rem}
    .my-total>span{min-width:10rem;margin-right:30px;color:#918fe6}
    .my-total>button{width:100px;height:51px;margin-top:-1px;background-color:#918fe6;color:#fff;border:none;outline:0;font-size:1.7rem}
</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="my-tabs">
        <li class="my-icon my-icon-left" :class="{'my-nomore':clickRecord==0}" @click="pickPre">❮</li>
        <li class="my-tab " v-for="(item,key) in date" :class="{'my-active':item.checked}" @click="changeDate(key)">
            <div>{{item.week}}</div>
            <div>{{item.date}}</div>
        </li>
        <li class="my-icon my-icon-right" @click="pickNext">❯</li>
    </ul>
    <div class="my-content">
        <h1>上午（AM）</h1>
        <ul>
            <li v-for="(item,key) in infoData.time" v-if="key<3" :class="{'isBespeak':item.isBespeak=='yes','isChecked':item.isChecked=='yes'}" @click="toCheck(key)">{{9+key}}:00~{{9+key+1}}:00</li>
        </ul>
        <h1>下午（PM）</h1>
        <ul>
            <li v-for="(item,key) in infoData.time" v-if="key>=3" :class="{'isBespeak':item.isBespeak=='yes','isChecked':item.isChecked=='yes'}" @click="toCheck(key)">{{9+key}}:00~{{9+key+1}}:00</li>
        </ul>
    </div>
    <div class="my-tags">
        <div class="my-tag my-tag-checked">已选</div>
        <div class="my-tag my-tag-sell">已售</div>
        <div class="my-history" @click="toHistory">预约记录</div>
    </div>
    <div class="my-illustrate">
        <h4>规则说明</h4>
        <div class="my-illustrate-info">
            <p>1.预约时长1小时起，不足1小时按1小时计算，超过1小时按2小时计算，以此类推，预约价格10元/小时。</p>
            <p>2.请至少提前一个工作日进行预约，特殊情况请提前沟通。</p>
            <p>3.预约地点可用时间为09:00--18:00，请提前安排计划，如有临时变化，请提前2小时取消，以免带来不便。</p>
            <p>4.预约成功后，请在2小时内前往希垦科技园A座201进行缴费和相关手续办理，同时提交相关文字图片或影像资料（提前2小时）。 </p>
            <p>5.指定预约日期当天不可取消预约。</p>
            <p>6.咨询电话：0571-88610333&0571-88723889。</p>
        </div>
    </div>
    <div class="my-total">
        <span>合计：{{10*checkedTime.length}}元</span>
        <button @click="toSubmit">确认预约</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
var app = new Vue({
    el:'#app',
    data:{
        appid:{$app_id},
        price:0,
        currentDate:'',
        clickRecord:0,//日期翻页点击记录
        date:[],//顶部日期
        checkedTime:JSON.parse('{$user}'),//选中的时间段
        bespeakTime:JSON.parse('{$other}'),//预约得时间段
        infoData:{
            day:Date.parse(new Date()),
            time:[]
        },
        isClick:false
    },
    mounted(){
        console.log(this.bespeakTime);
        var baseDay=new Date();
        baseDay=baseDay.setDate(baseDay.getDate()+1);
        this.infoData.day=baseDay;
        console.log(this.checkedTime);
        for(var i=0;i<this.checkedTime.length;i++){
            console.log(new Date(this.checkedTime[i].day),this.checkedTime[i].interval)
        }
        this.checkedDate(this.infoData.day);
        this.baseInfo(this.infoData.day);
    },
    methods:{
        baseInfo(time){
            for(var i=0;i<9;i++){
                var info={isChecked:'no',isBespeak:'no',interval:i+1};
                for(var c=0;c<this.checkedTime.length;c++){
                    if(this.timeIsSame(this.checkedTime[c].day,time) && (i+1) == this.checkedTime[c].interval){
                        info.isChecked='yes'
                    }
                }
                if(this.bespeakTime.length>0){
                    console.log(this.bespeakTime,1)
                    for(var b=0;b<this.bespeakTime.length;b++){
                        console.log(this.bespeakTime[b].day)
                        if(this.timeIsSame(this.bespeakTime[b].day,time) && this.bespeakTime[b].interval ==info.interval){
                            info.isBespeak='yes'
                        }
                    }
                }
                this.infoData.time.push(info)
            }
        },
        //顶部日期选择器生成
        checkedDate(t){
            days=[];
            var time=new Date(t);
            var nowYear=time.getFullYear(),nowMonth=time.getMonth()+1,nowDay=time.getDate();
            //第一行记录
            days.push(this.oneDayInfo(Date.parse(time),0));
            for(var i=1;i<4;i++){
                var nextTime=new Date(this.formatDate(nowYear,nowMonth,nowDay));
                nextTime= nextTime.setDate(nextTime.getDate() + i);
                days.push(this.oneDayInfo(nextTime,i))
            }
            days[0].checked=true;
            this.date=days;
            this.currentDate=this.date[0].time;
        },
        //选择顶部日期
        changeDate(key){
            if(!this.isClick){
                this.isClick=true;
                if(!this.date[key].checked){
                    for(var i=0;i<this.date.length;i++){
                        this.date[i].checked=false;
                    }
                    this.currentDate=this.date[key].time;
                    this.date[key].checked=true;
                }
                this.$indicator.open({
                    text: '数据加载中',
                    spinnerType: 'triple-bounce'
                });
                this.$http.post('/index/service/changeLed',{day:this.date[key].time}).then(function (res) {
                    console.log(this.date[key].time)
                    this.$indicator.close();
                    this.isClick=false;
                    this.infoData.time.length=0
                    this.bespeakTime=JSON.parse(res.data);
                    this.baseInfo(this.date[key].time)
                    console.log(this.bespeakTime)
                },function (res) {
                    this.$indicator.close();
                    this.isClick=false;
                    this.$toast('请求失败，请重试');
                    console.log(res)
                })
            }else{
                this.$toast('请求提交中···')
            }
        },
        //上一页
        pickPre() {
            if(this.clickRecord>0){
                if(!this.isClick){
                    this.$indicator.open({
                        text: '数据加载中',
                        spinnerType: 'triple-bounce'
                    });
                    this.isClick=true;
                    var now=new Date();
                    this.clickRecord-=1;
                    var d = new Date(now.setDate(now.getDate()-(3*this.clickRecord)+1));
                    this.$http.post('/index/service/changeLed',{ month : d }).then(function (res) {
                        this.$indicator.close();
                        this.isClick=false;
                        this.infoData.time.length=0;
                        this.bespeakTime=JSON.parse(res.data);
                        this.checkedDate(d);
                        this.baseInfo(d)
                        console.log(this.bespeakTime)

                    },function (res) {
                        this.$indicator.close();
                        this.isClick=false;
                        this.$toast('请求失败，请重试');
                    })
                }else{
                    this.$toast('请求提交中···')
                }
            }
        },
        //下一页
        pickNext() {
            if(!this.isClick){
                this.$indicator.open({
                    text: '数据加载中',
                    spinnerType: 'triple-bounce'
                });
                this.isClick=true;
                var now=new Date();
                this.clickRecord+=1
                var d = new Date(now.setDate(now.getDate()+(3*this.clickRecord)+1));
                this.$http.post('/index/service/changeLed',{ month : d }).then(function (res) {
                    this.$indicator.close();
                    this.isClick=false;
                    this.infoData.time.length=0
                    this.bespeakTime=JSON.parse(res.data);
                    this.checkedDate(d);
                    this.baseInfo(d)
                    console.log(this.bespeakTime)
                },function (res) {
                    this.$indicator.close();
                    this.isClick=false;
                    this.$toast('请求失败，请重试');
                })
            }else{
                this.$toast('请求提交中···')
            }
        },
        //选择时间段
        toCheck(key){
            var item=this.infoData.time[key];
            if(item.isBespeak=='no'){
                if(item.isChecked=='yes'){
                    item.isChecked='no'
                    for(var i=0;i<this.checkedTime.length;i++){
                        if(this.checkedTime[i].day==this.currentDate && this.checkedTime[i].interval==item.interval){
                            this.checkedTime.splice(i, 1);
                            break;
                        }
                    }
                }else{
                    item.isChecked='yes';
                    var info={
                        day:this.currentDate,
                        interval:item.interval,
                    };
                    this.checkedTime.push(info)
                }
            }
        },
        // 返回 2017-01-01 格式的字符串
        formatDate: function(year,month,day){
            var y = year;
            var m = month;
            if(m<10) m = "0" + m;
            var d = day;
            if(d<10) d = "0" + d;
            return y+"-"+m+"-"+d
        },
        //判断是否同一天
        timeIsSame(time1,time2){
            console.log(time1,time2);
            var time1=new Date(parseInt(time1)),time2=new Date(parseInt(time2));
            var year1=time1.getFullYear(),month1=time1.getMonth(),day1=time1.getDate();
            var year2=time2.getFullYear(),month2=time1.getMonth(),day2=time2.getDate();

            if(year1 == year2 && month1 == month2 && day1 == day2){
                return true;
            }else{
                return false;
            }
        },
        //顶部日期选择器内 一天的信息
        oneDayInfo(time,key){
            var timeStr=new Date(time);
            var m=timeStr.getMonth()+1,d=timeStr.getDate(),w=timeStr.getDay();
            switch (w){
                case 0:
                    w="周日";
                    break;
                case 1:
                    w="周一";
                    break;
                case 2:
                    w="周二";
                    break;
                case 3:
                    w="周三";
                    break;
                case 4:
                    w="周四";
                    break;
                case 5:
                    w="周五";
                    break;
                case 6:
                    w="周六";
                    break;
            }
            if(String(m).length<2){
                m="0"+m
            }
            var info={
                time:time,
                date:m+'月'+d+'日',
                week:w,
                checked:false
            }
            return info;

        },
        toSubmit(){
            var the=this;
            if(!the.isClick){
                if(the.checkedTime.length>0){
                    the.isClick=true;
                    the.$indicator.open({
                        text: '预约中',
                        spinnerType: 'triple-bounce'
                    });
                    the.$http.post('/index/service/nextLed',the.checkedTime).then(function (res) {
                        the.isClick=false;
                        the.$indicator.close();
                        console.log(JSON.parse(res.data));
                        swal({
                            title:"",
                            text:"缴费完成后，请尽快上传缴费凭证",
                            confirmButtonColor: "#918fe6",
                            confirmButtonText: "确认",
                            type:"success"
                        },function (e) {
                            window.location.href='/index/service/payment?app_id='+the.appid+'&type=submitLed'
                        })
                    },function (res) {
                        the.$indicator.close();
                        the.isClick=false;
                        the.$toast('请求失败，请重试');
                    })
                }else{
                    the.isClick=false;
                    the.$toast('请选择预约时段')
                }
            }else{
                the.$toast('请求提交中···')
            }
        },
        //历史记录
        toHistory(){
            window.location.href='/index/service/record/t/3';
        }
    }
})
</script>
{/block}