{extend name="public/common"}

{block name="style"}
<title>生活缴费</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
{/block}

{block name="body"}
<div >
    <div class="img-list">
        <a onclick="jumpTo(1)">
            <div class="img-list-item">
                <img src="/index/images/service/lifepay/utilities.png"  class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">水电费</span></div>
            </div>
        </a>
    </div>
    <div class="img-list">
        <a onclick="jumpTo(3)">
            <div class="img-list-item">
                <img src="/index/images/service/lifepay/residentialrent.png" class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">房租费</span></div>
            </div>
        </a>
    </div>
    <div class="img-list">
        <a onclick="jumpTo(2)">
            <div class="img-list-item">
                <img src="/index/images/service/lifepay/propertyfee.png" class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">物业费</span></div>
            </div>
        </a>
    </div>
    <div class="img-list">
        <a onclick="jumpTo(4)">
            <div class="img-list-item">
                <img src="/index/images/service/lifepay/totalcost.png" class="img-responsive">
                <div class="item-img-marking"><span class="marking-info">公耗费</span></div>
            </div>
        </a>
    </div>
</div>
{/block}

{block name="script"}
<script>
    function jumpTo(t){
        window.location.href='/index/service/feedetail?t='+t+'&id='+JSON.parse('{$info}').app_id
    }
</script>
{/block}