{extend name="public/common"}

{block name="style"}
<style>
    h1{
        text-align: center;
        font-weight: 400;
        padding:1rem 0;
    }
    #content{
        font-size: 1.4rem;
        padding: 0 1.2rem 1.2rem;
        line-height: 2;
        color: #333;
    }
    #content>li{
        text-indent:2em;
        padding-bottom: 1rem;
    }
</style>
{/block}

{block name="body"}
<h1>
    商标45个分类（概括）
</h1>
<ul id="content">
    第01类：用于工业、科学、摄影、农业、园艺、森林的化学品，未加工人造合成树脂，未加工塑料物质，肥料，灭火用合成物，淬火和金属焊接用制剂，保存食品用化学品，鞣料，工业粘合剂
     
    第02类：颜料，清漆，漆，防锈剂和木材防腐剂，着色剂，媒染剂，未加工的天然树脂，画家、装饰家、印刷商和艺术家用金属箔及金属粉
     
    第03类：洗衣用漂白剂及其他物料，清洁、擦亮、去渍及研磨用制剂，肥皂，香料，香精油，化妆品，发水，牙膏
     
    第04类：工业用油及油脂，润滑剂，吸收、喷洒和粘结灰尘用品，燃料（包括马达用的汽油）和照明材料，蜡烛，灯芯
     
    第05类：药品，兽药及卫生用品，医用营养品，婴儿食品，膏药，绷敷材料，填塞牙孔和牙模用料，消毒剂，消灭有害动物制剂，杀真菌剂，除莠剂
     
    第06类：普通金属及其合金，金属建筑材料，可移动金属建筑物，铁轨用金属材料，非电气用缆索和金属线，小五金具，金属官，保险箱，不属别类的普通金属制品，矿砂
     
    第07类：机器和机床，马达和发动机（陆地车辆用的除外），机器传动用联轴节和传动机件（陆地车辆用的除外），非手动农业工具，孵化器
     
    第08类：手工用具和器械（手工操作的），刀、叉和勺餐具，佩刀，剃刀
     
    第09类：科学、航海、测地、电气、摄影、电影、光学、衡具、量具、信号、检验（监督）、救护（营救）和教学用具及仪器，录制、通讯、重放声音和形象的器具，磁性数据载体，录音盘，自动售货器和投币启动装置的机械结构，现金收入记录机，计算机和数据处理装置，灭火器械
     
    第10类：外科、医疗、牙科和兽医用仪器及器械，假肢，假眼和假牙，矫形用品，缝合用材料
     
    第11类：照明、加温、蒸汽、烹调、冷藏、干燥、通风、供水以及卫生设备装置
     
    第12类：车辆，陆、空、海用运载器
     
    第13类：火器，军火及子弹，爆炸物，烟火
     
    第14类：贵重金属及其合金以及不属别类的贵重金属制品或镀有贵重金属的物品，珠宝，首饰，宝石，钟表和计时器
     
    第15类：乐器
     
    第16类：不属别类的纸、纸板及其制品，印刷品，装订用品，照片，文具用品，文具或家庭用粘合剂，美术用品，画笔，打字机和办公用品（家具除外），教育或教学用品（仪器除外），包装用塑料物品（不属别类的），纸牌，印刷铅字，印版
     
    第17类：不属别类的橡胶，古塔胶，树胶，石棉，云母以及这些原材料的制品，生产用半成品塑料制品，包装、填充和绝缘用材料,非金属软管
     
    第18类：皮革及人造皮革，不属别类的皮革及人造皮革制品，毛皮，箱子及旅行袋，雨伞，阳伞以及手杖，鞍和马具
     
    第19类：非金属的建筑材料，建筑用非金属刚性管，沥青，柏油，可移动非金属建筑物，非金属碑
     
    第20类：家具，玻璃镜子，镜框，不属别类的木、软木、苇、藤、柳条、角、骨、象牙、鲸骨、贝壳、瑚珀、珍珠母、海泡石制品，这些材料的代用品或塑料制品
     
    第21类：家庭或 、厨房用具及容器（非贵重金属所制，也非镀有贵重金属的），梳子及海绵，刷子（画笔除外），制刷材料，清扫用具，钢丝绒，未加工或半加工玻璃（建筑用玻璃除外），不属别类的玻璃器皿，瓷器及陶器
     
    第22类：缆，绳，网，遮蓬，帐篷，防水遮布，帆，袋（不属别类的），衬垫及填充料（橡胶或塑料除外），纺织用纤维原料
     
    第23类：纺织用纱、线
     
    第24类：不属别类的布料及纺织品，床单和桌布
     
    第25类：服装，鞋，帽
     
    第26类：花边及刺绣，饰带及编带，纽扣，领钩扣，饰针及缝针，假花
     
    第27类：地毯，地席，席类，油毡及其他铺地板用品，非纺织品墙帷
     
    第28类：娱乐品，玩具，不属别类的体育及运动用品，圣诞树用装饰品
     
    第29类：肉，鱼，家禽及野味，肉汁，腌渍、干制及煮熟的水果和蔬菜，果冻，果酱水果沙司，蛋，奶及乳制品，食用油和油脂。
     
    第30类：咖啡，茶，可可，糖，米，食用淀粉，西米，咖啡代用品，面粉及谷类制品面包，糕点及糖果，冰制食品，蜂蜜，糖浆，鲜酵母，发酵粉，食盐，芥末，醋，沙司
     
    第31类：农业、园艺、林业产品及不属别类的谷物，牲畜，新鲜水果和蔬菜，种籽，草木及花卉，动物饲料，麦芽
     
    第32类：啤酒，矿泉水和汽水以及其他不含酒精的饮料，水果饮料及果汁，糖浆及其他供饮料用的制剂
     
    第33类：含酒精用的饮料（啤酒除外）
     
    第34类：烟草，烟具，火柴
     
    第35类：广告，实业经营，实业管理，办公事务
     
    第36类：保险，金融，货币事务，不动产事务
     
    第37类：房屋建筑，修理，安装服务
     
    第38类：电信
     
    第39类：运输，商品包装和贮藏，旅行安排
     
    第40类：材料处理
     
    第41类：教育，提供培训，娱乐，文体活动
     
    第42类：科学技术服务和与这相关的研究与设计服务；工业分析与研究；计算机硬件与软件的设计与开发；法律服务
     
    第43类：提供食物与饮料服务；临时住宿
     
    第44类：医疗服务；兽医服务；人或动物的卫生和美容服务；农业、园艺或林业服务
     
    第45类：法律服务；由他人提供的为满足个人需要的私人和社会服务；为保护财产和人身安全的服务
</ul>
{/block}

{block name="script"}

<script>
    var info = document.getElementById('content').innerHTML;
    var a= info.split('&nbsp;');
    var b= "<li>" + a.join('</li><li>')+'</li>'
    document.getElementById('content').innerHTML=b;

    var app = new Vue({
        el: '#app',
        data: {

        },
        methods: {}
    })
</script>
{/block}