{extend name="public/common"}

{block name="style"}
<title>新柱办理</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <form action="payment" method="post" ref="cardform">
            <div class="card-tit">车主信息</div>
            <div class="card-cell">
                <label for="name">车主姓名</label>
                <input type="text" placeholder="请输入车主姓名" id="name" v-model="defaultData.name" name="name">
            </div>
            <div class="card-cell">
                <label for="phone">车主电话</label>
                <input type="number" placeholder="请输入车主电话" id="phone" v-model="defaultData.mobile" name="mobile" maxlength="11">
            </div>
            <div class="card-cell">
                <label for="company">公司名称</label>
                <input type="text" placeholder="请输入公司名称" id="company" v-model="defaultData.company" name="company" >
            </div>
            <input type="hidden" v-model="defaultData.aging" name="aging">
            <input type="hidden" v-model="subData.charging_deposit" name="charging_deposit">
            <input type="hidden" v-model="subData.charging_price" name="charging_price">
            <input type="hidden" v-model="subData.app_id" name="app_id">
            <input type="hidden" v-model="defaultData.type" name="type">
        </form>
    </div>
    <div class="card">
        <div class="card-tit">办理信息</div>
        <div class="card-cell">
            <span>办理时长</span>
            <span @click="checkTime" >
                <span :class="[!defaultData.aging ? 'select-color' : '', '']">{{timeStatus}}</span> <i class="allow-right"></i>
            </span>

            <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelTime">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectTime">确定</span>
                </div>
                <mt-picker :slots="slots" @change="onTimesChange" ></mt-picker>
            </mt-popup>
        </div>
        <div class="card-cell">
            <span>车卡押金</span>
            <span>{{subData.charging_deposit}}</span>
        </div>
        <div class="card-cell">
            <span>充电费用</span>
            <span>{{parkingFares}}</span>
        </div>
        <div class="card-cell">
            <span>费用总计</span>
            <span>{{totalMoney}}</span>
        </div>
    </div>
    <div class="card-btn-box">
        <button class="btn btn-block btn-warning" @click="nextBtn">下一步</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var data = {$data};
    var defaultData = {
        type:'addNewPillar',
        mobile:'',
        name:'',
        aging:0
    };

    console.log(data);

    var vm = new Vue({
        el:"#app",
        computed:{
            timeStatus:function () {
                if(!this.defaultData.aging){
                    return "请选择";
                }else{
                    return this.defaultData.aging+"个月";
                }
            },
            parkingFares :function () {
                return (this.defaultData.aging * this.subData.charging_price)
            },
            totalMoney:function () {
                return (this.defaultData.aging  * this.subData.charging_price) + this.subData.charging_deposit;
            }
        },
        data:{
            defaultData:defaultData,
            subData:data,
            popupVisible: false,
            timePicker:'',
            timeTxt:'',
            slots: [
                {
                    values: ['6个月','12个月']
                }
            ]
        },
        methods: {
            checkTime: function () {
                this.popupVisible = true;
                this.timePicker.setSlotValue(0, '6个月');
            },
            onTimesChange: function (picker,values) {
                this.timePicker =  picker;
                if(!isNaN(parseInt(values[0]))){
                    this.timeTxt = parseInt(values[0]);
                }
            },
            cancelTime: function () {
                this.popupVisible = false;
            },
            selectTime: function () {
                this.popupVisible = false;
                this.defaultData.aging = this.timeTxt;
            },
            nextBtn: function () {
                var _this = this;
                if(!_this.defaultData.name){
                    _this.$toast('请填写车主姓名');
                    return;
                }
                if(!checkMobile(_this.defaultData.mobile)){
                    _this.$toast('请填写正确的车主电话');
                    return;
                }
                if(!_this.defaultData.company){
                    _this.$toast('请填写公司名称');
                    return;
                }
                if(!_this.defaultData.aging){
                    _this.$toast('请选择办理时长');
                    return;
                }
                _this.$refs.cardform.submit();

            }
        }
    });
</script>
{/block}