{extend name="public/common"}

{block name="style"}
<title>旧卡续费</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">

        <div class="card" v-if="subData.cardlist.length">
            <form action="payment" method="post" ref="cardform">
                <div class="card-tit">车主信息</div>
                <div class="card-cell">
                    <span>车牌号码</span>
                    <span >
                        <input type="text"  name="id" v-model="defaultData.car_id" >
                        <!--<span>{{cardStatus}}</span> -->
                        <span @click="checkCard" class="allow-box">
                            <i class="allow-down" ></i>
                        </span>
                    </span>
                    <mt-popup  position="bottom"  v-model="cardPopupVisible" class="mint-popup">
                        <div class="picker-toolbar">
                            <span class="mint-datetime-action mint-datetime-cancel" @click="cancelCard">取消</span>
                            <span class="mint-datetime-action mint-datetime-confirm" @click="selectCard">确定</span>
                        </div>
                        <mt-picker :slots="cardSlots" @change="onCardChange" value-key="car_card"></mt-picker>
                    </mt-popup>
                </div>
                <div v-for="item of showInfo">
                    <div class="card-cell">
                        <span>停车卡号</span>
                        <!--<span>{{ item.park_card }}</span>-->
                        <input type="text" placeholder="请输入停车卡号" v-model="item.park_card" name="park_card" >
                    </div>
                    <div class="card-cell">
                        <span>车主姓名</span>
                        <!--<span>{{ item.name }}</span>-->
                        <input type="text" placeholder="请输入车主姓名" v-model="item.name " name="name">
                    </div>
                    <div class="card-cell">
                        <span>车主电话</span>
                        <!--<span>{{ item.mobile }}</span>-->
                        <input type="number" placeholder="请输入车主电话" v-model.number="item.mobile" name="mobile" maxlength="11">
                    </div>
                    <div class="card-cell">
                        <span>身份证号</span>
                        <!--<span>{{ item.people_card}}</span>-->
                        <input type="text" placeholder="请输入身份证号" v-model.number="item.people_card" name="people_card" maxlength="18">
                    </div>
                </div>
                <input type="hidden" v-model="subData.app_id" name="app_id">
                <input type="hidden" v-model="defaultData.type" name="type">
                <input type="hidden" name="aging" v-model="defaultData.aging">
                <input type="hidden" name="carpark_price" v-model="subData.carpark_price">
            </form>
        </div>

        <div  class="card" v-else>
            <form action="payment" method="post" ref="cardform">
            <div class="card-tit">旧卡绑定</div>
            <div class="card-cell">
                <label for="park_card">车卡号码</label>
                <input type="text" placeholder="请输入车卡号码" id="park_card"  name="park_card" v-model="defaultData.park_card">
            </div>
            <div class="card-cell">
                <label for="name">车主姓名</label>
                <input type="text" placeholder="请输入车主姓名" id="name"  name="name" v-model="defaultData.name">
            </div>
            <div class="card-cell">
                <label for="phone">车主电话</label>
                <input type="number" placeholder="请输入车主电话" id="phone" name="mobile" maxlength="11" v-model="defaultData.mobile">
            </div>
            <div class="card-cell">
                <label for="number">车牌号码</label>
                <input type="text" placeholder="请输入车牌号码" id="number"  name="car_card" v-model="defaultData.car_card">
            </div>
            <div class="card-cell">
                <label for="idCard">身份证号</label>
                <input type="text" placeholder="请输入身份证号" id="idCard"  name="people_card" v-model="defaultData.people_card">
            </div>

                <input type="hidden" v-model="subData.app_id" name="app_id">
                <input type="hidden" v-model="defaultData.type" name="type">
                <input type="hidden" name="aging" v-model="defaultData.aging">
                <input type="hidden" name="carpark_price" v-model="subData.carpark_price">
            </form>
        </div>

        <div class="card">
            <div class="card-tit">办理信息</div>
            <div class="card-cell">
                <span>续费时长</span>
                <span @click="checkTime" >
                    <span :class="[!defaultData.aging ? 'select-color' : '', '']">{{timeStatus}}</span> <i class="allow-right"></i>
                </span>

                <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
                    <div class="picker-toolbar">
                        <span class="mint-datetime-action mint-datetime-cancel" @click="cancelTime">取消</span>
                        <span class="mint-datetime-action mint-datetime-confirm" @click="selectTime">确定</span>
                    </div>
                    <mt-picker :slots="slots" @change="onTimesChange" ></mt-picker>
                </mt-popup>
            </div>
            <div class="card-cell">
                <span>应缴费用</span>
                <span>{{totalMoney}}</span>
            </div>
        </div>
        <div class="card-btn-box">
            <button class="btn btn-block btn-warning" @click="nextBtn">下一步</button>
        </div>
</div>
{/block}

{block name="script"}
<script>

    var data = {$data};
    var defaultData = {
        type:'keepOldCard',
        car_id:data.cardlist[0].car_card,
        aging:0
    };
    if(!data.cardlist.length ){
//        console.log(data.cardlist);
        defaultData = {
            type:'addOldCard',
            park_card:'',
            people_card:'',
            car_card:'',
            mobile:'',
            name:'',
            aging:0
        }
    }
      console.log(data);
    console.log(defaultData);
//    if(data.cardlist.length){
//        var list = data.cardlist;
//        var cardArray = [];
//        var carId = parseInt(data.cardlist[0].id);
//        for(var i = 0;i< list.length; i += 1){
//            cardArray.push(list[i].car_card) ;
//        }
//    }

        var vm = new Vue({
            el:"#app",
            mounted:function () {
                var _this = this;
                _this.$nextTick(function() {
                    setTimeout(function() {
                        _this.cardSlots[0].defaultIndex = 0;
                        _this.slots[0].defaultIndex = 0;
                    }, 100);
                });
            },
            computed:{
                cardStatus:function () {
                    var _this = this;
                    var list = _this.subData.cardlist;
                    for(var item in list){
                        if(_this.carCard.car_card == list[item].car_card){
                            return list[item].car_card;
                        }
                    }
                },
                showInfo:function () {
                    var _this = this;
                    return this.subData.cardlist.filter(function (list) {
                        return list.id == _this.carCard.id;
                    })
                },
                timeStatus:function () {
                    if(!this.defaultData.aging){
                        return "请选择";
                    }else{
                        return this.defaultData.aging+"个月";
                    }
                },
                totalMoney:function () {
                    return (this.defaultData.aging  * this.subData.carpark_price);
                }
            },
            data:{
                defaultData:defaultData,
                subData:data,
                popupVisible: false,
                cardPopupVisible:false,
                timePicker:'',
                timeTxt:'',
                cardPicker:'',
                cardName:'',
                carCard:data.cardlist[0],
                isSubmit:true,
                cardSlots:[
                    {
                        defaultIndex:1,
                        values:data.cardlist                //cardArray
                    }
                ],
                slots: [
                    {
                        defaultIndex:1,
                        values: ['6个月','12个月']
                    }
                ]
            },
            methods: {
                checkCard:function () {
                    this.cardPopupVisible = true;
                },
                onCardChange:function (picker,values) {
                    this.cardPicker = picker;
                    if(values[0]){
                        this.cardName = values[0];
                    }
                },
                cancelCard:function () {
                    this.cardPopupVisible = false;
                },
                selectCard:function () {
                    var _this = this;
                    _this.cardPopupVisible = false;
                    _this.carCard = this.cardName;
                    _this.defaultData.car_id = _this.cardName.car_card;
                },
                checkTime: function () {
                    this.popupVisible = true;
                },
                onTimesChange: function (picker,values) {
                    this.timePicker =  picker;
                    if(!isNaN(parseInt(values[0]))){
                        this.timeTxt = parseInt(values[0]);
                    }
                },
                cancelTime: function () {
                    this.popupVisible = false;
                },
                selectTime: function () {
                    this.popupVisible = false;
                    this.defaultData.aging = this.timeTxt;
                },
                nextBtn: function () {
                    var _this = this;
                    if(!_this.subData.cardlist){
                        if(!_this.defaultData.park_card){
                            _this.$toast('请填写车卡号码');
                            return;
                        }
                        if(!_this.defaultData.name){
                            _this.$toast('请填写车主姓名');
                            return;
                        }
                        if(!checkMobile(_this.defaultData.mobile)){
                            _this.$toast('请填写正确的车主电话');
                            return;
                        }
                        if(!_this.defaultData.car_card){
                            _this.$toast('请填写车牌号码');
                            return;
                        }
                        if(!_this.defaultData.people_card){
                            _this.$toast('请填写身份证号');
                            return;
                        }else{
                            var status = validateIdCard(_this.defaultData.people_card);
                            if(!status){
                                return;
                            }
                        }
                    }
                    if(!_this.defaultData.aging){
                        _this.$toast('请选择办理时长');
                        return;
                    }

//                    return;
                    _this.$refs.cardform.submit();
                }
            }
        });
//    }
</script>
{/block}