
{extend name="public/common"}

{block name="style"}
<title>旧电动车续费</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div v-if="subData.cardlist.length">
        <form action="payment" method="post" ref="cardform">
            <div class="card">
                <div class="card-tit">车主信息</div>
                <div class="card-cell">
                    <span>电柱编号</span>
                    <span >
                        <input type="text"   name="id" v-model="defaultData.elect_id" placeholder="请输入电柱编号" ref="electricity_id">
                        <span class="allow-box">
                             <i class="allow-down" @click="checkCard"></i>
                        </span>
                    </span>

                    <mt-popup  position="bottom"  v-model="cardPopupVisible" class="mint-popup" >
                        <div class="picker-toolbar">
                            <span class="mint-datetime-action mint-datetime-cancel" @click="cancelCard">取消</span>
                            <span class="mint-datetime-action mint-datetime-confirm" @click="selectCard">确定</span>
                        </div>
                        <mt-picker :slots="cardSlots" @change="onCardChange" value-key="electricity_id"></mt-picker>
                    </mt-popup>
                </div>
                <div v-for="item in showInfo">
                    <div class="card-cell">
                        <span>车主姓名</span>
                        <!--<span>{{ item.name }}</span>-->
                        <input type="text"   name="name" v-model="item.name"  ref="name" placeholder="请输入车主姓名">
                    </div>
                    <div class="card-cell">
                        <span>车主电话</span>
                        <!--<span>{{ item.mobile }}</span>-->
                        <input type="number"   name="mobile"  v-model.number="item.mobile" ref="mobile" placeholder="请输入车主电话">
                    </div>
                </div>
            </div>

            <input type="hidden" v-model="subData.app_id" name="app_id">
            <input type="hidden" v-model="defaultData.type" name="type">
            <input type="hidden" name="aging" v-model="defaultData.aging">
            <input type="hidden" name="charging_price" v-model="subData.charging_price">
        </form>
    </div>
    <div v-else>
        <form action="payment" method="post" ref="cardform">
            <div class="card">
                <div class="card-tit">充电柱绑定</div>
                <div class="card-cell">
                    <label for="id">电柱编号</label>
                    <input type="text" placeholder="请输入电柱编号" id="id"  name="id" v-model="defaultData.electricity_id">
                </div>
                <div class="card-cell">
                    <label for="name">车主姓名</label>
                    <input type="text" placeholder="请输入电柱编号" id="name"  name="name" v-model="defaultData.name">
                </div>
                <div class="card-cell">
                    <label for="mobile">车主电话</label>
                    <input type="text" placeholder="请输入电柱编号" id="mobile"  name="mobile" v-model="defaultData.mobile">
                </div>
            </div>
            <input type="hidden" v-model="subData.app_id" name="app_id">
            <input type="hidden" v-model="defaultData.type" name="type">
            <input type="hidden" name="aging" v-model="defaultData.aging">
            <input type="hidden" name="charging_price" v-model="subData.charging_price">
        </form>
    </div>

    <div class="card">
        <div class="card-tit">办理信息</div>
        <div class="card-cell">
            <span>续费时长</span>
                <span @click="checkTime" >
                    <span :class="[!defaultData.aging ? 'select-color' : '', '']">{{timeStatus}}</span> <i class="allow-right"></i>
                </span>

            <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelTime">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectTime">确定</span>
                </div>
                <mt-picker :slots="slots" @change="onTimesChange" ></mt-picker>
            </mt-popup>
        </div>
        <div class="card-cell">
            <span>应缴费用</span>
            <span>{{totalMoney}}</span>
        </div>
    </div>
    <div class="card-btn-box">
        <button class="btn btn-block btn-warning" @click="nextBtn">下一步</button>
    </div>
</div>
{/block}

{block name="script"}
<script>

    var data = {$data};

    console.log(data);
    if(!data.cardlist.length ){
         var   defaultData = {
                type:'addOldpillar',
                electricity_id:'',
                mobile:'',
                name:'',
                aging:0
            }
    }else{
        var  defaultData = {
            type:'addOldpillar',
            aging:0,
            elect_id : data.cardlist[0].electricity_id
        };

    }

    var vm = new Vue({
        el:"#app",
        computed:{
            showInfo:function () {
                var _this = this;
                return this.subData.cardlist.filter(function (list) {
                    return list.id == _this.carCard.id;
                })
            },
            timeStatus:function () {
                if(!this.defaultData.aging){
                    return "请选择";
                }else{
                    return this.defaultData.aging+"个月";
                }
            },
            totalMoney:function () {
                return (this.defaultData.aging  * this.subData.charging_price);
            }
        },
        data:{
            defaultData:defaultData,
            subData:data,
            popupVisible: false,
            cardPopupVisible:false,
            timePicker:'',
            timeTxt:'',
            cardPicker:'',
            carCard:data.cardlist[0],
            cardName:null,
            isSubmit:true,
            cardSlots:[
                {
                    defaultIndex:1,
                    values:data.cardlist                //cardArray
                }
            ],
            slots: [
                {
                    defaultIndex:1,
                    values: ['6个月','12个月']
                }
            ]
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.cardSlots[0].defaultIndex = 0;
                    _this.slots[0].defaultIndex = 0;
                }, 100);
            });
        },
        methods: {
            checkCard:function () {
                this.cardPopupVisible = true;
            },
            onCardChange:function (picker,values) {
                this.cardPicker = picker;
                if(values[0]){
                    this.cardName = values[0];
                }
            },
            cancelCard:function () {
                this.cardPopupVisible = false;
            },
            selectCard:function () {
                var _this = this;
                _this.cardPopupVisible = false;
                _this.carCard = _this.cardName;
                _this.defaultData.elect_id = _this.cardName.electricity_id;
            },
            checkTime: function () {
                this.popupVisible = true;
            },
            onTimesChange: function (picker,values) {
                this.timePicker =  picker;
                if(!isNaN(parseInt(values[0]))){
                    this.timeTxt = parseInt(values[0]);
                }
            },
            cancelTime: function () {
                this.popupVisible = false;
            },
            selectTime: function () {
                this.popupVisible = false;
                this.defaultData.aging = this.timeTxt;
            },
            nextBtn: function () {
                var _this = this;
                if(!_this.subData.cardlist.length){
                    if(!_this.defaultData.electricity_id){
                        _this.$toast('请填写充电柱编号');
                        return;
                    }
                    if(!_this.defaultData.name){
                        _this.$toast('请填写车主姓名');
                        return;
                    }
                    if(!checkMobile(_this.defaultData.mobile)){
                        _this.$toast('请填写正确的车主电话');
                        return;
                    }
                }else{
                    if(!_this.$refs.electricity_id.value){
                        _this.$toast('请填写充电柱编号');
                        return;
                    }
                    if(!_this.$refs.name[0].value){
                        _this.$toast('请填写车主姓名');
                        return;
                    }
                    if(!checkMobile(_this.$refs.mobile[0].value)){
                        _this.$toast('请填写正确的车主电话');
                        return;
                    }
                }
                if(!_this.defaultData.aging){
                    _this.$toast('请选择办理时长');
                    return;
                }
                _this.$refs.cardform.submit();
            }
        }
    });

</script>
{/block}