{extend name="public/common"}

{block name="style"}
<style>
    #app{
        margin-top: 4rem;
    }
    #app>div{
        height:150px;
        width:300px;
        line-height: 150px;
        text-align: center;
        border-radius: 10px;
        margin:0 auto;
        margin-top: 3rem;
        border:1px solid #f1f1f1;
    }
    #app>p{
        line-height: 3rem;
        font-size: 1.4rem;
        color:#00BCD4;
        margin-top: 3rem;
        text-align: center;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="new-card" @click="jumpTo('/index/service/parkingnew')">
        新卡办理
    </div>
    <div class="old-card" @click="jumpTo('/index/service/parkingold')">
        旧卡续费
    </div>
    <p>办理记录</p>
</div>
{/block}

{block name="script"}
<script>
var app = new Vue({
    el:'#app',
    data:{

    },
    methods:{
        jumpTo(path){
            window.location.href=path;
        }
    }
})
</script>
{/block}