{extend name="public/common"}

{block name="style"}
<title>商标查询</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{background-color:#F0EFF5;color:#333;font-size:1.5rem}
    :-moz-placeholder{color:#999;opacity:1}
    ::-moz-placeholder{color:#999;opacity:1}
    input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#000;opacity:1}
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;opacity:1}
    .table-row-box{padding:0 4vw;background-color:#fff}
    .icon-remarks{display:block;margin-left:.6rem;height:15px;width:15px;background:url(/index/images/service/patent/icon-remarks.png) no-repeat center;background-size:15px 15px}
    .table-title{padding:1rem 1.5rem;display:-webkit-flex;display:flex;align-items:center;color:#999}
    .table-row{padding:1.5rem 0;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;box-sizing:border-box}
    .table-row:not(:last-child){border-bottom:1px solid #f1f1f1}
    .table-row-select{position:relative;padding-right:15px}
    .table-row-select:after{content:'';position:absolute;top:50%;right:0;-webkit-font-smoothing:antialiased;height:6px;width:6px;border-width:1px 1px 0 0;border-color:#999;border-style:solid;-webkit-transform:matrix(.71,.71,-.71,.71,0,0);transform:matrix(.71,.71,-.71,.71,0,0);margin-top:-2px}
    .table-row-input{font-size:1.4rem;text-align:right}
    .table-row-block-header{padding:1.5rem 0}
    .table-row-block>textarea{box-sizing:border-box;width:100%;height:10rem;font-size:1.4rem;border:1px solid #f1f1f1;padding:7px 9px}
    .card-upload{flex-wrap:wrap;justify-content:flex-start;padding:0 0 2rem 0}
    .card-upload>div:not(:nth-child(3n+0)){margin-right: 2.05vw;}
    .upload-box,.upload-img{margin-bottom:2vw}
    .upload-box,.upload-img,.upload-img img{border-radius: 1.3333333vw;overflow: hidden;}
    #app .card-btn-box{display:flex;justify-content:center;margin-top:3rem;margin-bottom:1.6rem}
    .modal-box{width:100%;height:100vh;background:rgba(0,0,0,.4);position:fixed;left:0;top:0;z-index:9}
    .modal-box .modal{width:calc(100% - 36px);margin:15vh auto 0;background:#fff;border-radius:10px;padding:10px 0;position:relative}
    .name-mobile{padding:5px 18px}
    .modal>p{line-height:40px;font-size:17px;text-align:center}
    .name-mobile ul li{line-height:40px;border-bottom:1px solid #f1f1f1;position:relative;display:flex;justify-content:space-between}
    .name-mobile ul li.column{flex-direction:column}
    .name-mobile span{display:inline-block;font-size:1.5rem;color:#333}
    .name-mobile span:first-child{float:left}
    .name-mobile input{text-align:right;font-size:1.5rem}
    .modal-textarea{border:1px solid #f1f1f1;height:18vh;border-radius:5px;margin-bottom:10px;padding:5px 10px}
    .modal-btn-box{display:-webkit-flex;display:flex;justify-content:center;padding:4vw 4.8vw}
    .cancel{position:absolute;top:-50px;right:0}
    .cancel>span:first-child{display:inline-block;width:28px;height:28px;border-radius:15px;border:1px solid #fff;display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center}
    .cancel i::before{width:20px;height:20px;color:#fff}
    .cancel>span:last-child{display:inline-block;height:22px;width:0;border-right:1px solid #fff;position:relative;left:50%}
    .icon-required{display:inline-block;color:red;font-style:normal;position:absolute;left:-10px;top:0}

</style>
{/block}


{block name="body"}
<div id="app" class="content">
    <div class="table-box">
        <div class="table-title"><span>商标类别</span><a href="/index/service/marktype" class="icon-remarks"></a></div>
        <div class="table-row-box">
            <div class="table-row" @click="toggleType">
                <span class="table-row-header">类别选择</span>
                <span class="table-row-select" v-if="typeSelect.nowType"> <span>{{typeSelect.nowType.name}} </span></span>
                <span class="table-row-select" style="color: #999;" v-else>请选择类别</span>
            </div>
        </div>
        <mt-popup  position="bottom"  v-model="typeSelect.popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="toggleType">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectType">确定</span>
            </div>
            <mt-picker :slots="typeSelect.slots" value-key="name" @change="onTypeChange" ></mt-picker>
        </mt-popup>
    </div>
    <div class="table-box">
        <div class="table-title"><span>商标名称（至少填写一项）</span></div>
        <div class="table-row-box">
            <div class="table-row">
                <span class="table-row-header">中文</span>
                <input type="text" class="table-row-input" placeholder="请输入中文描述" v-model="subData.chinese_description">
            </div>
            <div class="table-row">
                <span class="table-row-header">英文</span>
                <input type="text" class="table-row-input" autocapitalize="on" placeholder="请输入英文描述" v-model="subData.english_description">
            </div>
            <div class="table-row">
                <span class="table-row-header">数字</span>
                <input type="tel" class="table-row-input" placeholder="请输入数字描述" v-model="subData.numeric_description">
            </div>
            <div class="table-row-block">
                <div class="table-row-block-header">商标</div>
                <textarea  cols="30" rows="10" placeholder="请输入相关信息..." v-model="subData.trademark_description"></textarea>
            </div>
            <div class="table-row-block">
                <div class="table-row-block-header">商标图形</div>
                    <div class="card-upload">
                        <div class="upload-img" v-for="(imgUrl,index) of subData.submit_img">
                            <i class="del-img" @click="delImg(index)"></i>
                            <img :src="imgUrl" class="img-responsive" @click="loadImg(imgUrl,subData.submit_img)">
                        </div>
                        <div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">
                            <img src="/index/images/service/card/card-camera.png" >
                            <span class="upload-info" >上传图片</span>
                        </div>
                    </div>
                    <form ref="myform">
                        <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" >
                    </form>
                </div>
        </div>
    </div>
    <div class="card-more">
        <button class="btn btn-warning btn-warning-outlined btn-sm" @click="window.location.href='/index/service/history/id/12/type/1'"><i class="icon icon-record"></i>查询记录</button>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block" @click=" consult = true ">咨询</button>
        <button class="btn btn-block btn-warning" @click="querySubmit">提交</button>
    </div>
    <div class="modal-box" v-show="consult">
        <div class="modal">
            <p>商标咨询</p>
            <div class="name-mobile">
                <ul>
                    <li>
                        <span><i class="icon-required">*</i>联系人员</span>
                        <input type="text" id="name" placeholder="请输入联系人员" v-model="consultData.name">
                    </li>
                    <li>
                        <span><i class="icon-required">*</i>联系电话</span>
                        <input type="tel" id="mobile" placeholder="请输入联系电话" v-model.number="consultData.mobile">
                    </li>
                    <li class="column">
                        <span><i class="icon-required">*</i>咨询内容</span>
                        <textarea cols="30" rows="10" class="modal-textarea" placeholder="请输入咨询内容..." v-model="consultData.content"></textarea>
                    </li>
                </ul>
            </div>
            <div class=" modal-btn-box">
                <button class="btn btn-block btn-warning" @click="consultSubmit">提交</button>
            </div>
            <div class="cancel" @click="consult = false">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    //生成类别数组=、=
    for(var i=0,type = [];i<45;i++){
        var a={
            name:"第 "+(i+1<10?0+''+(i+1):i+1)+" 类",
            key:i+1
        }
        type.push(a)
    }
    var app = new Vue({
        el:'#app',
        data:{
            baseInfo:{$info},
            isSubmit:false,
            imgSrc:{
                imgLength:6,
                dataUrl:[],
                imgName:[]
            },
            typeSelect:{
                slots: [
                    {
                        defaultIndex:1,
                        values: type
                    }
                ],
                nowType:'',
                onChangeType:'',
                popupVisible:false
            },
            consult:false,
            consultData:{
                name:'',
                mobile:'',
                content:''
            },
            subData:{
                type:'',
                chinese_description:'',
                english_description:'',
                numeric_description:'',
                trademark_description:'',
                submit_img:[],
            },
        },
        created(){
            var _this = this;
            _this.consultData.name=_this.baseInfo.name||''
            _this.consultData.mobile=_this.baseInfo.mobile||''

            //            初始化选择器选项位置
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.typeSelect.slots[0].defaultIndex = 0;
                }, 100);
            });
            var test =window.location.href;
            var data ={
                url:test
            };
            _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
                var data = JSON.parse(res.data);
                wx.config({
                    debug: false,
                    appId: data.appid,
                    timestamp:data.timestamp ,
                    nonceStr: data.noncestr,
                    signature: data.signature,
                    jsApiList: ['previewImage']
                });
            },function () {
            });

        },
        methods: {
            //            微信jssdk - 图片预览
            loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
                console.log(current,urls)
                wx.previewImage({
                    current: current,
                    urls: urls
                });
            },
            //提交
           consultSubmit(){
               var _this = this;
               if(_this.isSubmit){
                   _this.$toast({
                       message:"提交中",
                       duration:1000
                   });
                   return ;
               };
               if(!_this.consultData.name){
                   _this.$toast({
                       message:"请输入联系人员",
                       duration:1000
                   });
                   return ;
               }else if(!_this.consultData.mobile){
                   _this.$toast({
                       message:"请输入联系电话",
                       duration:1000
                   });
                   return ;
               }else if(!_this.consultData.content){
                   _this.$toast({
                       message:"请输入咨询内容",
                       duration:1000
                   });
                   return ;
               };
               _this.postSubmit("/index/service/trademarkAdvisory",_this.consultData,'提交成功',function () {
                   window.location.href='/index/service/index'
               },function () {})
            },
            querySubmit(){
                var _this = this;
                var data = _this.subData;
                if(_this.isSubmit){
                    _this.$toast({
                        message:"提交中",
                        duration:1000
                    });
                    return ;
                };
                if(!_this.typeSelect.nowType){
                    _this.$toast({
                        message:"请选择类别",
                        duration:1000
                    });
                    return ;
                }else if(!data.numeric_description && !data.chinese_description && !data.english_description && !data.trademark_description && !data.submit_img.length){
                    _this.$toast({
                        message:"至少填写一项商标名称",
                        duration:1000
                    });
                    return ;
                }
                _this.subData.type = _this.typeSelect.nowType.key;
                _this.postSubmit("/index/service/trademark",data,'提交成功',function () {
                    window.location.href='/index/service/index'
                },function () {})
            },
            postSubmit(api,data,successText,successFun,errorFun){
                var _this = this;
                _this.$indicator.open({
                    text: '提交中',
                    spinnerType: 'triple-bounce'
                });
                _this.isSubmit = true;
                _this.$http.post(api,data).then(function (res) {
                    _this.isSubmit = false;
                    _this.$indicator.close();
                    if(res.data.code===1){
                        swal({
                            title: '',
                            text: successText,
                            type:'success',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        },function () {
                            successFun()
                        });
                    }else{
                        swal({
                            title: '',
                            text: res.data.msg,
                            type:'error',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        },function () {
                            errorFun()
                        });
                    }

                },function (res) {
                    _this.isSubmit = false;
                    _this.$indicator.close();
                    swal({
                        title: '',
                        text: '请求失败，请重试！',
                        type:'error',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定"
                    });
                })
            },
            //类型选折器
            toggleType(){
                var _this = this;
                _this.typeSelect.popupVisible = !_this.typeSelect.popupVisible;
            },
            selectType(){
                var _this = this;
                if(_this.typeSelect.nowType != _this.typeSelect.onChangeType){
                    _this.typeSelect.nowType = _this.typeSelect.onChangeType;

                }
                _this.toggleType();
            },
            onTypeChange(p,v){
                var _this = this;
                if(v[0]){
                    _this.typeSelect.onChangeType = v[0];
                }
            },
            //图片上传 + 删除
            delImg: function (e) {
                this.imgSrc.dataUrl.splice(e,1);
                this.subData.submit_img.splice(e,1);
                this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
            },
            imgPreview (file,path,name) {
                var self = this;
                if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                    return;
                }
                // 是否支持FileReader
                if (!file || !window.FileReader){
                    if(path){
                        self.imgSrc.dataUrl.push(path) ;
                    }
                    return;
                }

                if (/^image/.test(file.type)) {
                    // 创建一个reader
                    var reader = new FileReader();
                    // 将图片将转成 base64 格式
                    reader.readAsDataURL(file);
                    // 读取成功后的回调
                    reader.onloadend = function () {
                        self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                        if(name && path){
                            var imgObj = {
                                name:name,
                                path:path,
                                base:this.result
                            };
                            self.imgSrc.imgName.push(imgObj);
                        }
                    }
                }
            },
            imgUpload:function () {
                var upImg = this.$refs.upimg;
                upImg.click();
            },
            handleFileChange:function (e) {
                var _this = this;
                var upImg = _this.$refs.upimg;
                var img = upImg.files[0];
                if(img){
                    var newSize = (img.size/1024).toFixed(2);
                    if(newSize <= 10240){
                        _this.$indicator.open({
                            text: '图片上传中',
                            spinnerType: 'triple-bounce'
                        });
                        _this.isSubmit = true;
                        var formData = new FormData();
                        formData.append("picture",img);
                        _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                            var data = JSON.parse(res.data);
                            console.log(data);
                            _this.isSubmit = false;
                            this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
                            if(data.code == 1){
                                // 在获取到文件对象进行预览
                                _this.$indicator.close();
                                _this.subData.submit_img.push(data.data.path); //上传后图片路径
                                _this.imgPreview(img,data.data.path,name);
                            }else{
                                _this.$indicator.close();
                                _this.$toast({
                                    message:"上传失败，请重新上传！",
                                    duration:1000
                                });
                            }
                        },function (res) {
                            this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
                            _this.isSubmit = false;
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        });
                    }else{
                        _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                    }
                }
            },
        }
    })


</script>

{/block}
