{extend name="public/common"}

{block name="style"}
<title>车卡服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">缴费信息</div>
        <div class="card-cell">
            <span>银行账户</span>
            <span>{{subData.bank_user}}</span>
        </div>
        <div class="card-cell">
            <span>账号名称</span>
            <span>{{subData.payment_bank}}</span>
        </div>
        <div v-if="subData.payment_alipay">
            <div class="card-cell bottom-inherit">
                <span class="card-hr">— — — or — — —</span>
            </div>
            <div class="card-cell">
                <span>支付宝账号</span>
                <span>{{subData.payment_alipay}}</span>
            </div>
            <div class="card-cell">
                <span>账号名称</span>
                <span>{{subData.ailpay_user}}</span>
            </div>
        </div>

    </div>
    <p class="prompt-message">转账时请备注个人信息（转账事由及内容）</p>
    <div class="card">
        <div class="card-tit">办理信息</div>
        <div class="card-upload">
            <div class="upload-img" v-for="(imgUrl,index) of imgSrc.dataUrl">
                <i class="del-img" @click="delImg(index)"></i>
                <img :src="imgUrl" class="img-responsive">
            </div>
            <div class="upload-box" @click="imgUpload" v-if="imgSrc.dataUrl.length < imgSrc.imgLength">
                <img src="/index/images/service/card/card-camera.png" >
                <span class="upload-info" >上传凭证</span>
            </div>
        </div>
        <form ref="myform">
            <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg" @change="handleFileChange" ref="upimg" capture="camera">
        </form>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="subBtn">提交</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var data ={$data};
    console.log(data);
    var vm = new Vue({
        el:"#app",
        data:{
            subData:data,
            isSubmit:true,
            payment_voucher:[],
            imgSrc:{
                imgLength:3,
                dataUrl:[],
                imgName:[]
            }
        },
        methods: {
            delImg: function (e) {
                this.imgSrc.dataUrl.splice(e,1);
                this.payment_voucher.splice(e,1);
                this.$refs.myform.reset(); //表单重置，解决input onchange选重问题
            },
            imgPreview (file,path,name) {
                var self = this;
                if(self.imgSrc.dataUrl.length >= self.imgSrc.imgLength){
                    return;
                }
                // 是否支持FileReader
                if (!file || !window.FileReader){
                    if(path){
                        self.imgSrc.dataUrl.push(path) ;
                    }
                    return;
                }

                if (/^image/.test(file.type)) {
                    // 创建一个reader
                    var reader = new FileReader();
                    // 将图片将转成 base64 格式
                    reader.readAsDataURL(file);
                    // 读取成功后的回调
                    reader.onloadend = function () {
                        self.imgSrc.dataUrl.push(this.result) ; //64格式图片数组
                        if(name && path){
                            var imgObj = {
                                name:name,
                                path:path,
                                base:this.result
                            };
                            self.imgSrc.imgName.push(imgObj);
                        }
                    }
                }
            },
            imgUpload:function () {
                var upImg = this.$refs.upimg;
                upImg.click();
            },
            handleFileChange:function (e) {
                var _this = this;
                var upImg = _this.$refs.upimg;
                var img = upImg.files[0];
                if(img){
                    var name = img.name;
                }
                for(var j = 0,imgName = _this.imgSrc.imgName ; j < imgName.length ; j += 1){
                    if(name == imgName[j].name ){
                        for(var k = 0,showPath = _this.imgSrc.dataUrl; k < showPath.length ; k += 1){
                            if( showPath[k] == imgName[j].base){
                                return;
                            }
                        }
                        _this.payment_voucher.push(imgName[j].path );
                        _this.imgPreview(img);
//                        console.log("64位图片",_this.imgSrc.dataUrl);
//                        console.log("图片名字",_this.imgSrc.imgName);
//                        console.log("凭证",_this.payment_voucher);
                        return;
                    }
                }
                if(img){
                    var newSize = (img.size/1024).toFixed(2);
                    if(newSize <= 10240){
                        _this.$indicator.open({
                            text: '图片上传中',
                            spinnerType: 'triple-bounce'
                        });
                        _this.isSubmit = false;
                        var formData = new FormData();
                        formData.append("picture",img);
                        _this.$http.post("{:Url('File/uploadPicture')}",formData).then(function (res) {
                            var data = JSON.parse(res.data);
                            console.log(data);
                            _this.isSubmit = true;
                            if(data.code == 1){
                            // 在获取到文件对象进行预览
                                _this.$indicator.close();
                                _this.$toast({
                                    message:"上传成功！",
                                    duration:1000
                                });
                                _this.payment_voucher.push(data.data.path); //上传后图片路径
                                _this.imgPreview(img,data.data.path,name);
                            }else{
                                _this.$indicator.close();
                                _this.$toast({
                                    message:"上传失败，请重新上传！",
                                    duration:1000
                                });
                            }
                        },function (res) {
                            _this.isSubmit = true;
                            _this.$indicator.close();
                            _this.$toast({
                                message:"上传失败，请重新上传！",
                                duration:1000
                            });
                        });
                    }else{
                        _this.$toast("单张上传图片大小不能超过10M,请重新上传！");
                    }
                }
            },
            subBtn: function () {
                var _this = this;

                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                _this.subData.payment_voucher = _this.payment_voucher;
                var subData = JSON.parse(JSON.stringify(_this.subData));
                console.log(subData);
                var type = subData.type;
                if(type){
                    this.$http.post(type,subData).then(function (res) {
                        console.log(res.data);
                        _this.isSubmit = true;
                        var data = res.data;
                        if(data.code == 1){
                            var msg = data.data;
                          var newMsg =  msg.split(";");
                          msg =  newMsg.join("<br/>");
                            swal({
                                title:"预约成功!",
                                text:msg,
                                html:true,
                                type:"success",
                                confirmButtonColor: "#fcc44b"
                            },function () {
                                window.location.href = "/index/service/index";
                            });
                        }else{
                            swal({
                                title:"预约失败!",
                                text:"请重新预约！",
                                type:"error",
                                confirmButtonColor: "#fcc44b"
                            },function () {
                                window.location.href = "/index/service/index";
                            });
                        }
                    },function (res) {
                        _this.isSubmit = true;
                        swal({
                            title:"预约失败!",
                            text:'请重新预约！',
                            type:"error",
                            confirmButtonColor: "#fcc44b"
                        },function () {
                            window.location.href = "/index/service/index";
                        });
                    })
                }
            }
        }
    })
</script>
{/block}