{extend name="public/common"}

{block name="style"}
<title>车卡服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">缴费信息</div>
        <div class="card-cell">
            <span>银行账户</span>
            <span>{{subData.bank_user}}</span>
        </div>
        <div class="card-cell">
            <span>账号名称</span>
            <span>{{subData.payment_bank}}</span>
        </div>
        <div class="card-cell bottom-inherit">
            <span class="card-hr">— — — or — — —</span>
        </div>
        <div class="card-cell">
            <span>支付宝账号</span>
            <span>{{subData.payment_alipay}}</span>
        </div>
        <div class="card-cell">
            <span>账号名称</span>
            <span>{{subData.ailpay_user}}</span>
        </div>
    </div>
    <p class="prompt-message">转账时请备注个人信息（转账事由及内容）</p>
    <div class="card">
        <div class="card-tit">办理信息</div>
        <div class="card-upload">
            <div class="upload-box">
                <img src="/index/images/service/card/card-camera.png" >
                <span class="upload-info">上传凭证</span>
            </div>
        </div>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="subBtn">提交</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
   var data = window.sessionStorage.getItem("data");
    if(data){
        data = JSON.parse(data);
        data.payment_voucher =[1,2,3];
    }
    console.log(data);
    var vm = new Vue({
        el:"#app",
        data:{
            subData:data,
            isSubmit:true
        },
        methods: {
            subBtn: function () {
                var _this = this;

                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;

                var subData = JSON.parse(JSON.stringify(_this.subData));
                console.log(subData);
                if(subData.type == "newCard"){
                    this.$http.post('addNewCard',subData).then(function (res) {
                        console.log(res.data);
                        _this.isSubmit = true;
                        var data = res.data;
                        if(data.code == 1){
                            swal({
                                title:"预约成功!",
                                text:'工作人员将会在2小时内联系您，洽谈具体事宜，请您耐心等待',
                                type:"success"
                            });
                        }
                    },function (res) {
                        _this.isSubmit = true;
                    })
                }
            }
        }
    })
</script>
{/block}