{extend name="public/common"}

{block name="style"}
<title>技术交底书</title>
<style>
    #app{
        padding:0 1.2rem 5rem;
        color: #333;
        line-height: 2;
    }
    h1{
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
        padding:2rem 0 1rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        padding:0;
        margin: 0;
    }
    p{
        font-size: 1.4rem;
        text-indent: 2em;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <h1>发明或实用新型专利技术交底书</h1>

    <p>技术交底书是申请人将自己的发明创造内容以书面形式提交给专利代理人的参考文件。为了使代理人更好地理解您的发明创造内容，使您的发明创造能够尽快提出申请，并顺利通过审查，请提交下列内容：</p>
    <h2>一、发明或实用新型名称</h2>
    <p>该名称应清楚简明地反映发明创造的主题及类型，不得使用人名、地名、商标、型号或商品名称，也不得使用商业性宣传用语。</p>
    <h2>二、所属技术领域</h2>
    <p>应写明发明创造直接所属或直接应用的技术领域，而不是上位的或相邻的技术领域，也不是发明或是实用新型本身。例如：本发明涉及一种理疗装置，或本发明涉及微生物的制备方法。</p>
    <h2>三、背景技术</h2>
    <p>
        针对您所申请发明创造的领域，对申请日前的现有技术进行描述和评价，说明其优点并实事求是地指出其存在的主要问题及不足之处，要有针对性地、必要时借助附图加以说明，具体内容可包括：构造、各部件间的关系或条件、工艺过程等。一般要以文献检索为依据，切忌主观臆断，最好提供介绍该现有技术的文献复印件。</p>
    <h2>四、目的</h2>
    <p>针对现有技术所存在的问题和缺点，提出本发明创造所要解决的技术问题。</p>
    <h2>五、技术方案</h2>
    <p>
        本部分是申请的核心，主要是为了实现发明而要采取的技术方案的一切技术特征。如果是产品发明，应该描述该产品的构成及各部分之间的关系，请明确给出各部分的名称，详细描述各部分都起什么作用；同时必须明确指出其中属于发明点的部分是哪些。如果是方法发明，应该表明该方法由几个步骤构成，每个步骤要求什么条件，各步骤之间是什么关系，各起什么作用等。一般应以同领域技术人员看到该方案后能够理解，并能实施为准。同时也必须明确指出其中属于发明点的部分或步骤是哪些。</p>
    <p>如果方案比较复杂，发明点比较多时，请专门将发明点按重要顺序，单独排序列出。</p>
    <h2>六、有益效果</h2>
    <p>发明创造的技术方案对背景技术而言所具有的优点和效果。</p>
    <h2>七、附图及附图说明</h2>
    <p>附图是为了更直观地表述发明或实用新型的内容，可根据不同内容采取多种绘图方式，以充分体现发明点之所在。诸如总体构造图、各向视图、剖视图等。</p>
    <h2>八、具体实施方式</h2>
    <p>具体实施方式对于充分公开、理解和再现发明创造，支持和解释权利要求是十分重要的。实施方式的描述应当与解决技术问题所采用的技术方案相一致，对于简单的技术方案，可以只给出一个实施例，对于保护范围较宽的技术方案，应当给出一个以上的实施例，以支持要求保护的范围。</p>
    <p>针对实用新型需要更加注意的是：一定要给出机械制图标准的附图，并且需要给出产品各部分的名称和结构以及连接关系的描述等基本资料。</p>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el: '#app',
        data: {},
        methods: {}
    })
</script>
{/block}