{extend name="public/common"}

{block name="style"}
<title>电话宽带</title>
<link rel="stylesheet" href="/index/css/service/detail.css">

<style>
    .detail{
        font-size: 1.4rem
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="detail">
        <div class="group-tit">
            <h3 class="group-tit-info">服务简介</h3>
        </div>
        <p class="detail-txt">中国电信：主要经营固定电话、移动通信、卫星通信、互联网接入及应用等综合信息服务。客服电话：10000</p>
        <p class="detail-txt">中国铁通：主要经营固定网本地电话业务，固定网国内长途电话业务，固定网国际长途电话业务、IP电话业务、公众电报和用户电报业务。客服电话：10050</p>
        <p class="detail-txt">中国联通：主要经营固定通信业务，国内国际通信设施服务业务、数据通信业务、网络接入业务和各类电信增值业务。客服电话：10010</p>
    </div>
    <div class="card">
        <div class="card-cell">
            <label for="name">办公地点</label>
            <input type="text" placeholder="请输入办公地点" v-model="defaultData.address">
        </div>
        <div class="card-cell">
            <span>办理业务</span>
            <span @click="checkService" >
                <span :class="[!defaultData.serviceType ? 'select-color' : '', '']">{{serviceStatus}}</span> <i class="allow-right"></i>
            </span>

            <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelService">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectService">确定</span>
                </div>
                <mt-picker :slots="slots" @change="onServiceChange" ></mt-picker>
            </mt-popup>
        </div>
        <div class="card-cell">
            <span>办理时长</span>
            <span @click="checkTime" >
                <span :class="[!defaultData.timeType ? 'select-color' : '', '']">{{timeStatus}}</span> <i class="allow-right"></i>
            </span>

            <mt-popup  position="bottom"  v-model="timePopupVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelTime">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectTime">确定</span>
                </div>
                <mt-picker :slots="timeSlots" @change="onTimeChange" ></mt-picker>
            </mt-popup>
        </div>
        <div class="table-view-cell"><button class="btn btn-block btn-primary reservation-btn" @click="bgShow">预约服务</button></div>
    </div>
    <div class="layer" v-show="isShow">
        <div class="form-group">
            <div class="group-tit">
                <h3 class="group-tit-info">预约信息填写</h3>
            </div>
            <div class="group-cell table-view-cell">
                <label for="company">公司名称</label><input type="text" v-model="subData.company" id="company" placeholder="请填写" maxlength="15">
            </div>
            <div class="group-cell table-view-cell">
                <label for="name">联系人员</label><input type="text" v-model="subData.name" id="name" placeholder="请填写">
            </div>
            <div class="group-cell table-view-cell">
                <label for="mobile">联系方式</label><input type="number" v-model="subData.mobile" id="mobile" placeholder="请填写" minlength="7">
            </div>
            <div>
                <span class="group-area-tit">备注信息</span>
                <textarea  id="" cols="30" rows="10" v-model="subData.remark" class="group-area" maxlength="200"></textarea>
            </div>
            <div class="table-view-cell group-cell btn-box">
                <button class="group-btn btn-warning btn" @click="bgClose">取消提交</button>
                <button class="group-btn btn-primary btn" @click="subBtn">确定提交</button>
            </div>
        </div>
    </div>
    <div class="model-bg" @click="bgClose" v-show="isShow"></div>

</div>
{/block}

{block name="script"}
<script>
    var defaultData = {
        serviceType:0,
        timeType:0,
        address:''
    };
var app = new Vue({
    el:'#app',

    data:{
        subData:{
            remark:'',
            mobile:'',
            name:'',
            company:''
        },
        isShow:false,
        defaultData:{
            serviceType:0,
            timeType:0,
            address:''
        },
        popupVisible: false,
        timePopupVisible: false,
        servicePicker:'',
        serviceTxt:'',
        timePicker:'',
        timeTxt:'',
        isSubmit:true,
        slots: [
            {
                values: ['电信业务','铁通业务','联通业务']
            }
        ],
        timeSlots: [
            {
                values: ['3个月','6个月','12个月']
            }
        ],
    },
    computed:{
        serviceStatus:function () {
            var text = "";
            if(!this.defaultData.serviceType){
                text = "请选择"
            }else {
                switch (this.defaultData.serviceType){
                    case 1:
                        text = "电信业务";
                        break;
                    case 2:
                        text = "铁通业务";
                        break;
                    case 3:
                        text = "联通业务";
                        break;
                }
            }
            console.log(this.defaultData.serviceType)
            return text;
        },
        timeStatus:function () {
            var text = "";
            if(!this.defaultData.timeType){
                text = "请选择"
            }else {
                switch (this.defaultData.timeType){
                    case 1:
                        text = "3个月";
                        break;
                    case 2:
                        text = "6个月";
                        break;
                    case 3:
                        text = "12个月";
                        break;
                }
            }
            console.log(this.defaultData.timeType)
            return text;
        }
    },
    methods:{
        checkService: function () {
            this.popupVisible = true;
            if(!this.defaultData.serviceType){
                this.servicePicker.setSlotValue(0, '电信业务');
            }
        },
        checkTime: function () {
            this.timePopupVisible = true;
            if(!this.defaultData.timeType){
                this.timePicker.setSlotValue(0, '3个月');
            }
        },
        onServiceChange: function (picker,values) {
            this.servicePicker =  picker;
            if(values[0]){
                this.serviceTxt = values[0];
            }
        },
        onTimeChange: function (picker,values) {
            this.timePicker =  picker;
            if(values[0]){
                this.timeTxt = values[0];
            }
        },
        cancelService: function () {
            this.popupVisible = false;
        },
        cancelTime: function () {
            this.timePopupVisible = false;
        },
        selectService: function () {
            this.popupVisible = false;
            console.log(this.serviceTxt);
            switch (this.serviceTxt){
                case "电信业务":
                    this.defaultData.serviceType = 1;
                    break;
                case "铁通业务":
                    this.defaultData.serviceType = 2;
                    break;
                case "联通业务":
                    this.defaultData.serviceType = 3;
                    break;
            }
        },
        selectTime: function () {
            this.timePopupVisible = false;
            console.log(this.timeTxt);
            switch (this.timeTxt){
                case "3个月":
                    this.defaultData.timeType = 1;
                    break;
                case "6个月":
                    this.defaultData.timeType = 2;
                    break;
                case "12个月":
                    this.defaultData.timeType = 3;
                    break;
            }
        },
        bgShow:function () {
            this.isShow = true;
        },
        bgClose:function () {
            this.isShow = false;
        },
        subBtn:function () {
            var _this = this;
            console.log(_this.subData);
            if(!_this.defaultData.address){
                _this.$toast('请填写办公地点');
                return;
            }
            if(!_this.defaultData.serviceType){
                _this.$toast('请选择办理服务');
                return;
            }
            if(!_this.subData.timeType){
                _this.$toast('请选择办理时长');
                return;
            }
            if(!_this.subData.name){
                _this.$toast('请填写联系人员');
                return;
            }
            if(!_this.subData.mobile){
                _this.$toast('请填写联系方式');
                return;
            }
            if(!_this.isSubmit){
                return;
            }
            _this.isSubmit = false;
            var subData = JSON.parse(JSON.stringify(_this.subData));
            //return;
            this.$http.post('order',subData).then(function (res) {
                console.log(res);
                _this.isSubmit = true;
                var resData = res.data;
                if(resData.code == 1){
                    swal({
                        title:"预约成功!",
                        text:'工作人员将会在2小时内联系您，洽谈具体事宜，请您耐心等待',
                        type:"success"
                    },function (e) {
                        if(e){
                            _this.isShow = false;
                        }
                    });
                }else{
                    swal({
                        title:"",
                        text:'预约失败!',
                        type:"error",
                        confirmButtonText: "重新预约"
                    },function (e) {
                        if(e){
                            _this.isShow = false;
                        }
                    });
                }
            },function (res) {
                _this.isSubmit = true;
            })
        }
    }
})
</script>
{/block}