{extend name="public/common"}

{block name="style"}
<title>饮水服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">饮水服务</div>
        <div class="card-cell">
            <label for="add">送水地点</label>
            <input type="text" placeholder="请输入送水地点" id="add" v-model="defaultData.address">
        </div>
        <div class="card-cell">
            <label for="num">送水桶数</label>
            <input type="number" placeholder="请输入送水桶数" id="num" v-model="defaultData.number">
        </div>
        <div class="card-cell">
            <label for="name">联系人员</label>
            <input type="text" placeholder="请输入联系人员" id="name" v-model="defaultData.name">
        </div>
        <div class="card-cell">
            <label for="tel">联系电话</label>
            <input type="text" placeholder="请输入联系电话" id="tel" v-model="defaultData.mobile">
        </div>
    </div>
    <div class="card-more">
        <button class="btn btn-warning btn-warning-outlined btn-sm" @click="goHistory"><i class="icon icon-record"></i>送水记录</button>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="orderBtn">确定预约</button>
    </div>
</div>
{/block}
{block name="script"}
<script>
    console.log(JSON.parse('{$info}'));
    var vm = new Vue({
        el:"#app",
        data:{
            defaultData:{
                address:'',
                number:'',
                appid:JSON.parse('{$info}').app_id,
                name:JSON.parse('{$info}').name,
                mobile:JSON.parse('{$info}').mobile
            },
            isSubmit:true,
        },
        methods: {
            goHistory(){
                window.location.href='/index/service/history/id/'+this.defaultData.appid;
            },
            orderBtn: function () {
                var _this = this;
                if(!_this.defaultData.address){
                    _this.$toast('请输入送水地点');
                    return;
                }
                if(!_this.defaultData.number){
                    _this.$toast('请输入正确的送水桶数');
                    return;
                }
                if(!_this.defaultData.name){
                    _this.$toast('请输入联系人员');
                    return;
                }
                if(!_this.defaultData.mobile){
                    _this.$toast('请输入联系电话');
                    return;
                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var defaultData =  _this.defaultData;
                var data = defaultData;
                console.log(data);
                this.$http.post("/index/service/waterService",data).then(function (res) {
                    _this.isSubmit = true;
                    var resData = res.data;
                    console.log(resData)
                    if(resData.code == 1){
                        swal({
                            title:"预约成功!",
                            text:'工作人员将在2小时内上门送水，请您耐心等待',
                            type:"success"
                        },function (e) {
                            window.history.back();
                        });
                    }else{
                        swal({
                            title:"",
                            text:'预约失败!',
                            type:"error",
                            confirmButtonText: "重新预约"
                        },function (e) {
                            if(e){
                                _this.isShow = false;
                            }
                        });
                    }
                },function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                })
            }
        }
    })
</script>
{/block}