{extend name="public/common"}

{block name="style"}
<title>饮水服务</title>
<link rel="stylesheet" href="/index/css/service/detail.css">
<style>
    body{
        background-color: #f0eff5;
    }
    .font-gray{
        color: #999;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="card">
        <div class="card-tit">饮水服务</div>
        <div class="card-cell">
            <label >送水地点</label>
            <div class="cell-address" @click="checkAddress">
                <span class="address-input-box"><span  v-html="addressOne" class="input"></span></span>
                <span>幢</span>
                <span class="address-input-box"><span  v-html="addressTwo" class="input"></span></span>
            </div>
            <mt-popup  position="bottom"  v-model="addressVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelAddress">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectAddress">确定</span>
                </div>
                <mt-picker :slots="addressList" @change="onAddressChange" value-key="name" ></mt-picker>
            </mt-popup>
        </div>
        <div class="card-cell" v-if="info.park_id==80">
            <label >送水种类</label>
            <div class="cell-address" @click="toggleWater(false)">
                <span :class="{'font-gray':!checkedWater}">{{checkedWater?checkedWater:'请选择送水种类'}}</span>
            </div>
            <mt-popup  position="bottom"  v-model="waterVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="toggleWater(false)">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="toggleWater(true)">确定</span>
                </div>
                <mt-picker :slots="waterList" @change="onWaterChange"></mt-picker>
            </mt-popup>
        </div>
        <div class="card-cell">
            <label for="num">送水桶数</label>
            <input type="tel" placeholder="请输入送水桶数" id="num" v-model="defaultData.number" min="1" max="99" maxlength="2">
        </div>
        <div class="card-cell">
            <span>金<b style="padding: 0 1em;"></b>额</span>
            <span>{{waterPrice*defaultData.number}}</span>
        </div>
        <div class="card-cell">
            <label for="name">联系人员</label>
            <input type="text" placeholder="请输入联系人员" id="name" v-model="defaultData.name">
        </div>
        <div class="card-cell">
            <label for="tel">联系电话</label>
            <input type="text" placeholder="请输入联系电话" id="tel" v-model="defaultData.mobile">
        </div>
    </div>
    <div class="card-more">
        <button class="btn btn-warning btn-warning-outlined btn-sm" @click="goHistory"><i class="icon icon-record"></i>送水记录</button>
    </div>
    <div class="card-btn-box payment-btn">
        <button class="btn btn-block btn-warning" @click="orderBtn">确定预约</button>
    </div>
</div>
{/block}
{block name="script"}
<script>
    //console.log(JSON.parse('{$info}'));
    var floorlist = {$floorlist},
         waterType ={$watertype};
    for(var i=0,wType=[];i<waterType.length;i++){
        wType[waterType[i].water_name+"("+waterType[i].format+")"]={id:waterType[i].id,price:waterType[i].price}
    }
    var vm = new Vue({
        el:"#app",
        data:{
            info:{$info},
            //饮水
            waterType:wType,
            checkWater:'',
            checkedWater:'',
            waterVisible:false,
            waterPicker:'',
            waterList:[
                {
                    defaultIndex:1,
                    values:Object.keys(wType)
                }
            ],
            waterPrice:0,
            //地址
            addressOne:'',
            addressTwo:'',
            addressName:{
                house:'',
                room:'',
            },
            addressVisible:false,
            addressPicker:'',
            addressList:[
                {
                    defaultIndex:1,
                    values: Object.keys(floorlist)
                },
                {
                    defaultIndex:1,
                    values: Object.values(floorlist)[0]
                },
                {
                    defaultIndex:1,
                    values:[]
                }
            ],
            floorList:floorlist,
            defaultData:{
                address:'',
                number:'',
                water_id:1,
                appid:JSON.parse('{$info}').app_id,
                name:JSON.parse('{$info}').name,
                mobile:JSON.parse('{$info}').mobile
            },
            isSubmit:true
        },
        created(){
            var _this=this;
            _this.addressOne=_this.info.build_block?_this.info.build_block:'';
            _this.addressTwo=_this.info.office?_this.info.office:'';
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.addressList[0].defaultIndex = 0;
                    _this.waterList[0].defaultIndex = 0;
                }, 100);
            });
        },
        methods: {
            goHistory(){
                window.location.href='/index/service/history/id/'+this.defaultData.appid;
            },
            checkAddress:function () {
                var _this = this;
                _this.addressVisible = true;
            },
            toggleWater:function (change) {
                var _this = this;
                _this.waterVisible = !_this.waterVisible;
                if(change){
                    _this.checkedWater=_this.checkWater;
                    _this.defaultData.water_id=wType[_this.checkWater].id;
                    _this.waterPrice=wType[_this.checkWater].price;
                }
            },
            onAddressChange:function (pick,values) {
                var _this = this;
                _this.addressPicker =  pick;
                if(values[0]){
                    pick.setSlotValues(1,Object.values(_this.floorList[values[0]]));
                    if(values[1]){
                        pick.setSlotValues(2,values[1][values[1][pick.valueKey]]);
                        _this.addressName = {
                            house:values[0].substring(0,values[0].length - 1),
                            room:values[2]
                        }
                    }
                }
            },
            onWaterChange:function (pick,values) {
                var _this = this;
                _this.waterPicker =  pick;
                if(values[0]){
                    _this.checkWater=values[0]
                }
            },
            cancelAddress:function () {
                this.addressVisible = false;
            },
            selectAddress:function () {
                var _this = this;
                _this.addressVisible = false;
                _this.addressOne = _this.addressName.house;
                _this.addressTwo = _this.addressName.room;
            },
            orderBtn: function () {
                var _this = this;
                _this.defaultData.address = _this.addressOne + _this.addressTwo;
                if(!_this.defaultData.address){
                    _this.$toast('请输入送水地点');
                    return;
                }else if(!_this.addressOne || !_this.addressTwo ){
                    _this.$toast('请输入正确送水地点');
                    return;
                }
                if(_this.defaultData.water_id==1 && _this.info.park_id==80){
                    _this.$toast('请选择送水种类');
                    return;
                }
                _this.defaultData.address = _this.addressOne +"幢"+ _this.addressTwo;
                if(!_this.defaultData.number){
                    _this.$toast('请输入正确的送水桶数');
                    return;
                }
                if(!_this.defaultData.name){
                    _this.$toast('请输入联系人员');
                    return;
                }
                if(!_this.defaultData.mobile){
                    _this.$toast('请输入联系电话');
                    return;
                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var defaultData =  _this.defaultData;
                var data = defaultData;
                console.log(data);
                this.$http.post("/index/service/waterService",data).then(function (res) {
                    _this.isSubmit = true;
                    var resData = res.data;
                    console.log(resData);
                    if(resData.code == 1){
                        swal({
                            title:"预约成功!",
                            text:'工作人员将在2小时内上门送水，请您耐心等待',
                            type:"success"
                        },function (e) {
                            window.history.back();
                        });
                    }else{
                        swal({
                            title:"",
                            text:'预约失败!',
                            type:"error",
                            confirmButtonText: "重新预约"
                        },function (e) {
                            if(e){
                                _this.isShow = false;
                            }
                        });
                    }
                },function (res) {
                    _this.isSubmit = true;
                    console.log(res.data);
                })
            }
        }
    })
</script>
{/block}