body{padding-bottom:1rem;background-color:#f0eff5}
#app:before{display:table;height:0;content:''}
.upload-img img{max-width:100%;max-height:100%}
.modal-box{position:fixed;top:0;left:0;z-index:9;display:none;width:100%;height:100vh;background:rgba(0,0,0,.4)}
.modal-box.show{display:block!important}
.modal-box .modal{position:relative;margin:20vh auto 0;padding:10px 0;width:calc(100% - 36px);border-radius:10px;background:#fff}
.modal>p{text-align:center;font-size:17px;line-height:40px}
.name-mobile,.remark{padding:5px 18px}
.name-mobile ul li{display:flex;overflow:hidden;border-bottom:1px solid #f1f1f1;line-height:40px;justify-content:space-between}
.name-mobile span{display:inline-block;color:#333;font-size:1.5rem}
.name-mobile span:first-child{float:left;width:62px}
.name-mobile input{text-align:right;font-size:1.5rem}
.remark p{font-size:15px}
.remark textarea{margin:10px 7px;padding:5px 10px;width:calc(100% - 14px);height:18vh;border:1px solid #e5e5e5;border-radius:5px}
.my-cancel{position:absolute;top:-50px;right:0}
.my-cancel>span:first-child{display:inline-block;display:-webkit-flex;width:28px;height:28px;border:1px solid #fff;border-radius:15px;-webkit-align-items:center;-webkit-justify-content:center}
.my-cancel i::before{width:20px;height:20px;color:#fff}
.my-cancel>span:last-child{position:relative;left:50%;display:inline-block;width:0;height:22px;border-right:1px solid #fff}
.rent-btn-box{padding:3.5rem 4.8vw;width:100%}
.btn{height:5rem}
.btn-box{padding:4vw 4.8vw;width:100%}
.btn{height:10.67vw;border:none;border-radius:5px;color:#fff;text-align:center;font-size:1.5rem}
.btn-block{width:100%}
.btn-green{background-color:#fcc44b;color:#fff;font-size:1.5rem}
.table-view-cell.group-cell{border-bottom:none}
.btn-primary{background-color:#7DB8F2}
.card{padding-bottom:1rem}
.card .remark{padding:10px 0 5px}
.card .remark>div.no_msg{color:#e5e5e5}
.card .remark>div{margin:10px 7px;padding:5px 10px;width:calc(100% - 14px);min-height:18vh;border:1px solid #e5e5e5;border-radius:5px;font-size: 1.4rem}
.group-cell.btn-box{margin:0}
.card-cell a{color:#333}
.card-cell>span:last-child{
    font-size: 1.4rem;
}
.my-line{
    width:100vw;
    height:0;
    border-top: 1px dashed #f1f1f1;
    position: absolute;
    top:44px;
    left:0;
}


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;opacity:1;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color: #000;opacity:1;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #999;opacity:1;
}
.table-row-box{
    padding:0 4vw;
    background-color: #fff;
    font-size: 1.4rem;
}
.icon-remarks{
    display: block;
    margin-left: 0.6rem;
    height: 15px;
    width:15px;
    background: url("/index/images/service/patent/icon-remarks.png") no-repeat center;
    background-size: 15px 15px;
}
.table-title{
    padding:1rem 4vw;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #999;
    font-size: 1.4rem;
}
.table-row{
    padding:1.5rem 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.table-row>span:last-child{
    font-size: 1.4rem;
    max-width:70vw;
}
.table-row:not(:last-child){
    border-bottom: 1px solid #f1f1f1;
}
.table-row-select{
    position: relative;
    padding-right: 15px;
}
.table-row-select:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-font-smoothing: antialiased;
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color: #999;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    margin-top:-2px;
}
.table-row-input{
    font-size: 1.4rem;
    text-align: right;
}
.table-row-block{
    background-color: #fff;
}
.table-row-header{
    font-size: 1.5rem;
}
.table-row-block-header{
    font-size: 1.5rem;
    padding:1.5rem 0;
}
.table-row-block>.textarea-box{
    box-sizing: border-box;
    width:100%;
    height:10rem;
    font-size: 1.4rem;
    border:1px solid #f1f1f1;
    padding: 7px 9px;
    overflow: scroll ;
    color: #333;
}
.table-row-block>textarea{box-sizing:border-box;width:100%;height:10rem;font-size:1.4rem;border:1px solid #f1f1f1;padding:7px 9px}

.table-row-block>.textarea-box>div{
    width:100%;
    height:auto;
}
.consult-back-img>img{
    max-width: 100%;
    margin: 12px 0;
}
.table-card-upload{
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:0 0 2rem 0;
}
.table-card-upload>div:not(:nth-child(3n+0)){margin-right: 2.05vw;}
.upload-box,.upload-img{margin-bottom:2vw}
.upload-box,.upload-img,.upload-img img{border-radius: 1.3333333vw;overflow: hidden;}
.upload-img,.upload-box{
    margin-bottom: 2vw;
}
#app .card-btn-box{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
}

/*modal框*/
.modal-box{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}
.modal-box .modal{
    width: calc(100% - 36px);
    margin: 15vh auto 0;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}
.name-mobile {
    padding: 5px 18px;
}
.modal>p{
    line-height: 40px;
    font-size: 17px;
    text-align: center;
}
.name-mobile ul li{
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.name-mobile ul li.column{
    flex-direction: column;
}
.name-mobile span{
    display: inline-block;
    font-size: 1.5rem;
    color: #333;
}
.name-mobile span:first-child{
    float: left;
}
.name-mobile input{
    text-align: right;
    font-size: 1.5rem;
}
.modal-textarea{
    border: 1px solid #f1f1f1;
    height: 18vh;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.modal-btn-box{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding:4vw 4.8vw;
}
.cancel{
    position: absolute;
    top: -50px;
    right: 0;
}
.cancel>span:first-child{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid #fff;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.cancel i::before{
    width: 20px;
    height: 20px;
    color: #fff;
}
.cancel>span:last-child{
    display: inline-block;
    width: 0;
    border-right: 1px solid #fff;
    position: relative;
    left: 50%;
}
.icon-required{
    display: inline-block;
    color: red;
    font-style: normal;
    position: absolute;
    left: -10px;
    top: 0;
}
