<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{extend name="base/common"}

{block name="style"}
<style>


</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">

            <h2> 专利申请(未审核数量：{$count})</h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <input class="i-checks check-all" type="checkbox">
                <button class="btn btn-white btn-sm m-l ajax-post" url="{:Url('del')}"
                        data-original-title="移动到回收站"
                        data-toggle="tooltip" data-placement="top" target-form="ids"><i class="fa fa-trash-o"></i>
                </button>
                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">

                <thead>
                <tr>
                    <th></th>
                    <th>类型</th>
                    <th>发明名称</th>
                    <th>发明人</th>
                    <th>提交人</th>
                    <th>联系人</th>
                    <th>联系方式</th>
                    <th>创建时间</th>
                    <th>审核时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td class="check-mail">
                        <input type="checkbox" class="i-checks ids" name="ids[]" value="{$vo.id}">
                    </td>
                    <td>{$vo.type_text}</td>
                    <td>{$vo.patent_name}</td>
                    <td>{$vo.inventor}</td>
                    <td>{$vo.applicant}</td>
                    <td>{$vo.contact}</td>
                    <td>{$vo.contact_number}</td>
                    <td>
                        {empty name="$vo.create_time" }空
                        {else／}{$vo.create_time|date='Y-m-d H:i',###}
                        {/empty}
                    </td>

                    <td>{empty name="$vo.end_time" }空
                        {else／}{$vo.end_time|date='Y-m-d H:i',###}
                        {/empty}
                    </td>
                    {eq name="$vo.status" value="0"}
                    <td >未审核</td>
                    {/eq}
                    {eq name="$vo.status" value="1"}
                   <td class="txt-success">审核成功</td>
                    {/eq}
                    {eq name="$vo.status" value="2"}

                    <td class="txt-danger">审核失败</td>
                    {/eq}
                    <td>
                        <a  href="{:Url('show','id='.$vo.id  )}" class="btn-sm btn-primary" >查看详情</a>

                        {eq name="$vo.status" value="1"}
                        <a class="btn-sm btn-success"    href="{:Url('out','id='.$vo.id)}"  >导出</a>
                        {/eq}
                        {neq name="$vo.status" value="1"}
                        <a class="btn-default2">导出</a>
                        {/neq}
                        <a class=" btn-sm btn-warning" onclick="delItem('{$vo.id}','{:Url("del")}')">删除</a>



                    </td>
                    <!--<td><button class="btn btn-sm btn-primary ">&nbsp;&nbsp;√ &nbsp;&nbsp;</button></td>-->

                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="btn-group pull-right">{$list->render()}</div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged", function () {
            $("tbody").find(".ids").iCheck("toggle");
        });

        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);
        })
    });
    function remark(a) {

        var name = $(a).attr('data-name');
        $("input[name='id']").val($(a).attr('data-id'));
    }



    function  out(id){
        $.ajax({
            data: {id:id},
            type: "POST",
            url: "{:Url('Patent/out')}",
            success: function (data) {
                if (data.code == 1) {
                    updateAlert(data.msg + ' 页面即将自动跳转~', 'success');
                   console.log(data);
                    //window.location.href="/static/template/企业专利申请基本信息确认表.docx";
                   /* setTimeout(function () {
                        location.href = data.url;
                    }, 3000);*/
                } else {
                    updateAlert(data.msg, 'error');
                }
            }
        });
    }

</script>
{/block}