<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{extend name="base/common"}

{block name="style"}
<link href="/static/summernote/summernote.css" rel="stylesheet">
<link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="/static/js/jQuery-imgBox/imgbox.css" rel="stylesheet"/>
<!--图片点击放大的css-->
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<style>

    .btn-primary {
        font-size: 16px;
    }

    .mail-box .mail-ontact {
        width: 150px;
        min-width: 150px;
        overflow: hidden;
    }

    .mail-box .mail-subject {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 124px !important;
        min-width: 124px;
    }

    .mail-subject-div {
        width: 100px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-box .mail-main {
        width: calc(100% - 460px);
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mail-date {
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }

    @media only screen and (max-width: 550px) {
        .mail-date {
            display: none;
        }
    }

    .list_banner {
        width: 80px
    }

    .list_type {
        width: 80px
    }


</style>
{/block}

{block name="page-header"}

{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="mail-box-header">

            <h2>专利申请</h2>
            <div class="mail-tools tooltip-demo m-t-md">


                <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye" style="margin-left: 3px"></i> </button>-->
            </div>
        </div>
        <div class="mail-box">


            <form id="form" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>申请信息:</label>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>专利名称:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" readonly="readonly" placeholder="联系人" class="form-control form_title"
                               name="name" value="{$info.patent_name}">

                    </div>

                    <div class="col-lg-1 text-right control-label">
                        <label> 专利类型:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" readonly=ture class="form-control form_title" name="mobile"
                               value="{$info.type_text}">
                    </div>


                </div>


                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>发明人:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" readonly=ture class="form-control form_title" name="type"
                               value="{$info.inventor}">
                    </div>


                    <div class="col-lg-1 text-right control-label">
                        <label>申请人:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" readonly=ture class="form-control form_title" name="type"
                               value="{$info.applicant}">
                    </div>


                    <div class="col-lg-1 text-right control-label">
                        <label>联系人:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" readonly=ture class="form-control form_title" name="type"
                               value="{$info.contact}">
                    </div>


                </div>

                <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>查询日期:</label>
                    </div>
                    <div class="col-lg-2">
                        <input readonly=ture type="text" class="form-control form_title"
                               value="{$info.create_time|date='Y-m-d H:i',###}">
                    </div>


                    <div class="col-lg-1 text-right control-label">
                        <label>审核日期:</label>
                    </div>
                    <div class="col-lg-2">

                        {if condition='$info.end_time !=null'}
                        <input readonly=ture type="text" class="form-control form_title"
                               value="{$info.end_time|date='Y-m-d H:i',###}">
                        {else/} <input readonly=ture type="text" class="form-control form_title" value="空">{/if}

                    </div>

                    <div class="col-lg-1 text-right control-label">
                        <label>状态:</label>
                    </div>
                    <div class="col-lg-2">
                        <input readonly=ture type="text" class="form-control form_title" value="{$info.status_text}">
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>联系方式:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" readonly=ture class="form-control form_title" name="type"
                               value="{$info.contact_number}">
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>联系地址:</label>
                    </div>
                    <div class="col-lg-3">
                        <textarea readonly=ture type="text" class="form-control form_title"
                        >{$info.contact_address}</textarea>
                    </div>

                </div>


                <br>
                <br>
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>身份证图片:</label>

                    </div>
                    <br>
                    {notempty name="$info.id_card" }
                    <div class="col-lg-5">
                        <div class="imggroup">
                            {volist name="$info.id_card" id="vo"}

                            <img width="200px" height="200px" src="{$vo}" class="img" alt="">
                            {/volist}
                        </div>
                    </div>
                    {/notempty}
                </div>
                <br>
                <br>

                {if condition="$info.type eq 3"}
                <div class="form-group">

                    <div class="col-lg-1 text-right control-label">
                        <label>简要说明:</label>
                    </div>
                    <div class="col-lg-3">
                        <textarea readonly=ture type="text" class="form-control form_title"
                        >{$info.explanation}</textarea>
                    </div>


                </div>


                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>产品图片:</label>

                    </div>
                    <br>
                    {notempty name="$info.product_img" }

                    <div class="imggroup">
                        {volist name="$info.product_img" id="vo" key='k'}
                        <div class="col-lg-3">
                            <img width="200px" height="200px" src="{$vo}" class="img" alt="">
                            ({$info.img_text[$k-1]})
                        </div>
                        {/volist}
                    </div>

                    {/notempty}

                </div>
                {/if}


                {eq name="$info.status" value="2"}
                <div class="form-group">
                    <div class="col-lg-1 text-right control-label">
                        <label>回复:</label>

                    </div>
                    <br>
                    <textarea readonly=ture class="form-control form_title" name="reply">{$info.reply}</textarea>
                </div>
                {/eq}


                <br><br>


                {if condition="$info.status eq 0"}
                <div class="form-group">
                    <div class="col-lg-11 col-lg-offset-1 text-left">
                        <a data-toggle="modal" title="修改" href="#modal-form"  data-id="{$info.id}"
                           class="btn-sm btn-primary" style="color:#fff">审核</a>
                    </div>
                </div>
                {/if}

                <input type="hidden" name="id" value="{$info.id}">

            </form>


        </div>
    </div>
</div>


<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="{:Url('patent/check')}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center" name="dialog-title">审核</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group"><label class="col-sm-2 control-label">回复内容</label>
                        <div class="col-sm-10"><textarea name="reply" class="form-control"
                                                         placeholder="审核不通过必填"></textarea></div>
                    </div>

                    <input type="hidden" name="id">
                    <!-- 富文本框<div class="mail-text h-200">
                         <div class="summernote"></div>
                         <div class="clearfix"></div>
                     </div>-->
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary " onclick="check(1)">通过</a>
                    <a class="btn btn-danger " onclick="check(2)">不通过</a>
                    <input type="hidden" name="id" value="">
                </div>
            </form>
        </div>
    </div>
</div>


{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/summernote/summernote.min.js"></script>
<script src="/static/summernote/lang/summernote-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/themes/fa/fa.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
<!--<script src="/static/js/jQuery-imgBox/jquery.imgbox.js"></script>-->
<!--图片点击放大的js-->
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script src="/static/viewer/viewer.min.js"></script>
<script>
    highlight_subnav("{:Url('patent/index')}");


    //    $('.mail-box').eq(0).viewer({
    //        url: 'src'
    //    })
    //    $('.imggroup').eq(1).viewer({
    //        url: 'src'
    //    })
    var viewer = new Viewer(document.getElementsByClassName('mail-box')[0]);
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $(".check-all").on("ifChanged", function () {
            $("tbody").find(".ids").iCheck("toggle");
        });
        //绑定模态框展示的方法
        $("#remark-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button);
            var recipient = button.data('text');
            var modal = $(this);
            modal.find('.modal-body').html(recipient);
        })
    });

    function check(type) {
        var reply = $("textarea[name='reply']").val();
        var id = $("input[name='id']").val();
        $.ajax({
            data: {id: id, reply: reply, type: type},
            type: "POST",
            url: "{:Url('Patent/show')}",
            success: function (data) {
                if (data.code == 1) {
                    updateAlert(data.msg + ' 页面即将自动跳转~', 'success');
                    setTimeout(function () {
                        location.href = data.url;
                    }, 2000);
                } else {
                    updateAlert(data.msg, 'info');
                }
            }
        });
    }


</script>
{/block}