{extend name="public/common"}

{block name="style"}
<title>积分商城</title>
<link rel="stylesheet" href="/index/css/exchange/index.css">
<style>

</style>
{/block}

{block name="body"}
<div id="app">
    <div class="banner">
        <a href="/index/exchange/rule" class="icon-remarks">积分规则</a>
        <div class="banner-title">我的积分</div>
        <h2>{{baseData.score}}</h2>
        <div class="record" @click="jumpTo(2)"> <span class="icon-record"></span>兑换记录</div>
    </div>
    <div class="goods-box">
        <ul class="goods-list">
            <li  v-for="product in baseData.product" @click="jumpTo(1,product.id)">
                <div class="goods-list-left">
                    <img :src="product.front_cover" class="goods-ticket" alt="">
                    <div class="goods-rest">
                        <b>{{product.title}}</b>
                        <span class="">剩余{{product.left}}份</span>
                    </div>
                </div>
                <div class="goods-score"><span>{{product.price}}积分</span><i class="icon-arr-right"></i></div>
            </li>
        </ul>
    </div>
    <!--<div class="new_lists"  id="pullrefresh" v-if="true">-->
        <!--<div class="new_list" v-for="product in baseData.product" @click="jumpTo(1,product.id)">-->
            <!--<div class="box">-->
                <!--<span class="nomore" v-if="product.left==0"></span>-->
                <!--<div class="new_img" :style="{'background': 'url('+product.front_cover+') 50% 50% no-repeat','background-size': 'cover'}"></div>-->
                <!--<div class="new_title">{{product.title}}</div>-->
                <!--<div class="new_msg">-->
                    <!--<span class="new_over">剩余{{product.left}}</span>-->
                    <!--<span class="new_score has" :class="{hasnot:(product.left==0)}">{{product.price}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
{/block}

{block name="script"}
<script>
    var info= {$score};
    console.log(info)
    var app = new Vue({
        el: '#app',
        data: {
            baseData:{$score}
        },
        methods: {
            jumpTo(urlID,id){
                if(urlID===1){
                    window.location.href="/index/exchange/productinfo/product_id/" + id
                }else{
                    window.location.href="/index/exchange/record/"
                }
            }
        }
    })
</script>
{/block}