{extend name="public/common"}

{block name="style"}
<title>积分商城</title>
<link rel="stylesheet" href="/index/css/exchange/index.css">
<style>
    .icon-remarks{
        position: absolute;
        right:12px;top:13px;display:block;height:15px;width:15px;
        border:2px solid #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 15px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        /*background:url(/index/images/service/patent/icon-remarks.png) no-repeat center;background-size:15px 15px*/
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="banner">
        <!--<div class="score">-->
            <!--<span>{{baseData.score}}</span>-->
        <!--</div>-->
        <!--<div class="record" @click="jumpTo(2)">兑换记录</div>-->
        <a href="/index/exchange/rule" class="icon-remarks">!</a>
    </div>
    <ul class="tab">
        <li><span class="score">{{baseData.score}}</span></li>
        <li>
            <div class="record" @click="jumpTo(2)">兑换记录</div>
        </li>
    </ul>
    <!--<div class="title">-->
        <!--<span class="title_icon_fire">新品上市</span>-->
    <!--</div>-->
    <div class="new_lists"  id="pullrefresh">
        <div class="new_list" v-for="product in baseData.product" @click="jumpTo(1,product.id)">
            <div class="box">
                <span class="nomore" v-if="product.left==0"></span>
                <div class="new_img" :style="{'background': 'url('+product.front_cover+') 50% 50% no-repeat','background-size': 'cover'}"></div>
                <div class="new_title">{{product.title}}</div>
                <div class="new_msg">
                    <span class="new_over">剩余{{product.left}}</span>
                    <span class="new_score has" :class="{hasnot:(product.left==0)}">{{product.price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var info= {$score};
    console.log(info)
    var app = new Vue({
        el: '#app',
        data: {
            baseData:{$score}
        },
        methods: {
            jumpTo(urlID,id){
                if(urlID===1){
                    window.location.href="/index/exchange/productInfo/product_id/" + id
                }else{
                    window.location.href="/index/exchange/record/"
                }
            }
        }
    })
</script>
{/block}