{extend name="public/common"}

{block name="style"}
<title>兑换详情</title>
<style>
    * {
        box-sizing: border-box;
        font-family: 'Microsoft YaHei';
        /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
    }
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, table, th, td, select, option {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .record-info{
        width:  100vw;
        height:115vw;
        margin:0 auto;
        box-sizing: border-box;
        padding:5.3333333vw 4.266666vw;
        background: url('/index/images/exchange/record_info_bg.png') no-repeat;
        background-size: cover;
    }
    .record-info>.record-info-banner{
        width:100%;
        height:39.222222vw;
        box-sizing: border-box;
        padding:5.6vw 0;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    .record-info-banner>h3{
        font-size: 2rem;
        margin:0;
        line-height: 1;
        font-weight: 500;
    }
    .record-info-banner>p{
        font-size: 6rem;
        font-weight: 500;
        color: #FF816E;
        line-height: 1;
    }
    .record-info-detail{
        height:65.111114vw;
        width:100%;
        box-sizing: border-box;
        padding:0 3.2vw 0;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .record-info-detail>li{
        flex:1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .record-info-detail>li:not(:last-child){
        border-bottom: 1px solid #f1f1f1;
    }
    .record-info-detail>li>span{
        width:8rem;
        color: #666;
        font-size: 1.4rem;
    }
    .record-info-detail>li>p{
        color: #333;
        font-size: 1.5rem;
        flex:1;
        text-align: right;
    }
    .record-info-detail>li>p.is_exchanged{
        color: #FF816E;
    }
    .record-info-detail>li>p.is_exchanged_yes{
        color: #999999;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="record-info">
        <div class="record-info-banner">
            <h3>积分兑换码</h3>
            <p>{{baseData.commodity_code}}</p>
        </div>
        <ul class="record-info-detail">
            <li>
                <span>商品名称</span>
                <p>{{baseData.title}}</p>
            </li>
            <li>
                <span>商品数量</span>
                <p>{{baseData.num}}</p>
            </li>
            <li class="">
                <span>花费积分</span>
                <p>{{baseData.content}}积分</p>
            </li>
            <li>
                <span>支付时间</span>
                <p>{{baseData.create_time | timeToString}}</p>
            </li>
            <li>
                <span>当前状态</span>
                <p class="is_exchanged" :class="{'is_exchanged_yes':baseData.status!==0}">{{baseData.status===0?"未兑换":"已核销"}}</p>
            </li>
        </ul>
    </div>
</div>
{/block}

{block name="script"}

<script>
    Vue.filter('timeToString', function(time) {
        if(time){
            if(!isNaN(time)){
                if(String(time).length<13){
                    time = time*1000
                    console.log(time)
                }
                var newTime = new Date(time);
                var m = newTime.getMonth()+1,
                        dt=newTime.getDate(),
                        y=newTime.getFullYear();
                if(dt<10){
                    dt='0'+dt;
                }
                if(m<10){
                    m='0'+m;
                }
                return y+'-'+m+'-'+dt
            }else{
                return time
            }

        }
    });
    var app = new Vue({
        el: '#app',
        data: {
            baseData:{$info}
        },
        methods: {}
    })
</script>
{/block}