{extend name="public/common"}

{block name="style"}
<title>兑换记录</title>
<style>
    ul{
        min-height:4.5rem;padding:1.2rem;border-bottom:1px solid #f1f1f1;display:-webkit-flex;display:flex;justify-content:space-between;align-items: center}
    ul>li{display:-webkit-flex;display:flex;flex-direction:column;justify-content:space-between;color:#333}
    ul>li:first-child{height:100%;font-size:1.4rem;}
    ul>li:last-child{font-size:1.8rem;color:#000}
    .unPay{color:#f97878}
    .auditing{color:#fcc44b}
    .payed{color:#52cc92}
    .no-history{position:absolute;width:100%;height:100%;background-color:#f6f6f6;color:#999;font-size:1.6rem;text-align:center}
    .no-history img{width:95%;margin:40% auto 0}
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="nomessage" v-if="baseData.length===0">
        <img src="/index/images/exchange/23.png" alt="" ><br>
        <span>积分换好礼，期待您的光临!</span>
    </div>
    <ul v-for="item in baseData" @click="jumpTo(info.id)">
        <li>
            <!-- -1为删除 ，0为未缴费，1为审核中，2为审核成功，3为审核失败-->
            <span>{{item.title}}</span>
            <span>{{item.create_time}}</span>
        </li>
        <li>
            <span class="unPay">-{{item.need_score}}</span>
        </li>

    </ul>
</div>
{/block}

{block name="script"}
<script>
    var info={$list};
    console.log(info)
    var app = new Vue({
        el: '#app',
        data: {
            baseData:info,
        },
        methods: {
            jumpTo(id){
                window.location.href="/index/exchange/recordinfo/record_id/"+id
            }
        }
    })
</script>
{/block}