{extend name="public/common"}

{block name="style"}
<style>
    h1{
        text-align: center;
        font-size: 1.7rem;
        color: #333;
        padding: 1.2rem 0;
    }
    ul{
        padding:0 1.2rem;

    }
    ul>li{
        font-size: 1.5rem;
        color: #333;
        line-height: 2;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <h1>积分获取规则</h1>
    <ul>
        <li>1.首次登陆，关注服务号积2分；</li>
        <li>2.每购买1桶矿泉水积1分；</li>
        <li>3.租赁一楼大厅LED显示屏1次积1分；</li>
        <li>4.阅读好文分享文章，点赞积1分；</li>
        <li>5.租赁电动车充电桩（6个月积1分，12个月积2分）；</li>
        <li>6.租赁停车位（6个月积1分，12个月积2分）；</li>
        <li>7.租赁二楼多功能会议室积3分；</li>
    </ul>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el: '#app',
        data: {},
        methods: {}
    })
</script>
{/block}