{extend name="public/common"}
{block name="style"}
<title>我的消息</title>
<link rel="stylesheet" href="/index/css/personal/message.css">
<link rel="stylesheet" href="/index/css/common/tip.css">
<style>
.load-more{
    text-align: center;
    color: #999;
}
    p.no-more{
        color: #999;
        font-size: 1.4rem;
        text-align: center;
        line-height: 80vh;
    }
</style>
{/block}
{block name="body"}
<div id="app">
    <!--<ul class="msg-lists">-->
        <!--<li  class="clear" v-for="item in list">-->
            <!--<div :style="'background-image: url('+item.path+')'" class="msg-img"></div>-->
            <!--<div class="msg-text">-->
                <!--<div class="msg-title"><span class="msg-title-text">标题</span> <span class="fr msg-time">2017-8-29</span> </div>-->
                <!--<div class="msg-info">消息内容（-。。-）</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<a href=""></a>&ndash;&gt;-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="load-more">-->
        <!--<span v-if="documents.length === 0">暂无消息</span>-->
        <!--<mt-spinner :type="2"  v-if="canLoad && loading"></mt-spinner>-->
        <!--<span v-if="!canLoad">没有更多了</span>-->
    <!--</div>-->
    <p class="no-more">
        暂无消息
    </p>
</div>
<!--加载更多-->

{/block}
{block name="script"}
<!--<script src="/index/js/reset.js"></script>-->
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var app=new Vue({
        el:'#app',
        data:{
            list:'{$list}',
            canLoad:true,
            loading:false,
            id:{$id}
        },
        created(){
            if(this.documents.len==0){
                this.canLoad=false
            }
        },
        methods:{
            loadMore(){
                if(!this.loading && this.documents.length>0 && this.canLoad ){
                    this.loading = true;
                    this.$http.post('/index/personal/getMore',{newsId:this.id,length:this.list.length}).then(function (res) {
                        console.log(res.data);
                        if(res.data.code==0){
                            this.canLoad=false
                        }else{
                            for( var i = 0 ;i < res.data.data.length;i++){
                                this.documents.push(res.data.data[i])
                            }
                            if(res.data.data.length<6){
                                this.canLoad = false
                            }
                        }
                        this.loading = false;
                    },function (res) {
                        console.log(res.data);
                        this.loading = false;

                    })
                }
            },
        },
    })
</script>
{/block}