{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/index/css/activity/index.css">
<title>我的活动</title>
<style>
    body{
        background-color: #f5f5f5;
    }
    .content {
        padding-top: 50px;
    }
    .content>img {
        width: 100%;
        margin-top: 5rem;
    }
    .no-message {
        display: block;
        margin: 0 auto;
    }
    .active-item{
        margin-bottom: 0;
        border-bottom: 15px solid #fff;
    }
</style>
{/block}

{block name="body"}
<!-- -1 删除   0.禁用   1 预报名中 2启动.-->
<div id="app">
    <div class="active-item" :style="'background-image: url('+ item.activity.front_cover +')'" @click="jumpTo(item.activity.id)" v-for="item in baseInfo">
        <div class="my-icon-flag my-icon-hot" v-if="state(item.activity.status,item.activity.start_time) == 'hot'" ><span>HOT</span></div>
        <div class="my-icon-fillet" v-if="state(item.activity.status,item.activity.start_time) == 'end'"><span>活动已结束</span></div>
        <div class="my-icon-fillet" v-if="state(item.activity.status,item.activity.start_time) == 'cancel'"><span>活动已取消</span></div>
        <div class="my-icon-flag "  v-if="state(item.activity.status,item.activity.start_time) == 'un'" ><span>预</span></div>
        <div class="active-info">
            <div class="active-title"><span>{{item.activity.name}}</span></div>
            <div class="active-time">开始时间：{{item.activity.start_time | timeToString}}</div>
        </div>
    </div>
    <div v-if="!baseInfo.length" class="content">
        <img src="/index/images/service/card/icon-default.jpg" class="no-message" >
    </div>
</div>
{/block}

{block name="script"}
<script>
    Vue.filter('timeToString', function(time) {
        if(time){
            if(!isNaN(time)){
                if(String(time).length<13){
                    time = time*1000
                }
                var newTime = new Date(time);
                var m = newTime.getMonth()+1,
                        dt=newTime.getDate(),
                        y=newTime.getFullYear();
                if(dt<10){
                    dt='0'+dt;
                }
                if(m<10){
                    m='0'+m;
                }
                return y+'.'+m+'.'+dt
            }else{
                return time
            }

        }
    });
    var app = new Vue({
        el: '#app',
        data: {
            baseInfo:{$list},
            isSubmit:false,
        },
        methods: {
            state(status ,time){
                    if(status == 0){
                        return 'cancel'
                    }else if(time*1000 > Date.parse(new Date())){
                        if(status == 1){
                            return 'un'
                        }else if(status == 2){
                            return 'hot'
                        }
                    }else{
                        return 'end'
                    }
                return false
            },
            jumpTo(id){
                window.location.href = '/index/activity/detail/id/'+id
            }
        }
    })
</script>
{/block}