{extend name="public/common"}

{block name="style"}
<title>我的论坛</title>
<link type="text/css" rel="stylesheet" href="/index/css/card/card.css">
<link type="text/css" rel="stylesheet" href="/index/css/common/tip.css">
<style type="text/css">
    body{
        background: #f6f6f6;
    }
    .header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: #fff;
    }
    .header ul{
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }
    .header ul li{
        width: 50%;
        height: 50px;
        float: left;
        text-align: center;
    }
    .header ul li>span{
        display: inline-block;
        font-size: 15px;
        line-height: 48px;
        padding: 0 10px;
    }
    .header ul li.active>span{
        color: #7DB8F2;
        border-bottom: 2px solid #7DB8F2;
    }

    .body{
        margin-top: 51px;
    }
    .group-list{
        background: #fff;
        padding: 0;
        overflow: hidden;
    }
    .group-list a{
        width: calc(100% - 80px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .swipe-body{
        width: calc(100% + 80px);
        position: relative;
        -webkit-transition:all 0.3s;
        transition:all 0.3s;
    }
    .time-name>img{
        right: 100px !important;
    }
    .post{
        padding: 10px 10px;
        background: #f1f1f1;
        font-size: 14px;
        border-radius: 4px;
        margin-top: 10px;
    }
    .post>div>span:last-child{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
    }
    .main-body{
        width: calc(100% - 110px) !important;
        padding: 15px 15px;
    }
    .delete{
        width: 80px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        background: red;
        color: #fff;
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }
    .swipeleft{
        transform:translateX(-80px);
        -webkit-transform:translateX(-80px);
    }
    .tip{
        color: #999;
    }
    .empty{
        width: 100%;
        margin-top: 30vw;
    }
    .empty>img{
        width: 100%;
    }
    .loading-more{
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        background: #fff;
    }
    .loading-more div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="header">
        <ul>
            <li class="active" @click="choose($event)">
                <span>我的帖子</span>
            </li>
            <li @click="choose($event)">
                <span>我的评论</span>
            </li>
        </ul>
    </div>
    <div class="body" id="body_1"
         v-infinite-scroll="loadMore"
         infinite-scroll-disabled="loading"
         infinite-scroll-distance="40">
        <div class="group-list" v-for="list in cards">
            <div class="swipe-body" v-leftslide>
                <div class="main-body">
                    <div class="list-head">
                        <img :src="list.header" />
                        <div class="time-name">
                            <p>{{list.name}}</p>
                            <p>{{list.create_time}}</p>

                            <img v-if="list.is_top == 1" src="/index/images/card/top.png" />
                        </div>
                    </div>
                    <div class="list-body">
                        <p>{{list.content}}</p>
                        <div class="img-box">
                            <ul>
                                <li v-for="item in list.list_img">
                                    <img :src="item">
                                </li>
                            </ul>
                        </div>
                        <div class="type-box">
                            <span class="color_1 type" v-for="(items,key) in list.type">#{{items}}#</span>

                            <span class="comments">{{list.comments}}</span>

                            <span class="zan like" v-if="list.like == 0">{{list.likes}}</span>
                            <span class="zan_1 like" v-else>{{list.likes}}</span>
                        </div>
                    </div>
                    <a :href="openHref(list.id)"></a>
                </div>
                <div class="delete" @click="deleteDom($event,list.id,list.id)">
                    删除
                </div>
            </div>
        </div>
        <div class="empty" v-if="cards.length == 0">
            <img src="/index/images/service/card/icon-default.jpg" />
        </div>
    </div>
    <div class="body" id="body_2" style="display: none;"
         v-infinite-scroll="loadMore"
         infinite-scroll-disabled="loading"
         infinite-scroll-distance="40">
        <div class="group-list" v-for="list in comments">
            <div class="swipe-body" v-leftslide>
                <div class="main-body">
                    <div class="list-head">
                        <img :src="list.header">
                        <div class="time-name">
                            <p>{{list.user_name}}</p>
                            <p>{{list.create_time}}</p>
                        </div>
                    </div>
                    <div class="list-body">
                        <p>{{list.content}}</p>
                        <div class="post">
                            <div>
                                <span>{{list.card_name}}：</span>
                                <span>{{list.card_content}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="delete" @click="deleteDom($event,list.id,list.aid)">
                    删除
                </div>
            </div>
        </div>
        <div class="empty" v-if="comments.length == 0">
            <img src="/index/images/service/card/icon-default.jpg" />
        </div>
    </div>
    <div class="loading-more" v-show="len > 0">
        <div v-if="loadOver || len < 6">{{texts}}</div>
        <div v-else  v-show="loading" >
            <mt-spinner :type="3" color="#999"></mt-spinner>
            正在加载中...
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            cards:{$list},
            comments:{$list2},
            loading:false,
            loadOver:true,
            texts:'已加载全部~',
            len:{$list}.length,
            expansion:null,
            type:1
        },
        methods:{
            openHref:function (id) {
                return '/index/card_detail/getDetail/id/'+id;
            },
            choose:function (event) {
                this.loadOver = true;
                this.loading = false;
                if(event.target.tagName == 'LI'){
                    event = $(event.target);
                }else{
                    event = $(event.target).parent();
                }
                var index = event.index() + 1;
                event.addClass('active').siblings().removeClass('active');
                $("#body_"+index).show().siblings('.body').hide();
                $(window).scrollTop(0);
                this.len = $("#body_"+index).find('.group-list').length;
                this.type = index;
            },
            loadMore:function () {
                var _this = this;
                _this.loading = true;
                _this.loadOver = false;
                if(_this.type == 1){
                    _this.$http.post('/index/Card/getMoreUserCard',{'len':_this.len},{emulateJSON:true}).then(function (res) {
                        var data = res.data;
                        if(data.code == 1){
                            if(data.data.length == 6){
                                _this.loading = false;
                            }else{
                                _this.loadOver = true;
                                _this.loading = true;
                            }
                            $.each(data.data,function (key,value) {
                                _this.cards.push(value)
                            });
                            _this.len = _this.cards.length;
                        }
                    },function () {
                        _this.loadOver = true;
                        _this.loading = true;
                    })
                }else{
                    _this.$http.post('/index/Card/myComments',{'len':_this.len},{emulateJSON:true}).then(function (res) {
                        var data = res.data;
                        if(data.code == 1){
                            if(data.data.length == 6){
                                _this.loading = false;
                            }else{
                                _this.loadOver = true;
                                _this.loading = true;
                            }
                            $.each(data.data,function (key,value) {
                                _this.comments.push(value)
                            });
                            _this.len = _this.comments.length;
                        }
                    },function () {
                        _this.loadOver = true;
                        _this.loading = true;
                    })
                }

            },
            deleteDom:function (event,id,aid) {
                var _this = this;
                if(_this.type == 1){
                    _this.$http.post('/index/Card/deteleCard',{'id':id},{emulateJSON:true}).then(function (res) {
                        var data = res.data;
                        if(data.success){
                            $(event.target).parents('.group-list').remove();
                            _this.len --;
                            _this.$toast({
                                message: '删除成功！',
                                position: 'bottom',
                                duration: 2000
                            });
                        }
                    },function () {
                        _this.$toast({
                            message: '删除失败！',
                            position: 'bottom',
                            duration: 2000
                        });
                    })
                }else{
                    _this.$http.post('/index/Card/delete',{'id':id,'aid':aid},{emulateJSON:true}).then(function (res) {
                        var data = res.data;
                        if(data.code == 1){
                            $(event.target).parents('.group-list').remove();
                            _this.len --;
                            _this.$toast({
                                message: '删除成功！',
                                position: 'bottom',
                                duration: 2000
                            });
                        }
                    },function () {
                        _this.$toast({
                            message: '删除失败！',
                            position: 'bottom',
                            duration: 2000
                        });
                    })
                }


            }
        }
    });
    Vue.directive('leftslide',function (event) {
        var x,  X;
        event.addEventListener('touchstart', function(event) {   //记录初始触控点横坐标
            x = event.changedTouches[0].pageX;
        });
        event.addEventListener('touchmove', function(event){
            X = event.changedTouches[0].pageX;
            if(vm.expansion){                                       //判断是否展开，如果展开则收起
                vm.expansion.className = "swipe-body";
            }
            if(X - x > 10){                                             //右滑
                this.className = "swipe-body";                                    //右滑收起
            }
            if(x - X > 10){                                                         //左滑
                this.className = "swipe-body swipeleft";                           //左滑展开
                vm.expansion = this;
            }
        });
    })
</script>

{/block}