{extend name="public/common"}

{block name="style"}
<title>我的审核</title>
<link rel="stylesheet" href="/index/css/personal/collection.css">
<style>
    .content>img{
        width:100%;
        margin-top: 5rem;
    }
    body{
        background-color: #F5F5F5;
    }
    .header{
        position: fixed;
        top:0;
        left:0;
        width:100%;
    }
    .content{
        padding-top:50px;
    }
    #app .tab{
        flex: 1;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="header">
        <div class="tabs clear">
            <div class="tab" @click="tabChange(1)"><span :class="{active:active==1}" >未审核</span></div>
            <div class="tab tab1"  @click="tabChange(0)"><span  :class="{active:active==0}">已审核</span></div>
        </div>

    </div>
    <div class="content"  v-infinite-scroll="loadMore"
         infinite-scroll-disabled="loading"
         infinite-scroll-distance="10">
        <div class="notices"  v-show="active==0" >
            <div class="notice notify">
                <a :href="'/index/personal/newscheck/id/'+item.id" class="list clear" v-for="item in checked" v-if="item.status!==0">
                    <div class="list-right">
                        <div class="title ">{{item.title}}</div>
                        <div class="clear time">
                            <span class="fl source">{{item.source}}</span>
                            <span class="fl ">{{item.create_time*1000 | timeToString}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div v-if="!checked.length" class="content">
                <img src="/index/images/service/card/icon-default.jpg" class="no-message" >
            </div>
            <div class="my-footer"  v-if="checked.length">
                <span v-if="!checkedCanLoad">没有更多了</span>
                <span v-else-if="!loading">上拉加载更多</span>
                <div  class="my-loading" v-else>
                    <mt-spinner :type="3"></mt-spinner><span class="my-loading-text">加载中...</span>
                </div>
            </div>
        </div>
        <div class="notices" v-show="active==1">
            <div class="notice notify">
                <a :href="'/index/personal/newscheck/id/'+item.id" class="list clear" v-for="item in uncheck" v-if="item.status===0">
                    <div class="list-right">
                        <div class="title ">{{item.title}}</div>
                        <div class="clear time">
                            <span class="fl source">{{item.source}}</span>
                            <span class="fl ">{{item.create_time*1000 | timeToString}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div v-if="!uncheck.length" class="content">
                <img src="/index/images/service/card/icon-default.jpg" class="no-message" >
            </div>
            <div class="my-footer"  v-if="uncheck.length">
                <span v-if="!uncheckCanLoad">没有更多了</span>
                <span v-else-if="!loading">上拉加载更多</span>
                <div  class="my-loading" v-else>
                    <mt-spinner :type="3"></mt-spinner><span class="my-loading-text">加载中...</span>
                </div>
            </div>

        </div>
    </div>

</div>
{/block}

{block name="script"}
<script>
    Vue.filter('timeToString', function(time) {
        if(time){
            var newTime = new Date(time);
            var m = newTime.getMonth()+1,
                    dt=newTime.getDate(),
                    y=newTime.getFullYear();
            if(dt<10){
                dt='0'+dt;
            }
            if(m<10){
                m='0'+m;
            }
            return y+'-'+m+'-'+dt
        }
    });
    var app=new Vue({
        el:'#app',
        data:{
            active:0,
            checked:{$checked},
            uncheck:{$uncheck},
            loading:false,
            canLoad:true,
            checkedCanLoad:true,
            uncheckCanLoad:true
        },
        created(){
//            if(this.message){
//                for(var i=0;i<this.message.length;i++){
//                    if(this.message[i].status===0){
//                        this.uncheck.push(this.message[i])
//                    }else{
//                        this.checked.push(this.message[i])
//                    }
//                }
//            }
            if(this.checked.length<6){
                this.checkedCanLoad=false
            }else if(this.uncheck.length<6){
                this.uncheckCanLoad=false
            }
            var c =  parseInt(window.location.href.split("mycheck/c/")[1]);
            var co = this.getCookie("type");
            if(co == 20 || co == 21){
                c = co - 20;
            };
            this.active=c;
            this.isOut();
        },
        methods:{
            loadMore(){
                var _this=this,
                        data={};
                if(_this.active===0){
                    if(_this.loading || !_this.checkedCanLoad){
                        return
                    }
                    data.length = _this.checked.length;
                    data.type = 1
                }else{
                    if(_this.loading || !_this.uncheckCanLoad){
                        return
                    }
                    data.length = _this.checked.length;
                    data.type = 2
                }
                _this.loading = true;
                _this.$http.post('/index/personal/mycheck',data).then(function (res) {
                    _this.loading = false;
                    if(res.data.code === 1){
                        var info = JSON.parse(res.data.data);
                        if(info.length<6){
                            if(_this.active===0){
                                _this.checkedCanLoad=false;
                            }else{
                                _this.uncheckCanLoad=false;

                            }
                        }
                        if(data.type===1){
                            for(var i=0;i<info.length;i++){
                                _this.checked.push(info[i])
                            }
                        }else{
                            for(var i=0;i<info.length;i++){
                                _this.uncheck.push(info[i])
                            }
                        }
                    }else{
                        if(_this.active===0){
                            _this.checkedCanLoad=false;
                        }else{
                            _this.uncheckCanLoad=false;

                        }
                    }
                },function (res) {
                    _this.loading = false;
                })
            },
            //'\n'转li标签结构
            nToLi(str){
                if (!str) { return ''}
                var html='<li>';
                html+=str.split('\n').join('</li><li>');
                return html += '</li>'
            },
            tabChange(key){
                this.active=key;
                this.setCookie("type",key+20);
            },
            //退出清理tab缓存
            isOut(){
                var the=this;
                the.pushHistory();
                setTimeout(function(){
                    window.addEventListener("popstate", function(e) {
                        the.delCookie("type");
                        window.history.go(-1);
                    }, false);
                },200)
            },
            pushHistory(){
                var sta = {
                    title: "title"
                };
                if( window.history.state === null ){
                    window.history.pushState( sta, "title" );
                }
            },
            setCookie( name, value ){
                var Days = 30;
                var exp = new Date();
                exp.setTime( exp.getTime() + Days * 24 * 60 * 60 * 1000 );
                document.cookie = name + "=" + value + ";expires=" + exp.toGMTString();
            },
            getCookie( name ){
                var arr, reg = new RegExp( "(^| )" + name + "=([^;]*)(;|$)" );
                if( arr = document.cookie.match( reg ) )
                    return arr[ 2 ];
                else
                    return null;
            },
            delCookie( name ){
                var exp = new Date();
                exp.setTime( exp.getTime() - 1 );
                var cval = getCookie( name );
                if( cval != null )
                    document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString();
            }
        }
    })
</script>
{/block}