{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" type="text/css" href="/index/css/declaration/detail.css"/>
<style>
    .my-text-success{
        color: #59B7F3;
        border:1px solid #59B7F3;
        background-color: #fff;
    }
    .my-text-error{
        color: #FF7176;
        border:1px solid #FF7176;
        background-color: #fff;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <header class="header">
        <h2>{{info.title}}</h2>
        <div class=" my-news-header">
            <div>
                <span>{{info.create_time*1000 | timeToString}}</span>
                <span>{{info.source}}</span>
            </div>
        </div>
    </header>
    <section class="checking" v-html="info.content"></section>
    <footer class="news_footer">
        <div class="my-btn-box" v-if="info.status===0">
            <button class="my-btn-default my-btn-error" @click="toCheck(false)">审核不通过</button>
            <button class="my-btn-default my-btn-success" @click="toCheck(true)">审核通过</button>
        </div>
        <div class="my-btn-box" v-else>
            <button class="my-btn-default my-text-error" v-if="info.status===2">审核不通过</button>
            <div class="my-btn-default my-text-success" v-if="info.status===1">审核通过</div>
        </div>
    </footer>
</div>
{/block}

{block name="script"}
<script>
    Vue.filter('timeToString', function(time) {
        if(time){
            var newTime = new Date(time);
            var m = newTime.getMonth()+1,
                    dt=newTime.getDate(),
                    y=newTime.getFullYear();
            if(dt<10){
                dt='0'+dt;
            }
            if(m<10){
                m='0'+m;
            }
            return y+'-'+m+'-'+dt
        }
    });
    var app = new Vue({
        el: '#app',
        data:{
            info:{$info},
            isSubmit:false
        },
        methods:{
            toCheck(isPass){
                var _this = this;
                var data = {
                    id:_this.info.id,
                };
                if(_this.isSubmit){
                    swal({
                        title: '',
                        text: '正在请求中···',
                        type:'warning',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定",
                    })
                    return
                }
                if(isPass){
                    data.type = 1;
                    _this.mySwal('','确定通过审核？',data)
                }else{
                    data.type = 2
                    _this.mySwal('','确定不通过审核？',data)
                }
            },
            mySwal(title,text,data){
                var _this = this;
                swal({
                    title: title,
                    text: text,
                    showCancelButton: true,
                    type:'info',
                    confirmButtonColor: "#59B7F3",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                },
                function(isConfirm){
                    if(!isConfirm){return}
                    _this.isSubmit = true;
                    _this.$http.post("/index/personal/newsCheck",data).then(function (res) {
                        _this.isSubmit = false;
                        if(res.data.code==1){
                            setTimeout(function () {
                                swal({
                                    title: '',
                                    text: '审核成功！',
                                    type:'success',
                                    confirmButtonColor: "#59B7F3",
                                    confirmButtonText: "确定"
                                },function (isConfirm) {
                                    window.location.replace('/index/personal/mycheck/c/1')
                                })
                            },100)

                        }else{
                            setTimeout(function () {
                                swal({
                                    title: '',
                                    text: res.data.msg,
                                    type:'error',
                                    confirmButtonColor: "#59B7F3",
                                    confirmButtonText: "确定"
                                })
                            },100)
                        }
                    },function (res) {
                        _this.isSubmit = true;
                        setTimeout(function () {
                            swal({
                                title: '',
                                text: '请求失败，请重试！',
                                type:'error',
                                confirmButtonColor: "#59B7F3",
                                confirmButtonText: "确定"
                            })
                        },100)

                    })
                });
            }
        }
    })
</script>
{/block}