{extend name="public/common"}

{block name="style"}
<title>个人信息</title>
<link rel="stylesheet" href="/index/css/common/rem.css">
<link rel="stylesheet" href="/index/css/personal/index.css">
<style>
    .head-info{
        line-height: 36px;
    }
    .park-txt{
        margin-right: 5px;
    }
    .content{
        height: 100vh;
        position: relative;
    }
    .list>li p{
        font-size: 1.5rem;
    }
    #app .list{
        margin:0;
    }
    .search_mark{position:fixed;top:0;left:0;bottom:0;right:0;z-index:10}
    .search_mark>.search_bg{position:absolute;top:0;left:0;bottom:0;right:0;z-index:15;background-color:rgba(0,0,0,.3)}
    .search_content{position:absolute;padding-bottom:3.2vw;top:5vh;left:5vw;background:#fff;z-index:20;border-radius:5px;overflow: hidden}
    .search_content_box{position:relative;width:90vw;height:70vh;overflow:scroll}
    .search{background:#f0eff5;padding:.8rem 2.133vw;border-bottom:1px solid #f0eff5;width:90vw;position:fixed;top:5vh;left:5vw;z-index:999}
    .search>.searchBox{border-radius:.3rem;height:3.2rem;background:#fff;text-align:center;overflow:hidden}
    .search>.unBtn{display:none}
    .search>.searchBox>.searchInput{display:none}
    .search>.searchBox>.searchText{display:inline-block;font-size:1.4rem;color:#999;padding-left:2rem;min-width:1px;line-height:3.2rem;height:3.2rem;background:url(/index/images/enterprise/search.png) 0 50% no-repeat;background-size:1.4rem 1.4rem}
    .search.isClick{background:#fff;border-bottom:1px solid #f1f1f1;display:flex;align-items:center;justify-content:space-between}
    .search.isClick>.searchBox{background:#f0eff5;padding-left:2.66vw;flex-grow:1;margin-right:2.66vw;display:flex;align-items:center}
    .search.isClick>.searchBox>.searchText{display:inline-block}
    .search.isClick>.searchBox>.searchText>.searchText_c{display:none}
    .search.isClick .searchInput{background:#f0eff5;display:inline-block;font-size:1.4rem;height:3.2rem;flex-grow:1}
    .search.isClick>.unBtn{display:block;padding:0;box-sizing:border-box;width:3.8rem;height:2.8rem;line-height:2.8rem;border-radius:5px;border:1px solid #5d9cec;color:#5d9cec;text-align:center;font-size:1.4rem}
    .searchList{min-height:100vh;width:100%;position:absolute;top:0;left:0}
    .searchList.company-list{padding:0}
    .searchList.company-list>li{margin-bottom:0;border-bottom:1px solid #f1f1f1;font-size:1.4rem}
    .searchList{background-color:rgba(255,255,255,1)}
    .searchList>li:first-child{margin-top:4.8rem}
    .company-list{box-sizing:border-box;width:100%;position:absolute;top:0;left:0;padding:5.2rem 3.7vw .4rem 3.7vw}
    .company-list>li{padding:.8rem 3.7333333vw;display:-webkit-flex;display:flex;align-items:center;background-color:#fff;font-size:1.4rem}
    .company-logo>img{text-align:center;line-height:59px;display:block;width:59px;height:59px;border-radius:3px}
    .company-list .company-logo{margin-right:1.4rem}
    .company-info>li{width:65vw;line-height:2;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
    .company-info>li:first-child{font-size:1.6rem;font-weight:700;color:#333}
    .company-info>li:last-child{font-size:1.2rem;color:#999}
    .hidden{display:none}
    .overflow{height:100vh;overflow:hidden}
    .color_h{color:#999}
    .my-must:before{content:'*';display:block;font-size:1.2rem;color:red;position:absolute;left:-.7rem;top:0}
    .search-mask-close{height:3.6rem;width:3.6rem;border-radius:50%;border:2px solid #fff;position:absolute;bottom:-6.6rem;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);z-index:101}
    .search-mask-close>span{display:block;width:2px;height:3.2rem;margin:-3.2rem auto 0;background-color:#fff}
    .search-mask-close:after,.search-mask-close:before{content:'';display:block;width:0;height:2rem;border-left:2px solid #fff;position:absolute;left:50%;top:50%}
    .search-mask-close:after{-webkit-transform:rotate(45deg) translate(-50%,-50%);-moz-transform:rotate(45deg) translate(-50%,-50%);-ms-transform:rotate(45deg) translate(-50%,-50%);-o-transform:rotate(45deg) translate(-50%,-50%);transform:translate(-50%,-50%) rotate(45deg)}
    .search-mask-close:before{-webkit-transform:rotate(-45deg) translate(-50%,-50%);-moz-transform:rotate(-45deg) translate(-50%,-50%);-ms-transform:rotate(-45deg) translate(-50%,-50%);-o-transform:rotate(-45deg) translate(-50%,-50%);transform:translate(-50%,-50%) rotate(-45deg)}
    .input-ft-right{text-align: right;float: right;color: #999;font-size: 1.5rem}
    .btn-gray{background-color: #c3c3c3;}
    /***mask***/
    .my-mask{
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 999;
    }
    .my-mask-back{
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        z-index: 996;
        background-color: rgba(0,0,0,0.3);
    }
    .my-mask-content{
        width:79.2vw;
        background-color: #f9f9f9;
        position: absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%,-60%);
        -moz-transform: translate(-50%,-60%);
        -ms-transform: translate(-50%,-60%);
        -o-transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        z-index: 999;
        border-radius: 10px;
        overflow: hidden;
    }
    .my-mask-content>h3{
        padding:1.7rem 0;
        margin:0;
        text-align: center;
        color: #333;
        font-size:1.8rem;
    }
    .my-mask-input{
        padding:1.2rem 2rem;
    }
    .my-mask-input>input{
        display: block;
        box-sizing: border-box;
        width:100%;
        height:3.5rem;
        padding:1.5rem 0.5rem;
        border:1px solid #dcdcdc;
        border-radius:5px;
        text-align: center;
        font-size: 1.4rem;
    }
    .my-mask-input>span{
        display: block;
        width:100%;
        text-align: center;
        color: #999;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .my-phone-list>li{
        width:53vw;
        margin:0 auto;
        padding-bottom: 2rem;
        color: #333;
        font-size: 1.5rem;
    }
    .my-radio+span{
        position: relative;
        line-height: 1.5rem;
        padding-left: 3rem;
    }
    .my-radio+span>b{
        content: '';
        display: flex;
        box-sizing: border-box;
        height:1.5rem;
        width:1.5rem;
        border-radius: 50%;
        border:1px solid #979797;
        position: absolute;
        left:0;
        justify-content: center;
        align-items: center;
    }
    .my-radio+span>b:before{
        content: '';
        display: inline-block;
        box-sizing: border-box;
        height:1rem;
        width:1rem;
        border-radius: 50%;
        border:1px solid #979797;
    }
    .my-radio:checked+span>b{
        border-color: #1F85EB;
    }
    .my-radio:checked+span>b:before{
        border:none;
        background-color: #1F85EB;
    }
    .my-btn-group{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top:1px solid #dcdcdc;
    }
    .my-btn-group>li{
        height:4.8rem;
        line-height: 4.8rem;
        font-size: 1.8rem;
        color: #1F85EB;
        text-align: center;
        width:50%;
        box-sizing: border-box;
    }
    .my-btn-group>li>a{
        display: block;
        height:100%;
        width:100%;
        color: #1F85EB;
    }
    .my-btn-group>li:not(:last-child){
        border-right: 1px solid #dcdcdc;
    }
</style>
{/block}


{block name="body"}
<div class="content" id="app">
    <ul class="list default-list">
        <li>
            <a href="javascript:;" :class="{'item-pull-right':showBtn}" id="checkImg" @click="upImg">
                <p class="head-info">
                    头像
                    <span class="ft-right" v-if="!info.header">
                        <img :src="info.avatar"class="head-img">
                    </span>
                    <span v-else class="ft-right">
                         <img :src="info.header"class="head-img">
                    </span>
                </p>
            </a>
        </li>
    </ul>
    <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg">
    <ul class="list default-list">
        <li><a href="javascript:;"><p>姓名 <input type="text" class="input-ft-right" v-model="personName" @input="()=>isChanged=true" placeholder="请输入姓名" :readonly="!showBtn"> </p></a></li>
        <li @click="toggleGender"><a href="javascript:;" :class="{'item-pull-right':showBtn}"><p>性别 <span class="ft-right park-txt">{{gender.now}}</span></p></a></li>
        <li><a href="javascript:;"><p>电话 <span class="ft-right">{{info.mobile}}</span></p></a></li>
        <li><a href="javascript:;" ><p>身份证号 <input type="text" class="input-ft-right" v-model="idNumber" @input="()=>isChanged=true"  placeholder="请输入身份证号码" :readonly="!showBtn"></p></a></li>
        <li><a href="javascript:;" ><p>车牌号 <input type="text" class="input-ft-right" v-model="plateNumber" @input="()=>isChanged=true"  placeholder="请输入车牌号码" :readonly="!showBtn"></p></a></li>
        <li><a href="javascript:;" :class="{'item-pull-right':(showBtn && info.can_change==='yes')}" @click="showParkPopup"><p>园区 <span class="ft-right park-txt" v-html="nowPark.park_name"></span></p></a></li>
        <li @click="toggleMark"><a href="javascript:;" :class="{'item-pull-right':(showBtn && info.can_change==='yes')}"><p>公司 <span class="ft-right">{{nowCompany.depart_name}}</span></p></a></li>
        <li v-if="nowCompany.department_id!=78 && nowCompany.department_id!=91"><a href="javascript:;" @click="togglePopup" :class="{'item-pull-right':(showBtn && info.can_change==='yes')}"><p>办公地点 <span class="ft-right">{{nowRoom}}</span></p></a></li>
        <mt-popup  position="bottom"  v-model="roomVisible" class="mint-popup" >
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="togglePopup">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectRoom">确定</span>
            </div>
            <mt-picker :slots="roomSlots" @change="onRoomChange" value-key="name"></mt-picker>
        </mt-popup>
        <mt-popup  position="bottom"  v-model="parkVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelParkPopup">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" value-key="park_name"></mt-picker>
        </mt-popup>
        <mt-popup  position="bottom"  v-model="gender.visible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="toggleGender">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="toggleGender">确定</span>
            </div>
            <mt-picker :slots="gender.slots" @change="onGenderChange"></mt-picker>
        </mt-popup>
    </ul>
    <!--按钮-->
    <div class="btn-box" >
        <button class="btn btn-primary" @click="()=>showBtn=true" v-show="!showBtn">编辑</button>
        <button class="btn btn-primary" :class="{'btn-gray':!isChanged}" @click="savePark" v-show="showBtn">保存</button>
    </div>
    <!--企业搜索-->
    <div class="search_mark" v-show="isShowMark">
        <div class="search_bg" @click="toggleMark"></div>
        <div class="search_content">
            <div class="search_content_box">
                <div class="search" :class="{isClick:inputStatus}" >
                    <div class="searchBox" @click="isClick">
                        <div class="searchText"><span class="searchText_c">请在此搜索企业</span></div>
                        <input type="text" v-model="inputValue" @input="toSearch" class="searchInput" placeholder="请输入企业名" v-focus="inputStatus">
                    </div>
                    <div class="unBtn" @click="isCancel">取消</div>
                </div>
                <!--公司列表-->
                <ul class="company-list" :class="{overflow:inputStatus}">
                    <li v-for="item in companyList" @click="checkCompany(item)">
                        {{item.depart_name}}
                    </li>
                </ul>
                <!--搜索列表-->
                <ul class="searchList company-list" :class="{bgWhite:inputValue}" v-if="inputStatus">
                    <li v-for="item in searchList" @click="checkCompany(item)">
                        <ul class="company-info">
                            {{item.depart_name}}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search-mask-close" @click="toggleMark">
                <span></span>
            </div>
        </div>
    </div>
    <div class="my-mask" v-show="isShowCompanyMask">
        <div class="my-mask-back" @click="showCompanyMask()"></div>
        <div class="my-mask-content">
            <h3>企业验证码</h3>
            <div class="my-mask-input">
                <input type="tel" placeholder="请输入企业验证码" v-model="company_code" maxlength="6">
                <!--<span class="noPower">提示:验证码限6位数字</span>-->
            </div>
            <ul class="my-btn-group">
                <li @click="showCompanyMask()">取消</li>
                <li @click="companySubmit()">确定</li>
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>

    var info  = {$info};
    var baseData=info.departmentlist;
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        update: function (el,value) {
            // Focus the element
            if(value.value){
                el.focus()
            }
        }
    })
    var vm = new Vue({
        el:'#app',
        data:{
            info:info,
            showBtn:false,
            isChanged:false,
//            选择性别
            gender:{
                now:'',
                check:'',
                visible:false,
                slots:[
                    {
                        defaultIndex:1,
                        values:['男','女']
                    }
                ]
            },
//            选择园区
            checkPark:{},
            nowPark:{},
            parkVisible:false,
            slots:[
                {
                    defaultIndex:1,
                    values:baseData
                }
            ],
            isCheckBtn:true,
            //            搜索框
            isShowMark:false,
            inputStatus:false,
            inputValue:'',
            companyList:[],
            searchList:[],
            nowCompany:{},
            checkedCompany:{},
            //企业验证码
            isShowCompanyMask:false,
            company_code:'',
            isPass:false,
//            选折器
            nowRoom:'',
            checkRoom:'',
            roomVisible:false,
            roomSlots:[
                {
                    defaultIndex:1,
                    values:[]
                }
            ],
            //姓名 + 身份证 + 车牌号
            personName:'',
            idNumber:'',
            plateNumber:''

        },
        mounted:function () {
//            初始化信息
            var _this = this;
            for(var o=0;o<baseData.length;o++){
                if(_this.info.park_id==baseData[o].park_id){
                    _this.nowPark=baseData[o];
                    _this.companyList=baseData[o].departmentlist;
                }
            }
            for(var n=0;n<_this.companyList.length;n++){
                if(_this.info.department_id == _this.companyList[n].department_id){
                    _this.nowCompany = _this.companyList[n];
                    _this.roomSlots[0].values = _this.companyList[n].roomlist
                }
            }
            _this.plateNumber=_this.info.car_card;
            _this.idNumber=_this.info.people_card;
            _this.nowRoom=_this.info.office;
            _this.gender.now = _this.info.sex;
            _this.personName = _this.info.name;
//            初始化选择器选项位置
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
                    _this.roomSlots[0].defaultIndex = 0;
                    _this.gender.slots[0].defaultIndex = 0;
                }, 100);
            });
        },
        methods:{
            //园区选择
            showParkPopup:function () {
                if(!this.showBtn){return ;}
                if(this.info.can_change==='yes'){
                    this.parkVisible = true;
                }
            },
            cancelParkPopup:function () {
                this.parkVisible = false;
            },
            selectPark:function () {
                var _this=this;
                _this.parkVisible = false;
                _this.isChanged = true;
                _this.nowPark = this.checkPark;
                _this.nowRoom='';
                _this.nowCompany={};
                for(var o=0;o<baseData.length;o++){
                    if(_this.nowPark.park_id==baseData[o].park_id){
                        _this.companyList=baseData[o].departmentlist;
                    }
                }
            },
            onParkChange:function (p,v) {
                var _this = this;
                if(v[0]){
                    _this.checkPark = v[0];
                }
            },
            //           公司搜索
            toggleMark(){
                if(!this.showBtn){return ;}
                if(this.info.can_change==='yes') {
                    this.isShowMark = !this.isShowMark;
                    this.isCancel()
                }
            },
            checkCompany(item){
                this.checkedCompany=item;
                if(item.department_id!=78 && item.department_id!=91){
                    this.isPass = false;
                    this.showCompanyMask();
                }else{
                    this.nowCompany = item;
                    this.toggleMark()
                }
                this.isChanged = true;
            },
            isClick:function () {
                this.inputStatus=true;
            },
            isCancel:function () {
                this.inputStatus=false;
                this.inputValue='';
                this.searchList=[]
            },
            toSearch:function () {
                let reg=new RegExp(this.inputValue);
                this.searchList=[];
                if(!this.inputValue){
                    this.searchList=[];
                }else{
                    for(let i=0;i<this.companyList.length;i++){
                        if(reg.test(this.companyList[i].depart_name)){
                            this.searchList.push(this.companyList[i])
                        }
                    }
                }
            },
            //验证码
            showCompanyMask(){
                var _this = this;
                _this.company_code = '';
                if(_this.isShowCompanyMask && !_this.isPass){
                    _this.checkedCompany = '';
//                    _this.roomSlots[0].values = [];
                    _this.isShowCompanyMask = false;
//                    _this.nowRoom = '';
                    return
                }
                _this.isShowCompanyMask=!_this.isShowCompanyMask
            },
            companySubmit(){
                var _this = this;
                if(!_this.company_code){
                    this.$toast({
                        message: '请输入企业验证码',
                        position: 'bottom',
                        duration: 2000
                    });
                    return
                }else if(isNaN(_this.company_code) || _this.company_code < 0 || _this.company_code.length < 6){
                    this.$toast({
                        message: '企业验证码为六位纯小数',
                        position: 'bottom',
                        duration: 2000
                    });
                    setTimeout(function () {
                        _this.company_code = ''
                    },1000)
                    return
                }
                var data = {
                    company_code:_this.company_code,
                    department:_this.checkedCompany.department_id
                };
                _this.postSubmit(data, '企业验证成功！',function () {
                    _this.isPass = true;
                    _this.roomSlots[0].values = _this.checkedCompany.roomlist;
                    _this.nowRoom = _this.checkedCompany.roomlist[0];
                    _this.nowCompany = _this.checkedCompany;
                    _this.toggleMark();
                    _this.showCompanyMask();
                });
            },
            postSubmit(data,successText,successFun,errorFun){
                var _this = this;
                if(_this.isSubmit){
                    swal({
                        title: '',
                        text: '提交中···',
                        type:'info',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定"
                    });
                    return ;
                }
                _this.isSubmit = true;
                _this.$http.post("/index/personal/verification",data).then(function (res) {
                    _this.isSubmit = false;
                    if(res.data.code===1){
                        swal({
                            title: '',
                            text: successText,
                            type:'success',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        },function () {
                            successFun()
                        });
                    }else{
                        swal({
                            title: '',
                            text: res.data.msg,
                            type:'error',
                            confirmButtonColor: "#59B7F3",
                            confirmButtonText: "确定"
                        });
                    }

                },function (res) {
                    _this.isSubmit = false;
                    swal({
                        title: '',
                        text: '请求失败，请重试！',
                        type:'error',
                        confirmButtonColor: "#59B7F3",
                        confirmButtonText: "确定"
                    });
                })
            },
//            房号选择器
            togglePopup(){
                if(!this.showBtn){return ;}
                if(this.info.can_change==='no') {
                    return;
                }
                    if(!this.roomVisible){
                    if(!this.nowCompany){
                        swal({
                            title: "",
                            text: "请先选择公司！",
                            type: "warning",
                            confirmButtonColor: "#338cec",
                        })
                    }else if(this.nowCompany.roomlist &&　this.nowCompany.roomlist.length==0){
                        swal({
                            title: "",
                            text: "该公司还未录入房间号！",
                            type: "warning",
                            confirmButtonColor: "#338cec",
                        })
                    }else{
                        this.roomVisible = !this.roomVisible ;
                    }
                }else{
                    this.roomVisible = !this.roomVisible ;
                }

            },
            selectRoom:function () {
                this.togglePopup();
                this.nowRoom=this.checkRoom;
                this.isChanged = true;
            },
            onRoomChange:function (p,v) {
                var _this = this;
                if(v[0]){
                    _this.checkRoom = v[0];
                }
            },
            //            性别选择器
            toggleGender(){
                if(!this.showBtn){return ;}
                var gender=this.gender;
                if(gender.visible){
                    gender.now = gender.check;
                    gender.visible = false;
                    this.isChanged = true;
                }else{
                    gender.visible = true;
                }
            },
            onGenderChange(p,v) {
                var _this = this;
                if(v[0]){
                    _this.gender.check = v[0];
                }
            },
            upImg(){
                if(this.showBtn){
                    $("#upImg").click();
                }
            },
            savePark:function () {
                var _this = this;
                if(!_this.isChanged){
                    return
                }
                if(!_this.isCheckBtn){
                    return;
                }
                if(_this.idNumber !== _this.info.people_card){
                    var reg = /^([0-9]{15}|[0-9]{18})$/;
                    if(!reg.test(_this.idNumber)){
                        swal({
                            title:'',
                            text:'请输入正确的身份证号码！',
                            type:"warning",
                            confirmButtonText:'确定',
                            confirmButtonColor:'#7DB8F2'
                        })
                        return;
                    }

                }
                var data={
                    user_id:_this.info.user_id,
                    park_id:_this.nowPark.park_id,
                    departmentId:_this.nowCompany.department_id ||'',
                    room:_this.nowRoom,
                    gender:_this.gender.now==='男'?'1':'2',
                    user_name:_this.personName,
                    car_card:_this.plateNumber,
                    people_card:_this.idNumber
                };
                _this.isCheckBtn = false;
                _this.$http.post("{:Url('Personal/changeDepartment')}",data).then(function (e) {
                    _this.isCheckBtn = true;
                    var data = e.data;
                    if(data.code == 1){
                        swal({
                            title:data.msg,
                            type:"success",
                            confirmButtonText:'确认',
                            confirmButtonColor:'#7DB8F2'
                        },function (e) {
                            window.location.reload();
                        });
                    }else{
                        swal({
                            title:data.msg,
                            type:"error",
                            confirmButtonText:'确认',
                            confirmButtonColor:'#7DB8F2'
                        },function (e) {
                            window.location.reload();
                        });
                    }
                },function () {
                    _this.isCheckBtn = true;
                    swal({
                        title:'保存失败',
                        type:"error",
                        confirmButtonText:'确认',
                        confirmButtonColor:'#7DB8F2'
                    },function (e) {
                        window.location.reload();
                    });
                })
            }
        },
    });
    $(function () {
        $("#upImg").off("change").on("change",function () {
            var img = $(this)[0].files[0];
            if(img){
               var newSize = (img.size/1024).toFixed(2);
               if(newSize <= 10240){
                    var formData = new FormData();
                   formData.append("picture",img);
                   $.ajax({
                       type:"post",
                       url:"{:Url('File/uploadPicture')}",
                       data:formData,
                       processData : false,
                       contentType : false,
                       success:function(data){
                           var msg = $.parseJSON(data);

                           if(msg.code == 1){
                                var path = msg.data.path;
                                $(".head-img").attr('src',path);
                                $.ajax({
                                    url:"setHeader",
                                    type:'post',
                                    data:{header:path},
                                    dataType:'json',
                                    success: function () {
                                        swal({
                                            title:'',
                                            text:'上传成功',
                                            type:"success",
                                            confirmButtonText:'确定',
                                            confirmButtonColor:'#7DB8F2'
                                        })
                                    }
                                })
                           } else {
                               swal({
                                   title:'',
                                   text:'上传失败',
                                   type:"error",
                                   confirmButtonText:'确定',
                                   confirmButtonColor:'#7DB8F2'
                               })
                               return;
                           }
                       }
                   });
               }
            }
        })

    })
</script>
{/block}


