{extend name="public/common"}

{block name="style"}
<title>个人信息</title>
<link rel="stylesheet" href="/index/css/common/rem.css">
<link rel="stylesheet" href="/index/css/personal/index.css">
<style>
    .head-info{
        line-height: 36px;
    }
    .park-txt{
        margin-right: 5px;
    }
    .content{
        height: 100vh;
        position: relative;
    }
    .list>li p{
        font-size: 1.5rem;
    }
    #app .list{
        margin:0;
    }
</style>
{/block}


{block name="body"}
<div class="content" id="app">
    <ul class="list default-list">
        <li>
            <a href="javascript:;" class="item-pull-right" id="checkImg">
                <p class="head-info">
                    头像
                    <span class="ft-right" v-if="!info.header">

                        <img :src="info.avatar"class="head-img">
                    </span>
                    <span v-else class="ft-right">
                         <img :src="info.header"class="head-img">
                    </span>
                </p>
            </a>
        </li>
    </ul>
    <input type="file" class="hide" id="upImg" accept="image/jpg, image/png, image/gif, image/jpeg">
    <ul class="list default-list">
        <li><a href="javascript:;"><p>姓名 <span class="ft-right">{{info.name}}</span> </p></a></li>
        <li><a href="javascript:;"><p>性别 <span class="ft-right">{{info.sex}}</span></p></a></li>
        <li><a href="javascript:;"><p>电话 <span class="ft-right">{{info.mobile}}</span></p></a></li>
        <li v-if="info.people_card"><a href="javascript:;" ><p>身份证号 <span class="ft-right">{{info.people_card}}</span></p></a></li>
        <li v-if="info.car_card"><a href="javascript:;" ><p>车牌号 <span class="ft-right">{{info.car_card}}</span></p></a></li>
        <li><a href="javascript:;" class="item-pull-right" @click="showParkPopup"><p>园区 <span class="ft-right park-txt" v-html="info.park_name"></span></p></a></li>
        <li><a href="javascript:;" ><p>公司 <span class="ft-right">{{info.department}}</span></p></a></li>
        <li v-if="info.office"><a href="javascript:;" ><p>办公地点 <span class="ft-right">{{info.office}}</span></p></a></li>
        <mt-popup  position="bottom"  v-model="parkVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelParkPopup">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" value-key="name"></mt-picker>
        </mt-popup>
    </ul>
    <div class="btn-box" v-show="showBtn">
        <button class="btn btn-primary" @click="savePark">保存</button>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var info  = {$info};
    console.log(info);
    var park  = [
        {
            departmentId:78,
            name: '希垦科技园区'
        },
        {
            departmentId:91,
            name:'人工智能产业园区'
        }
    ];

    var vm = new Vue({
        el:'#app',
        data:{
            info:info,
            park:park,
            checkPark:park[0],
            nowPark:park[0],
            parkVisible:false,
            slots:[
                {
                    defaultIndex:1,
                    values:park
                }
            ],
            showBtn:false,
            isCheckBtn:true,
        },
        methods:{
            showParkPopup:function () {
                this.parkVisible = true;
            },
            cancelParkPopup:function () {
                this.parkVisible = false;
            },
            selectPark:function () {
                this.parkVisible = false;
                this.showBtn = true;
                this.nowPark = this.checkPark;
                this.info.park_name = this.checkPark.name;
            },
            onParkChange:function (p,v) {
                var _this = this;
                if(v[0]){
                    _this.checkPark = v[0];
                }
            },
            savePark:function () {
                var _this = this;
                if(!_this.isCheckBtn){
                    return;
                }
                _this.isCheckBtn = false;
                _this.$http.post("{:Url('Personal/changeDepartment')}",{
                    user_id:_this.info.user_id,
                    departmentId:_this.nowPark.departmentId
                }).then(function (e) {
                    console.log(e);
                    _this.isCheckBtn = true;
                    var data = e.data;
                    if(data.code == 1){
                        swal({
                            title:data.msg,
                            type:"success"
                        },function (e) {
                            window.location.reload();
                        });
                    }else{
                        swal({
                            title:data.msg,
                            type:"error"
                        },function (e) {
                            window.location.reload();
                        });
                    }
                },function () {
                    _this.isCheckBtn = true;
                    swal({
                        title:'保存失败',
                        type:"error"
                    },function (e) {
                        window.location.reload();
                    });
                })
            }
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
                }, 100);
            });
        },
        computed:{
        }
    });
    $(function () {
        $("#checkImg").on('click',function () {
            $("#upImg").click();
        });
        $("#upImg").off("change").on("change",function () {
            var img = $(this)[0].files[0];
            if(img){
               var newSize = (img.size/1024).toFixed(2);
               if(newSize <= 10240){
                    var formData = new FormData();
                   formData.append("picture",img);
                   $.ajax({
                       type:"post",
                       url:"{:Url('File/uploadPicture')}",
                       data:formData,
                       processData : false,
                       contentType : false,
                       success:function(data){
                           var msg = $.parseJSON(data);

                           if(msg.code == 1){
                                var path = msg.data.path;
                                $(".head-img").attr('src',path);
                                $.ajax({
                                    url:"setHeader",
                                    type:'post',
                                    data:{header:path},
                                    dataType:'json',
                                    success: function () {
                                        mui.toast('上传成功',{ duration:'1000ms', type:'div' })
                                    }
                                })
                           } else {
                               mui.toast('上传失败',{ duration:'1000ms', type:'div' });
                               return;
                           }
                       }
                   });
               }
            }
        })

    })
</script>
{/block}


