{extend name="public/common"}
{block name="style"}
<title>我的服务</title>
<link rel="stylesheet" href="/index/css/personal/service.css">
<style>
    body{
        background: #F5F5F5;
    }
    .no-list{
        width:100%;
        display: block;
        margin:0 auto;
    }
    .notice .list{
        background: #fff;
    }
</style>
{/block}
{block name="body"}
<div id="app">
    <div class="header">
        <div class="tabs clear">
            <div class="tab tab1"  @click="tabChange(0)"><span  :class="{active:active==0}">{{propertySieving.serviceIndex===''?'物业服务':propertySieving.serviceList[propertySieving.serviceIndex].text}} <span  class="my-icon-arrow" :class="{close:!propertySieving.isShowSieving}" v-show="active==0"></span>  </span>  </div>
            <!--<span class="line"></span>-->
            <div class="tab" @click="tabChange(1)"><span :class="{active:active==1}" >{{companySieving.serviceIndex===''?'企业服务':companySieving.serviceList[companySieving.serviceIndex].text}} <span  class="my-icon-arrow" :class="{close:!companySieving.isShowSieving}" v-show="active==1"></span>  </span>  </div>
        </div>
    </div>
    <!--切换列表-->
    <div class="content">
        <!--物业服务-->
        <div class="notices" v-if="active==0">
            <div class="sieving-box">
                <div class="sieving-bg" :class="{active:propertySieving.isShowSieving}"  @click="toggleSieving"></div>
                <ul class="sieving-list" :class="{active:propertySieving.isShowSieving}">
                        <li @click="sievingChange('')" :class="{active:''===propertySieving.serviceIndex}">全部分类</li>
                    <li v-for="(v,key) in propertySieving.serviceList" @click="sievingChange(key)" :class="{active:key===propertySieving.serviceIndex}">{{v.text}}</li>
                </ul>
            </div>
            <div class="notice property">
                <a class="list" v-for="p in propertyShow" @click="jumpTo(p.url)">
                    <div class="info">
                        <div class="title">{{p.service_name}}</div>
                        <div class="time">
                            <span>{{p.create_time}}</span>
                        </div>
                    </div>
                    <div class="state">
                        <span class="ing" :class="{'end':status(p.app_id,p.status)}" >{{p.status_text}}</span>
                    </div>
                </a>
                <img src="/index/images/service/card/icon-default.jpg" v-if="propertyShow.length===0" class="no-list">
            </div>
        </div>
        <!--企业服务-->
        <div class="notices" v-if="active==1">
            <div class="sieving-box">
                <div class="sieving-bg" :class="{active:companySieving.isShowSieving}"  @click="toggleSieving"></div>
                <ul class="sieving-list" :class="{active:companySieving.isShowSieving}">
                    <li @click="sievingChange('')" :class="{active:''===companySieving.serviceIndex}">全部分类</li>
                    <li v-for="(v,key) in companySieving.serviceList" @click="sievingChange(key)" :class="{active:key===companySieving.serviceIndex}">{{v.text}}</li>
                </ul>
            </div>
            <div class="notice enterprise">
                <a class="list" v-for="c in companyShow" @click="jumpTo(c.url)">
                    <div class="info">
                        <div class="title">{{c.service_name}}</div>
                        <div class="time">
                            <span>{{c.create_time | timeToString}}</span>
                        </div>
                    </div>
                    <div class="state">
                        <span class="end" v-if="c.status==1">已回复</span>
                        <span class="ing" v-else>未回复</span>
                    </div>
                </a>
                <img src="/index/images/service/card/icon-default.jpg" v-if="company.length===0" class="no-list">
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!--<script src="/index/js/reset.js"></script>-->
<script>
    //    时间戳转字符串过滤器
    Vue.filter('timeToString', function(time) {
        if(time && !isNaN(time)){
            var newTime = new Date(time*1000);
            var m = newTime.getMonth()+1,
                    dt=newTime.getDate(),
                    y=newTime.getFullYear();
            if(dt<10){
                dt='0'+dt;
            }
            if(m<10){
                m='0'+m;
            }
            return y+'-'+m+'-'+dt
        }else{
            return time;
        }
    });
    var app=new Vue({
        el:'#app',
        data:{
            active:0,
            property:{$property},
            propertyShow:{$property},
            company:{$company},
            companyShow:{$company},
            propertySieving:{
                canShowSieving:true,
                isShowSieving:false,
                serviceList:[
                    {appid:1,text:'费用缴纳'},
                    {appid:2,text:'物业报修'},
                    {appid:3,text:'饮水服务'},
                    {appid:4,text:'室内保洁'},
//                    {appid:5,text:'花卉租赁'},
                    {appid:6,text:'车卡服务'},
                    {appid:7,text:'充电柱办理'},
                    {appid:8,text:'设备服务'},
//                    {appid:9,text:'常用电话'},
                ],
                serviceIndex:''
            },
            companySieving:{
                canShowSieving:true,
                isShowSieving:false,
                serviceList:[
                    {appid:12,text:'商标查询'},
                    {appid:'other',text:'其他服务'}
                ],
                serviceIndex:''
            },
        },
        created(){
            var c =  parseInt(window.location.href.split("service/c/")[1]);
            var activeTab = sessionStorage.getItem("activeTab");
            if(activeTab!==null){
                c = activeTab;
            };
            this.active=c;
            if(c == 0 ){
                var pSievingType =  sessionStorage.getItem("pSievingType") || "";
                this.propertySieving.canShowSieving = true;
                if(pSievingType!==""){
                    this.propertySieving.serviceIndex = parseInt(pSievingType);
                    console.log(pSievingType)
                    this.propertyShow=[];
                    if(this.propertySieving.serviceIndex===''){
                        this.propertyShow=this.property;
                    }else{
                        for(var i=0;i<this.property.length;i++){
                            if(this.property[i].app_id===this.propertySieving.serviceList[this.propertySieving.serviceIndex].appid){
                                this.propertyShow.push(this.property[i]);
                            }
                        }
                    }
                }
                this.companySieving.canShowSieving = false;
            }else{
                var cSievingType = sessionStorage.getItem("cSievingType") || "";
                this.companySieving.canShowSieving = true;
                if(cSievingType!==""){
                    this.companySieving.serviceIndex = parseInt(cSievingType);
                    console.log(cSievingType)
                    this.companyShow=[];
                    if(this.companySieving.serviceIndex===''){
                        this.companyShow=this.property;
                    }else if(this.companySieving.serviceList[this.companySieving.serviceIndex].appid==='other'){
                        for(var i=0;i<this.company.length;i++){
                            if(this.company[i].app_id!==12){
                                this.companyShow.push(this.company[i]);
                            }
                        }
                    }else{
                        for(var i=0;i<this.company.length;i++){
                            if(this.company[i].app_id===this.companySieving.serviceList[this.companySieving.serviceIndex].appid){
                                this.companyShow.push(this.company[i]);
                            }
                        }
                    }
                }
                this.propertySieving.canShowSieving = false;
            }
        },
        methods:{
            jumpTo(url){
//                ios返回莫名返回两级+安卓莫名返回需要按两次解决
                if(url){
                    window.location.href=url;
                }
            },
            status(appid,status){
                if(appid===1){
                    return status===2?true:false
                }else if(appid===8){
                    return status===2?true:false
                }else{
                    if(status===1||status===3){
                        return true
                    }else{
                        return false
                    }
                }
            },
            companyStatus(appid,status){
                var s = {};
                if(appid===12){
                    if(status === 2){
                        s={status : false ,text : '未回复'}
                    }else{
                        s={status : true ,text : '已回复'}
                    }
                    return status===2?true:false
                }else{
                    if(status === 2){
                        s={status : false ,text : '未回复'}
                    }else{
                        s={status : true ,text : '已回复'}
                    }
                    return s
                }
            },
            tabChange(key){
                this.active=key;
//                sessionStorage 保存当前切换状态
                sessionStorage.setItem("activeTab", key);
                if(key===0){
//                    能否显示物业服务赛选列表 能则显示 不能则改为能
                    if(this.propertySieving.canShowSieving){
                        this.toggleSieving();
                    }else{
                        this.propertySieving.canShowSieving=true
                    }
//                    关闭公司服务赛选列表
                    this.companySieving.isShowSieving=false;
                    this.companySieving.canShowSieving=false
                }else{
                    if(this.companySieving.canShowSieving){
                        this.toggleSieving();
                    }else{
                        this.companySieving.canShowSieving=true
                    }
                    this.propertySieving.isShowSieving=false;
                    this.propertySieving.canShowSieving=false
                }
            },
            sievingChange(key){
                if(this.active===0){
                    this.propertySieving.serviceIndex=key;
                    this.propertyShow=[];
                    sessionStorage.setItem("pSievingType", key);
                    if(this.propertySieving.serviceIndex===''){
                        this.propertyShow=this.property;
                    }else{
                        for(var i=0;i<this.property.length;i++){
                            if(this.property[i].app_id===this.propertySieving.serviceList[this.propertySieving.serviceIndex].appid){
                                this.propertyShow.push(this.property[i]);
                            }
                        }
                    }
                }else{
                    this.companySieving.serviceIndex=key;
                    this.companyShow=[];
                    sessionStorage.setItem("cSievingType", key);
                    if(this.companySieving.serviceIndex===''){
                        this.companyShow=this.company;
                    }else if(this.companySieving.serviceList[this.companySieving.serviceIndex].appid==='other'){
                        for(var i=0;i<this.company.length;i++){
                            if(this.company[i].app_id!==12){
                                this.companyShow.push(this.company[i]);
                            }
                        }
                    }else{
                        for(var i=0;i<this.company.length;i++){
                            if(this.company[i].app_id===this.companySieving.serviceList[this.companySieving.serviceIndex].appid){
                                this.companyShow.push(this.company[i]);
                            }
                        }
                    }
                }
                this.toggleSieving();
            },
            toggleSieving(){
                if(this.active===0){
                    this.propertySieving.isShowSieving = !this.propertySieving.isShowSieving;
                }else{
                    this.companySieving.isShowSieving = !this.companySieving.isShowSieving;
                }

            },
        },
    })
</script>
{/block}