{extend name="public/common"}

{block name="style"}
<style>
    .grade1{
        font-size: 1.4rem;
        color: #333;
    }
    .grade1>li{
    }
    .grade1>li>a{
        position: relative;
        padding:0 1.2rem;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width:100%;
        line-height: 5rem;
        height:5rem;
        border-bottom: 1px dashed #f1f1f1;
    }
    .grade1>li>a:after {
        content: '';
        display: block;
        -webkit-font-smoothing: antialiased;
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
        border-color: #333333;
        border-style: solid;
        -webkit-transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
        transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
    }
    .grade1>li>a.open:after{
        -webkit-transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
        transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
    }
    .grade1>li>a>span>span:first-child{
        margin-right: 2rem;
    }
    .grade1>li>div{
        background-color: #F6F6F6;
        overflow: hidden;
        height:0;
        color: #666;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 100ms linear;
    }
    .grade2{
        padding:0 2rem
    }
    .grade2>li>span{
        display: inline-block;
        margin-bottom: 0.9rem;
    }
    .grade2>li:first-child{
        margin-top: 0.9rem;
    }
    .grade3{
        padding-left: 3rem;
    }
    .grade3>li{
        list-style: disc;
        color: #bbb;
        margin-bottom: 0.9rem;
    }
    .grade3>li>span{
        color: #333;
    }

    #app .active{
        height:auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #f1f1f1;
    }
    #app a{
        /*-webkit-tap-highlight-color: transparent;*/
        -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-appearance:none;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <ul class="grade1">
        <li v-for="version in versionData">
            <a @click="toOpen(version.number)" :class="{open:(openNumber===version.number)}">
                <span><span>{{version.number}} </span><span>{{version.date}}</span></span>
            </a>
            <div :class="{active:(version.number===openNumber)}" >
            <ul class="grade2">
                <li v-for="info in version.info">
                    <span>{{info.title}}</span>
                    <ul class="grade3">
                        <li v-for="detail in info.detail"><span>{{detail}}</span></li>
                    </ul>
                </li>
            </ul>
            </div>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script>
//    版本号：V1.2.7
//    上线时间：（待定）
//    更新内容：
//    1.积分商城页面优化，增加积分明细查看；
//    2.新闻审核流程优化；
//    3.个人中心、新闻通告、我要租房等频道页面优化，流程完善；
//    4.园区党建和工会联盟合并成一个“党建工会”频道；
//    5.新增商标申请、专利申请、版权登记三类企业服务；
//    6.后台菜单优化，新增待办数量提示；
    var app = new Vue({
        el: '#app',
        data: {
            versionData:[
                {
                    number:'版本号：V1.2.6',
                    date:'上线时间：2017-11-22',
                    info:[
                        {title:'1.新增积分商城体系，通过积分兑换实物的方式增加用户粘性；'},
                        {title:'2.企业服务中新增免费商标查询服务；'},
                        {title:'3.饮水服务增加权限，只有企业中的指定用户可以使用饮水服务，企业可对使用饮水服务的员工进行管理；'},
                        {title:'4.员工加入企业需要认证；'},
                        {title:'5.新闻发布和推送增加审核流程；'},
                        {title:'6.个人中心中新增版本迭代信息；'},
                        {title:'7.对部分原有界面进行了细节优化；'}
                    ]
                },
                {
                    number:'版本号：V1.2.5',
                    date:'上线时间：2017-11-10',
                    info:[
                        {title:'1.进一步完善了个人中心中的个人信息；'},
                        {title:'2.个人中心中新增“推荐关注”频道用以推广园区注册二维码；'},
                        {title:'3.优化了部分后台操作流程和样式；'},
                        {title:'4.优化了部分前端的文字规范和流程规范；'}
                    ]
                },
                {
                    number:'版本号：V1.2.4',
                    date:'上线时间：2017-11-3',
                    info:[
                        {title:'1.优化了后台的部分操作流程和操作规范，新增导出Excel功能；'},
                        {title:'2.完善了个人中心中的个人信息，增加了我的服务分类；'},
                        {title:'3.区分了滨江园区和希垦园区的注册方式，注册时增加公司和房号的关联选择；'},
                        {title:'4.饮水服务流程调整，完善了部分服务信息；'},
                        {title:'5.我要租房频道新增“已预约”状态；'},
                    ]
                },
                {
                    number:'版本号：V1.2.3',
                    date:'上线时间：2017-10-24',
                    info:[
                        {title:'1.企业服务页面优化；'},
                        {title:'2.扫码注册后新增园区选择功能；'},
                        {title:'3.滨江园区房间信息、企业信息录入；'},
                        {title:'4.个人中心新增“意见反馈”频道；'},
                    ]
                },
                {
                    number:'版本号：V1.2.2',
                    date:'上线时间：2017-10-16',
                    info:[
                        {title:'1.调整了物业服务的推送目标和推送延时；'},
                        {title:'2.优化了物业服务中的部分操作流程和流程规范；'},
                        {title:'3.新增物业报修电话选择拨打功能；'},
                        {title:'4.物业服务记录中新增物业服务详情页；'},
                        {title:'5.完善了园区推送信息；'}

                    ]
                },
                {
                    number:'版本号：V1.2.1',
                    date:'上线时间：2017-10-13',
                    info:[
                        {title:'1.完善了饮水服务和报修流程；'},
                        {title:'2.物业缴费增加了对对应权限人员的推送提醒；'},
                        {title:'3.调整了部分物业服务和企业服务的推送人员权限；'},
                        {title:'4.园区简介增加了智新泽地信息的推送；'},
                        {title:'5.办公用品模块替换为花卉租赁模块；'},
                        {title:'6.个人中心中的“我的服务”增加了服务详情页面，根据不同的服务权限设置了对应的记录浏览权限；'},
                        {title:'7.注册二维码增加了对应的文字提示；'}
                    ]
                },
                {
                    number:'版本号：V1.2.0',
                    date:'上线时间：2017-10-8',
                    info:[
                        {title:'1.新闻动态取消评论功能；'},
                        {title:'2.部分物业服务名称调整；'},
                        {title:'3.人才服务频道合并至企业服务频道中，作为一个二级频道；'},
                        {title:'4.小额缴费部分去除对公帐号，增加个人支付宝二维码；'},
                        {title:'5.取消意见反馈频道；'},
                        {title:'6.后台同步部门、标签、人员更改为一键同步；'},
                        {title:'7.部分后台界面优化，操作流程完善；'},
                    ]
                },
                {
                    number:'版本号：V1.1.2',
                    date:'上线时间：2017-9-27',
                    info:[
                        {title:'1.明确了企业服务和物业服务的推送权限；'},
                        {title:'2.完善了消息推送文本以及推送对象；'},
                    ]
                },
                {
                    number:'版本号：V1.1.1',
                    date:'上线时间：2017-9-21',
                    info:[
                        {title:'1.拆分招商管理和工作日志模块；'},
                        {title:'2.修改了园区概览图和合同管理图；'},
                        {title:'3.进行了大屏适配调试；'},
                        {title:'4.“我要租房”频道增加了租房意向填写功能；'},
                    ]
                },
            ],
            openNumber:''
        },
        created(){
            this.openNumber = this.versionData[0].number
        },
        methods: {
            toOpen(number){
                if(this.openNumber !== number){
                    this.openNumber = number;
                }else{
                    this.openNumber = ''
                }
            }
        }
    })
</script>
{/block}