{extend name="public/common"}

{block name="style"}
<title>企业信息</title>
<style>
    .my-header{
        padding:1.5rem 4vw;
        display: -webkit-flex;
        display: flex;
        /*align-items: center;*/
        border-bottom: 0.8rem solid  #f1f1f1;
    }
    .my-header-img{
        width:16vw;
        margin-right: 4vw;
    }
    .my-header-img>img{
        width:16vw;
        height:16vw;
        border-radius: 3px;
    }
    .my-header-info{
        box-sizing: border-box;
        /*flex:1;*/
        width:72vw;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .my-header-info>li:first-child{
        font-size: 1.6rem;
        color: #333;
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/

    }
    .my-header-info>li:last-child{
        color: #333;
        font-size: 1.2rem;
        margin-top: 1rem;
        word-wrap: break-word;
        word-break: break-all;
    }
    .my-header-info>li a{
        color: #333;
    }
    .my-header-info>li a.can_call{
        color: #59b7f4;
    }
    /*tab*/
    .my-nav{
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        line-height: 5rem;
        font-size: 1.5rem;
        height:5rem;
        border-bottom: 2px solid #f1f1f1;
    }
    .my-nav>li{
        margin-bottom: -2px;
        padding:0 1rem;
    }
    .my-nav>li.active{
        color: #69b9f9;
        border-bottom: 2px solid #69b9f9;
    }

    /*内容*/
    .my-content>li{
        display: none;
    }
    .my-content>.profile, .my-content>.contact{
        padding:1.7rem 5.06666666vw 6.7rem;
    }
    .my-content>.profile>p,.my-content>.contact p{
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 2.0rem;
        color: #666;
        /*text-indent:2em;*/
    }
    .my-content>.contact .call_btn{
        position: fixed;
        bottom:0;
        left:0;
        height:5rem;
        width:100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-content>.contact .call_btn>a{
        width:90%;
        height:4rem;
        text-align: center;
        color: #fff;
        background-color: #69b9f9;
        line-height:4rem;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .my-content .contentShow{
        display: block;
    }
    .service>ul>li,.product>ul>li{
        padding:1.8rem 5.8666666vw;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f1f1f1;
    }
    .my-content-img{
        width:90px;
        height:70px;
        margin-right: 5.3333333vw;
        background: url('') no-repeat center center;
        background-size: cover;
        border-radius: 3px;
    }
    .my-content-info{
        width:57.6vw;
    }
    .my-content-info>li:first-child{
        width:100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4rem;
        color: #666;
    }

    .my-content-info>li:last-child{
        width:100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
         overflow: hidden;
        font-size: 1.2rem;
        color: #999;
        margin-top: 0.7rem;
    }
    .my-content>li *{
        max-width: 100%!important;
    }


    .header-icon {
        width: 11.2vw;
        top:4rem;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.5s;
        position: fixed;
        z-index: 400;
        height:8vw;
        background-image: url(/index/images/roomrent/icon-list.png);

    }
    .header-icon.showHeaderIcon{
        right:-11.2vw;
    }
    .header-icon.index_down{
        z-index: 100;

    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div class="my-header">
        <div class="my-header-img">
            <img :src="baseData.img" alt="公司logo" v-if="baseData.img">
            <img src="/index/images/index/icon-no.png" alt="公司logo" v-else>
        </div>
        <ul class="my-header-info">
            <li>{{baseData.name}}</li>
            <li>网址：
                <a class="can_call" v-if="baseData.site" @click="window.location.href = baseData.site">{{baseData.site}}</a>
                <a v-else>暂无</a>
            </li>
        </ul>
    </div>
    <i class="header-icon" @click="toFloorList"></i>
    <ul class="my-nav">
        <li :class="{active:isActive==0}" @click="changeTab(0)">企业介绍</li>
        <li :class="{active:isActive==1}" @click="changeTab(1)" v-if="baseData.service!=''">企业服务</li>
        <li :class="{active:isActive==2}" @click="changeTab(2)" v-if="baseData.product!=''">企业产品</li>
        <li :class="{active:isActive==3}" @click="changeTab(3)">联系我们</li>
    </ul>
    <ul class="my-content">
        <li class="profile" :class="{'contentShow':isActive==0}" v-html="baseData.present">

        </li>
        <li class="service" :class="{'contentShow':isActive==1}" v-if="baseData.service!=''">
            <ul>
                <li v-for="item in baseData.service" @click="jumpTo(item.id)">
                    <div class="my-content-img" v-if="!item.front_cover" :style="{backgroundImage:'url('+imgPath+')'}"></div>
                    <div class="my-content-img" v-else :style="{backgroundImage:'url('+item.front_cover+')'}"></div>
                    <ul  class="my-content-info">
                        <li>{{item.name}}</li>
                        <li>{{item.detail}}</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="product" :class="{'contentShow':isActive==2}" v-if="baseData.product!=''">
            <ul>
                <li v-for="item in baseData.product" @click="jumpTo(item.id)">
                    <div class="my-content-img" v-if="!item.front_cover" :style="{backgroundImage:'url('+imgPath+')'}"></div>
                    <div class="my-content-img" v-else :style="{backgroundImage:'url('+item.front_cover+')'}"></div>
                    <ul  class="my-content-info">
                        <li>{{item.name}}</li>
                        <li>{{item.detail}}</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="contact" :class="{'contentShow':isActive==3}">
            <div  v-html="baseData.about_us"></div>
            <div class="call_btn" v-if="baseData.mobile">
                <a :href="'tel:'+baseData.mobile">联系我们</a>
            </div>
        </li>
    </ul>
</div>
{/block}

{block name="script"}
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
var app = new Vue({
    el:'#app',
    data:{
        isActive:0,
        baseData:{$info},
        imgPath:'/index/images/feedback/indexbg.jpg',
        baseApi:'{:Url("Enterprise/detail")}'
    },
//    emulateJSON: true,
    mounted(){
        this.addBase();
        this.imgPreview();
    },
    methods:{
        addBase(){
            var activeByurl = window.location.href.split('/c/')[1] || '',
                    activeItem = window.sessionStorage.getItem('activeItem');
            if(activeItem!==null){
                this.isActive = parseInt(activeItem);
            }else if(activeByurl!==''){
                this.isActive = parseInt(activeByurl)
            }else{
                this.isActive = 0;
            }
        },
//        文章图片点击预览
        imgPreview(){
            var _this = this,
                    imgs = document.getElementsByClassName('profile')[0].getElementsByTagName('img') || [],
                    imgsSrc = [],
                    href =window.location.href,
                    data ={
                        url:href
                    };
            if(imgs.length===0){
                return;
            }
            _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
                var data = JSON.parse(res.data);
                wx.config({
                    debug: false,
                    appId: data.appid,
                    timestamp:data.timestamp ,
                    nonceStr: data.noncestr,
                    signature: data.signature,
                    jsApiList: ['previewImage']
                });
                for(var i = 0;i < imgs.length;i++){
                    imgsSrc[i] = imgs[i].src;
                    imgs[i].onclick=function () {
                        wx.previewImage({
                            current: this.src,
                            urls: imgsSrc
                        });
                    }
                }
            },function () {
            });
        },
        changeTab(value){
            this.isActive=value;
            window.sessionStorage.setItem('activeItem',value)
        },
        jumpTo(id){
            window.location.href='/index/enterprise/product/id/'+id
        },
        toFloorList(){
            window.location.href = '/index/enterprise/floorList/department/'+this.baseData.department_id
        }
    }
})
</script>
{/block}