{extend name="public/common"}
<style>

</style>
{block name="style"}
<title>园区企业</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>

    .header{  background-color: #fff;  position: fixed;  top:0;  left: 0;  z-index: 100;  width:100vw;  }
    .list{padding-top: 14.67vw;}
    .houses-list-box{
        padding-top: 23.47vw;
    }
    body{background-color:#f1f1f1}
    .search{background:#f0eff5;
        box-sizing: border-box;
        width:100%;padding:.8rem 2.133vw;position:fixed;
        top:0;
        left:0;z-index:300}
    .search>.searchBox{border-radius:.3rem;height:3.2rem;background:#fff;text-align:center}
    .search>.unBtn{display:none}
    .search>.searchBox>.searchInput{display:none}
    .search>.searchBox>.searchText{display:inline-block;font-size:1.4rem;color:#999;padding-left:2rem;min-width:1px;line-height:3.2rem;height:3.2rem;background:url(/index/images/enterprise/search.png) 0 50% no-repeat;background-size:1.4rem 1.4rem}
    .search.isClick{background:#fff;border-bottom:1px solid #f1f1f1;display:flex;align-items:center;justify-content:space-between}
    .search.isClick>.searchBox{background:#f0eff5;padding-left:2.66vw;width:78vw;display:flex;align-items:center}
    .search.isClick>.searchBox>.searchText{display:inline-block}
    .search.isClick>.searchBox>.searchText>.searchText_c{display:none}
    .search.isClick .searchInput{background:#f0eff5;display:inline-block;font-size:1.4rem;height:3.2rem;width:61.33vw}
    .search.isClick>.unBtn{display:block;padding:0;box-sizing:border-box;width:3.8rem;height:2.8rem;line-height:2.8rem;border-radius:5px;border:1px solid #5d9cec;color:#5d9cec;text-align:center;font-size:1.4rem}
    .searchList{min-height:100vh;width:100%;position:absolute;top:0;left:0;z-index: 120}
    .searchList.company-list{padding:0}
    .searchList.company-list>li{margin-bottom:0;}
    /*.searchList.company-list .li-content {border-bottom:1px solid #f1f1f1}*/
    .searchList.bgWhite{background-color:rgba(255,255,255,1)}
    .searchList>li:first-child{margin-top:4.8rem}

    .screen-box{
        position: fixed;
        top:4.8rem;
        left:0;
        box-sizing: border-box;
        width:100%;
        height:4rem;
        line-height: 4rem;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        background-color: #f0eff5;
        z-index: 101;
    }
    .screen-box>li:not(:nth-child(2)){
        flex:1;
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 2.4vw;
    }
    .screen-box>li:nth-child(2){
        width:1px;
        height:100%;
        background-color: #e8e8e8;
    }
    .screen-box>li>span{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .list-position{
        position:relative;top:0;left:0;padding:8.8rem 0 0 0;
        width:100%;
        box-sizing:border-box;
        background-color: #fff;
    }
    .company-list{box-sizing:border-box;width:100%;}
    .company-list .li-content{box-sizing:border-box;width:100%;padding:.8rem 3.7333333vw;display:-webkit-flex;display:flex;background-color:#fff;border-bottom: 1px solid #e8e8e8}
    .company-list-bg{display:none;margin:0;padding:0;min-height:100vh;width:100%;background-color:rgba(0,0,0,.5);position:fixed;top:0;left:0;z-index: 121}
    .company-logo>img{text-align:center;line-height:59px;display:block;width:59px;height:59px;border-radius:3px}
    .company-list .company-logo{margin-right:1.4rem}
    .company-info{
        position: relative;
    }
    .company-info>li{width:68vw;line-height:2;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
    .company-info>li:first-child{font-size:1.6rem;color:#333}
    .company-info>li.company-info-mobile{font-size:1.2rem;color:#999}
    .hidden{display:none}
    .overflow{height:100vh;overflow:hidden}


    .header-icon{
        transition: all 0.5s;
        position: fixed;
        top:4rem;
        right:0;
        z-index: 400;
        height:8vw;
        /*transform: rotate(180deg);*/
        /*transform-origin:50% 50%;*/
        /*-ms-transform: rotate(180deg); 		!* IE 9 *!*/
        /*-ms-transform-origin:50% 50%; 		!* IE 9 *!*/
        /*-webkit-transform: rotate(180deg);	!* Safari 和 Chrome *!*/
        /*-webkit-transform-origin:50% 50%;	!* Safari 和 Chrome *!*/
        /*-moz-transform: rotate(180deg);		!* Firefox *!*/
        /*-moz-transform-origin:50% 50%;		!* Firefox *!*/
        /*-o-transform: rotate(180deg);		!* Opera *!*/
        /*-o-transform-origin:50% 50%;		!* Opera *!*/
    }
    .header-icon.showHeaderIcon{
        right:-11.2vw;
    }
    .header-icon.index_down{
        z-index: 100;

    }
    /*#app{*/
        /*position: fixed;*/
        /*top:0;*/
        /*left:0;*/
        /*width:100%;*/
        /*height:100vh;*/
        /*overflow: scroll;*/
        /*background-color: #f0eff5;*/
    /*}*/
    #app .my-icon-flag{
        position: absolute;
        top:-0.8rem;
        right:-2.6666667vw;
        width:30px;
        height:18px;
        /*line-height: 18px;*/
        vertical-align: baseline;
        text-align: center;
        color: #C9C8CC;
        background-color: #F0EFF5;
        font-size: 12px;
        z-index: 100;
        overflow:visible;
    }
    #app .my-icon-flag>span{
        position: relative;
        z-index: 10;
        bottom:-3px;
    }
    #app .my-icon-flag:after,.my-icon-flag:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 0;
    }
    #app .my-icon-flag:after{
        border-top: 8px solid  #F0EFF5;
        border-right: 30px solid transparent;
    }
    #app .my-icon-flag:before{
        border-top: 8px solid  #F0EFF5;
        border-left: 30px solid transparent;
    }

    .mint-cell-wrapper{
        justify-content: flex-start;
        padding: 0;
        line-height: normal;
        min-height: auto;
    }
    .mint-cell-value{
        width: 100%;

    }
    .mint-cell{
        height:100%;
        background-color: #fff;
        padding-left: 2.4vw;
    }
    .mint-cell:last-child{
        background: none;
    }
    .searchList .mint-cell{
        margin-bottom: 0;
    }
    .mint-cell-swipe-button{
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .houses-list-item span{
        position: relative;
    }
    .guide-mask{
        display: none;
        box-sizing: border-box;
        position: fixed;
        top:0;
        left:0;
        height:100%;
        width:100%;
        padding-top: 10rem;
        background-color: rgba(0,0,0,.6);
        z-index: 99999;
    }
    .guide-mask>img{
        display: block;
        margin:0 auto;
    }
    .guide-mask>.icon-item{

        width:96vw;
    }
    .guide-mask>.icon-arrow{
        width:13.33333vw;
        margin:2rem auto;
    }
    .guide-mask>.icon-text{
        width:85.33333vw;
    }
    .guide-mask>.icon-readed{
        width:22.93333vw;
        margin-top:4rem;
    }
    .my-show{
        display: block;
    }

    #app .topItem{
        background:#f0eff5;
    }
    .company-null{
        position: absolute;
        top:0;
        left:0;
        height: 100vh;
        width:100vw;
        background-color: #F5F5F5;
    }
    .company-null>img{
        text-align: center;
        width:100%;
        margin-top: 8.8rem;
    }
</style>

{/block}

{block name="body"}
<div id="app" :class="{'overflow':isShowGuide}">
    <i class="header-icon" @click="parkToggle" :class="[isHouseList ? 'icon-tab' : 'icon-list',inputStatus?'index_down':'',!isShowHeaderIcon?'showHeaderIcon':'' ]"></i>
    <div  v-if="!isHouseList">
        <div class="search" :class="{isClick:inputStatus}" >
            <div class="searchBox" @click="isClick">
                <div class="searchText"><span class="searchText_c">请在此输入企业名称</span></div>
                <input type="text" v-model="inputValue" class="searchInput" placeholder="请在此输入企业名称" v-focus="isFocus">
            </div>
            <div class="unBtn" @click="isCancel">取消</div>
        </div>
        <!--公司列表-->
        <div  :class="{overflow:inputStatus}" class="list-position" v-if="inputValue===''">
            <!--筛选-->
            <ul class="screen-box" >
                <li @click="toggleTypeScreen(true)"><span>{{typeScreen.slots[0].values[typeScreen.sureIndex].text}}</span><i class="allow-down"></i></li>
                <li></li>
                <li @click="toggleScaleScreen(true)"><span>{{scaleScreen.slots[0].values[scaleScreen.sureIndex].text}}</span><i class="allow-down"></i></li>
            </ul>
            <!--类型筛选弹选择出框-->
            <mt-popup  position="bottom"  v-model="typeScreen.isShow" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="toggleTypeScreen(false)">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="sureTypeScreen">确定</span>
                </div>
                <mt-picker :slots="typeScreen.slots" value-key="text" @change="typeScreenChange"></mt-picker>
            </mt-popup>
            <!--规模筛选弹选择出框-->
            <mt-popup  position="bottom"  v-model="scaleScreen.isShow" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="toggleScaleScreen(false)">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="sureScaleScreen">确定</span>
                </div>
                <mt-picker :slots="scaleScreen.slots" value-key="text" @change="scaleScreenChange"></mt-picker>
            </mt-popup>
            <!--置顶企业列表-->
            <div class="company-null" v-if="topScreenList.length===0 && noTopScreenList.length===0">
                <img src="/index/images/enterprise/null.jpg" alt="">
            </div>
            <ul class="company-list">
                <li v-for="item in topScreenList" class="topItem">
                    <mt-cell-swipe
                            :right="[{content: '取消置顶',style: {  background: '#C8C7CD', color: '#fff' ,fontSize:'1.6rem' },handler: () => toggleTop(false,item.id)}]">
                        <div class="li-content topItem"  @click="jumpTo(item.id)">
                            <div class="company-logo">
                                <img :src="item.img" alt="logo" v-if="item.img">
                                <img src="/index/images/index/icon-no.png" alt="logo" v-else>
                            </div>
                            <ul class="company-info">
                                <li>{{item.name}}</li>
                                <li class="company-info-mobile" v-if="item.mobile">联系电话：{{item.mobile}}</li>
                                <li class="company-info-mobile" v-else>联系电话：暂无</li>
                            </ul>
                        </div>
                    </mt-cell-swipe>
                </li>
            </ul>
            <!--未置顶企业列表-->
            <ul class="company-list">
                <li v-for="item in noTopScreenList">
                    <mt-cell-swipe
                            :right="[{content: '置顶',style: {  background: '#FCC44B', color: '#fff' ,fontSize:'1.6rem' },handler: () => toggleTop(true,item.id)}]">
                        <div class="li-content"  @click="jumpTo(item.id)">
                            <div class="company-logo">
                                <img :src="item.img" alt="logo" v-if="item.img">
                                <img src="/index/images/index/icon-no.png" alt="logo" v-else>
                            </div>
                            <ul class="company-info">
                                <li>{{item.name}}</li>
                                <li v-if="item.mobile" class="company-info-mobile">联系电话：{{item.mobile}}</li>
                                <li class="company-info-mobile" v-else>联系电话：暂无</li>
                            </ul>
                        </div>
                    </mt-cell-swipe>
                </li>
            </ul>
        </div>
        <!--搜索列表-->
        <div class="company-list-bg"  :class="{'my-show':(inputValue==='' && inputStatus)}"  @click="isCancel">
            <div class="li-content "></div>
        </div>
        <ul class="searchList company-list list-position" :class="{bgWhite:inputValue}" v-if="inputStatus && inputValue!==''">
            <li v-for="item in searchTopList" class="topItem">
                <mt-cell-swipe
                        :right="[{content: '取消置顶',style: {  background: '#C8C7CD', color: '#fff' ,fontSize:'1.6rem' },handler: () => toggleTop(false,item.id)}]">
                    <div class="li-content topItem"  @click="jumpTo(item.id)">
                        <div class="company-logo">
                            <img :src="item.img" alt="logo" v-if="item.img">
                            <img src="/index/images/index/icon-no.png" alt="logo" v-else>
                        </div>
                        <ul class="company-info">
                            <li>{{item.name}}</li>
                            <li class="company-info-mobile" v-if="item.mobile">联系电话：{{item.mobile}}</li>
                            <li class="company-info-mobile" v-else>联系电话：暂无</li>
                        </ul>
                    </div>
                </mt-cell-swipe>
            </li>
            <li v-for="item in searchNoTopList">
                <mt-cell-swipe
                        :right="[{content: '置顶',style: {  background: '#FCC44B', color: '#fff' ,fontSize:'1.6rem' },handler: () => toggleTop(true,item.id)}]">
                    <div class="li-content"  @click="jumpTo(item.id)">
                        <div class="company-logo">
                            <img :src="item.img" alt="logo" v-if="item.img">
                            <img src="/index/images/index/icon-no.png" alt="logo" v-else>
                        </div>
                        <ul class="company-info">
                            <li>{{item.name}}</li>
                            <li v-if="item.mobile" class="company-info-mobile">联系电话：{{item.mobile}}</li>
                            <li class="company-info-mobile" v-else>联系电话：暂无</li>
                        </ul>
                    </div>
                </mt-cell-swipe>
            </li>
        </ul>
    </div>
    <div class=""  v-if="isHouseList">
        <div class="header">
            <h2 @click="checkPark" class="header-tit">
                <span v-html="showPark"></span> <i class="allow-down"></i>
            </h2>
            <div class="houses-icon-box" v-show="isHouseList">
                <template v-if="parkName.index =='人工智能产业园'">
                    <span class="mar-sm"><i class="houses-icon icon-rentable"></i>空置</span>
                    <span class="mar-sm"><i class="houses-icon icon-reserve"></i>预订</span>
                    <span class="mar-sm"><i class="houses-icon icon-renewable"></i>已租</span>
                </template>
                <template v-else>
                    <span ><i class="houses-icon icon-rentable"></i>可租</span>
                    <span ><i class="houses-icon icon-renewable"></i>已租</span>
                    <!--<span ><i class="houses-icon icon-renewable"></i>已租</span>-->
                </template>

            </div>
            <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
                <div class="picker-toolbar">
                    <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                    <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
                </div>
                <mt-picker :slots="slots" @change="onParkChange" ></mt-picker>
            </mt-popup>
        </div>
        <div class="houses-list-box">
            <div class="houses-list" v-for="item of showhouseList" >
                <div class="houses-list-tit">
                    {{item.floor}}楼
                </div>
                <div class="houses-list-item">
                    <template v-if="parkName.index =='人工智能产业园' && parkName.txt =='A幢' && item.floor == '2'">
                 <span  :class="classBar(item.rooms[0].empty)" @click="jump(item.rooms[0].room_id,item.rooms[0].empty)" class="room-lg">
                   运营中心
                </span>
                    </template>
                    <template v-else>
                 <span v-for="rooms of item.rooms" :class="classBar(rooms.empty)" @click="jump(rooms.room_id || rooms.id,rooms.empty)">
                    {{rooms.room}}
                </span>
                    </template>

                </div>

            </div>
        </div>
    </div>
    <div class="guide-mask" :class="{'my-show':isShowGuide}">
        <img src="/index/images/enterprise/icon-item.png" alt="" class="icon-item">
        <img src="/index/images/enterprise/icon-arrow.png" alt="" class="icon-arrow">
        <img src="/index/images/enterprise/icon-text.png" alt="" class="icon-text">
        <img src="/index/images/enterprise/icon-readed.png" alt="" class="icon-readed" @click="isShowGuide = false">
    </div>
</div>
{/block}

{block name="script"}
<script>
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        update: function (el,value) {
            // Focus the element
            if(value.value){
                el.focus()
            }
        }
    });
    var list = {$room};
    var values = [];
    for(var i in list){
        values.push(list[i]);
    }
    var app= new Vue({
        el:'#app',
        data:{
            isSubmit:false,
            roomList:{$room},
            inputStatus:false,
            isFocus:false,
            inputValue:'',
            companyList:{$list},
            searchList:[],
            topCompany:{$top_company},
            isShowHeaderIcon:true,
            interval:'',
            isShowGuide:false,
            //筛选
            scaleScreen:{
                isShow:false,
                slots: [
                    {
                        defaultIndex: 1,
                        values: [
                            {text:'全部规模',index:0,value:''},
                            {text:'微型企业',index:1,value:0},
                            {text:'小型企业',index:2,value:1},
                            {text:'中型企业',index:3,value:2},
                        ],
                    }
                ],
                sureIndex:0,
                index:0
            },
            typeScreen:{
                isShow:false,
                slots: [
                    {
                        defaultIndex: 1,
                        values: [
                            {text:'全部类别',index:0,value:''},
                            {text:'农、牧、林、渔业',index:1,value:''},
                            {text:'采矿和采石',index:2,value:''},
                            {text:'制造业',index:3,value:''},
                            {text:'电、煤气、蒸汽和空调供应',index:4,value:''},
                            {text:'供水；污水处理、废物管理和补救',index:5,value:''},
                            {text:'建筑业',index:6,value:''},
                            {text:'批发和零售业；汽车和摩托车修理',index:7,value:''},
                            {text:'运输与存储',index:8,value:''},
                            {text:'食宿服务',index:9,value:'0'},
                            {text:'信息和通信',index:10,value:'2'},
                            {text:'金融和保险',index:11,value:''},
                            {text:'房地产',index:12,value:''},
                            {text:'专业、科学和技术',index:13,value:''},
                            {text:'行政和辅助',index:14,value:'1'},
                            {text:'公共管理与国防；强制性社会保障',index:15,value:''},
                            {text:'教育',index:16,value:''},
                            {text:'人体健康和社会工作',index:17,value:''},
                            {text:'艺术、娱乐和文娱',index:18,value:''},
                            {text:'其他服务',index:19,value:''},
                        ],
                    }
                ],
                sureIndex:0,
                index:0
            },
            //楼盘表
            isHouseList:false,
            list:list,
            popupVisible:false,
            parkPicker:'',
            name:Object.keys(list),
            parkName:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            parkTxt:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            slots: [
                {
                    defaultIndex: 1,
                    values: Object.keys(list)
                },{
                    defaultIndex: 1,
                    values:Object.keys(Object.values(list)[0])
                }
            ],
        },
        created(){
            var isHouseList = window.sessionStorage.getItem('isHouseList');

            if(isHouseList!==null){
                this.isHouseList = JSON.parse(isHouseList);
                if(this.isHouseList){
                   var parkName =  window.sessionStorage.getItem('parkName');
                    if(parkName!==null){
                        this.parkName = JSON.parse(parkName);
                    }
                }
            }else if(!this.isHouseList){
                console.log('企业列表')
                var companyScreen =  window.sessionStorage.getItem('companyScreen');
                if(companyScreen!==null){
                    companyScreen = JSON.parse(companyScreen);
                    this.scaleScreen.sureIndex = companyScreen.scaleScreenIndex ;
                    this.typeScreen.sureIndex = companyScreen.typeScreenIndex ;
                }
            }
        },
        mounted(){
            var _this = this;
            var canShowGuide = window.localStorage.getItem('canShowGuide');
            if(canShowGuide===null){
                window.localStorage.setItem('canShowGuide','no');
                this.isShowGuide=true
            }
            _this.interval = setTimeout(function () {
                        _this.isShowHeaderIcon = false
                    },2000);
//            头部楼盘表切换按钮定时隐藏，滑动显示
            window.onscroll = function(){
                _this.isShowHeaderIcon = true;
                if(_this.interval){
                    clearInterval(_this.interval);
                }
                clearInterval(_this.interval);
                _this.interval = setTimeout(function () {
                    _this.isShowHeaderIcon = false
                },2000)
            };
            _this.$nextTick(function() {
                setTimeout(function() {
                    _this.slots[0].defaultIndex = 0;
                    _this.scaleScreen.slots[0].defaultIndex = 0;
                    _this.typeScreen.slots[0].defaultIndex = 0;
                }, 100);
            });
        },
        computed:{
            topScreenList(){
                var list = this.topList,
                        scaleItem =this.scaleScreen.slots[0].values[this.scaleScreen.sureIndex],
                        scaleValue = scaleItem.value,
                        typeItem = this.typeScreen.slots[0].values[this.typeScreen.sureIndex],
                        typeValue = typeItem.value;
                /**规模筛选**/
                if(scaleValue === ''){
                    if(scaleItem.index===0){
                        list = list;
                    }else{
//                        value为空且index不未0的选项，后端暂未定义该类型，仅作显示
                        list = [];
                    }
                }else {
                    var newList = [];
                    for(var i in list){
                        if(list[i].size_type == scaleValue){
                            newList.push(list[i])
                        }
                    }
                    list = newList;
                }
                /**类型筛选**/
                if(typeValue === ''){
                    if(typeItem.index===0){
                        list = list;
                    }else{
//                        value为空且index不未0的选项，后端暂未定义该类型，仅作显示
                        list = [];
                    }
                }else {
                    var newList = [];
                    for(var i in list){
                        if(list[i].type == typeValue){
                            newList.push(list[i])
                        }
                    }
                    list = newList;
                }
                return list
            },
            noTopScreenList(){
                var list = this.noTopList;
                        scaleItem =this.scaleScreen.slots[0].values[this.scaleScreen.sureIndex],
                        scaleValue = scaleItem.value,
                        typeItem = this.typeScreen.slots[0].values[this.typeScreen.sureIndex],
                        typeValue = typeItem.value;
                /**规模筛选**/
                if(scaleValue === ''){
                    if(scaleItem.index===0){
                        list = list;
                    }else{
//                        value为空且index不未0的选项，后端暂未定义该类型，仅作显示
                        list = [];
                    }
                }else {
                    var newList = [];
                    for(var i in list){
                        if(list[i].size_type == scaleValue){
                            newList.push(list[i])
                        }
                    }
                    list = newList;
                }
                /**类型筛选**/
                if(typeValue === ''){
                    if(typeItem.index===0){
                        list = list;
                    }else{
//                        value为空且index不未0的选项，后端暂未定义该类型，仅作显示
                        list = [];
                    }
                }else {
                    var newList = [];
                    for(var i in list){
                        if(list[i].type == typeValue){
                            newList.push(list[i])
                        }
                    }
                    list = newList;
                }
                return list
            },
            searchTopList(){
                //                搜索
                if(this.inputValue!==''){
                    var list = this.topList,
                            reg=new RegExp(this.inputValue),
                            regList=[];
                    for(let i=0;i<list.length;i++){
                        if(reg.test(list[i].name)){
                            regList.push(list[i])
                        }
                    };
                    return regList;
                }else{
                    return [] ;
                }
            },
            searchNoTopList(){
                //                搜索
                if(this.inputValue!==''){
                    var list = this.noTopList,
                            reg=new RegExp(this.inputValue),
                            regList=[];
                    for(let i=0;i<list.length;i++){
                        if(reg.test(list[i].name)){
                            regList.push(list[i])
                        }
                    };
                    return regList;
                }else{
                    return [] ;
                }
            },
            topList:function () {
                var _this = this;
                if(_this.topCompany.length===0){
                    return []
                }
                var list = [];
                for(var i=0;i<_this.topCompany.length;i++){
                    for(var o=0;o<_this.companyList.length;o++){
                        if(_this.topCompany[i] == _this.companyList[o].id){
//                            _this.companyList[o].isTop = true
                            list.push(_this.companyList[o]);
                            break
                        }
                    }
                }
                return list
            },
            noTopList:function () {
                var _this = this;
                if(_this.topCompany.length===0){
                    return _this.companyList
                }
                var list = [];
                for(var i=0;i<_this.companyList.length;i++){
                    var isTop =false;
                    for(var o=0;o<_this.topCompany.length;o++){
                        if(_this.topCompany[o] == _this.companyList[i].id){
                            isTop = true;
                            break
                        }
                    }
                    if(!isTop){
                        list.push(_this.companyList[i]);
                    }
                }
                return list;
            },
            showhouseList:function () {
                var _this = this;
                for(var obj in _this.list){
                    for(var arr in _this.list[obj]){
                        if(_this.parkName.index == obj && _this.parkName.txt == arr){
                            return _this.list[obj][arr].houselist;
                        }
                    }
                }
            },
            showrentList:function () {
                var _this = this;
                for(var obj in _this.list){
                    for(var arr in _this.list[obj]){
                        if(_this.parkName.index == obj && _this.parkName.txt == arr){
                            return _this.list[obj][arr].rentlist;
                        }
                    }
                }
            },
            showPark:function () {
                var _this = this;
                return _this.parkName.index + _this.parkName.txt;
            },
            showState:function () {
                var _this = this;
                _this.parkName
            }
        },
        methods:{
//            规模筛选
            toggleScaleScreen(isOpen){
                var _this = this;
                if(isOpen){
                    _this.scaleScreen.isShow=true
                }else{
                    _this.scaleScreen.isShow=false
                }
            },
            sureScaleScreen(){
                var _this = this;
                _this.scaleScreen.sureIndex=_this.scaleScreen.index;
                _this.toggleScaleScreen(false);
            },
            scaleScreenChange(picker,values){
                var _this = this;
                if(values[0]){
                    _this.scaleScreen.index = values[0].index;
                }

            },
//            类型筛选
            toggleTypeScreen(isOpen){
                var _this = this;
                if(isOpen){
                    _this.typeScreen.isShow=true
                }else{
                    _this.typeScreen.isShow=false
                }
            },
            sureTypeScreen(){
                var _this = this;
                _this.typeScreen.sureIndex=_this.typeScreen.index;
                _this.toggleTypeScreen(false);
            },
            typeScreenChange(picker,values){
                var _this = this;
                if(values[0]){
                    _this.typeScreen.index = values[0].index;
                }

            },
            hidProtocol(url){
                var url = url || '',
                        start=url.indexOf('://');
                if(start !== -1){
                    url = url.substring(start+3,url.length);
                    return url;
                }else{
                    return url;
                }
            },
            toggleTop(isTop,id){
                var _this = this;
                this.isFocus = false;
                if(_this.isSubmit){
                    _this.$toast({
                        message:"提交中，请勿重复操作~",
                        duration:1000
                    });
                    return;
                }
                var data={
                    department:id,
                    type:isTop?1:2
                };
                _this.$indicator.open({
                    text: '提交中',
                    spinnerType: 'triple-bounce'
                });
                _this.$http.post("{:Url('Enterprise/editTopCompany')}",data).then(function (res) {
                    _this.isSubmit = false;
                    _this.$indicator.close();
                    if(res.data.code===1){
                        _this.$toast({
                            message:"操作成功~",
                            duration:1000
                        });
                        if(!isTop){
                            for(var i=0;i<_this.topCompany.length;i++){
                                if(id == _this.topCompany[i]){
                                    _this.topCompany.splice(i,1);
                                    break
                                }
                            }
                        }else{
                            _this.topCompany.unshift(id);
                        }
                    }else{
                        _this.$toast({
                            message:"提交失败，请重试！",
                            duration:1000
                        });
                    }
                },function (res){
                    _this.isSubmit = false;
                    _this.$indicator.close();
                    _this.$toast({
                        message:"网络错误，请重试！",
                        duration:1000
                    });
                });
            },
            classBar:function (type) {
                if(type == '0') return '';
                if(type == '1') return 'selectable';
                if(type == '2') return 'reserve-able';
            },
            parkToggle:function () {
                var _this = this;
                _this.isHouseList =!_this.isHouseList;
                window.sessionStorage.setItem('isHouseList',JSON.stringify(_this.isHouseList));
//                重置隐藏切换按钮的定时器
                if(_this.interval){clearInterval(_this.interval)};
                _this.interval = setTimeout(function () {
                    _this.isShowHeaderIcon = false
                },2000)
            },
            cancelPark:function () {
                this.popupVisible = false;
            },
            selectPark:function () {
                var _this = this;
                _this.popupVisible = false;
                _this.parkName = _this.parkTxt;
                _this.loading = false;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                _this.parkPicker =  picker;
                if(values[0]){
                    picker.setSlotValues(1,Object.keys(_this.list[values[0]]));
                }
                _this.parkTxt ={
                    index:values[0],
                    txt:values[1]
                };
            },
            checkPark:function () {
                var _this =this;
                _this.popupVisible = true;
//                _this.parkPicker.setSlotValue(_this.parkTxt.index, _this.parkTxt.txt);
            },
            /**楼盘表的跳转**/
            jump:function (id,empty) {
                if(!id){ return;}
                window.sessionStorage.setItem('parkName',JSON.stringify(this.parkName ))
                if(!empty){
                    window.location.href="/index/enterprise/detail/c/"+0+'/id/'+id;
                    return;
                }
                window.location.href = "/index/roomrent/rent?room_id="+id;
            },
            /**企业列表的跳转**/
            jumpTo(id){
                var companyScreen = {
                    scaleScreenIndex : this.scaleScreen.sureIndex,
                    typeScreenIndex : this.typeScreen.sureIndex
                };
                sessionStorage.setItem('companyScreen',JSON.stringify(companyScreen));
//                window.location.href="/index/enterprise/info/id/"+id;
                window.location.href="/index/enterprise/detail/c/"+0+'/id/'+id;

            },
            isClick:function () {
                this.inputStatus=true;
                this.isFocus = true;
            },
            isCancel:function () {
                this.inputStatus=false;
                this.isFocus = false;
                this.inputValue='';
            },
        }
    });


</script>
{/block}