*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: #F1F1F1;
    line-height: 1;
}
/*tab*/
.tabs {
    width: 100vw;
    border-bottom:1px solid #dddddd;
    background: #ffffff;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;

}
.tabs .line{
    height:3rem;
    width: 1px;
    background-color: #f1f1f1;
}
.tabs .tab {
    width: 32.5vw;
    flex:1;
    height: 100%;
    color: #333333;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
}
.tabs .tab>span{
    height:100%;
    display: inline-block;
    height:50px;
    line-height: 50px;
    padding:0 5px;
    border-bottom: 2px solid transparent;
}
.tabs .active {
    color: #7DB8F2;
    border-bottom:2px solid #7DB8F2!important;
}
/*覆盖*/
.tabs .tab {
    width: 25vw;
}
/*列表修改*/
.content .notices .notice .list {
    background-color: #fff;
    height:23.23vw;
    display: block;
    padding:3.2vw;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
}
.content .notices .notice .list .fl img {
    width: 80px;
    height: 60px;
    margin-top: 10px;
}
.content .notices .notice .list .right .title {
    margin-bottom: 5px;
    margin-top: 10px;
    height: 38px;
}
.content .notices .notice .list .title {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.8;
}
.content .notices .notice .list .time {
    font-size: 1.2rem;
    line-height: 1.5;
}
.content .notices .notice .source{
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.content .notices .notice .list-right{
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;
}
.content .notices .notice .list .time .readed{
    width:4rem;
    padding-left: 2em;
    background: url('/index/images/news/view.png') left center no-repeat;
    background-size: 1.3em;
}
.content .notices .notice .list .time span{
    color: #999;
    font-size: 1.2rem;
}
.content .notices .notice .list .time span:first-child{
    margin-right: 1rem;
}
/*.content .notices .notice .list.news{*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
/*}*/
.content .notices .notice .list.news .news-info{
    height:100%;
    width:66vw;
}
.content .notices .notice .list.news .news-img {
    width:24vw;
    height: 17.6vw;
    margin-right: 2.6vw;
    border-radius: 1.067vw;
}
/*.content .notices .notice .time{*/
    /*width:70vw;*/
/*}*/


/**加载更多**/

.my-footer{
    font-size: 1.2rem;
    text-align: center;
    color:#999;
    padding:1rem 0;
}
.my-footer>p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 80vh;
}
.my-footer>div{
    display: -webkit-flex;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.my-loading-text{
    margin-left: 1rem;
}
.no-message{
    width:100%;
    display: block;
    margin:0 auto;
}
