body{
    background: #EBEBEB;
    color: #333;
}
#app{
    padding: 1.6rem;
}
/**加载更多**/

.my-footer{
    text-align: center;
    color:#999
}
.my-footer>p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 80vh;
}
.my-footer>div{
    display: -webkit-flex;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.my-loading-text{
    margin-left: 1rem;
}
.no-message{
    width:100%;
    display: block;
    margin:0 auto;
}


/*消息列表*/
.my-message>li{
    border: 1px solid #D9D9D9;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px;
    border-radius: 4px ;
    padding: 1.4rem;
    background-color: #fff;
    position: relative;
    margin-bottom: 1.6rem;
}
.my-message>li>a{
    position: absolute;
    top:0;
    left:0;
    display: block;
    height:100%;
    width:100%;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px;
    border-radius: 4px ;
    z-index: 10;
}
.my-message>li>h3{
    margin:0;
    font-size: 1.7rem;
}
.msg-time{
    margin-top: 0.8rem;
    color: #A7A7A7;
    font-size: 1.4rem;
}
.msg-detail{
    color: #a7a7a7;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 1.2rem;
}
.msg-detail>li{
    padding:0.2rem;
}
.msg-see-all{
    font-size: 1.5rem;
}

/*状态*/
/*黄色：#FCC44B*/
/*绿色：#52CC92*/
/*红色：#F97878*/
.status-y{
    color: #fcc44b;
}
.status-g{
    color: #52cc92;
}
.status-r{
    color: #f97878;
}
