body{
    background-color: #f1f1f1;
}
.msg-lists{
    background: #ffffff;
}
.msg-lists>li{
    margin-left:3.2vw;
    padding:1.2rem 3.2vw 1.2rem 0;
    position: relative;
}
.msg-lists>li:not(:last-child){
    border-bottom: 1px solid #f1f1f1;
}
.msg-lists>li>a{
    width:100vw;
    height:100%;
    position: absolute;
    top:0;
    left:-3.2vw;
    z-index: 999;
}
.msg-lists>li{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msg-lists>li>div.msg-img{
    width:13.3vw;
    height:13.3vw;
    background: transparent url('') no-repeat center center;
    background-size: cover;
    border-radius: 0.5rem;
    margin-right: 3.2vw;
}
.msg-lists>li>div.msg-text{
    width:77vw;
    height:13.3vw;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.msg-lists>li>div.msg-text>div{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg-lists>li>div.msg-text>.msg-title{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.msg-lists>li>div.msg-text>.msg-title>.msg-title-text{
    font-size: 1.4rem;
    color: #333;
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg-lists>li>div.msg-text>.msg-title>.msg-time{
    font-size: 1.1rem;
    color: #999;
}
.msg-lists>li>div.msg-text>.msg-info{
    font-size: 1.2rem;
    color: #999;
}

