/*banner*/
/*.banners{*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 50vw;*/
/*}*/
/*.banners img{*/
    /*width: 100vw;*/
    /*height: 50vw;*/
/*}*/
/*.banner .title_{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*padding-left: 13px;*/
    /*padding-right: 13px;*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*line-height: 40px;*/
    /*font-size: 1.6rem;*/
    /*color: #ffffff;*/
/*}*/
/*tab*/
body{
    background-color: #fff;
}
.header{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
}
.sieving-box{
    position: fixed;
    width:100%;
    top:53px;
    left:0;
    z-index: 6;
}
.sieving-header{
    font-size: 1.4rem;
    padding: 0 1.6rem;
    line-height: 50px;
    color: #666;
    background-color: #fff;
    z-index: 10;
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.my-icon-arrow{
    display:inline-block;
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #999;
    margin-left: 1rem;
}
.my-icon-arrow.close{
    border-bottom:none;
    border-top:5px solid #999;
}

.sieving-bg{
    position: absolute;
    width:100vw;
    height:0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 500ms;
    z-index:5;
}
.sieving-bg.active{
    height:100vh;
    background-color: rgba(0,0,0,.3);
}
.sieving-list{
    /*display: none;*/
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    height:0;
    overflow: hidden;
    padding:0 4.266666vw 0;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    -webkit-transition: all 200ms linear;
    -moz-transition:all 200ms linear;
    -ms-transition:all 200ms linear;
    -o-transition:all 200ms linear;
    transition: all 100ms linear;
}
.sieving-list.active{
    height:auto;
    padding:1rem 4.266666vw 1rem;
}
.sieving-list>li{
    box-sizing: border-box;
    border:1px solid #e8e8e8;
    border-radius: 5px;
        width:25.6vw;
    text-align: center;
    height:2.8rem;
    line-height: 2.8rem;
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 3rem;
    -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
}
.sieving-list>li:not(:nth-child(3n+1)){
    margin-left: 7.2vw;
}
.sieving-list>li.active{
    border-color: #69B9F9;
    color: #69B9F9;
}
.tabs {
    width: 100vw;
    border-bottom:1px solid #f1f1f1;
    background: #ffffff;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs .line{
    height:3rem;
    width: 1px;
    background-color: #f1f1f1;
}
.tabs .tab {
    width: 32.5vw;
    color: #333333;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
}
.tabs .tab>span{
    position: relative;
    display: inline-block;
    line-height: 50px;
    /*padding:0 5px;*/
    border-bottom: 2px solid transparent;
}
.tabs .tab>span>.my-icon-arrow{
    position: absolute;
    right: -2rem;
    top:50%;
    border-bottom:5px solid #7DB8F2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tabs .tab>span>.my-icon-arrow.close{
    border-bottom: none;
    border-top:5px solid #7DB8F2;
}
.tabs .tab:first-child {
    /*border-right: 1px solid #e5e5e5;*/
}
.tabs .tab:nth-child(2) {
    border-right: 1px solid #e5e5e5;
}
.tabs .active {
    color: #7DB8F2;
    border-bottom:2px solid #7DB8F2!important;
}
/*覆盖*/
.tabs .tab {
    width: 49vw;
}
.tabs .tab:nth-child(2) {
    border-right: none;
}
.content{
    padding-top: 53px;
}
/*.property{*/
    /*padding-top: 50px;*/
/*}*/
/*.property{*/
    /*padding-top:0;*/
/*}*/
/*列表修改*/
.notice{
    position: relative;
    z-index: 1;
}
.notice .list {
    display: block;
    padding: 1.5rem 1.2rem;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice .list>.state>span{
    font-size: 1.4rem;
}
.notice .list>.state>.ing{
    color: #fe5656;
}
.notice .list>.state>.end{
    color: #2baf2b;
}
.notice .list .title {
    max-width: 80vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333333;
    font-size: 1.4rem;
}
.notice .list .time {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.notice .list .time .readed{
    width:3rem;
    padding-left: 2em;
    background: url('/index/images/news/view.png') left center no-repeat;
    background-size: 1.3em;
}
.notice .list .time span{
    color: #999;
    font-size: 1.2rem;
}
.notice .list .time span:first-child{
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}
.notice .noPower{
    color: #999;
}