{extend name="public/common"}

{block name="style"}
<title>我要租房</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>
    .content{
        min-height: 100vh;
        position: relative;
    }
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer>div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .houses-list-box{
        padding-bottom: 12.67vw;
    }
    .foot{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10.67vw;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 1.5rem;
    }
    .foot a{
        color: #52CC92;
    }
    .foot:hover a{
        text-decoration: underline;
    }
    .foot a:active{
        background-color: transparent;
    }
    /*modal框*/
    .modal-box{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        display: none;
    }
    .modal-box.show{
        display: block;
    }
    .modal-box .modal{
        width: calc(100% - 36px);
        margin: 15vh auto 0;
        background: #fff;
        border-radius: 10px;
        padding: 10px 0;
        position: relative;
    }
    .modal>p{
        line-height: 40px;
        font-size: 17px;
        text-align: center;
    }
    .name-mobile,.remark{
        padding: 5px 18px;
    }
    .name-mobile ul li{
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .name-mobile span{
        display: inline-block;
        font-size: 1.5rem;
        color: #333;
    }
    .name-mobile span:first-child{
        float: left;
    }
    .name-mobile input{
        text-align: right;
        font-size: 1.5rem;
    }
    .price .price-input-box{
        position: relative;
    }
    .price .price-input-box:after{
        content: '';
        position: absolute;
        width: 30px;
        bottom: 8px;
        left: 3px;
        height: 1px;
        background-color: #999;
    }
    .price input{
        width: 30px;
        text-align: center;
        margin: 0 3px;
    }
    .remark p{
        font-size: 15px;
    }
    .remark textarea{
        border: 1px solid #e5e5e5;
        height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px 7px;
        padding: 5px 10px;
    }
    .cancel{
        position: absolute;
        top: -50px;
        right: 0;
    }
    .cancel>span:first-child{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 15px;
        border: 1px solid #fff;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .cancel i::before{
        width: 20px;
        height: 20px;
        color: #fff;
    }
    .cancel>span:last-child{
        display: inline-block;
        height: 22px;
        width: 0;
        border-right: 1px solid #fff;
        position: relative;
        left: 50%;
    }
    .icon-required{
        display: inline-block;
        color: red;
       font-style: normal;
        position: absolute;
        left: -10px;
        top: 0;
    }
    .center img{
        margin: 0 auto;
    }
</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="header">

        <h2 @click="checkPark" class="header-tit">
            <span v-html="showPark"></span> <i class="allow-down"></i>
            <i class="header-icon" @click.stop="parkToggle" :class="[isHouseList ? 'icon-tab' : 'icon-list']"></i>
        </h2>
        <div class="houses-icon-box" v-show="isHouseList">
            <span ><i class="houses-icon icon-rentable"></i>可租</span>
            <span ><i class="houses-icon icon-renewable"></i>已租</span>
        </div>
        <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" ></mt-picker>
        </mt-popup>
    </div>
    <div v-show="isHouseList" class="houses-list-box">
        <div class="houses-list" v-for="item of showhouseList" >
            <div class="houses-list-tit">
                {{item.floor}}楼
            </div>
            <div class="houses-list-item" >
            <span v-for="rooms of item.rooms" :class="{selectable :rooms.empty}" @click="jump(rooms.id,rooms.empty)">
                {{rooms.room}}
            </span>
            </div>

        </div>
    </div>

    <div v-show="!isHouseList">
        <ul class="list" v-if="showrentList.length > 0"
            v-infinite-scroll="loadMore"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="40">
            <li class="list-item" v-for="item of showrentList" >
                <a :href="'/index/roomrent/rent?rent_id='+item.id">
                    <div class="item-img">
                        <img :src="item.img[0]" v-if="item.img" />
                    </div>
                    <div class="item-info">
                        <h3>{{item.room}}</h3>
                        <p>{{item.name}}</p>
                        <div class="info-detail">
                            <span>{{item.area}}</span>
                            <span>{{item.price}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div v-else class="center">
                <img src="/index/images/service/card/icon-default.jpg" >
        </div>

    </div>
    <div class="foot" @click="showModel">
        <span>兜兜转转一房难求？请填写 <a href="javascript:void(0);" >租房意向</a> </span>
    </div>
    <div class="modal-box" :class="{'show':intention}">
        <div class="modal">
            <p>申请人信息</p>
            <div class="name-mobile">
                <ul>
                    <li>
                        <span><i class="icon-required">*</i>姓名</span>
                        <input type="text" id="name" placeholder="请输入姓名" v-model="subData.name">
                    </li>
                    <li>
                        <span><i class="icon-required">*</i>手机</span>
                        <input type="number" id="mobile" placeholder="请输入手机号" v-model.number="subData.mobile">
                    </li>
                    <li>
                        <span><i class="icon-required">*</i>面积要求</span>
                        <input type="text"  placeholder="请输入面积要求" v-model="subData.area">
                    </li>
                    <li>
                        <span><i class="icon-required">*</i>用房时间</span>
                        <input type="text" placeholder="请输入用房时间" v-model="subData.time">
                    </li>
                    <li>
                        <span>单价范围</span>
                        <div class="price">
                            <span class="price-input-box"><input type="number" v-model.number="priceOne" maxlength="3"></span><span >—</span>
                            <span class="price-input-box"><input type="number" v-model.number="priceTwo" maxlength="3" ></span><span>/㎡·天</span>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="btn-box">
                <button class="btn btn-block btn-green" @click="subIntention">提交</button>
            </div>
            <div class="cancel" @click="hideModel">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    var list = {$list};
    console.log(list);
    var values = [];
    for(var i in list){
        values.push(list[i]);
    }
//    console.log(values);
//    console.log(Object.keys(list));
//    console.log(Object.values(list));
//    console.log(Object.keys(Object.values(list)[0]));
    var vm =  new Vue({
        el:'#app',
        data:{
            intention:false,
            priceOne:'',
            priceTwo:'',
            isSubmit:true,
            subData:{
                rent_id:0,
                mobile:'',
                name:'',
                area:'',
                price:''
            },
            isHouseList:false,
            list:list,
            popupVisible:false,
            parkPicker:'',
            name:Object.keys(list),
            parkName:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            parkTxt:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            slots: [
                {
                    defaultIndex: 1,
                    values: Object.keys(list)
                },{
                    defaultIndex: 1,
                    values:Object.keys(Object.values(list)[0])
                }
            ],
            loading:false
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                    setTimeout(function() {
                        _this.slots[0].defaultIndex = 0;
//                        _this.slots[1].defaultIndex = 0;
                }, 100);
            });
        },
        computed:{
            showhouseList:function () {
              var _this = this;
              for(var obj in _this.list){
                for(var arr in _this.list[obj]){
                    if(_this.parkName.index == obj && _this.parkName.txt == arr){
                       // console.log(_this.list[obj][arr].houselist);
                        return _this.list[obj][arr].houselist;
                    }
                }
              }
            },
            showrentList:function () {
                var _this = this;
                for(var obj in _this.list){
                    for(var arr in _this.list[obj]){
                        if(_this.parkName.index == obj && _this.parkName.txt == arr){
                            //console.log(_this.list[obj][arr].rentlist);
                            return _this.list[obj][arr].rentlist;
                        }
                    }
                }
            },
            showPark:function () {
                var _this = this;
                return _this.parkName.index + _this.parkName.txt;
            }
        },
        methods:{
            showModel:function () {
              var _this = this;
                _this.intention = true;
            },
            hideModel:function () {
                this.intention = false;
            },
            parkToggle:function () {
                var _this = this;
                _this.isHouseList =!_this.isHouseList;
            },
            cancelPark:function () {
                this.popupVisible = false;
            },
            selectPark:function () {
                var _this = this;
                _this.popupVisible = false;
                _this.parkName = _this.parkTxt;
                _this.loading = false;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                //console.log(values);
                _this.parkPicker =  picker;
                if(values[0]){
                    picker.setSlotValues(1,Object.keys(_this.list[values[0]]));

                }
                _this.parkTxt ={
                    index:values[0],
                    txt:values[1]
                };
            },
            checkPark:function () {
                var _this =this;
                _this.popupVisible = true;
//                _this.parkPicker.setSlotValue(_this.parkTxt.index, _this.parkTxt.txt);
            },
            jump:function (id,empty) {
                if(!empty){
                    return;
                }
                window.location.href = "/index/roomrent/rent?room_id="+id;
            },
            loadMore:function (event) {
                var _this = this;
//                console.log(_this.loading,_this.canLoad,_this.isHouseList);
                if((!_this.loading) && !_this.isHouseList){
                    _this.loading = true;
                    var build = (_this.parkName.txt).substr(-2,1);
                    var rentList =null;
                    for(var obj in _this.list){
                        for(var arr in _this.list[obj]){
                            if(_this.parkName.txt == arr){
                                //console.log(_this.list[obj][arr].rentlist);
                                rentList = _this.list[obj][arr].rentlist;
                            }
                        }
                    }
                    //console.log(rentList.length);
                    if(!rentList || rentList.length % 6 !=0 || rentList.length === 0){
                        return;
                    }
                    var data = {
                        build:build,
                        length:rentList.length
                    };
                    console.log(data);
                    _this.$indicator.open({
                        text: '加载中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.$http.post('/index/Roomrent/moreList',data).then(function (res) {
                        _this.$indicator.close();
                        console.log(res.data);
//                        console.log(res.data.data);
                        if(res.data.code==0){

                        }else{
                            var list = JSON.parse(res.data.data);
                            for( var i = 0 ;i < list.length;i++){
//                                console.log(list[i]);
                                console.log(rentList);
                                rentList.push(list[i]);
                            }
                            _this.loading = false;
                        }

                    },function (res) {
                        _this.$indicator.close();
                        _this.loading = false;

                    })
                }
            },
            subIntention:function () {
                var _this = this;
                console.log(_this.subData);
                if(!_this.subData.name){
                    _this.$toast("请输入您的姓名！");
                    return;
                }
                if(!_this.subData.mobile){
                    _this.$toast("请输入正确的手机号码！");
                    return;
                }else {
                   if(!checkMobile(_this.subData.mobile)){
                       _this.$toast("请输入正确的手机号码！");
                       return;
                   }
                }
                if(!_this.subData.area){
                    _this.$toast("请输入面积要求！");
                    return;
                }
                if(!_this.subData.time){
                    _this.$toast("请输入用房时间！");
                    return;
                }
                if(!scope(_this.priceOne,_this.priceTwo)) {
                   _this.$toast("单价范围应在0至10之间！");
                   return;
                }else{
                   _this.subData.price = _this.priceOne+'-'+_this.priceTwo;
                }

                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var data = JSON.parse(JSON.stringify(_this.subData));
                console.log(data);
                _this.$http.post('/index/roomrent/intention',data).then(function (res) {
                    console.log(res.data);
                    var data  = res.data;
                    _this.isSubmit = true;
                    if(data.code == 1){
                        var msg = data.data;
                        var newMsg =  msg.split(";");
                        msg =  newMsg.join("<br/>");
                        swal({
                            title:data.msg,
                            text:msg,
                            html:true,
                            type:"success",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            _this.rentShow = false;
                            window.location.reload();
                        });
                    }else{
                        swal({
                            title:"提交失败!",
                            text:"请重新提交！",
                            type:"error",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            window.location.reload();
                        });
                    }
                },function (res) {
                    _this.isSubmit = true;
                    swal({
                        title:"提交失败!",
                        text:'请重新提交！',
                        type:"error",
                        confirmButtonColor: "#52CC92"
                    },function () {
                        window.location.reload();
                    });
                })
            }

        }
    });
    function scope(a,b) {
        if((!a && b<=10) || (!b && a > 0)){
            return true;
        }
        if(typeof a =='number'&& typeof b == 'number'){
            if(a > 0 && b>a && b<=10){
               return true;
            }else{
               return false;
            }
        }
    }
</script>
{/block}
