{extend name="public/common"}

{block name="style"}
<title>我要租房</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer>div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .houses-list-box{
        padding-bottom: 4vw;
    }
</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="header">

        <h2 @click="checkPark" class="header-tit">
            <span >{{parkName.index}}{{parkName.txt}}</span> <i class="allow-down"></i>
            <i class="header-icon" @click.stop="parkToggle" :class="[isHouseList ? 'icon-tab' : 'icon-list']"></i>
        </h2>
        <div class="houses-icon-box" v-show="isHouseList">
            <span ><i class="houses-icon icon-rentable"></i>可租</span>
            <span ><i class="houses-icon icon-renewable"></i>已租</span>
        </div>
        <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" ></mt-picker>
        </mt-popup>
    </div>
    <div v-show="isHouseList" class="houses-list-box">
        <div class="houses-list" v-for="item of showhouseList" >
            <div class="houses-list-tit">
                {{item.floor}}楼
            </div>
            <div class="houses-list-item" >
            <span v-for="rooms of item.rooms" :class="{selectable :rooms.empty}" @click="jump(rooms.id,rooms.empty)">
                {{rooms.room}}
            </span>
            </div>
            <!--<div class="houses-list-item" v-else>-->
            <!--<span>-->
            <!--{{item.rooms}}-->
            <!--</span>-->
            <!--</div>-->
        </div>
    </div>

    <div v-show="!isHouseList">
        <ul class="list" v-if="showrentList.length > 0"
            v-infinite-scroll="loadMore"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="40">
            <li class="list-item" v-for="item of showrentList" >
                <a :href="'/index/roomrent/rent?rent_id='+item.id">
                    <div class="item-img">
                        <img :src="item.img[0]" v-if="item.img" />
                    </div>
                    <div class="item-info">
                        <h3>{{item.room}}</h3>
                        <p>{{item.name}}</p>
                        <div class="info-detail">
                            <span>{{item.area}}</span>
                            <span>{{item.price}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div v-else class="center">
                <img src="/index/images/service/card/icon-default.jpg" >
        </div>

    </div>

</div>
{/block}

{block name="script"}
<script type="text/javascript">
    var list = {$list};
    console.log(list);
    var values = [];
    for(var i in list){
        values.push(list[i]);
    }
//    console.log(values);
//    console.log(Object.keys(list));
//    console.log(Object.values(list));
//    console.log(Object.keys(Object.values(list)[0]));
    var vm =  new Vue({
        el:'#app',
        data:{
            isHouseList:false,
            list:list,
            popupVisible:false,
            parkPicker:'',
            name:Object.keys(list),
            parkName:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            parkTxt:{
                index:Object.keys(list)[0],
                txt:Object.keys(values[0])[0]
            },
            slots: [
                {
                    defaultIndex: 1,
                    values: Object.keys(list)
                },{
                    defaultIndex: 1,
                    values:Object.keys(Object.values(list)[0])
                }
            ],
            loading:false
        },
        mounted:function () {
            var _this = this;
            _this.$nextTick(function() {
                    setTimeout(function() {
                        _this.slots[0].defaultIndex = 0;
//                        _this.slots[1].defaultIndex = 0;
                }, 100);
            });
        },
        computed:{
            showhouseList:function () {
              var _this = this;
              for(var obj in _this.list){
                for(var arr in _this.list[obj]){
                    if(_this.parkName.txt == arr){
                       // console.log(_this.list[obj][arr].houselist);
                        return _this.list[obj][arr].houselist;
                    }
                }
              }
            },
            showrentList:function () {
                var _this = this;
                for(var obj in _this.list){
                    for(var arr in _this.list[obj]){
                        if(_this.parkName.txt == arr){
                            //console.log(_this.list[obj][arr].rentlist);
                            return _this.list[obj][arr].rentlist;
                        }
                    }
                }
            }
        },
        methods:{
            parkToggle:function () {
                var _this = this;
                _this.isHouseList =!_this.isHouseList;
            },
            cancelPark:function () {
                this.popupVisible = false;
            },
            selectPark:function () {
                var _this = this;
                _this.popupVisible = false;
                _this.parkName = _this.parkTxt;
                _this.loading = false;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                //console.log(values);
                _this.parkPicker =  picker;
                if(values[0]){
                    picker.setSlotValues(1,Object.keys(_this.list[values[0]]));

                }
                _this.parkTxt ={
                    index:values[0],
                    txt:values[1]
                };
            },
            checkPark:function () {
                var _this =this;
                _this.popupVisible = true;
//                _this.parkPicker.setSlotValue(_this.parkTxt.index, _this.parkTxt.txt);
            },
            jump:function (id,empty) {
                if(!empty){
                    return;
                }
                window.location.href = "/index/roomrent/rent?room_id="+id;
            },
            loadMore:function (event) {
                var _this = this;
//                console.log(_this.loading,_this.canLoad,_this.isHouseList);
                if((!_this.loading) && !_this.isHouseList){
                    _this.loading = true;
                    var build = _this.parkName.txt;
                    var rentList =null;
                    for(var obj in _this.list){
                        for(var arr in _this.list[obj]){
                            if(_this.parkName.txt == arr){
                                //console.log(_this.list[obj][arr].rentlist);
                                rentList = _this.list[obj][arr].rentlist;
                            }
                        }
                    }
                    //console.log(rentList.length);
                    if(!rentList || rentList.length % 6 !=0 || rentList.length === 0){
                        return;
                    }
                    var data = {
                        build:build,
                        length:rentList.length
                    };
                    console.log(data);
                    _this.$indicator.open({
                        text: '加载中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.$http.post('/index/Roomrent/moreList',data).then(function (res) {
                        _this.$indicator.close();
                        console.log(res.data);
//                        console.log(res.data.data);
                        if(res.data.code==0){

                        }else{
                            var list = JSON.parse(res.data.data);
                            for( var i = 0 ;i < list.length;i++){
//                                console.log(list[i]);
                                console.log(rentList);
                                rentList.push(list[i]);
                            }
                            _this.loading = false;
                        }

                    },function (res) {
                        _this.$indicator.close();
                        _this.loading = false;

                    })
                }
            }
        }
    });

</script>
{/block}
