{extend name="public/common"}

{block name="style"}
<title>楼盘表</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>
    .my-footer{
        padding: 1rem 0;
        text-align: center;
        color:#999
    }
    .my-footer>p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 80vh;
    }
    .my-footer>div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .houses-list-box{
        padding-bottom: 4vw;
    }
</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="header">

        <h2 @click="checkPark" class="header-tit">
            <span >{{parkName.txt}}</span> <i class="allow-down"></i>
            <i class="header-icon" @click.stop="parkToggle" :class="[isHouseList ? 'icon-tab' : 'icon-list']"></i>
        </h2>
        <div class="houses-icon-box" v-show="isHouseList">
            <span ><i class="houses-icon icon-rentable"></i>可租</span>
            <span ><i class="houses-icon icon-renewable"></i>已租</span>
        </div>
        <mt-popup  position="bottom"  v-model="popupVisible" class="mint-popup">
            <div class="picker-toolbar">
                <span class="mint-datetime-action mint-datetime-cancel" @click="cancelPark">取消</span>
                <span class="mint-datetime-action mint-datetime-confirm" @click="selectPark">确定</span>
            </div>
            <mt-picker :slots="slots" @change="onParkChange" ></mt-picker>
        </mt-popup>
    </div>
    <div v-show="isHouseList" class="houses-list-box">
        <div class="houses-list" v-for="item of showhouseList" >
            <div class="houses-list-tit">
                {{item.floor}}楼
            </div>
            <div class="houses-list-item" >
            <span v-for="rooms of item.rooms" :class="{selectable :rooms.empty}" @click="jump(rooms.id,rooms.empty)">
                {{rooms.room}}
            </span>
            </div>
            <!--<div class="houses-list-item" v-else>-->
            <!--<span>-->
            <!--{{item.rooms}}-->
            <!--</span>-->
            <!--</div>-->
        </div>
    </div>

    <div v-show="!isHouseList">
        <ul class="list" v-if="showrentList.length > 0"
            v-infinite-scroll="loadMore"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="40">
            <li class="list-item" v-for="item of showrentList" >
                <a :href="'/index/roomrent/rent?room_id='+item.id">
                    <div class="item-img">
                        <img :src="item.img[0]" v-if="item.img" />
                    </div>
                    <div class="item-info">
                        <h3>{{item.room}}</h3>
                        <p>{{item.name}}</p>
                        <div class="info-detail">
                            <span>{{item.area}}</span>
                            <span>{{item.price}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
{/block}

{block name="script"}
<script type="text/javascript">
    var list = {$list};
//    console.log(list);
    var values = [];
    for(var i in list){
        values.push(i);
    }
//    console.log(values);
//    console.log(list);
    var vm =  new Vue({
        el:'#app',
        data:{
            isHouseList:false,
            list:list,
            popupVisible:false,
            parkPicker:'',
            name:values,
            parkName:{
                index:0,
                txt:values[0]
            },
            parkTxt:{
                index:0,
                txt:values[0]
            },
            slots: [
                {
                    values: values
                }
            ],
            loading:false
        },
        computed:{
            showhouseList:function () {
              var _this = this;
              for(var arr in _this.list){
                  if(_this.parkName.txt == arr){
                      return _this.list[arr].houselist;
                  }
              }
            },
            showrentList:function () {
                var _this = this;
                for(var arr in _this.list){
                    if(_this.parkName.txt == arr){
                        return _this.list[arr].rentlist;
                    }
                }
            }
        },
        methods:{
            parkToggle:function () {
                var _this = this;
                _this.isHouseList =!_this.isHouseList;
//                var  rentList= window.sessionStorage.getItem("rentList");
//                window.sessionStorage.setItem("housesList",true);
//                if(rentList){
//                    window.sessionStorage.removeItem("rentList");
//                    window.history.go(-1);
//                }else{
//                    window.location.href="/index/roomrent/rentlist?type="+this.parkTxt.index;
//                }
            },
            cancelPark:function () {
                this.popupVisible = false;
            },
            selectPark:function () {
                var _this = this;
                _this.popupVisible = false;
                _this.parkName = _this.parkTxt;
                _this.loading = false;
            },
            onParkChange:function (picker,values) {
                var _this = this;
                _this.parkPicker =  picker;
                var length =  _this.name.length;
                for(var j = 0; j < length; j += 1){
                    if(values[0] == _this.name[j]){
                        _this.parkTxt = {
                            index:j,
                            txt:values[0]
                        }
                    }
                }
            },
            checkPark:function () {
                var _this =this;
                _this.popupVisible = true;
                _this.parkPicker.setSlotValue(_this.parkTxt.index, _this.parkTxt.txt);
            },
            jump:function (id,empty) {
                if(!empty){
                    return;
                }
                window.location.href = "/index/roomrent/rent?rent_id="+id;
            },
            loadMore:function (event) {
                var _this = this;
//                console.log(_this.loading,_this.canLoad,_this.isHouseList);
                if((!_this.loading) && !_this.isHouseList){
                    _this.loading = true;
                    var build = _this.parkName.txt.substr(-2,1);
                    var rentList =null;
                    for(var arr in _this.list){
                        if(_this.parkName.txt == arr){
                            rentList = _this.list[arr].rentlist;
                        }
                    }
                    if(!rentList || rentList.length % 6 !=0 ){
                        return;
                    }
                    var data = {
                        build:build,
                        length:rentList.length
                    };
//                    console.log(data);
                    _this.$indicator.open({
                        text: '加载中',
                        spinnerType: 'triple-bounce'
                    });
                    _this.$http.post('/index/Roomrent/moreList',data).then(function (res) {
                        _this.$indicator.close();
//                        console.log(res.data);
//                        console.log(res.data.data);
                        if(res.data.code==0){

                        }else{
                            var list = JSON.parse(res.data.data);
                            for( var i = 0 ;i < list.length;i++){
//                                console.log(list[i]);
                                rentList.push(list[i]);
                            }
                            _this.loading = false;
                        }

                    },function (res) {
                        _this.$indicator.close();
                        _this.loading = false;

                    })
                }
            }
        }
    });

</script>
{/block}
