{extend name="public/common"}

{block name="style"}
<title>全景展示</title>
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<style>
    #app{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    #vr-link{
        width: 100%;
        height: 100%;
    }
    .vr-mark i{
        font-style: normal;
        line-height: 7.73vw;
        text-align: right;
        font-size: 1.2rem;
        padding-right: 5px;
    }
</style>
{/block}


{block name="body"}
<div id="app">
    <div class="vr-mark" @click="reBack()">
        <i class="icon-photo">照片</i>
    </div>
    <iframe :src=link frameborder="0" id="vr-link" ref="vr"></iframe>
</div>
{/block}

{block name="script"}
<script>
//    var link = "http://720yun.com/t/e3cjO5mvuO2?pano_id=2107800";
    var vm = new Vue({
        el:'#app',
        data:{
            link:{$link}
        },
        methods:{
            reBack:function () {
                window.history.go(-1);
            }
        }
    })
</script>
{/block}