{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/index/css/service/detail.css">

<style>
    body{background-color: #e8e8e8}
    .card-tit{
        color: #52CC92;
    }
    .card-tit:before{
        background-image: url(/index/images/roomrent/icon-star.png)
    }
    .card-tit:after{
        background-image: url(/index/images/roomrent/icon-star.png)
    }
    .remark{
        padding:10px 0;
    }
    .remark p{
        font-size: 15px;
    }
    .remark div{
        border: 1px solid #e5e5e5;
        min-height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px auto;
        padding: 5px 10px;
    }
    /*modal框*/
    .modal-box{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        display: none;
    }
    .modal-box.show{
        display: block!important;
    }
    .modal-box .modal{
        width: calc(100% - 36px);
        margin: 20vh auto 0;
        background: #fff;
        border-radius: 10px;
        padding: 10px 0;
        position: relative;
    }
    .modal>p{
        line-height: 40px;
        font-size: 17px;
        text-align: center;
    }
    .name-mobile,.remark{
        padding: 5px 18px;
    }
    .name-mobile ul li{
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .name-mobile span{
        display: inline-block;
        font-size: 1.5rem;
        color: #333;
    }
    .name-mobile span:first-child{
        float: left;
        width: 62px;
    }
    .name-mobile input{
        text-align: right;
        font-size: 1.5rem;
    }
    .remark p{
        font-size: 15px;
    }
    .remark textarea{
        border: 1px solid #e5e5e5;
        height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px 7px;
        padding: 5px 10px;
    }
    .cancel{
        position: absolute;
        top: -50px;
        right: 0;
    }
    .cancel>span:first-child{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 15px;
        border: 1px solid #fff;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .cancel i::before{
        width: 20px;
        height: 20px;
        color: #fff;
    }
    .cancel>span:last-child{
        display: inline-block;
        height: 22px;
        width: 0;
        border-right: 1px solid #fff;
        position: relative;
        left: 50%;
    }
    .rent-btn-box{
        /*position: absolute;*/
        width: 100%;
        /*bottom: 0;*/
        /*left: 0;*/
        padding:8vw 4.8vw ;

    }
    .btn{
        height: 5rem;
    }
    .btn-box{
        width: 100%;
        padding:4vw 4.8vw
    }
    .btn{
        border-radius: 5px;
        text-align: center;
        border: none;
        color: #fff;
        height: 10.67vw;
        font-size: 1.5rem;
    }
    .btn-block{
        width: 100%;
    }
    .btn-green{
        background-color: #52CC92;
        color: #fff;
        font-size: 1.5rem;
    }
    .table-view-cell.group-cell{
        border-bottom: none;
    }
    .btn-primary{
        background-color: #52CC92;
    }
    .card{
        padding-bottom: 1rem;
    }
    .card .remark{
        padding:10px 0 5px;
    }
    .card .remark>div.no_msg{
        color: #e5e5e5;
    }
    .card .remark>div{
        border: 1px solid #e5e5e5;
        min-height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px 7px;
        padding: 5px 10px;
    }
    .group-cell.btn-box{
        margin:0;
    }
    .btn-warning{
        background-color: #ff6f60;
    }
</style>
{/block}

{block name="body"}
<div id="app">
    <div v-if="info.type==1">
        <div class="card">
            <div class="card-tit">租房信息</div>
            <div class="card-cell">
                <span>位置</span>
                <span>{{info.room}}室</span>
            </div>
            <div class="card-cell">
                <span>面积</span>
                <span>{{info.area}}㎡</span>
            </div>
            <div class="card-cell">
                <span>价格</span>
                <span>{{info.price}}元/㎡·天</span>
            </div>
        </div>
        <div class="card">
            <div class="card-tit">申请信息</div>
            <div class="card-cell">
                <span>姓名</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>手机</span>
                <span>{{info.mobile}}</span>
            </div>
            <div class="card-cell">
                <span>是否联系</span>
                <span>{{info.status==1?'未联系':'已联系'}}</span>
            </div>
            <div class="remark">
                <p>备注信息</p>
                <div>{{info.remark}}</div>
            </div>
        </div>
    </div>
    <div v-if="info.type==2">
        <div class="card">
            <div class="card-tit">租房意向</div>
            <div class="card-cell">
                <span>姓名</span>
                <span>{{info.name}}</span>
            </div>
            <div class="card-cell">
                <span>手机</span>
                <span>{{info.mobile}}</span>
            </div>
            <div class="card-cell">
                <span>面积要求</span>
                <span>{{info.area}}</span>
            </div>
            <div class="card-cell">
                <span>用房时间</span>
                <span>{{info.time}}</span>
            </div>
            <div class="card-cell">
                <span>价格范围</span>
                <span>{{info.price}}元/㎡·天</span>
            </div>

        </div>
    </div>
    <div class="rent-btn-box"  v-if="info.type==1 && info.status==1">
        <button class="btn btn-block btn-green" @click="showRent">确认联系</button>
    </div>
    <div class="modal-box"  :class="{'show':rentShow}">
        <div class="modal">
            <p>审核服务</p>
            <!--<div class="remark" >-->
                <!--<p>备注信息</p>-->
                <!--<textarea v-model="subData.check_remark"></textarea>-->
            <!--</div>-->
            <p>如果已联系过客户，请选择确认。</p>
            <div class="table-view-cell group-cell btn-box" >
                <button class="group-btn btn-warning btn" @click="hideRent">取消</button>
                <button class="group-btn btn-primary btn" @click="subRent">确认</button>
            </div>
            <div class="cancel" @click="hideRent">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            subData:{},
            rentShow:false,
            info:JSON.parse('{$info}'),
            isSubmit:false
        },
        created(){
            if(this.info.type==1){
                document.title='租房申请'
            }else if(this.info.type==2){
                document.title='租房意向'
            }
        },
        methods: {
            showRent:function () {
                this.rentShow = true;
            },
            hideRent:function () {
                this.rentShow = false;
            },
            subRent:function (isPass) {
                var _this = this;
                console.log(_this.subData);

                if(_this.isSubmit){
                    return;
                }
                if(_this.appid==8){
                    _this.isSubmit.publictype=_this.info.publictype;
                    _this.isSubmit.create_time=_this.info.create_time;
                }
                _this.isSubmit = true;
                _this.subData.type=_this.info.type;
                _this.subData.id=_this.info.id;
                var data = JSON.parse(JSON.stringify(_this.subData));
                //console.log(data);
                _this.$http.post('/index/roomrent/record',data).then(function (res) {
                    var data  = res.data;
                    _this.isSubmit = false;
                    if(data.code == 1){
                        swal({
                            title:'',
                            text:'提交成功',
                            html:true,
                            type:"success",
                            confirmButtonColor: "#fcc44b"
                        },function () {
                            _this.rentShow = false;
                            window.location.replace(window.location.href);
                        });
                    }else{
                        swal({
                            title:"提交失败!",
                            text:"请重新提交！",
                            type:"error",
                            confirmButtonColor: "#fcc44b"
                        },function () {
                            window.location.replace(window.location.href);

                        });
                    }
                },function (res) {
                    _this.isSubmit = false;
                    swal({
                        title:"提交失败!",
                        text:'请重新提交！',
                        type:"error",
                        confirmButtonColor: "#fcc44b"
                    },function () {
                        window.location.replace(window.location.href);

                    });
                })
            }
        }
    })
</script>
{/block}