{extend name="public/common"}

{block name="style"}
<title>我要租房</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_355905_js6086l9et81tt9.css">
<style>
    body{

        background-color: #fff;
    }
    /*modal框*/
    .modal-box{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
    }
    .modal-box .modal{
        width: calc(100% - 36px);
        margin: 15vh auto 0;
        background: #fff;
        border-radius: 10px;
        padding: 10px 0;
        position: relative;
    }
    .modal>p{
        line-height: 40px;
        font-size: 17px;
        text-align: center;
    }
    .name-mobile,.remark{
        padding: 5px 18px;
    }
    .name-mobile ul li{
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .name-mobile span{
        display: inline-block;
        font-size: 15px;
        color: #333;
    }
    .name-mobile span:first-child{
        float: left;
        width: 62px;
    }
    .name-mobile input{
        text-align: right;
    }
    .remark p{
        font-size: 15px;
    }
    .remark textarea{
        border: 1px solid #e5e5e5;
        height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px 7px;
        padding: 5px 10px;
    }
    .cancel{
        position: absolute;
        top: -50px;
        right: 0;
    }
    .cancel>span:first-child{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 15px;
        border: 1px solid #fff;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .cancel i::before{
        width: 20px;
        height: 20px;
        color: #fff;
    }
    .cancel>span:last-child{
        display: inline-block;
        height: 22px;
        width: 0;
        border-right: 1px solid #fff;
        position: relative;
        left: 50%;
    }
</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="banner">
        <!--<span class=""></span>-->
        <div class="banner-icon icon-vr" @click="looVR(info.panorama)" v-if="info.panorama">全景</div>
        <div class="swiper-container" @click="show($event)" ref="banner">
            <div class="swiper-wrapper">
                <div v-for="(img,index) of info.imgs" class="swiper-slide">
                    <img :data-src="img" class="swiper-lazy" :data-original="info.img[index]">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--<img :src="info.img"  >-->
    </div>
    <div class="table-view">
        <div class="table-view-cell">
            <span><i class="icon rent-house"></i></span><span>位置：</span><span>{{info.position}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-area"></i></span><span>面积：</span><span>{{info.area}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-price "></i></span><span>价格：</span><span>{{info.price}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-park"></i></span><span>园区：</span><span>{{info.park}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-ads"></i></span><span>地址：</span><span>{{info.address}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-phone"></i></span><span>电话：</span><span>{{info.moblie}}</span>
        </div>
    </div>
    <div class="rent-btn-box">
        <button class="btn btn-block btn-green" @click="showRent">租房申请</button>
    </div>
    <div class="icon-box" v-if="lookVR">
        <i class="iconfont icon-back" @click="prev"></i>
        <i class="iconfont icon-go" @click="next"></i>
    </div>
    <div class="cancel" onclick="cancel()">
        <span><i class="iconfont hc-cha1"></i></span>
        <span></span>
    </div>
    <div class="modal-box" v-show="rentShow">
        <div class="modal">
            <p>申请人信息</p>
            <div class="name-mobile">
                <ul>
                    <li>
                        <span>姓名</span>
                        <input type="text" id="name" placeholder="请输入姓名" v-model="subData.name">
                    </li>
                    <li>
                        <span>手机</span>
                        <input type="number" id="mobile" placeholder="请输入手机号" v-model="subData.mobile">
                    </li>
                </ul>
            </div>
            <div class="remark">
                <p>备注信息</p>
                <textarea v-model="subData.remark"></textarea>
            </div>
            <div class="btn-box">
                <button class="btn btn-block btn-green" @click="subRent">提交申请</button>
            </div>
            <div class="cancel" @click="hideRent">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper.min.js"></script>
<script src="/static/viewer/viewer.min.js"></script>
<script>
    console.log({$info});
    var info ={$info};
//    info.img =['/index/images/service/lifepay/utilities.png','/index/images/enterprise/p2.png'];
//    info.panorama = ['/index/images/index/icon-no.png','/index/images/index/select.png'];
    var vm = new Vue({
        el:'#app',
        data:{
            info:info,
            vrShow:true,
            lookVR:false,
            viewer:null,
            mySwiper:null,
            rentShow:false,
            isSubmit:true,
            subData:{
                rent_id:info.rent_id,
                mobile:'',
                name:'',
                remark:''
            }
        },
        mounted(){
            var _this = this;
            _this.viewer =  new Viewer(_this.$refs.banner,{
                url:'data-original',
                toolbar:false,
                title:false,
                movable:false,
                fullscreen:false,
                show:function () {
                    _this.lookVR = true;
                },
                hide:function (e) {
                    _this.lookVR = false;
                    _this.mySwiper.startAutoplay();
                }
            });

             _this.mySwiper = new Swiper('.swiper-container',{
                lazyLoading : true,
                lazyLoadingInPrevNext : true,
                 autoplay:3000,
                pagination: '.swiper-pagination',
                autoplayDisableOnInteraction: false,
                onSlideChangeEnd:function(e){
                }
            })
        },
        methods:{
            reBack:function () {
                this.vrShow = false;
            },
            looVR:function (e) {
                window.location.href='/index/roomrent/panorama?link='+e;
            },
            show:function (event){
                this.mySwiper.stopAutoplay();
                //console.log(event);
            },
            next:function () {
                var _this = this,
                        viewer = _this.viewer;
                viewer.next();
            },
            prev:function () {
                var _this = this,
                        viewer = _this.viewer;
                viewer.prev();
            },
            showRent:function () {
                this.rentShow = true;
            },
            hideRent:function () {
                this.rentShow = false;
            },
            subRent:function () {
                var _this = this;
                console.log(_this.subData);
                if(!_this.subData.name){
                    _this.$toast("请输入您的姓名！");
                    return;
                }
                if(!_this.subData.mobile){
                    _this.$toast("请输入正确的电话！");
                    return;
                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var data = JSON.parse(JSON.stringify(_this.subData));
                //console.log(data);
                _this.$http.post('/index/roomrent/peoplerent',data).then(function (res) {
                    var data  = res.data;
                    _this.isSubmit = true;
                    if(data.code == 1){
                        var msg = data.data;
                        var newMsg =  msg.split(";");
                        msg =  newMsg.join("<br/>");
                        swal({
                            title:data.msg,
                            text:msg,
                            html:true,
                            type:"success",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            _this.rentShow = false;
                            window.location.href='/index/roomrent/houseslist'
                        });
                    }else{
                        swal({
                            title:"提交失败!",
                            text:"请重新提交！",
                            type:"error",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            window.location.reload();
                        });
                    }
                },function (res) {
                    _this.isSubmit = true;
                    swal({
                        title:"提交失败!",
                        text:'请重新提交！',
                        type:"error",
                        confirmButtonColor: "#52CC92"
                    },function () {
                        window.location.reload();
                    });
                })
            }
        }
    })
</script>
{/block}
