{extend name="public/common"}

{block name="style"}
<title>我要租房</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/static/swiper/swiper.min.css">
<link rel="stylesheet" href="/index/css/roomrent/index.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_355905_js6086l9et81tt9.css">
<style>
    body{
        background-color: #fff;
        height: 100vh;
    }
    .banner-remark{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        background-color:rgba(0,0,0,.3);
        font-size: 2.4rem;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*modal框*/
    .modal-box{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        display: none;
    }
    .modal-box.show{
        display: block!important;
    }
    .modal-box .modal{
        width: calc(100% - 36px);
        margin: 15vh auto 0;
        background: #fff;
        border-radius: 10px;
        padding: 10px 0;
        position: relative;
    }
    .modal>p{
        line-height: 40px;
        font-size: 17px;
        text-align: center;
    }
    .name-mobile,.remark{
        padding: 5px 18px;
    }
    .name-mobile ul li{
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .name-mobile span{
        display: inline-block;
        font-size: 1.5rem;
        color: #333;
    }
    .name-mobile span:first-child{
        float: left;
        width: 62px;
    }
    .name-mobile input{
        text-align: right;
        font-size: 1.5rem;
    }
    .remark p{
        font-size: 15px;
    }
    .remark textarea{
        border: 1px solid #e5e5e5;
        height: 18vh;
        border-radius: 5px;
        width: calc(100% - 14px);
        margin: 10px 7px;
        padding: 5px 10px;
    }
    .my-cancel{
        position: absolute;
        top: -50px;
        right: 0;
    }
    .my-cancel>span:first-child{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 15px;
        border: 1px solid #fff;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .my-cancel i::before{
        width: 20px;
        height: 20px;
        color: #fff;
    }
    .my-cancel>span:last-child{
        display: inline-block;
        height: 22px;
        width: 0;
        border-right: 1px solid #fff;
        position: relative;
        left: 50%;
    }
    .my-tel-cell>a:not(:last-child):after{
        content: '/';
        display: inline;
    }
    .banner-icon.icon-vr{
        box-sizing: border-box;
        width: 16.53vw;
        height: 9.94vw;
    }
</style>
{/block}

{block name="body"}
<div class="content" id="app">
    <div class="banner">
        <!--<span class=""></span>-->

            <div class="banner-icon icon-vr" @click="looVR(info.panorama)" v-if="info.panorama"></div>
        <div class="swiper-container"  ref="banner">
            <div class="swiper-wrapper" v-if="info.imgs">
                <div v-for="(img,index) of info.imgs" class="swiper-slide">
                    <img :src="img"   @click="loadImg(info.img[index],info.img)">
                </div>
            </div>
            <div v-else class="swiper-wrapper">
                <img src="/index/images/roomrent/img-default1.jpg" >
                <div class="banner-remark">暂无图片</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--<img :src="info.img"  >-->
    </div>
    <div class="table-view">
        <div class="table-view-cell">
            <span><i class="icon rent-house"></i></span><span>位置：</span><span>{{info.position}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-area"></i></span><span>面积：</span><span>{{info.area}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-price "></i></span><span>价格：</span><span>{{info.price}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-park"></i></span><span>园区：</span><span>{{info.park}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-ads"></i></span><span>地址：</span><span>{{info.address}}</span>
        </div>
        <div class="table-view-cell">
            <span><i class="icon rent-phone"></i></span><span>电话：</span>
            <span class="my-tel-cell">
                <a v-if="infoTel.length==0">暂无电话</a>
                <a :href="'tel:'+tel" v-for="tel in infoTel" v-else>{{tel}}</a>
            </span>
        </div>
    </div>
    <div class="rent-btn-box">
        <button class="btn btn-block btn-green" @click="showRent">租房申请</button>
    </div>

    <div class="modal-box"  :class="{'show':rentShow}">
        <div class="modal">
            <p>申请人信息</p>
            <div class="name-mobile">
                <ul>
                    <li>
                        <span>姓名</span>
                        <input type="text" id="name" placeholder="请输入姓名" v-model="subData.name">
                    </li>
                    <li>
                        <span>手机</span>
                        <input type="number" id="mobile" placeholder="请输入手机号" v-model="subData.mobile">
                    </li>
                </ul>
            </div>
            <div class="remark">
                <p>备注信息</p>
                <textarea v-model="subData.remark"></textarea>
            </div>
            <div class="btn-box">
                <button class="btn btn-block btn-green" @click="subRent">提交申请</button>
            </div>
            <div class="my-cancel" @click="hideRent">
                <span><i class="iconfont hc-cha1"></i></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper.min.js"></script>
<script src="/static/viewer/viewer.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var info ={$info};
    var userInfo={$user};
    console.log(userInfo)
//    info.img =['/index/images/service/lifepay/utilities.png','/index/images/enterprise/p2.png'];
//    info.panorama = ['/index/images/index/icon-no.png','/index/images/index/select.png'];
    var vm = new Vue({
        el:'#app',
        data:{
            info:info,
            infoTel:[],
            vrShow:true,
            viewer:null,
            mySwiper:null,
            rentShow:false,
            isSubmit:true,
            subData:{
                room_id:info.rent_id,
                mobile:'',
                name:'',
                remark:''
            }
        },
        created:function () {
            var _this = this;
            _this.subData.mobile = userInfo.mobile || "";
            _this.subData.name = userInfo.name ||"";
            var test =window.location.href;
            var data ={
                url:test
            };
            if(_this.info.moblie){
                _this.infoTel=_this.info.moblie.split('/');
            }
            _this.$http.post('/index/Partymanage/wxjssdk',data).then(function (res) {
                var data = JSON.parse(res.data);
                //console.log(data);
                wx.config({
                    debug: false,
                    appId: data.appid,
                    timestamp:data.timestamp ,
                    nonceStr: data.noncestr,
                    signature: data.signature,
                    jsApiList: ['previewImage']
                });
            },function () {

            })
        },
        mounted(){
            var _this = this;
            if(_this.info.imgs){
                _this.mySwiper = new Swiper('.swiper-container',{
                    lazyLoading : true,
                    lazyLoadingInPrevNext : true,
                    autoplay:3000,
                    pagination: '.swiper-pagination',
                    autoplayDisableOnInteraction: false,
                    onSlideChangeEnd:function(e){
                    }
                });
            }
        },
        methods:{
//            loadImg:function (src,imglist) {
//                console.log(src,imglist)
//                //this.$toast(src);
//                wx.previewImage({
//                    current: src,
//                    urls: imglist
//                });
//            },
            //            微信jssdk - 图片预览
            loadImg(src,imglist) {
                var urls=[];
                var current=window.location.protocol+'//'+window.location.host+src;
                for(var i in imglist){
                    urls[i]=window.location.protocol+'//'+window.location.host+imglist[i];
                }
                console.log(current,urls)
                wx.previewImage({
                    current: current,
                    urls: urls
                });
            },
            reBack:function () {
                this.vrShow = false;
            },
            looVR:function (e) {
                if(!e){
                    return;
                }
                window.location.href='/index/roomrent/panorama?link='+e;
            },
            showRent:function () {
                this.rentShow = true;
            },
            hideRent:function () {
                this.rentShow = false;
            },
            subRent:function () {
                var _this = this;
                console.log(_this.subData);
                if(!_this.subData.name){
                    _this.$toast("请输入您的姓名！");
                    return;
                }
                if(!_this.subData.mobile){
                    _this.$toast("请输入正确的电话！");
                    return;
                }
                if(!_this.isSubmit){
                    return;
                }
                _this.isSubmit = false;
                var data = JSON.parse(JSON.stringify(_this.subData));
                //console.log(data);
                _this.$http.post('/index/roomrent/peoplerent',data).then(function (res) {
                    var data  = res.data;
                    _this.isSubmit = true;
                    if(data.code == 1){
                        var msg = data.data;
                        var newMsg =  msg.split(";");
                        msg =  newMsg.join("<br/>");
                        swal({
                            title:data.msg,
                            text:msg,
                            html:true,
                            type:"success",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            _this.rentShow = false;
                            window.history.go(-1);
                        });
                    }else{
                        swal({
                            title:"提交失败!",
                            text:"请重新提交！",
                            type:"error",
                            confirmButtonColor: "#52CC92"
                        },function () {
                            window.location.reload();
                        });
                    }
                },function (res) {
                    _this.isSubmit = true;
                    swal({
                        title:"提交失败!",
                        text:'请重新提交！',
                        type:"error",
                        confirmButtonColor: "#52CC92"
                    },function () {
                        window.location.reload();
                    });
                })
            }
        }
    })
</script>
{/block}
